Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

chore(react-icons): Generate icon deprecation comments (#2695)
  packages-proprietary/react-icons/deprecations.mjs
  packages-proprietary/react-icons/indexTemplate.mjs
  packages-proprietary/react-icons/src/index.ts
  packages-proprietary/react-icons/svgr.config.mjs
Due: eslint --no-error-on-unmatched-pattern, prettier --check

refactor(Table of Contents): Keep gap-based spacing instead of margins
  packages-proprietary/tokens/src/components/ams/table-of-contents.tokens.json
  packages/css/src/components/table-of-contents/table-of-contents.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

refactor(Storybook): Move the Handbook Page example to a separate branch
  storybook/src/components/TableOfContents/TableOfContents.docs.mdx
  storybook/src/pages/public/HandbookPage/HandbookPage.docs.mdx
  storybook/src/pages/public/HandbookPage/HandbookPage.stories.tsx
  storybook/src/pages/public/HandbookPage/pages.ts
  storybook/src/pages/public/common/Layout.tsx
  storybook/src/pages/public/common/config.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Table of Contents): Ignore a blank nested list id for aria-controls
  packages/react/src/TableOfContents/TableOfContents.test.tsx
  packages/react/src/TableOfContents/TableOfContentsLink.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(Table of Contents): Explain the toggle focus selector
  packages/react/src/TableOfContents/TableOfContents.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

test(Table of Contents): Cover focus restoration and pass-through children
  packages/react/src/TableOfContents/TableOfContents.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

refactor(Table of Contents): Extract the collapsible behaviour into a hook
  packages/react/src/TableOfContents/TableOfContentsLink.tsx
  packages/react/src/TableOfContents/useCollapsibleItem.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(type): Allow for any type of element.
  packages/react/src/Breadcrumb/BreadcrumbLink.tsx
  packages/react/src/Calendar/Calendar.tsx
  packages/react/src/CallToActionLink/CallToActionLink.tsx
  packages/react/src/Card/CardLink.tsx
  packages/react/src/Link/Link.tsx
  packages/react/src/LinkList/LinkListLink.tsx
  packages/react/src/Menu/MenuLink.tsx
  packages/react/src/PageFooter/PageFooterMenuLink.tsx
  packages/react/src/PageHeader/PageHeader.tsx
  packages/react/src/PageHeader/PageHeaderMenuLink.tsx
  packages/react/src/Pagination/Pagination.tsx
  packages/react/src/SkipLink/SkipLink.tsx
  packages/react/src/StandaloneLink/StandaloneLink.tsx
  packages/react/src/TabNavigation/TabNavigationLink.tsx
  packages/react/src/TableOfContents/TableOfContentsLink.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

test(Table of Contents): Use an empty id for the blank-id case
  packages/react/src/TableOfContents/TableOfContents.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

test(Table of Contents): Remove the redundant blank-id test
  packages/react/src/TableOfContents/TableOfContents.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Table of Contents): Label the navigation landmark with its heading
  packages/react/src/TableOfContents/TableOfContents.test.tsx
  packages/react/src/TableOfContents/TableOfContents.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

refactor(Table of Contents): Rename the toggle element to button
  packages-proprietary/tokens/src/components/ams/table-of-contents.tokens.json
  packages/css/src/components/table-of-contents/table-of-contents.scss
  packages/react/src/TableOfContents/TableOfContents.tsx
  packages/react/src/TableOfContents/TableOfContentsLink.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

refactor(Table of Contents): Scope nested-list grid placement to grid items
  packages/css/src/components/table-of-contents/table-of-contents.scss
Due: prettier --check, stylelint --allow-empty-input

refactor(Table of Contents): Unify the item layout onto grid
  packages/css/src/components/table-of-contents/table-of-contents.scss
Due: prettier --check, stylelint --allow-empty-input

feat(Table of Contents): Make items with nested lists optionally collapsible (#2584)
  packages-proprietary/tokens/src/components/ams/table-of-contents.tokens.json
  packages/css/src/components/table-of-contents/table-of-contents.scss
  packages/react/src/TableOfContents/TableOfContents.test.tsx
  packages/react/src/TableOfContents/TableOfContents.tsx
  packages/react/src/TableOfContents/TableOfContentsContext.tsx
  packages/react/src/TableOfContents/TableOfContentsLink.tsx
  packages/react/src/TableOfContents/useCollapsibleItem.tsx
  storybook/src/components/TableOfContents/TableOfContents.docs.mdx
  storybook/src/components/TableOfContents/TableOfContents.stories.tsx
  storybook/src/components/TableOfContents/TableOfContents.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

refactor(Pagination): Replace initial/inherit theming hooks with concrete token values
  packages-proprietary/tokens/README.md
  packages-proprietary/tokens/src/components/ams/pagination.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

test(Pagination): Assert the relative-link and ellipsis element classes
  packages/react/src/Pagination/Pagination.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(React links): Forward refs to intrinsic linkComponent elements
  packages/react/src/Breadcrumb/BreadcrumbLink.tsx
  packages/react/src/CallToActionLink/CallToActionLink.tsx
  packages/react/src/Card/CardLink.tsx
  packages/react/src/Link/Link.tsx
  packages/react/src/LinkList/LinkListLink.tsx
  packages/react/src/Menu/MenuLink.tsx
  packages/react/src/PageFooter/PageFooterMenuLink.tsx
  packages/react/src/PageHeader/PageHeaderMenuLink.tsx
  packages/react/src/SkipLink/SkipLink.tsx
  packages/react/src/StandaloneLink/StandaloneLink.tsx
  packages/react/src/TabNavigation/TabNavigationLink.tsx
  packages/react/src/TableOfContents/TableOfContentsLink.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(storybook): Improve routing library linkComponent examples
  storybook/src/docs/developer-guide/routing-libraries.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check
