Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore(ci): Reorder acceptance Storybook workflow blocks
  .github/workflows/deploy-acceptance-storybook.yml
Due: none

chore(ci): Scope acceptance Chromatic concurrency per ref
  .github/workflows/deploy-acceptance-chromatic.yml
Due: none

ci: Normalize acceptance Storybook concurrency keys
  .github/workflows/deploy-acceptance-storybook.yml
Due: none

ci: Align production deploy workflow concurrency
  .github/workflows/deploy-production-chromatic.yml
  .github/workflows/deploy-production-storybook.yml
Due: none

fix(React): Move focus out of a Menu submenu that its parent collapses
  packages/react/src/Menu/MenuItem.test.tsx
  packages/react/src/Menu/MenuItem.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Storybook): Open the Menu at the current page in each internal template
  storybook/src/pages/internal/HomePage/HomePage.stories.tsx
  storybook/src/pages/internal/NavigationPage/NavigationPage.stories.tsx
  storybook/src/pages/internal/TablePage/TablePage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(Storybook): Explain the Menu with submenus in the page structure
  storybook/src/pages/guidelines/page-structure.docs.mdx
  storybook/src/pages/internal/NavigationPage/NavigationPage.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Storybook): Give the Menu of the internal pages collapsible submenus
  storybook/src/pages/internal/common/MenuWithItems.tsx
  storybook/src/pages/internal/common/PageLayout.tsx
  storybook/src/pages/internal/common/commonMeta.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

test(Storybook): Snapshot the Table Page at its tightest width without a story of its own
  storybook/src/pages/internal/TablePage/TablePage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Storybook): Open the Menu of the internal pages at the new page after client-side navigation
  storybook/src/pages/internal/common/MenuWithItems.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Modal Dialog): Allow a custom component for the close button
  packages/react/src/ModalDialog/ModalDialogHeader.test.tsx
  packages/react/src/ModalDialog/ModalDialogHeader.tsx
  storybook/src/components/ModalDialog/ModalDialogHeader.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Show how to replace the close button of a Modal Dialog
  storybook/src/components/ModalDialog/ModalDialog.docs.mdx
  storybook/src/components/ModalDialog/ModalDialog.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Implement concurrency for depoyments to gh-pages (#3014)
  .github/workflows/deploy-acceptance-chromatic.yml
  .github/workflows/deploy-acceptance-storybook.yml
  .github/workflows/deploy-production-chromatic.yml
  .github/workflows/deploy-production-storybook.yml
Due: none

chore(React): Remove the unused ImageSlider utils and Logo brands barrels
  packages/react/package.json
  packages/react/src/ImageSlider/utils/index.ts
  packages/react/src/Logo/brands/index.ts
  packages/react/src/Logo/logoIndexTemplate.mjs
  packages/react/src/Logo/svgr.config.mjs
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore(React): Import Icon from its file in Form Field Status
  packages/react/src/FormFieldStatus/FormFieldStatusCharacterCount.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Explain the ams-body requirement where scroll locking is described
  storybook/src/components/ModalDialog/ModalDialog.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): State the rule for a custom close button like other pages do
  storybook/src/components/ModalDialog/ModalDialog.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Modal Dialog): Let any button work as a custom close button
  packages/react/src/ModalDialog/ModalDialogHeader.test.tsx
  packages/react/src/ModalDialog/ModalDialogHeader.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Describe what a custom close button receives
  storybook/src/components/ModalDialog/ModalDialog.docs.mdx
  storybook/src/components/ModalDialog/ModalDialog.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Add test stories for close buttons of Utrecht and Den Haag
  pnpm-lock.yaml
  storybook/package.json
  storybook/src/components/ModalDialog/ModalDialog.nlds.stories.tsx
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

fix(Icon Button): Draw the contrast hover background from the text colour (#3004)
  packages-proprietary/tokens/src/components/ams/icon-button.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
