Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

docs(Tokens): Keep stylesheets on a split token until it is removed
  packages-proprietary/tokens/AGENTS.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(stylelint): Accept a calculation fragment in a math function
  stylelint/require-single-value-token.mjs
  stylelint/rules.test.mjs
Due: none

fix(stylelint): Ignore math functions inside quoted strings
  stylelint/require-single-value-token.mjs
  stylelint/rules.test.mjs
Due: none

fix(Storybook): Render actual React code in tab
  storybook/src/components/Card/Card.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(Description List): Add missing Usage guidelines
  storybook/src/components/DescriptionList/DescriptionList.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

refactor(KnownDateInput): Rename part to field
  packages-proprietary/tokens/src/components/ams/known-date-input.tokens.json
  packages/css/src/components/known-date-input/known-date-input.scss
  packages/react/src/KnownDateInput/KnownDateInput.test.tsx
  packages/react/src/KnownDateInput/KnownDateInputDay.test.tsx
  packages/react/src/KnownDateInput/KnownDateInputDay.tsx
  packages/react/src/KnownDateInput/KnownDateInputField.tsx
  packages/react/src/KnownDateInput/KnownDateInputMonth.tsx
  packages/react/src/KnownDateInput/KnownDateInputYear.tsx
  storybook/src/components/KnownDateInput/KnownDateInput.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(KnownDateInput): Take readable values for autoComplete
  packages/react/src/KnownDateInput/KnownDateInput.test.tsx
  packages/react/src/KnownDateInput/KnownDateInput.tsx
  packages/react/src/KnownDateInput/KnownDateInputDay.test.tsx
  packages/react/src/KnownDateInput/KnownDateInputField.tsx
  packages/react/src/KnownDateInput/KnownDateInputMonth.test.tsx
  packages/react/src/KnownDateInput/KnownDateInputYear.test.tsx
  storybook/src/components/KnownDateInput/KnownDateInput.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(KnownDateInput): Give its fields and surroundings more space
  packages-proprietary/tokens/src/components/ams/known-date-input.tokens.json
  packages/css/src/components/field-set/field-set.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(KnownDateInput): Show the component on its own first
  storybook/src/components/KnownDateInput/KnownDateInput.docs.mdx
  storybook/src/components/KnownDateInput/KnownDateInput.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(KnownDateInput): Tighten the wording of its docs
  storybook/src/components/DateInput/DateInput.docs.mdx
  storybook/src/components/KnownDateInput/KnownDateInput.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(Storybook): Show a translated Known Date Input wrapper
  storybook/src/docs/guidelines/localisation.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(KnownDateInput): Set the language of the translated story through parameters
  storybook/src/components/KnownDateInput/KnownDateInput.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Known Date Input): Autofill in iOS Safari requires English name or id
  packages/react/src/KnownDateInput/KnownDateInputDay.test.tsx
  packages/react/src/KnownDateInput/KnownDateInputField.tsx
  packages/react/src/KnownDateInput/KnownDateInputMonth.test.tsx
  packages/react/src/KnownDateInput/KnownDateInputYear.test.tsx
  storybook/src/components/KnownDateInput/KnownDateInput.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(Known Date Input): Clarify the lack of wide support autofill
  packages/react/src/KnownDateInput/KnownDateInput.tsx
  storybook/src/components/KnownDateInput/KnownDateInput.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(Known Date Input): No longer claim to always have 3 inputs
  packages/react/src/KnownDateInput/KnownDateInput.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

refactor(Storybook): Use tokens for Known Date Input test story
  storybook/src/components/KnownDateInput/KnownDateInput.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Progress Bar): add working animation for all browsers and accessibility improvements
  packages-proprietary/tokens/src/components/ams/progress-bar.tokens.json
  packages/css/src/components/progress-bar/_animation.scss
  packages/css/src/components/progress-bar/progress-bar.scss
  packages/react/src/ProgressBar/ProgressBar.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Apply suggestion from @RubenSibon
  storybook/src/components/DescriptionList/DescriptionList.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Description List): Add usage guidelines (#2973)
  storybook/src/components/DescriptionList/DescriptionList.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Data List): Remove the separators between actions
  packages-proprietary/tokens/src/components/ams/data-list.tokens.json
  packages/css/src/components/data-list/data-list.scss
  storybook/src/components/DataList/DataList.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix(Data List): Lay out actions with Action Group
  packages-proprietary/tokens/src/components/ams/data-list.tokens.json
  packages/css/src/components/data-list/data-list.scss
  packages/react/src/DataList/DataListActions.test.tsx
  packages/react/src/DataList/DataListActions.tsx
  storybook/src/components/DataList/DataList.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix(Data List): Let a value flow as text
  packages-proprietary/tokens/src/components/ams/data-list.tokens.json
  packages/css/src/components/data-list/data-list.scss
  storybook/src/components/DataList/DataList.docs.mdx
  storybook/src/components/DataList/DataList.stories.tsx
  storybook/src/components/DataList/DataList.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix(Data List): Space the columns of an item with a gap
  packages/css/src/components/data-list/data-list.scss
Due: prettier --check, stylelint --allow-empty-input

feat(Character Count): Deprecate tokens
  packages-proprietary/tokens/src/components/ams/character-count.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check
