Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore(TypeScript): Switch module resolution from node to bundler (#2791)
  packages-proprietary/react-icons/tsconfig.json
  packages/react/tsconfig.json
  storybook/src/components/DateInput/DateInput.stories.tsx
  storybook/src/components/DescriptionList/DescriptionList.stories.tsx
  storybook/src/components/TextInput/TextInput.stories.tsx
  storybook/tsconfig.docgen.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(tokens): Add border radius token hooks
  packages-proprietary/tokens/src/common/ams/inputs.tokens.json
  packages-proprietary/tokens/src/components/ams/alert.tokens.json
  packages-proprietary/tokens/src/components/ams/button.tokens.json
  packages-proprietary/tokens/src/components/ams/date-input.tokens.json
  packages-proprietary/tokens/src/components/ams/file-input.tokens.json
  packages-proprietary/tokens/src/components/ams/page-header.tokens.json
  packages-proprietary/tokens/src/components/ams/password-input.tokens.json
  packages-proprietary/tokens/src/components/ams/search-field.tokens.json
  packages-proprietary/tokens/src/components/ams/select.tokens.json
  packages-proprietary/tokens/src/components/ams/text-area.tokens.json
  packages-proprietary/tokens/src/components/ams/text-input.tokens.json
  packages-proprietary/tokens/src/components/ams/time-input.tokens.json
  packages/css/src/components/alert/alert.scss
  packages/css/src/components/button/button.scss
  packages/css/src/components/date-input/date-input.scss
  packages/css/src/components/file-input/file-input.scss
  packages/css/src/components/page-header/page-header.scss
  packages/css/src/components/password-input/password-input.scss
  packages/css/src/components/search-field/search-field.scss
  packages/css/src/components/select/select.scss
  packages/css/src/components/text-area/text-area.scss
  packages/css/src/components/text-input/text-input.scss
  packages/css/src/components/time-input/time-input.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(tokens): Add image placeholder token hooks
  packages-proprietary/tokens/src/components/ams/avatar.tokens.json
  packages-proprietary/tokens/src/components/ams/image-slider.tokens.json
  packages-proprietary/tokens/src/components/ams/image.tokens.json
  packages/css/src/components/avatar/avatar.scss
  packages/css/src/components/image-slider/image-slider.scss
  packages/css/src/components/image/image.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(assets): Add Redacted Script font for wireframe mode
  packages-proprietary/assets/README.md
  packages-proprietary/assets/font/wireframe/LICENSE.md
  packages-proprietary/assets/font/wireframe/OFL.txt
  packages-proprietary/assets/font/wireframe/RedactedScript-Bold.woff2
  packages-proprietary/assets/font/wireframe/RedactedScript-Light.woff2
  packages-proprietary/assets/font/wireframe/RedactedScript-Regular.woff2
  packages-proprietary/assets/font/wireframe/index.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(tokens): Add wireframe mode
  packages-proprietary/tokens/build.js
  packages-proprietary/tokens/src/brand/ams/color.wireframe.tokens.json
  packages-proprietary/tokens/src/brand/ams/typography.wireframe.tokens.json
  packages-proprietary/tokens/src/common/ams/inputs.wireframe.tokens.json
  packages-proprietary/tokens/src/common/ams/links.wireframe.tokens.json
  packages-proprietary/tokens/src/components/ams/alert.wireframe.tokens.json
  packages-proprietary/tokens/src/components/ams/avatar.wireframe.tokens.json
  packages-proprietary/tokens/src/components/ams/blockquote.wireframe.tokens.json
  packages-proprietary/tokens/src/components/ams/button.wireframe.tokens.json
  packages-proprietary/tokens/src/components/ams/call-to-action-link.wireframe.tokens.json
  packages-proprietary/tokens/src/components/ams/date-input.wireframe.tokens.json
  packages-proprietary/tokens/src/components/ams/description-list.wireframe.tokens.json
  packages-proprietary/tokens/src/components/ams/dialog.wireframe.tokens.json
  packages-proprietary/tokens/src/components/ams/figure.wireframe.tokens.json
  packages-proprietary/tokens/src/components/ams/heading.wireframe.tokens.json
  packages-proprietary/tokens/src/components/ams/icon.wireframe.tokens.json
  packages-proprietary/tokens/src/components/ams/image-slider.wireframe.tokens.json
  packages-proprietary/tokens/src/components/ams/image.wireframe.tokens.json
  packages-proprietary/tokens/src/components/ams/logo.wireframe.tokens.json
  packages-proprietary/tokens/src/components/ams/menu.wireframe.tokens.json
  packages-proprietary/tokens/src/components/ams/ordered-list.wireframe.tokens.json
  packages-proprietary/tokens/src/components/ams/page-footer.wireframe.tokens.json
  packages-proprietary/tokens/src/components/ams/page-header.wireframe.tokens.json
  packages-proprietary/tokens/src/components/ams/paragraph.wireframe.tokens.json
  packages-proprietary/tokens/src/components/ams/search-field.wireframe.tokens.json
  packages-proprietary/tokens/src/components/ams/select.wireframe.tokens.json
  packages-proprietary/tokens/src/components/ams/time-input.wireframe.tokens.json
  packages-proprietary/tokens/src/components/ams/unordered-list.wireframe.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(storybook): Add compact wireframe theme
  pnpm-lock.yaml
  storybook/config/main.ts
  storybook/config/manager.js
  storybook/config/manager.tsx
  storybook/config/preview.tsx
  storybook/config/svg.d.ts
  storybook/config/themes.ts
  storybook/package.json
  storybook/src/components/Menu/Menu.stories.tsx
  storybook/src/components/Menu/MenuLink.stories.tsx
  storybook/src/pages/internal/common/config.tsx
  storybook/src/pages/public/FormFlow/FormFlow.stories.tsx
  storybook/src/pages/public/common/config.tsx
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

feat(storybook): Add wireframe mode toggle and docs
  packages-proprietary/tokens/AGENTS.md
  packages-proprietary/tokens/README.md
  packages/css/README.md
  storybook/config/preview.tsx
  storybook/src/_components/Figure/Figure.tsx
  storybook/src/_components/Figure/figure.css
  storybook/src/docs/developer-guide/getting-started.docs.mdx
  storybook/src/docs/developer-guide/modes-handbook-page.png
  storybook/src/docs/developer-guide/modes-home-page-wireframe.png
  storybook/src/docs/developer-guide/modes-home-page.png
  storybook/src/docs/developer-guide/modes-navigation-page-compact.png
  storybook/src/docs/developer-guide/modes.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix(assets): Declare a single weight per Redacted Script font face
  packages-proprietary/assets/font/wireframe/index.css
Due: prettier --check, stylelint --allow-empty-input

chore(storybook): Add the license header to the theme switcher
  storybook/config/manager.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs: Clarify how to apply the wireframe mode in an application
  storybook/src/docs/developer-guide/modes.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(storybook): Use design tokens for the docs figure spacing and border
  storybook/src/_components/Figure/figure.css
Due: prettier --check, stylelint --allow-empty-input

test(storybook): Add unit tests for matchTheme
  storybook/config/themes.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(storybook): Preload the wireframe font to prevent a flash on mode switch
  storybook/config/preview.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs: Update number of modes listed on the home page
  storybook/src/docs/introduction.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Add a Links section to the pull request template
  .github/pull_request_template.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

perf(storybook): Apply the theme through a CSS class instead of a global
  storybook/config/manager.tsx
  storybook/config/preview.tsx
  storybook/config/themes.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Make the Links placeholder more specific
  .github/pull_request_template.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(tokens): Enlarge the wireframe border radius
  packages-proprietary/tokens/src/common/ams/inputs.wireframe.tokens.json
  packages-proprietary/tokens/src/components/ams/alert.wireframe.tokens.json
  packages-proprietary/tokens/src/components/ams/button.wireframe.tokens.json
  packages-proprietary/tokens/src/components/ams/dialog.wireframe.tokens.json
  packages-proprietary/tokens/src/components/ams/page-header.wireframe.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

refactor(assets): Reduce Redacted Script to three weight-range faces
  packages-proprietary/assets/font/wireframe/index.css
  storybook/config/preview.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

refactor(tokens): Keep wireframe greys on design system colours
  packages-proprietary/tokens/src/brand/ams/color.wireframe.tokens.json
  packages-proprietary/tokens/src/components/ams/call-to-action-link.wireframe.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Add a Links section to the pull request template (#2793)
  .github/pull_request_template.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(tokens): Add a border radius token hook for the call to action link
  packages-proprietary/tokens/src/components/ams/call-to-action-link.tokens.json
  packages/css/src/components/call-to-action-link/call-to-action-link.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(tokens): Refine the wireframe button and call to action link radii
  packages-proprietary/tokens/src/components/ams/button.wireframe.tokens.json
  packages-proprietary/tokens/src/components/ams/call-to-action-link.wireframe.tokens.json
  packages-proprietary/tokens/src/components/ams/page-header.wireframe.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(storybook): Keep the theme toggle working in Safari
  storybook/config/preview.tsx
  storybook/config/themes.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Constrain form stories to a realistic inline size
  storybook/src/components/CharacterCount/CharacterCount.stories.tsx
  storybook/src/components/Checkbox/Checkbox.stories.tsx
  storybook/src/components/Field/Field.stories.tsx
  storybook/src/components/FieldSet/FieldSet.stories.tsx
  storybook/src/components/FileInput/FileInput.stories.tsx
  storybook/src/components/InvalidFormAlert/InvalidFormAlert.stories.tsx
  storybook/src/components/PasswordInput/PasswordInput.stories.tsx
  storybook/src/components/Radio/Radio.stories.tsx
  storybook/src/components/SearchField/SearchField.stories.tsx
  storybook/src/components/TextArea/TextArea.stories.tsx
  storybook/src/components/TextInput/TextInput.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(storybook): Make Spotlight Grid Cells transparent in Compact Mode
  storybook/src/_common/isCompactTheme.ts
  storybook/src/components/Spotlight/Spotlight.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(storybook): Make Page Footer Grid Cells transparent in Compact Mode
  storybook/src/components/PageFooter/PageFooter.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
