Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Use larger icons in Gallery
  storybook/src/docs/components/IconGallery.tsx
  storybook/src/docs/components/icon-gallery.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Simplify examples some more
  storybook/src/components/Icon/Icon.docs.mdx
  storybook/src/components/Icon/Icon.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Make headings example robust
  storybook/src/components/Icon/Icon.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Simplify docs
  packages/css/src/components/call-to-action-link/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Separate nested lists from next item
  packages-proprietary/tokens/src/components/ams/ordered-list.tokens.json
  packages-proprietary/tokens/src/components/ams/unordered-list.tokens.json
  packages/css/src/components/ordered-list/ordered-list.scss
  packages/css/src/components/unordered-list/unordered-list.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Adress TODO comments
  packages/react/src/CallToActionLink/CallToActionLink.tsx
  storybook/src/pages/amsterdam/ProductPage/ProductPage.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Adjust link underline for decreased font size
  packages-proprietary/tokens/src/common/ams/links.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use underline tokens correctly in Checkbox and Radio
  packages-proprietary/tokens/src/components/ams/checkbox.tokens.json
  packages-proprietary/tokens/src/components/ams/radio.tokens.json
  packages/css/src/components/checkbox/checkbox.scss
  packages/css/src/components/radio/radio.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Identify issues in underline tokens for Checkbox and Radio
  packages-proprietary/tokens/src/components/ams/checkbox.tokens.json
  packages-proprietary/tokens/src/components/ams/radio.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Move initial underline styles to main selector for Checkbox
  packages/css/src/components/checkbox/checkbox.scss
Due: prettier --check, stylelint --allow-empty-input

Remove duplicate underline styles from Radio
  packages/css/src/components/radio/radio.scss
Due: prettier --check, stylelint --allow-empty-input

Match underline offset of subtle hovered links with that of regular ones
  packages-proprietary/tokens/src/common/ams/links.tokens.json
  packages-proprietary/tokens/src/components/ams/breadcrumb.tokens.json
  packages-proprietary/tokens/src/components/ams/card.tokens.json
  packages-proprietary/tokens/src/components/ams/link-list.tokens.json
  packages-proprietary/tokens/src/components/ams/page-footer.tokens.json
  packages-proprietary/tokens/src/components/ams/page-header.tokens.json
  packages-proprietary/tokens/src/components/ams/pagination.tokens.json
  packages-proprietary/tokens/src/components/ams/standalone-link.tokens.json
  packages-proprietary/tokens/src/components/ams/table-of-contents.tokens.json
  packages/css/src/components/standalone-link/standalone-link.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Revert matching underline offset of subtle hovered links with that of regular ones
  packages-proprietary/tokens/src/common/ams/links.tokens.json
  packages-proprietary/tokens/src/components/ams/breadcrumb.tokens.json
  packages-proprietary/tokens/src/components/ams/card.tokens.json
  packages-proprietary/tokens/src/components/ams/link-list.tokens.json
  packages-proprietary/tokens/src/components/ams/page-footer.tokens.json
  packages-proprietary/tokens/src/components/ams/page-header.tokens.json
  packages-proprietary/tokens/src/components/ams/pagination.tokens.json
  packages-proprietary/tokens/src/components/ams/standalone-link.tokens.json
  packages-proprietary/tokens/src/components/ams/table-of-contents.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Increase whitespace around separators
  packages-proprietary/tokens/src/components/ams/breadcrumb.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Copy explicit verb form guideline to button
  packages/css/src/components/button/README.md
  packages/css/src/components/call-to-action-link/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Breadcrumb): Use regular text size instead of small (#2121)
  packages-proprietary/tokens/src/components/ams/breadcrumb.tokens.json
  storybook/src/pages/amsterdam/ArticlePage/ArticleHeader.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix: Correct shade of black for interactive contrast colour (#2130)
  packages-proprietary/tokens/src/brand/ams/color.tokens.json
  storybook/config/manager.js
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Prefer gaps in underline over rather large offset
  packages-proprietary/tokens/src/common/ams/links.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Explain em values
  packages-proprietary/tokens/src/common/ams/links.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Make body text example robust as well
  storybook/src/components/Icon/Icon.docs.mdx
  storybook/src/components/Icon/Icon.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Ordered List, Unordered List): Visually group nested list with parent item (#2133)
  packages-proprietary/tokens/src/components/ams/ordered-list.tokens.json
  packages-proprietary/tokens/src/components/ams/unordered-list.tokens.json
  packages/css/src/components/ordered-list/ordered-list.scss
  packages/css/src/components/unordered-list/unordered-list.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input
