Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

chore(ci): Revert "Replace bobheadxi/deployments with direct Deployments API calls" (#2671)
  .github/workflows/feature-branch-cleanup.yml
  .github/workflows/feature-branch-deploy.yml
Due: none

docs(DatePicker): Apply consistent content model
  packages/css/src/components/date-picker/README.md
  packages/react/src/DatePicker/DatePicker.tsx
  packages/react/src/DatePicker/README.md
  storybook/src/components/DatePicker/DatePicker.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(TableOfContents, HandbookPage): Apply consistent content model
  packages/react/src/TableOfContents/TableOfContents.tsx
  storybook/src/components/TableOfContents/TableOfContents.docs.mdx
  storybook/src/pages/public/HandbookPage/HandbookPage.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix: Align toggle button to the top of the link label
  packages/css/src/components/table-of-contents/table-of-contents.scss
Due: prettier --check, stylelint --allow-empty-input

docs(ProgressList): Apply consistent content model
  storybook/src/components/ProgressList/ProgressList.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(TableOfContents): Remove unused item--expandable class
  packages/react/src/TableOfContents/TableOfContentsLink.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(css): Remove redundant initial rotate declaration in Table of Contents
  packages/css/src/components/table-of-contents/table-of-contents.scss
Due: prettier --check, stylelint --allow-empty-input

test(TableOfContents): Include collapsible variant in visual regression story
  storybook/src/components/TableOfContents/TableOfContents.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Workflows to clean up stale demo envs, deployments, and gh-pages previews (#2640)
  .github/scripts/.gitignore
  .github/scripts/cleanup_common.py
  .github/scripts/cleanup_deployments.py
  .github/scripts/cleanup_environments.py
  .github/scripts/cleanup_gh_pages_demos.sh
  .github/scripts/requirements.txt
  .github/scripts/test-cleanup-scripts.sh
  .github/workflows/cleanup-deployments.yml
  .github/workflows/cleanup-environments.yml
  .github/workflows/cleanup-gh-pages-demos.yml
  documentation/continuous-integration.md
  documentation/git.md
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

fix(Progress List) Connector of current, collapsed step with substeps should be dotted
  packages/css/src/components/progress-list/progress-list.scss
Due: prettier --check, stylelint --allow-empty-input

chore(Progress List): Improve test story to include a variant of this use case
  storybook/src/components/ProgressList/ProgressList.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Improve comment for test story
  storybook/src/components/ProgressList/ProgressList.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Progress List): Show dashed connector for collapsed current step with substeps (#2673)
  packages/css/src/components/progress-list/progress-list.scss
  storybook/src/components/ProgressList/ProgressList.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix(config.yml): invalid URL violation (yaml-schema)
  .github/ISSUE_TEMPLATE/config.yml
Due: none

refactor(ISSUE_TEMPLATE): remove empty assignees fields
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check
