Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix: Restore gap tokens to prevent breaking changes
  packages-proprietary/tokens/src/components/ams/table-of-contents.tokens.json
  packages/css/src/components/table-of-contents/table-of-contents.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

refactor: Reorder declarations
  packages/css/src/components/table-of-contents/table-of-contents.scss
Due: prettier --check, stylelint --allow-empty-input

refactor: Use CSS nesting
  packages/css/src/components/table-of-contents/table-of-contents.scss
Due: prettier --check, stylelint --allow-empty-input

refactor: Make name of local variable more precise
  packages/css/src/components/table-of-contents/table-of-contents.scss
Due: prettier --check, stylelint --allow-empty-input

fix: Simplify placement of nested lists in collapsible TOC
  packages/css/src/components/table-of-contents/table-of-contents.scss
Due: prettier --check, stylelint --allow-empty-input

build(deps): Upgrade Python requirements
  .github/scripts/requirements.txt
Due: none

ci(Dependabot): Config for pip (python)
  .github/dependabot.yml
Due: none

feat(TOC List): Add Context for collapsed state
  packages/react/src/TableOfContents/TableOfContentsListContext.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(TOC List, TOC Link): Lists (nested or not) can be expanded by default
  packages/react/src/TableOfContents/TableOfContents.test.tsx
  packages/react/src/TableOfContents/TableOfContentsLink.tsx
  packages/react/src/TableOfContents/TableOfContentsList.test.tsx
  packages/react/src/TableOfContents/TableOfContentsList.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(TOC): Story and docs for Lists expanded by default
  storybook/src/components/TableOfContents/TableOfContents.docs.mdx
  storybook/src/components/TableOfContents/TableOfContents.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(deps): Upgrade workflow Python dependencies and enable pip Dependabot (#2675)
  .github/dependabot.yml
  .github/scripts/requirements.txt
Due: none

chore: Move JSDoc descriptions to compound component exports
  packages/react/src/FileList/FileList.tsx
  packages/react/src/LinkList/LinkList.tsx
  packages/react/src/Menu/Menu.tsx
  storybook/src/_components/ColorPalette/ColorPalette.tsx
  storybook/src/_components/DesignTokensTable/DesignTokensTable.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Make component description more correct
  storybook/src/_components/DesignTokensTable/DesignTokensTable.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(File List): Correct forwarded ref type from HTMLOListElement to HTMLUListElement
  packages/react/src/FileList/FileList.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(File List): Correct ref type in ForwardRef test from HTMLOListElement to HTMLUListElement
  packages/react/src/FileList/FileList.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Sort imports in documented code block as well
  documentation/component-docs.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@94853d8c2a400911de3837dbd4d4724b6edb535d 🚀
  demo-sort-mdx-imports/94853d8c2a400911de3837dbd4d4724b6edb535d.txt
  demo-sort-mdx-imports/dc8a933fb440bc910c657b4545fbe5fd854dae7e.txt
  demo-sort-mdx-imports/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
