Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Fix link from Card docs to Aspect Ratio
  storybook/src/components/Card/Card.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix: Fix link from Card docs to Aspect Ratio (#1812)
  storybook/src/components/Card/Card.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Center-align menu button content vertically
  packages/css/src/components/header/header.scss
Due: prettier --check, stylelint --allow-empty-input

Add deprecation status to Status Badge
  storybook/src/components/Header/Header.docs.mdx
  storybook/src/components/Icon/Icon.docs.mdx
  storybook/src/components/MegaMenu/MegaMenu.docs.mdx
  storybook/src/components/PageMenu/PageMenu.docs.mdx
  storybook/src/components/TopTaskLink/TopTaskLink.docs.mdx
  storybook/src/docs/components/StatusBadge.tsx
  storybook/src/foundation/assets/icons.docs.mdx
  storybook/src/foundation/design-tokens/colour.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove beta status from Header
  storybook/src/components/Header/Header.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deprecate Mega Menu component
  packages/react/src/MegaMenu/MegaMenu.tsx
  storybook/src/components/MegaMenu/MegaMenu.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@1e995ae4aac245781f3f9870869b129504ffadf8 🚀
  demo-develop/1e995ae4aac245781f3f9870869b129504ffadf8.txt
  demo-develop/4d2cb3bc5e5160ce3fffab9a54068e5a2e1e275c.txt
  demo-develop/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove onClick handlers and onPageChange
  packages/react/src/Pagination/Pagination.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use links instead of buttons
  packages/css/src/components/pagination/pagination.scss
  packages/react/src/Pagination/Pagination.tsx
  proprietary/tokens/src/components/ams/pagination.tokens.json
  storybook/src/components/Pagination/Pagination.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Update styling, add rel attrs
  packages/css/src/components/pagination/pagination.scss
  packages/react/src/Pagination/Pagination.tsx
  proprietary/tokens/src/components/ams/pagination.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Fix codeowners file
  .github/CODEOWNERS
Due: none

Add link template
  packages/react/src/Pagination/Pagination.tsx
  storybook/src/components/Pagination/Pagination.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Prev and next should be outside of list
  packages/css/src/components/pagination/pagination.scss
  packages/react/src/Pagination/Pagination.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore: Fix CODEOWNERS.md (#1816)
  .github/CODEOWNERS
Due: none

Deploying to gh-pages from @ Amsterdam/design-system@c6c731ff2d5d7b0497c80112804a5ab47a71cadb 🚀
  demo-develop/1e995ae4aac245781f3f9870869b129504ffadf8.txt
  demo-develop/c6c731ff2d5d7b0497c80112804a5ab47a71cadb.txt
  demo-develop/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Don't show previous or next on first or last page
  packages/react/src/Pagination/Pagination.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Move getRange function to separate file
  packages/react/src/Pagination/Pagination.tsx
  packages/react/src/Pagination/getRange.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Document updated prefixes for Git branches
  documentation/git.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@50f6aae8f193b3c47a9ffe6ecb8119c0e1b92850 🚀
  demo-git-branch-prefix-docs/2ff4bb10162aa0891f247b261d01347ab4bcc811.txt
  demo-git-branch-prefix-docs/50f6aae8f193b3c47a9ffe6ecb8119c0e1b92850.txt
  demo-git-branch-prefix-docs/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Document updated prefixes for Git branches (#1817)
  documentation/git.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@71a45ef27e8c395fd4b4e45e085cee2e81fd3fea 🚀
  demo-develop/71a45ef27e8c395fd4b4e45e085cee2e81fd3fea.txt
  demo-develop/c6c731ff2d5d7b0497c80112804a5ab47a71cadb.txt
  demo-develop/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Move alert icon into thick left border
  packages/css/src/components/alert/alert.scss
  packages/react/src/Alert/Alert.test.tsx
  packages/react/src/Alert/Alert.tsx
  proprietary/tokens/src/components/ams/alert.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Require heading for Alert
  packages/css/src/components/alert/README.md
  packages/react/src/Alert/Alert.test.tsx
  packages/react/src/Alert/Alert.tsx
  storybook/src/components/Alert/Alert.docs.mdx
  storybook/src/components/Alert/Alert.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Arrange heading and close button in a row
  packages/css/src/components/alert/alert.scss
  packages/react/src/Alert/Alert.tsx
  proprietary/tokens/src/components/ams/alert.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Remove ‘section’ from markup
  packages/css/src/components/alert/alert.scss
  packages/react/src/Alert/Alert.tsx
  proprietary/tokens/src/components/ams/alert.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Remove CSS declarations that set initial values
  packages/css/src/components/alert/alert.scss
  packages/css/src/components/file-list/file-list.scss
  packages/css/src/components/page-menu/page-menu.scss
  packages/css/src/components/row/row.scss
Due: prettier --check, stylelint --allow-empty-input

Prefer Row component over local class
  packages/css/src/components/alert/alert.scss
  packages/react/src/Alert/Alert.tsx
  proprietary/tokens/src/components/ams/alert.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Make ‘info’ the default severity
  packages/css/src/components/alert/README.md
  packages/css/src/components/alert/alert.scss
  packages/react/src/Alert/Alert.tsx
  proprietary/tokens/src/components/ams/alert.tokens.json
  storybook/src/components/Alert/Alert.docs.mdx
  storybook/src/components/Alert/Alert.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Improve examples
  storybook/src/components/Alert/Alert.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check
