Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Add spacing preview component
  storybook/src/docs/components/SpacingSample.tsx
  storybook/src/docs/components/spacing-sample.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Add preview to the Design Tokens Table
  storybook/src/docs/components/DesignTokensTable.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update docs with new component
  packages/css/src/components/aspect-ratio/README.md
  storybook/src/brand/design-tokens/aspect-ratio.docs.mdx
  storybook/src/brand/design-tokens/space.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add subtype spacingSample to "gap"-prop in tokens
  packages-proprietary/tokens/src/components/ams/accordion.tokens.json
  packages-proprietary/tokens/src/components/ams/action-group.tokens.json
  packages-proprietary/tokens/src/components/ams/alert.tokens.json
  packages-proprietary/tokens/src/components/ams/button.tokens.json
  packages-proprietary/tokens/src/components/ams/card.tokens.json
  packages-proprietary/tokens/src/components/ams/checkbox.tokens.json
  packages-proprietary/tokens/src/components/ams/column.tokens.json
  packages-proprietary/tokens/src/components/ams/description-list.tokens.json
  packages-proprietary/tokens/src/components/ams/dialog.tokens.json
  packages-proprietary/tokens/src/components/ams/error-message.tokens.json
  packages-proprietary/tokens/src/components/ams/field.tokens.json
  packages-proprietary/tokens/src/components/ams/figure.tokens.json
  packages-proprietary/tokens/src/components/ams/file-list.tokens.json
  packages-proprietary/tokens/src/components/ams/grid.tokens.json
  packages-proprietary/tokens/src/components/ams/image-slider.tokens.json
  packages-proprietary/tokens/src/components/ams/link-list.tokens.json
  packages-proprietary/tokens/src/components/ams/menu.tokens.json
  packages-proprietary/tokens/src/components/ams/ordered-list.tokens.json
  packages-proprietary/tokens/src/components/ams/page-footer.tokens.json
  packages-proprietary/tokens/src/components/ams/page-header.tokens.json
  packages-proprietary/tokens/src/components/ams/pagination.tokens.json
  packages-proprietary/tokens/src/components/ams/radio.tokens.json
  packages-proprietary/tokens/src/components/ams/row.tokens.json
  packages-proprietary/tokens/src/components/ams/standalone-link.tokens.json
  packages-proprietary/tokens/src/components/ams/table-of-contents.tokens.json
  packages-proprietary/tokens/src/components/ams/tabs.tokens.json
  packages-proprietary/tokens/src/components/ams/unordered-list.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add test story for visual regression testing
  storybook/src/docs/components/SpacingSample.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add subtype spacingSample to "offset"-props in tokens
  packages-proprietary/tokens/src/brand/ams/focus.tokens.json
  packages-proprietary/tokens/src/common/ams/inputs.tokens.json
  packages-proprietary/tokens/src/common/ams/links.tokens.json
  packages-proprietary/tokens/src/components/ams/accordion.tokens.json
  packages-proprietary/tokens/src/components/ams/breadcrumb.tokens.json
  packages-proprietary/tokens/src/components/ams/button.tokens.json
  packages-proprietary/tokens/src/components/ams/call-to-action-link.tokens.json
  packages-proprietary/tokens/src/components/ams/card.tokens.json
  packages-proprietary/tokens/src/components/ams/checkbox.tokens.json
  packages-proprietary/tokens/src/components/ams/date-input.tokens.json
  packages-proprietary/tokens/src/components/ams/file-input.tokens.json
  packages-proprietary/tokens/src/components/ams/icon-button.tokens.json
  packages-proprietary/tokens/src/components/ams/image-slider.tokens.json
  packages-proprietary/tokens/src/components/ams/invalid-form-alert.tokens.json
  packages-proprietary/tokens/src/components/ams/link-list.tokens.json
  packages-proprietary/tokens/src/components/ams/link.tokens.json
  packages-proprietary/tokens/src/components/ams/menu.tokens.json
  packages-proprietary/tokens/src/components/ams/page-footer.tokens.json
  packages-proprietary/tokens/src/components/ams/page-header.tokens.json
  packages-proprietary/tokens/src/components/ams/pagination.tokens.json
  packages-proprietary/tokens/src/components/ams/password-input.tokens.json
  packages-proprietary/tokens/src/components/ams/radio.tokens.json
  packages-proprietary/tokens/src/components/ams/search-field.tokens.json
  packages-proprietary/tokens/src/components/ams/select.tokens.json
  packages-proprietary/tokens/src/components/ams/skip-link.tokens.json
  packages-proprietary/tokens/src/components/ams/standalone-link.deprecated.tokens.json
  packages-proprietary/tokens/src/components/ams/standalone-link.tokens.json
  packages-proprietary/tokens/src/components/ams/switch.tokens.json
  packages-proprietary/tokens/src/components/ams/table-of-contents.tokens.json
  packages-proprietary/tokens/src/components/ams/tabs.tokens.json
  packages-proprietary/tokens/src/components/ams/text-area.tokens.json
  packages-proprietary/tokens/src/components/ams/text-input.tokens.json
  packages-proprietary/tokens/src/components/ams/time-input.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add subtype spacingSample to "margin"-props in tokens
  packages-proprietary/tokens/src/components/ams/breadcrumb.tokens.json
  packages-proprietary/tokens/src/components/ams/card.tokens.json
  packages-proprietary/tokens/src/components/ams/field-set.tokens.json
  packages-proprietary/tokens/src/components/ams/file-input.tokens.json
  packages-proprietary/tokens/src/components/ams/ordered-list.tokens.json
  packages-proprietary/tokens/src/components/ams/page.tokens.json
  packages-proprietary/tokens/src/components/ams/unordered-list.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add subtype spacingSample to "padding"-props in tokens
  packages-proprietary/tokens/src/common/ams/inputs.tokens.json
  packages-proprietary/tokens/src/components/ams/accordion.tokens.json
  packages-proprietary/tokens/src/components/ams/alert.tokens.json
  packages-proprietary/tokens/src/components/ams/avatar.tokens.json
  packages-proprietary/tokens/src/components/ams/badge.tokens.json
  packages-proprietary/tokens/src/components/ams/button.tokens.json
  packages-proprietary/tokens/src/components/ams/call-to-action-link.tokens.json
  packages-proprietary/tokens/src/components/ams/date-input.tokens.json
  packages-proprietary/tokens/src/components/ams/description-list.tokens.json
  packages-proprietary/tokens/src/components/ams/dialog.tokens.json
  packages-proprietary/tokens/src/components/ams/field-set.tokens.json
  packages-proprietary/tokens/src/components/ams/file-input.tokens.json
  packages-proprietary/tokens/src/components/ams/grid.compact.tokens.json
  packages-proprietary/tokens/src/components/ams/grid.tokens.json
  packages-proprietary/tokens/src/components/ams/menu.tokens.json
  packages-proprietary/tokens/src/components/ams/ordered-list.tokens.json
  packages-proprietary/tokens/src/components/ams/page-footer.tokens.json
  packages-proprietary/tokens/src/components/ams/page-header.compact.tokens.json
  packages-proprietary/tokens/src/components/ams/page-header.tokens.json
  packages-proprietary/tokens/src/components/ams/pagination.tokens.json
  packages-proprietary/tokens/src/components/ams/password-input.tokens.json
  packages-proprietary/tokens/src/components/ams/search-field.tokens.json
  packages-proprietary/tokens/src/components/ams/select.tokens.json
  packages-proprietary/tokens/src/components/ams/skip-link.tokens.json
  packages-proprietary/tokens/src/components/ams/table-of-contents.tokens.json
  packages-proprietary/tokens/src/components/ams/table.tokens.json
  packages-proprietary/tokens/src/components/ams/tabs.tokens.json
  packages-proprietary/tokens/src/components/ams/text-area.tokens.json
  packages-proprietary/tokens/src/components/ams/text-input.tokens.json
  packages-proprietary/tokens/src/components/ams/time-input.tokens.json
  packages-proprietary/tokens/src/components/ams/unordered-list.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Rename $extension to $extensions
  packages-proprietary/tokens/src/common/ams/links.tokens.json
  packages-proprietary/tokens/src/components/ams/ordered-list.tokens.json
  packages-proprietary/tokens/src/components/ams/page-header.tokens.json
  packages-proprietary/tokens/src/components/ams/page.tokens.json
  packages-proprietary/tokens/src/components/ams/unordered-list.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Convert usage of variables in test story to hard coded value without renderComponentVariants
  storybook/src/docs/components/SpacingSample.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Apply suggestions from code review
  packages/css/src/components/progress-list/progress-list.scss
Due: prettier --check, stylelint --allow-empty-input

Use correct progress color tokens
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use coloured border for all variants of shape
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
  packages/css/src/components/progress-list/progress-list.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Add descriptions to props
  packages/react/src/ProgressList/ProgressList.tsx
  packages/react/src/ProgressList/ProgressListStep.tsx
  packages/react/src/ProgressList/ProgressListSubStep.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove hyphen from ‘substep’
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
  packages/css/src/components/progress-list/progress-list.scss
  packages/react/src/ProgressList/ProgressListStep.tsx
  packages/react/src/ProgressList/ProgressListSubStep.test.tsx
  packages/react/src/ProgressList/ProgressListSubStep.tsx
  packages/react/src/ProgressList/ProgressListSubSteps.test.tsx
  packages/react/src/ProgressList/ProgressListSubSteps.tsx
  storybook/src/components/ProgressList/ProgressList.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Refactor BEM classes to use nested block
  packages/css/src/components/progress-list/progress-list.scss
  packages/react/src/ProgressList/ProgressListSubStep.test.tsx
  packages/react/src/ProgressList/ProgressListSubStep.tsx
  packages/react/src/ProgressList/ProgressListSubSteps.test.tsx
  packages/react/src/ProgressList/ProgressListSubSteps.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Move substeps out of step in tokens
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
  packages/css/src/components/progress-list/progress-list.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Move shape tokens into marker group
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
  packages/css/src/components/progress-list/progress-list.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Reorder stylesheet
  packages/css/src/components/progress-list/progress-list.scss
Due: prettier --check, stylelint --allow-empty-input

Rename mixin
  packages/css/src/components/progress-list/progress-list.scss
Due: prettier --check, stylelint --allow-empty-input

Change margin to padding
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
  packages/css/src/components/progress-list/progress-list.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Move bottom whitespace from body to content
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
  packages/css/src/components/progress-list/progress-list.scss
  packages/react/src/ProgressList/ProgressListStep.tsx
  packages/react/src/ProgressList/ProgressListSubStep.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Target class for styling instead of aria attribute
  packages/css/src/components/progress-list/progress-list.scss
Due: prettier --check, stylelint --allow-empty-input

Tweak examples
  storybook/src/components/ProgressList/ProgressList.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Test composition and step states
  packages/react/src/ProgressList/ProgressList.test.tsx
  packages/react/src/ProgressList/ProgressListStep.test.tsx
  packages/react/src/ProgressList/ProgressListSubStep.test.tsx
  packages/react/src/ProgressList/ProgressListSubSteps.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Write substep as one word in component names as well
  packages/react/src/ProgressList/ProgressList.test.tsx
  packages/react/src/ProgressList/ProgressList.tsx
  packages/react/src/ProgressList/ProgressListStep.test.tsx
  packages/react/src/ProgressList/ProgressListStep.tsx
  packages/react/src/ProgressList/ProgressListSubstep.test.tsx
  packages/react/src/ProgressList/ProgressListSubstep.tsx
  packages/react/src/ProgressList/ProgressListSubsteps.test.tsx
  packages/react/src/ProgressList/ProgressListSubsteps.tsx
  storybook/src/components/ProgressList/ProgressList.docs.mdx
  storybook/src/components/ProgressList/ProgressList.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Move viewport modifier token up
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
  packages/css/src/components/progress-list/progress-list.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Move calculation into stylesheet
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
  packages/css/src/components/progress-list/progress-list.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(Progress List): Add substeps (#2328)
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
  packages/css/src/components/progress-list/README.md
  packages/css/src/components/progress-list/progress-list.scss
  packages/react/src/ProgressList/ProgressList.test.tsx
  packages/react/src/ProgressList/ProgressList.tsx
  packages/react/src/ProgressList/ProgressListStep.test.tsx
  packages/react/src/ProgressList/ProgressListStep.tsx
  packages/react/src/ProgressList/ProgressListSubstep.test.tsx
  packages/react/src/ProgressList/ProgressListSubstep.tsx
  packages/react/src/ProgressList/ProgressListSubsteps.test.tsx
  packages/react/src/ProgressList/ProgressListSubsteps.tsx
  storybook/src/components/ProgressList/ProgressList.docs.mdx
  storybook/src/components/ProgressList/ProgressList.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Deprecate another unused class
  packages/react/src/ImageSlider/ImageSlider.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove unnecessary CSS
  packages/css/src/components/image-slider/image-slider.scss
Due: prettier --check, stylelint --allow-empty-input
