Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Add missing utility class to override a component gap
  packages/css/src/components/gap/gap.scss
Due: prettier --check, stylelint --allow-empty-input

Move zero gap override to components that need it
  packages/css/src/components/column/column.scss
  packages/css/src/components/gap/gap.scss
  packages/css/src/components/row/row.scss
Due: prettier --check, stylelint --allow-empty-input

Mention utility classes in CSS package readme
  packages/css/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Rename type file for size mapping
  packages/react/src/Column/Column.test.tsx
  packages/react/src/Column/Column.tsx
  packages/react/src/Row/Row.test.tsx
  packages/react/src/Row/Row.tsx
  packages/react/src/common/sizes.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use getter function for mapping object
  packages/react/src/Column/Column.test.tsx
  packages/react/src/Column/Column.tsx
  packages/react/src/Row/Row.test.tsx
  packages/react/src/Row/Row.tsx
  packages/react/src/common/abbreviateSize.ts
  packages/react/src/common/sizes.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Include missing `2xl` size in Sass list
  packages/css/src/common/size.scss
Due: prettier --check, stylelint --allow-empty-input

Fix Row and Column classes for gap override; add tests and docs
  packages/css/src/common/size.scss
  packages/css/src/components/aspect-ratio/aspect-ratio.scss
  packages/react/src/Column/Column.test.tsx
  packages/react/src/Column/Column.tsx
  packages/react/src/Row/Row.test.tsx
  packages/react/src/Row/Row.tsx
  packages/react/src/common/abbreviateSize.ts
  packages/react/src/common/types.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Remove imprecise examples from Gap and Margin docs
  packages/css/src/components/gap/README.md
  packages/css/src/components/margin/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update guidelines
  packages/css/src/components/margin/README.md
  storybook/src/components/Column/Column.docs.mdx
  storybook/src/components/Row/Row.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add labels for abbreviated size options
  storybook/src/utils/Gap/Gap.stories.tsx
  storybook/src/utils/Margin/Margin.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add button reset mixin for Image Slider Thumbnail button
  packages/css/src/components/image-slider/image-slider.scss
Due: prettier --check, stylelint --allow-empty-input

Prefer `border: none` over `border: 0`
  .stylelintrc.json
  packages/css/src/components/accordion/accordion.scss
  packages/css/src/components/button/button.scss
  packages/css/src/components/checkbox/checkbox.scss
  packages/css/src/components/date-input/date-input.scss
  packages/css/src/components/field-set/field-set.scss
  packages/css/src/components/file-input/file-input.scss
  packages/css/src/components/header/header.scss
  packages/css/src/components/icon-button/icon-button.scss
  packages/css/src/components/password-input/password-input.scss
  packages/css/src/components/search-field/search-field.scss
  packages/css/src/components/select/select.scss
  packages/css/src/components/tabs/tabs.scss
  packages/css/src/components/text-area/text-area.scss
  packages/css/src/components/text-input/text-input.scss
  packages/css/src/components/time-input/time-input.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Abbreviate small, medium and large with a single letter
  proprietary/tokens/README.md
  proprietary/tokens/src/brand/ams/border.tokens.json
  proprietary/tokens/src/common/ams/links.tokens.json
  proprietary/tokens/src/components/ams/avatar.tokens.json
  proprietary/tokens/src/components/ams/button.tokens.json
  proprietary/tokens/src/components/ams/checkbox.tokens.json
  proprietary/tokens/src/components/ams/date-input.tokens.json
  proprietary/tokens/src/components/ams/dialog.tokens.json
  proprietary/tokens/src/components/ams/field-set.tokens.json
  proprietary/tokens/src/components/ams/field.tokens.json
  proprietary/tokens/src/components/ams/file-input.tokens.json
  proprietary/tokens/src/components/ams/password-input.tokens.json
  proprietary/tokens/src/components/ams/search-field.tokens.json
  proprietary/tokens/src/components/ams/select.tokens.json
  proprietary/tokens/src/components/ams/table.tokens.json
  proprietary/tokens/src/components/ams/tabs.tokens.json
  proprietary/tokens/src/components/ams/text-area.tokens.json
  proprietary/tokens/src/components/ams/text-input.tokens.json
  proprietary/tokens/src/components/ams/time-input.tokens.json
  storybook/src/brand/design-tokens/border.docs.mdx
  storybook/src/brand/design-tokens/links.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Write sizes fully in prop values and component classes
  packages/css/src/components/description-list/description-list.scss
  packages/react/src/DescriptionList/DescriptionList.tsx
  storybook/src/components/DescriptionList/DescriptionList.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Use ‘narrow’ and ‘wide’ instead of ‘small’ and ‘large’
  packages/css/src/components/description-list/description-list.scss
  packages/react/src/DescriptionList/DescriptionList.tsx
  storybook/src/components/DescriptionList/DescriptionList.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Remove prop name from classes
  packages/css/src/components/description-list/description-list.scss
  packages/react/src/DescriptionList/DescriptionList.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Add tokens for description list terms widths
  packages/css/src/components/description-list/description-list.scss
  proprietary/tokens/src/components/ams/description-list.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Update test
  packages/react/src/DescriptionList/DescriptionList.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@082eef7479f3180c1bc7d9c0acd97e2f33c6cc09 🚀
  demo-DES-1234-description-list-terms-width-values/082eef7479f3180c1bc7d9c0acd97e2f33c6cc09.txt
  demo-DES-1234-description-list-terms-width-values/c59787f01eb32f738dabac3cefe38bcde5794e24.txt
  demo-DES-1234-description-list-terms-width-values/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

CSS tokens error
  storybook/src/docs/components/icon-gallery.css
Due: prettier --check, stylelint --allow-empty-input

Remove weird rectangle
  proprietary/assets/icons/ChevronSorting.svg
  proprietary/assets/icons/ChevronSortingCollapse.svg
  proprietary/assets/icons/Layers.svg
  proprietary/assets/icons/LayersFill.svg
  proprietary/assets/icons/Location.svg
  proprietary/assets/icons/Pin.svg
  proprietary/assets/icons/Power.svg
  proprietary/assets/icons/Tree2.svg
  proprietary/assets/icons/Vestiging.svg
  proprietary/assets/icons/VestigingFill.svg
Due: none

Missing icon
  proprietary/assets/icons/FolderFill.svg
  proprietary/assets/icons/StarFill.png
  storybook/src/components/Footer/Footer.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Flatten svg
  proprietary/assets/icons/Cookie.svg
  proprietary/assets/icons/FolderFill.svg
  proprietary/assets/icons/FullscreenOpen.svg
  proprietary/assets/icons/LayersFill.svg
  proprietary/assets/icons/StarFill.png
  proprietary/assets/icons/StarFill.svg
  proprietary/assets/icons/VacationFill.svg
  proprietary/assets/icons/vacation.svg
Due: none

Grouping fill and outline icons
  storybook/src/docs/components/IconGallery.tsx
  storybook/src/docs/components/icon-gallery.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Large icon size not working?
  storybook/src/docs/components/IconGallery.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check
