Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Deploying to gh-pages from @ Amsterdam/design-system@a78110d0ced2230415d93871efb1281b22141aea 🚀
  demo-develop/64f06f868cc6c691f0dbc76892f9d2662b6e026c.txt
  demo-develop/a78110d0ced2230415d93871efb1281b22141aea.txt
  demo-develop/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Update publishing docs
  documentation/publishing.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@608c88a1cfb8bf6483b9f616e3c3f3c4f78d2488 🚀
  demo-update-publishing-docs/608c88a1cfb8bf6483b9f616e3c3f3c4f78d2488.txt
  demo-update-publishing-docs/94eb90b7082732e7fd63151f3f636043b8a55062.txt
  demo-update-publishing-docs/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Update publishing docs (#2085)
  documentation/publishing.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@d839eeb1538be1751a516858e336d2aaf0114632 🚀
  demo-develop/a78110d0ced2230415d93871efb1281b22141aea.txt
  demo-develop/d839eeb1538be1751a516858e336d2aaf0114632.txt
  demo-develop/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Update CSS, assets and tokens READMEs
  packages-proprietary/assets/README.md
  packages-proprietary/tokens/README.md
  packages/css/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Temp
  packages-proprietary/tokens/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update tokens README
  packages-proprietary/tokens/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@6e332bde03f222a0df1dcec59aeb154d6a07ffa9 🚀
  demo-update-readmes/69e962442b0fd68d5bdc9dae302ee365ae78e556.txt
  demo-update-readmes/6e332bde03f222a0df1dcec59aeb154d6a07ffa9.txt
  demo-update-readmes/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use correct terminology
  packages-proprietary/tokens/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@1cff1385a15cf23d08ffcc7dd1ecd765aa0c8174 🚀
  demo-update-readmes/1cff1385a15cf23d08ffcc7dd1ecd765aa0c8174.txt
  demo-update-readmes/6e332bde03f222a0df1dcec59aeb154d6a07ffa9.txt
  demo-update-readmes/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@06854853240c95c8a73cf884d4586b3fbea6df73 🚀
  demo-update-readmes/06854853240c95c8a73cf884d4586b3fbea6df73.txt
  demo-update-readmes/1cff1385a15cf23d08ffcc7dd1ecd765aa0c8174.txt
  demo-update-readmes/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Sort token groups consistently
  packages-proprietary/tokens/src/components/ams/button.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove obsolete border reset
  packages/css/src/components/button/button.scss
Due: prettier --check, stylelint --allow-empty-input

Add missing borders for secondary button
  packages-proprietary/tokens/src/components/ams/button.tokens.json
  packages/css/src/components/button/button.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Update tokens README.md
  packages-proprietary/tokens/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@f05ef1ca91c5c7c4fda1e2f3bfe6a4137d20bd31 🚀
  demo-update-readmes/06854853240c95c8a73cf884d4586b3fbea6df73.txt
  demo-update-readmes/f05ef1ca91c5c7c4fda1e2f3bfe6a4137d20bd31.txt
  demo-update-readmes/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@a2b99b3140fc7d723615bb08978d30582c6e7110 🚀
  demo-update-readmes/a2b99b3140fc7d723615bb08978d30582c6e7110.txt
  demo-update-readmes/f05ef1ca91c5c7c4fda1e2f3bfe6a4137d20bd31.txt
  demo-update-readmes/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Update README for CSS, assets and tokens packages (#2086)
  packages-proprietary/assets/README.md
  packages-proprietary/tokens/README.md
  packages/css/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@6ab70ec4e621b77ff6a3d52e2c0d693ef3a055ba 🚀
  demo-develop/6ab70ec4e621b77ff6a3d52e2c0d693ef3a055ba.txt
  demo-develop/README.md
  demo-develop/d839eeb1538be1751a516858e336d2aaf0114632.txt
  demo-develop/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use 'homepage' instead of 'voorpagina'
  packages/react/src/PageHeader/PageHeader.test.tsx
  packages/react/src/PageHeader/PageHeader.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Always publish Storybook on merge to main
  .github/workflows/publish.yml
Due: none

Darken secondary button border on hover
  packages-proprietary/tokens/src/components/ams/button.tokens.json
  packages/css/src/components/button/button.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore: Always publish Storybook on merge to main (#2088)
  .github/workflows/publish.yml
Due: none

Deploying to gh-pages from @ Amsterdam/design-system@136e09da99a4e8db75c105934a9e4518685aa1aa 🚀
  demo-develop/136e09da99a4e8db75c105934a9e4518685aa1aa.txt
  demo-develop/6ab70ec4e621b77ff6a3d52e2c0d693ef3a055ba.txt
  demo-develop/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@d9d3ef40bcea9bd1340e9003e25be4aa4f48c66f 🚀
  demo-DES-1307-secondary-button-border/README.md
  demo-DES-1307-secondary-button-border/d9d3ef40bcea9bd1340e9003e25be4aa4f48c66f.txt
  demo-DES-1307-secondary-button-border/e7d0016d2eb89e4147ef47733b30060cfc3d0a0f.txt
  demo-DES-1307-secondary-button-border/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use currentColor for secondary Button border
  packages-proprietary/tokens/src/components/ams/button.tokens.json
  packages/css/src/components/button/button.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore: Update icon documentation and enhance IconGallery component to accept custom icons
  storybook/src/brand/assets/icons.docs.mdx
  storybook/src/docs/components/IconGallery.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check
