Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

feat(Tokens): Split two-value spacing tokens into start and end (#2953)
  .stylelintrc.json
  packages-proprietary/tokens/AGENTS.md
  packages-proprietary/tokens/README.md
  packages-proprietary/tokens/build.js
  packages-proprietary/tokens/lint/README.md
  packages-proprietary/tokens/src/components/ams/dialog.tokens.json
  packages-proprietary/tokens/src/components/ams/menu.tokens.json
  packages-proprietary/tokens/src/components/ams/modal-dialog.tokens.json
  packages-proprietary/tokens/src/components/ams/select.tokens.json
  packages-proprietary/tokens/style-dictionary/multiValueDimensions.js
  packages-proprietary/tokens/style-dictionary/multiValueDimensions.test.js
  packages/css/src/components/dialog/dialog.scss
  packages/css/src/components/menu/menu.scss
  packages/css/src/components/modal-dialog/modal-dialog.scss
  packages/css/src/components/select/select.scss
  stylelint/README.md
  stylelint/index.mjs
  stylelint/require-single-value-token.mjs
  stylelint/rules.test.mjs
  stylelint/values.mjs
  stylelint/values.test.mjs
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Experimental popover mechanisme for the review remarks on narrow screens.
  storybook/src/pages/internal/DetailPage/DetailPage.module.css
  storybook/src/pages/internal/DetailPage/DetailPage.stories.tsx
  storybook/src/pages/internal/DetailPage/useMediaQuery.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Add archived remark variant to DetailPage story
  storybook/src/pages/internal/DetailPage/DetailPage.module.css
  storybook/src/pages/internal/DetailPage/DetailPage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Typo
  storybook/src/pages/internal/DetailPage/DetailPage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(Menu): Fix defaultExpanded prop comment
  packages/react/src/Menu/Menu.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Menu): Add extensions to dimension type
  packages-proprietary/tokens/src/components/ams/menu.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Stylelint): Re-enable at-rule-empty-line-before
  .stylelintrc.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Menu): Remove pressed-state semantics from wide toggle
  packages/react/src/Menu/Menu.test.tsx
  packages/react/src/Menu/Menu.tsx
  storybook/src/components/Menu/Menu.docs.mdx
  storybook/src/components/Menu/Menu.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(tokens): Add single-value hint to Menu inline-size token
  packages-proprietary/tokens/src/components/ams/menu.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Stylelint): Require an empty line before at-rules (#2986)
  .stylelintrc.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add TODO marker to a comment
  packages/react/eslint.config-partial.mjs
Due: none

Add TODO marker to a comment
  pnpm-workspace.yaml
Due: none

chore(ESLint): Explain the two disabled React rules without jargon
  packages/react/eslint.config-partial.mjs
Due: none

fix(docs): Improve and correct wording and structure
  storybook/src/pages/public/FormFlow/FormFlow.docs.mdx
  storybook/src/pages/public/FormFlow/FormFlow.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix remark popover styling and target attribute
  storybook/src/pages/internal/DetailPage/DetailPage.module.css
  storybook/src/pages/internal/DetailPage/DetailPage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix(Form Flow): Remove step counter and unnamed header from the example pages (#2957)
  storybook/src/pages/public/FormFlow/FormFlow.docs.mdx
  storybook/src/pages/public/FormFlow/FormFlow.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Move comments to where they apply
  pnpm-workspace.yaml
Due: none
