Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

fix(DatePicker): Keep the selection visible in forced colours mode
  packages/css/src/components/date-picker/date-picker.scss
Due: prettier --check, stylelint --allow-empty-input

test(DatePicker): Cover the main states in the visual regression test story
  storybook/src/components/DatePicker/DatePicker.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

refactor: Rename grid to body to match Calendar
  packages/css/src/components/date-picker/date-picker.scss
  packages/react/src/DatePicker/DatePicker.tsx
  packages/react/src/DatePicker/DatePickerBody.test.tsx
  packages/react/src/DatePicker/DatePickerBody.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix(DatePicker): Mark the grid as multiselectable in range mode
  packages/react/src/DatePicker/DatePicker.test.tsx
  packages/react/src/DatePicker/DatePicker.tsx
  packages/react/src/DatePicker/DatePickerBody.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(DatePicker): Announce the start and end dates of a range
  packages/react/src/DatePicker/DatePicker.test.tsx
  packages/react/src/DatePicker/DatePicker.tsx
  packages/react/src/DatePicker/DatePickerBody.test.tsx
  packages/react/src/DatePicker/DatePickerBody.tsx
  packages/react/src/DatePicker/DatePickerDay.tsx
  storybook/src/components/DatePicker/DatePicker.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(DatePicker): Address PR review comments
  packages/css/src/components/date-picker/date-picker.scss
  packages/react/src/DatePicker/DatePicker.test.tsx
  packages/react/src/DatePicker/DatePicker.tsx
  packages/react/src/DatePicker/DatePickerBody.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Avoid relying on subgrid support unnecessarily
  packages/css/src/components/date-picker/date-picker.scss
Due: prettier --check, stylelint --allow-empty-input

docs(DatePicker): Add source code snippets to all stories
  storybook/src/components/DatePicker/DatePicker.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(DatePicker): Restore display:contents on row elements
  packages/css/src/components/date-picker/date-picker.scss
Due: prettier --check, stylelint --allow-empty-input

docs(DatePicker, Calendar): Show all args in controls with explanatory comments
  storybook/src/components/Calendar/Calendar.stories.tsx
  storybook/src/components/DatePicker/DatePicker.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs) Restore district Oost in example content
  storybook/src/_common/exampleContent.ts
  storybook/src/components/Select/Select.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Prevent accidental mutation of districts array
  storybook/src/_common/exampleContent.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Restore district Oost in example content (#2668)
  storybook/src/_common/exampleContent.ts
  storybook/src/components/Select/Select.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Migrate Containers to the new content model
  packages/css/src/components/dialog/README.md
  packages/css/src/components/page-footer/README.md
  packages/css/src/components/page-header/README.md
  packages/css/src/components/page/README.md
  packages/css/src/components/progress-list/README.md
  packages/css/src/components/spotlight/README.md
  packages/css/src/components/table/README.md
  packages/css/src/components/tabs/README.md
  storybook/src/components/Dialog/Dialog.docs.mdx
  storybook/src/components/Page/Page.docs.mdx
  storybook/src/components/PageFooter/PageFooter.docs.mdx
  storybook/src/components/PageHeader/PageHeader.docs.mdx
  storybook/src/components/ProgressList/ProgressList.docs.mdx
  storybook/src/components/Spotlight/Spotlight.docs.mdx
  storybook/src/components/Table/Table.docs.mdx
  storybook/src/components/Tabs/Tabs.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Migrate Accordion, Button and Grid to the new content model
  documentation/component-docs.md
  packages/css/src/components/accordion/README.md
  packages/css/src/components/button/README.md
  packages/css/src/components/grid/README.md
  storybook/src/components/Accordion/Accordion.docs.mdx
  storybook/src/components/Button/Button.docs.mdx
  storybook/src/components/Grid/Grid.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Migrate Icon Button to the new content model
  packages/css/src/components/icon-button/README.md
  storybook/src/components/IconButton/IconButton.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Migrate Media components to the new content model
  packages/css/src/components/icon/README.md
  packages/css/src/components/image-slider/README.md
  packages/css/src/components/image/README.md
  packages/css/src/components/logo/README.md
  storybook/src/components/Figure/Figure.docs.mdx
  storybook/src/components/Icon/Icon.docs.mdx
  storybook/src/components/Image/Image.docs.mdx
  storybook/src/components/ImageSlider/ImageSlider.docs.mdx
  storybook/src/components/Logo/Logo.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Migrate Layout components to the new content model
  packages/css/src/components/action-group/README.md
  storybook/src/components/ActionGroup/ActionGroup.docs.mdx
  storybook/src/components/Breakout/Breakout.docs.mdx
  storybook/src/components/Column/Column.docs.mdx
  storybook/src/components/Overlap/Overlap.docs.mdx
  storybook/src/components/Row/Row.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Migrate Feedback components to the new content model
  packages/css/src/components/alert/README.md
  packages/css/src/components/avatar/README.md
  packages/css/src/components/badge/README.md
  storybook/src/components/Alert/Alert.docs.mdx
  storybook/src/components/Avatar/Avatar.docs.mdx
  storybook/src/components/Badge/Badge.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Define a content model for component documentation
  documentation/component-docs.md
  documentation/storybook.md
  plop-templates/storybook.docs.mdx.hbs
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Migrate Text components to the new content model
  packages/css/src/components/blockquote/README.md
  packages/css/src/components/description-list/README.md
  packages/css/src/components/heading/README.md
  packages/css/src/components/mark/README.md
  packages/css/src/components/ordered-list/README.md
  packages/css/src/components/paragraph/README.md
  packages/css/src/components/unordered-list/README.md
  storybook/src/components/Blockquote/Blockquote.docs.mdx
  storybook/src/components/DescriptionList/DescriptionList.docs.mdx
  storybook/src/components/Heading/Heading.docs.mdx
  storybook/src/components/Mark/Mark.docs.mdx
  storybook/src/components/OrderedList/OrderedList.docs.mdx
  storybook/src/components/Paragraph/Paragraph.docs.mdx
  storybook/src/components/UnorderedList/UnorderedList.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Scaffold new components with TSDoc descriptions, not READMEs
  plop-templates/react.docs.md.hbs
  plop-templates/react.tsx.hbs
  plop-templates/storybook.docs.mdx.hbs
  plop-templates/style.docs.md.hbs
  plopfile.mjs
Due: none

chore(docs): Fold post-rebase develop changes into the content model
  storybook/src/components/DescriptionList/DescriptionList.docs.mdx
  storybook/src/components/Dialog/Dialog.docs.mdx
  storybook/src/components/Grid/Grid.docs.mdx
  storybook/src/components/Page/Page.docs.mdx
  storybook/src/components/Table/Table.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Migrate Forms components to the new content model
  packages/css/src/components/character-count/README.md
  packages/css/src/components/checkbox/README.md
  packages/css/src/components/date-input/README.md
  packages/css/src/components/error-message/README.md
  packages/css/src/components/field-set/README.md
  packages/css/src/components/field/README.md
  packages/css/src/components/file-input/README.md
  packages/css/src/components/invalid-form-alert/README.md
  packages/css/src/components/label/README.md
  packages/css/src/components/password-input/README.md
  packages/css/src/components/radio/README.md
  packages/css/src/components/search-field/README.md
  packages/css/src/components/select/README.md
  packages/css/src/components/switch/README.md
  packages/css/src/components/text-area/README.md
  packages/css/src/components/text-input/README.md
  packages/css/src/components/time-input/README.md
  storybook/src/components/CharacterCount/CharacterCount.docs.mdx
  storybook/src/components/Checkbox/Checkbox.docs.mdx
  storybook/src/components/DateInput/DateInput.docs.mdx
  storybook/src/components/ErrorMessage/ErrorMessage.docs.mdx
  storybook/src/components/Field/Field.docs.mdx
  storybook/src/components/FieldSet/FieldSet.docs.mdx
  storybook/src/components/FileInput/FileInput.docs.mdx
  storybook/src/components/FileList/FileList.docs.mdx
  storybook/src/components/InvalidFormAlert/InvalidFormAlert.docs.mdx
  storybook/src/components/Label/Label.docs.mdx
  storybook/src/components/PasswordInput/PasswordInput.docs.mdx
  storybook/src/components/Radio/Radio.docs.mdx
  storybook/src/components/SearchField/SearchField.docs.mdx
  storybook/src/components/Select/Select.docs.mdx
  storybook/src/components/Switch/Switch.docs.mdx
  storybook/src/components/TextArea/TextArea.docs.mdx
  storybook/src/components/TextInput/TextInput.docs.mdx
  storybook/src/components/TimeInput/TimeInput.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Migrate Navigation components to the new content model
  packages/css/src/components/breadcrumb/README.md
  packages/css/src/components/call-to-action-link/README.md
  packages/css/src/components/card/README.md
  packages/css/src/components/link-list/README.md
  packages/css/src/components/link/README.md
  packages/css/src/components/menu/README.md
  packages/css/src/components/pagination/README.md
  packages/css/src/components/skip-link/README.md
  packages/css/src/components/standalone-link/README.md
  packages/css/src/components/tab-navigation/README.md
  storybook/src/components/Breadcrumb/Breadcrumb.docs.mdx
  storybook/src/components/CallToActionLink/CallToActionLink.docs.mdx
  storybook/src/components/Card/Card.docs.mdx
  storybook/src/components/Link/Link.docs.mdx
  storybook/src/components/LinkList/LinkList.docs.mdx
  storybook/src/components/Menu/Menu.docs.mdx
  storybook/src/components/Pagination/Pagination.docs.mdx
  storybook/src/components/SkipLink/SkipLink.docs.mdx
  storybook/src/components/StandaloneLink/StandaloneLink.docs.mdx
  storybook/src/components/TabNavigation/TabNavigation.docs.mdx
  storybook/src/components/TableOfContents/TableOfContents.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Storybook): Display table of contents
  storybook/config/preview.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Move normative guidance to 'How to use'; Content becomes 'How to write'
  documentation/component-docs-restructure-plan.md
  documentation/component-docs.md
  plop-templates/storybook.docs.mdx.hbs
  storybook/src/components/Accordion/Accordion.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Tighten component TSDoc rationales
  documentation/component-docs.md
  packages/react/AGENTS.md
  packages/react/src/Accordion/Accordion.tsx
  packages/react/src/Alert/Alert.tsx
  packages/react/src/Blockquote/Blockquote.tsx
  packages/react/src/CallToActionLink/CallToActionLink.tsx
  packages/react/src/CharacterCount/CharacterCount.tsx
  packages/react/src/ErrorMessage/ErrorMessage.tsx
  packages/react/src/InvalidFormAlert/InvalidFormAlert.tsx
  packages/react/src/Link/Link.tsx
  packages/react/src/Mark/Mark.tsx
  packages/react/src/OrderedList/OrderedList.tsx
  packages/react/src/PageHeader/PageHeader.tsx
  packages/react/src/Pagination/Pagination.tsx
  packages/react/src/SearchField/SearchField.tsx
  packages/react/src/Switch/Switch.tsx
  packages/react/src/Table/Table.tsx
  packages/react/src/TableOfContents/TableOfContents.tsx
  packages/react/src/UnorderedList/UnorderedList.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Migrate Calendar to the new content model
  packages/css/src/components/calendar/README.md
  packages/react/src/Calendar/Calendar.tsx
  storybook/src/components/Calendar/Calendar.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check
