Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

chore(Tokens): Clarify how the unused token check reads files
  packages-proprietary/tokens/lint/index.mjs
Due: none

chore(Tokens): Report design tokens that nothing consumes (#2820)
  packages-proprietary/tokens/AGENTS.md
  packages-proprietary/tokens/lint/README.md
  packages-proprietary/tokens/lint/allowlist.json
  packages-proprietary/tokens/lint/index.mjs
  packages-proprietary/tokens/lint/unused-tokens.mjs
  packages-proprietary/tokens/lint/unused-tokens.test.mjs
  packages-proprietary/tokens/package.json
  packages-proprietary/tokens/src/components/ams/avatar.tokens.json
  packages-proprietary/tokens/src/components/ams/page-header.tokens.json
  packages-proprietary/tokens/src/components/ams/search-field.tokens.json
  packages/css/src/components/avatar/avatar.scss
  packages/css/src/components/image-slider/image-slider.scss
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix(CSS, Tokens, Assets): Declare which files each package publishes to npm
  packages-proprietary/assets/package.json
  packages-proprietary/tokens/package.json
  packages/css/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Restore the Writing Direction playground
  storybook/src/docs/developer-guide/WritingDirection.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Require a files field for every published package
  .npmpackagejsonlintrc.json
  packages-proprietary/.npmpackagejsonlintrc.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(css, tokens, assets): Declare which files each package publishes to npm (#2821)
  .npmpackagejsonlintrc.json
  packages-proprietary/.npmpackagejsonlintrc.json
  packages-proprietary/assets/package.json
  packages-proprietary/tokens/package.json
  packages/css/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore(deps): Update dependencies
  package.json
  packages-proprietary/assets/package.json
  packages-proprietary/tokens/package.json
  pnpm-lock.yaml
  storybook/package.json
  stylelint/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore(deps): Resolve Dependabot security alerts via pnpm overrides
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(deps): Remove rollup-plugin-filesize
  packages/react/package.json
  packages/react/rollup.config.mjs
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore(deps): Update dependencies and resolve all security alerts (#2822)
  package.json
  packages-proprietary/assets/package.json
  packages-proprietary/tokens/package.json
  packages/react/package.json
  packages/react/rollup.config.mjs
  pnpm-lock.yaml
  pnpm-workspace.yaml
  storybook/package.json
  stylelint/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Drop the release-age exclusion for the removed themes addon
  pnpm-workspace.yaml
Due: none

chore(Storybook): Use the current Amsterdam logo asset
  storybook/config/manager.js
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Use the current Amsterdam logo asset (#2823)
  storybook/config/manager.js
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(storybook): Restructure the public page template layout modules
  storybook/src/pages/public/ArticlePage/ArticlePage.stories.tsx
  storybook/src/pages/public/FormFlow/FormFlow.stories.tsx
  storybook/src/pages/public/HandbookPage/HandbookPage.stories.tsx
  storybook/src/pages/public/HomePage/HomePage.stories.tsx
  storybook/src/pages/public/LoadingPage/LoadingPage.stories.tsx
  storybook/src/pages/public/NavigationPage/NavigationPage.stories.tsx
  storybook/src/pages/public/ProductPage/ProductPage.stories.tsx
  storybook/src/pages/public/ProjectPage/ProjectPage.stories.tsx
  storybook/src/pages/public/common/AppHeader.tsx
  storybook/src/pages/public/common/FormLayout.tsx
  storybook/src/pages/public/common/FormPageLayout.tsx
  storybook/src/pages/public/common/Layout.tsx
  storybook/src/pages/public/common/PageLayout.tsx
  storybook/src/pages/public/common/commonMeta.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(storybook): Restructure the internal page template layout modules
  storybook/src/pages/internal/HomePage/HomePage.stories.tsx
  storybook/src/pages/internal/NavigationPage/NavigationPage.stories.tsx
  storybook/src/pages/internal/TablePage/TablePage.stories.tsx
  storybook/src/pages/internal/common/PageLayout.tsx
  storybook/src/pages/internal/common/commonMeta.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(storybook): Forward HTML attributes in the page layouts
  storybook/src/pages/internal/common/PageLayout.tsx
  storybook/src/pages/public/common/FormPageLayout.tsx
  storybook/src/pages/public/common/PageLayout.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Restructure the page template layout modules (#2824)
  storybook/src/pages/internal/HomePage/HomePage.stories.tsx
  storybook/src/pages/internal/NavigationPage/NavigationPage.stories.tsx
  storybook/src/pages/internal/TablePage/TablePage.stories.tsx
  storybook/src/pages/internal/common/PageLayout.tsx
  storybook/src/pages/internal/common/commonMeta.tsx
  storybook/src/pages/public/ArticlePage/ArticlePage.stories.tsx
  storybook/src/pages/public/FormFlow/FormFlow.stories.tsx
  storybook/src/pages/public/HandbookPage/HandbookPage.stories.tsx
  storybook/src/pages/public/HomePage/HomePage.stories.tsx
  storybook/src/pages/public/LoadingPage/LoadingPage.stories.tsx
  storybook/src/pages/public/NavigationPage/NavigationPage.stories.tsx
  storybook/src/pages/public/ProductPage/ProductPage.stories.tsx
  storybook/src/pages/public/ProjectPage/ProjectPage.stories.tsx
  storybook/src/pages/public/common/AppHeader.tsx
  storybook/src/pages/public/common/FormLayout.tsx
  storybook/src/pages/public/common/FormPageLayout.tsx
  storybook/src/pages/public/common/Layout.tsx
  storybook/src/pages/public/common/PageLayout.tsx
  storybook/src/pages/public/common/commonMeta.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(storybook): Increase the space between the last Grid and the Page Footer on public page templates
  storybook/src/pages/public/ArticlePage/ArticlePage.stories.tsx
  storybook/src/pages/public/HandbookPage/HandbookPage.stories.tsx
  storybook/src/pages/public/HomePage/HomePage.stories.tsx
  storybook/src/pages/public/LoadingPage/LoadingPage.stories.tsx
  storybook/src/pages/public/NavigationPage/NavigationPage.stories.tsx
  storybook/src/pages/public/ProductPage/ProductPage.stories.tsx
  storybook/src/pages/public/ProjectPage/ProjectPage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(storybook): Remove the large padding and gap exceptions from public page templates
  storybook/src/pages/public/ArticlePage/ArticlePage.stories.tsx
  storybook/src/pages/public/HandbookPage/HandbookPage.stories.tsx
  storybook/src/pages/public/HomePage/HomePage.stories.tsx
  storybook/src/pages/public/LoadingPage/LoadingPage.stories.tsx
  storybook/src/pages/public/NavigationPage/NavigationPage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(storybook): Replace Grid margins with padding props in the Form Flow template
  storybook/src/pages/public/FormFlow/FormFlow.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(storybook): Keep the regular space below the back link in the Form Flow template
  storybook/src/pages/public/FormFlow/FormFlow.stories.tsx
  storybook/src/pages/public/Introduction.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(storybook): Document the vertical space rules for public page templates
  storybook/src/pages/public/Introduction.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check
