Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ Amsterdam/design-system@dc788dd3d8ccc278dbe67d385b60151a579c72a6 🚀
  demo-develop/a87b5a82636bed3c4e20fa0a7113f7cfca20efe0.txt
  demo-develop/dc788dd3d8ccc278dbe67d385b60151a579c72a6.txt
  demo-develop/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

WIP: vertical padding around mega menu
  packages-proprietary/tokens/src/components/ams/page-header.tokens.json
  packages/css/src/components/page-header/page-header.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

WIP: storybook backgrounds
  storybook/config/main.ts
  storybook/config/preview.tsx
  storybook/package.json
  storybook/src/components/LinkList/LinkList.stories.tsx
  storybook/src/styles/docs.css
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

revert(LinkList): decorator
  storybook/src/components/LinkList/LinkList.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

WIP: backgrounds per story
  storybook/config/preview.tsx
  storybook/src/components/LinkList/LinkList.stories.tsx
  storybook/src/components/Paragraph/Paragraph.stories.tsx
  storybook/src/styles/docs.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

WIP: Paragraph too
  storybook/config/preview.tsx
  storybook/src/components/Paragraph/Paragraph.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

refactor: use util fn
  storybook/config/preview.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add support for Whole Number and Decimal Number input types in TextInput stories
  storybook/src/components/TextInput/TextInput.docs.mdx
  storybook/src/components/TextInput/TextInput.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Replace tertiary button with secondary
  storybook/src/components/Dialog/Dialog.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@482ba95352f43b8673876f39fc6a37a38d14a909 🚀
  demo-develop/482ba95352f43b8673876f39fc6a37a38d14a909.txt
  demo-develop/dcf2a8888aa2df6c2637194ef5fcfec05cdfac94.txt
  demo-develop/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Replace tertiary button with secondary for Action Group example as well
  storybook/src/components/ActionGroup/ActionGroup.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Replace tertiary button with secondary in Dialog (#2106)
  storybook/src/components/ActionGroup/ActionGroup.stories.tsx
  storybook/src/components/Dialog/Dialog.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use shorthand
  packages/css/src/components/alert/alert.scss
Due: prettier --check, stylelint --allow-empty-input

fix(Alert): Restore horizontal centering of icon (#2098)
  packages/css/src/components/alert/alert.scss
Due: prettier --check, stylelint --allow-empty-input

Searchpage example
  storybook/src/pages/application/SearchPage/SearchPage.docs.mdx
  storybook/src/pages/application/SearchPage/SearchPage.stories.tsx
  storybook/src/pages/application/SearchPage/SearchPage.tsx
  storybook/src/pages/application/SearchPage/styles.module.css
  storybook/src/pages/application/common/AppHeader.tsx
  storybook/src/pages/application/common/Layout.tsx
  storybook/src/pages/application/common/config.tsx
  storybook/src/pages/declarations.d.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Fix directory name for Page Header docs
  storybook/src/components/PageHeader/PageHeader.docs.mdx
  storybook/src/components/PageHeader/PageHeader.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Testing App components and grid layout
  packages-proprietary/tokens/src/components/ams/app-navigation.tokens.json
  packages-proprietary/tokens/src/components/ams/app.tokens.json
  packages/css/src/components/app-navigation/README.md
  packages/css/src/components/app-navigation/app-navigation.scss
  packages/css/src/components/app/README.md
  packages/css/src/components/app/app.scss
  packages/css/src/components/index.scss
  packages/react/src/App/App.test.tsx
  packages/react/src/App/App.tsx
  packages/react/src/App/README.md
  packages/react/src/App/index.ts
  packages/react/src/AppNavigation/AppNavigation.test.tsx
  packages/react/src/AppNavigation/AppNavigation.tsx
  packages/react/src/AppNavigation/AppNavigationLink.tsx
  packages/react/src/AppNavigation/README.md
  packages/react/src/AppNavigation/index.ts
  packages/react/src/index.ts
  storybook/config/preview.tsx
  storybook/src/components/App/App.docs.mdx
  storybook/src/components/App/App.stories.tsx
  storybook/src/components/AppNavigation/AppNavigation.docs.mdx
  storybook/src/components/AppNavigation/AppNavigation.stories.tsx
  storybook/src/pages/application/SearchPage/SearchPage.tsx
  storybook/src/pages/application/common/AppHeader.tsx
  storybook/src/pages/application/common/Layout.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore: Fix directory name for Page Header docs (#2108)
  storybook/src/components/PageHeader/PageHeader.docs.mdx
  storybook/src/components/PageHeader/PageHeader.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
