Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

fix(Calendar): Use BEM for all class names
  packages/css/src/components/calendar/calendar.scss
  packages/react/src/Calendar/CalendarBody.tsx
  packages/react/src/Calendar/CalendarHeader.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix(Calendar): Announce the full date for plain-text days
  packages/react/src/Calendar/CalendarBody.test.tsx
  packages/react/src/Calendar/CalendarBody.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

refactor(Calendar): Extract a CalendarDay component and date formatter
  packages/react/src/Calendar/CalendarBody.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

refactor(Calendar): Move CalendarDay to its own file with tests
  packages/react/src/Calendar/CalendarBody.test.tsx
  packages/react/src/Calendar/CalendarBody.tsx
  packages/react/src/Calendar/CalendarDay.test.tsx
  packages/react/src/Calendar/CalendarDay.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Calendar): Reuse formatter
  packages/react/src/Calendar/CalendarBody.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

refactor(Calendar): Extract month navigation and date helpers into common
  packages/react/src/Calendar/Calendar.tsx
  packages/react/src/Calendar/CalendarBody.tsx
  packages/react/src/common/dates.test.ts
  packages/react/src/common/dates.ts
  packages/react/src/common/useMonthNavigation.test.tsx
  packages/react/src/common/useMonthNavigation.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(DatePicker): Add the Date Picker component
  packages-proprietary/tokens/src/components/ams/date-picker.tokens.json
  packages/css/src/components/date-picker/README.md
  packages/css/src/components/date-picker/date-picker.scss
  packages/css/src/components/index.scss
  packages/react/src/DatePicker/DatePicker.test.tsx
  packages/react/src/DatePicker/DatePicker.tsx
  packages/react/src/DatePicker/DatePickerDay.test.tsx
  packages/react/src/DatePicker/DatePickerDay.tsx
  packages/react/src/DatePicker/DatePickerGrid.test.tsx
  packages/react/src/DatePicker/DatePickerGrid.tsx
  packages/react/src/DatePicker/DatePickerHeader.test.tsx
  packages/react/src/DatePicker/DatePickerHeader.tsx
  packages/react/src/DatePicker/README.md
  packages/react/src/DatePicker/index.ts
  packages/react/src/DatePicker/utils.test.ts
  packages/react/src/DatePicker/utils.ts
  packages/react/src/index.ts
  storybook/src/components/DatePicker/DatePicker.docs.mdx
  storybook/src/components/DatePicker/DatePicker.stories.tsx
  storybook/src/components/DatePicker/DatePicker.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore(deps): Ignore jsdom 27+ until accessible-name regression is fixed upstream (#2655)
  .github/dependabot.yml
Due: none

fix(Switch): Keep the track border visible in forced colors mode (#2656)
  packages-proprietary/tokens/src/components/ams/switch.tokens.json
  packages/css/src/components/dialog/dialog.scss
  packages/css/src/components/switch/switch.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore(CSS): Enforce longhands for border, background, and font (#2657)
  .stylelintrc.json
  packages/css/src/common/resets.scss
  packages/css/src/components/avatar/avatar.scss
  packages/css/src/components/dialog/dialog.scss
  packages/css/src/components/progress-list/progress-list.scss
  storybook/src/_components/Code/code.css
  storybook/src/_styles/docs.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore: replace ESLint/Prettier tooling with oxlint and oxfmt
  .lintstagedrc.json
  .oxfmtrc.json
  .oxlintrc.json
  .prettierignore
  .prettierrc.json
  AGENTS.md
  CONTRIBUTING.md
  documentation/definition-of-done.md
  eslint.config.mjs
  package.json
  packages-proprietary/react-icons/package.json
  packages/react/package.json
  packages/react/src/ImageSlider/utils/debounce.test.ts
  pnpm-lock.yaml
  storybook/src/components/DateInput/DateInput.stories.tsx
  storybook/src/components/Grid/Grid.stories.tsx
  storybook/src/components/LinkList/LinkList.stories.tsx
  storybook/src/components/Menu/Menu.stories.tsx
  storybook/src/components/SearchField/SearchField.stories.tsx
  storybook/src/pages/internal/HomePage/HomePage.stories.tsx
  storybook/src/pages/public/FormFlow/FormFlow.stories.tsx
  storybook/src/pages/public/HomePage/HomePage.stories.tsx
  storybook/src/pages/public/NavigationPage/NavigationPage.stories.tsx
  storybook/src/pages/public/ProductPage/ProductPage.stories.tsx
  storybook/src/pages/public/ProjectPage/ProjectPage.stories.tsx
  storybook/src/utils/Prose/Prose.stories.tsx
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

style: format with oxfmt
  storybook/config/preview-head.html
Due: none

chore: lint all JS/TS with oxlint via jsPlugins, slim ESLint to JSON/Markdown/MDX
  .lintstagedrc.json
  .oxlintrc.json
  eslint.config.mjs
  eslint.rules.mjs
  package.json
  packages-proprietary/react-icons/eslint.config-partial.mjs
  packages/react/eslint.config-partial.mjs
  pnpm-lock.yaml
  storybook/eslint.config-partial.mjs
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore: document efficient linter and formatter use in AGENTS.md
  AGENTS.md
  packages/react/AGENTS.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: replace lint-staged with nano-staged
  .husky/pre-commit
  .nano-staged.json
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore: declare the root-level ESLint plugins explicitly
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore: enable Markdown content linting
  documentation/definition-of-done.md
  eslint.config.mjs
  packages/css/src/components/page-header/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Dialog): Add composable Header, Body, Footer, and CloseButton sub-components
  packages/css/src/components/dialog/README.md
  packages/react/src/Dialog/Dialog.test.tsx
  packages/react/src/Dialog/Dialog.tsx
  packages/react/src/Dialog/DialogBody.test.tsx
  packages/react/src/Dialog/DialogBody.tsx
  packages/react/src/Dialog/DialogCloseButton.test.tsx
  packages/react/src/Dialog/DialogCloseButton.tsx
  packages/react/src/Dialog/DialogFooter.test.tsx
  packages/react/src/Dialog/DialogFooter.tsx
  packages/react/src/Dialog/DialogHeader.test.tsx
  packages/react/src/Dialog/DialogHeader.tsx
  packages/react/src/Dialog/dialogActions.ts
  packages/react/src/Dialog/index.ts
  storybook/src/components/Dialog/Dialog.docs.mdx
  storybook/src/components/Dialog/Dialog.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Improve documentation
  packages/css/src/components/dialog/README.md
  storybook/src/components/Dialog/Dialog.docs.mdx
  storybook/src/components/Dialog/Dialog.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check
