Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Move mixin to near its usage
  packages/css/src/components/image-slider/image-slider.scss
Due: prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ Amsterdam/design-system@c71352318a55473fa1f45e5b17116a5d600ecf5f 🚀
  demo-DES-1077-border-tokens/c71352318a55473fa1f45e5b17116a5d600ecf5f.txt
  demo-DES-1077-border-tokens/cbffac8d7d09d5e4b62b91c524f463c500f2eca2.txt
  demo-DES-1077-border-tokens/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat!: Shorten size labels in border tokens (#1941)
  .stylelintrc.json
  packages/css/src/components/accordion/accordion.scss
  packages/css/src/components/button/button.scss
  packages/css/src/components/checkbox/checkbox.scss
  packages/css/src/components/date-input/date-input.scss
  packages/css/src/components/field-set/field-set.scss
  packages/css/src/components/file-input/file-input.scss
  packages/css/src/components/header/header.scss
  packages/css/src/components/icon-button/icon-button.scss
  packages/css/src/components/image-slider/image-slider.scss
  packages/css/src/components/password-input/password-input.scss
  packages/css/src/components/search-field/search-field.scss
  packages/css/src/components/select/select.scss
  packages/css/src/components/tabs/tabs.scss
  packages/css/src/components/text-area/text-area.scss
  packages/css/src/components/text-input/text-input.scss
  packages/css/src/components/time-input/time-input.scss
  proprietary/tokens/README.md
  proprietary/tokens/src/brand/ams/border.tokens.json
  proprietary/tokens/src/common/ams/links.tokens.json
  proprietary/tokens/src/components/ams/avatar.tokens.json
  proprietary/tokens/src/components/ams/button.tokens.json
  proprietary/tokens/src/components/ams/checkbox.tokens.json
  proprietary/tokens/src/components/ams/date-input.tokens.json
  proprietary/tokens/src/components/ams/dialog.tokens.json
  proprietary/tokens/src/components/ams/field-set.tokens.json
  proprietary/tokens/src/components/ams/field.tokens.json
  proprietary/tokens/src/components/ams/file-input.tokens.json
  proprietary/tokens/src/components/ams/password-input.tokens.json
  proprietary/tokens/src/components/ams/search-field.tokens.json
  proprietary/tokens/src/components/ams/select.tokens.json
  proprietary/tokens/src/components/ams/table.tokens.json
  proprietary/tokens/src/components/ams/tabs.tokens.json
  proprietary/tokens/src/components/ams/text-area.tokens.json
  proprietary/tokens/src/components/ams/text-input.tokens.json
  proprietary/tokens/src/components/ams/time-input.tokens.json
  storybook/src/brand/design-tokens/border.docs.mdx
  storybook/src/brand/design-tokens/links.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Update custom sorting in perfectionist
  eslint.config.mjs
  storybook/src/utils/Gap/Gap.stories.tsx
  storybook/src/utils/Margin/Margin.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix size labels in compact space tokens
  proprietary/tokens/src/brand/ams/space.compact.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove unused breakout tokens
  proprietary/tokens/src/components/ams/breakout.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Shorten size labels in grid tokens and mixins
  packages/css/src/components/grid/_mixins.scss
  proprietary/tokens/src/components/ams/grid.tokens.json
  storybook/src/brand/design-tokens/grid.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Use size mapping object directly
  packages/css/src/common/size.scss
  packages/react/src/Column/Column.test.tsx
  packages/react/src/Column/Column.tsx
  packages/react/src/Row/Row.test.tsx
  packages/react/src/Row/Row.tsx
  packages/react/src/common/shortSize.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Remove reuse of size labels in Sass
  packages/css/src/common/size.scss
  packages/css/src/components/gap/gap.scss
  packages/css/src/components/margin/margin.scss
  packages/react/src/common/shortSize.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Update packages/react/src/common/shortSize.ts
  packages/react/src/common/shortSize.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@c8f5e2c1cad4f7ad630bb3c2b16b54fc43a32ebd 🚀
  demo-DES-1118-t-shirt-size-naming/1db5cec3c8189877c74f0aa706a24b7ab6e8323f.txt
  demo-DES-1118-t-shirt-size-naming/c8f5e2c1cad4f7ad630bb3c2b16b54fc43a32ebd.txt
  demo-DES-1118-t-shirt-size-naming/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update for changed size labels
  storybook/src/pages/amsterdam/NavigationPage/LinkGroupGridCells.tsx
  storybook/src/pages/amsterdam/NavigationPage/NavigationPage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix duplicate whitespace
  storybook/src/pages/amsterdam/NavigationPage/LinkGroupGridCells.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Simplify a piece of content
  storybook/src/pages/amsterdam/NavigationPage/NavigationPage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove incorrect selector for gap utility
  packages/css/src/components/gap/gap.scss
Due: prettier --check, stylelint --allow-empty-input

Just show min and max Space sizes in pixels
  storybook/src/brand/design-tokens/space.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Simplify Typography docs: remove rationale, replace clamps with pixels, add examples
  storybook/src/brand/design-tokens/typography.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Gap): Make sure grid display is always set (#1945)
  packages/css/src/components/gap/gap.scss
Due: prettier --check, stylelint --allow-empty-input

Replace lorem ipsum with our own example content
  storybook/src/pages/amsterdam/NavigationPage/NavigationPage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Prevent inline style through a large enough image
  storybook/src/pages/amsterdam/NavigationPage/NavigationPage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Comments resolved
  packages/react/src/common/useKeyboardFocus.test.tsx
  packages/react/src/common/useKeyboardFocus.tsx
  storybook/src/components/Tabs/Tabs.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Move main element down to individual stories
  storybook/src/pages/amsterdam/NavigationPage/NavigationPage.stories.tsx
  storybook/src/pages/amsterdam/NavigationPage/NavigationPage.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

One paragraph is enough
  storybook/src/pages/amsterdam/NavigationPage/NavigationPage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Rename story
  storybook/src/pages/amsterdam/NavigationPage/NavigationPage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
