Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

docs(Agents): Move rule against default exports to React package
  AGENTS.md
  packages/react/AGENTS.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Use pnpm consistently in workspace scripts (#2588)
  package.json
  packages-proprietary/react-icons/package.json
  packages-proprietary/tokens/package.json
  storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@697e0c6edd61102b12e3e7d3561dbcf1048c3fab 🚀
  demo-DES-1718_llm-code-agents-custom-instructions/697e0c6edd61102b12e3e7d3561dbcf1048c3fab.txt
  demo-DES-1718_llm-code-agents-custom-instructions/8dc3ae56db48de5dab8d55c14b79af58d3094010.txt
  demo-DES-1718_llm-code-agents-custom-instructions/manifests/components.html
  demo-DES-1718_llm-code-agents-custom-instructions/manifests/components.json
  demo-DES-1718_llm-code-agents-custom-instructions/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Add instructions for AI coding agents (#2511)
  .prettierignore
  AGENTS.md
  documentation/agent-workarounds.md
  documentation/code-reviews.md
  documentation/definition-of-done.md
  eslint.config.mjs
  packages-proprietary/tokens/AGENTS.md
  packages/css/AGENTS.md
  packages/react/AGENTS.md
  storybook/AGENTS.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Table): Align Header Cells to the bottom (#2583)
  packages/css/src/components/table/table.scss
Due: prettier --check, stylelint --allow-empty-input

Remove showing page range
  storybook/src/pages/internal/TablePage/stories/WithPagination.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Grid): Set correct horizontal padding in Compact Mode (#2582)
  packages-proprietary/tokens/CONTRIBUTING.md
  packages-proprietary/tokens/src/components/ams/grid.compact.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Export consts to get title case links in Storybook toc
  storybook/src/pages/internal/TablePage/TablePage.stories.tsx
  storybook/src/pages/internal/TablePage/stories/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Continue row numbers with pages
  storybook/src/pages/internal/TablePage/common/AddressTableBody.tsx
  storybook/src/pages/internal/TablePage/stories/WithPagination.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Add example of a full-page table with pagination (#2586)
  storybook/src/pages/internal/TablePage/TablePage.stories.tsx
  storybook/src/pages/internal/TablePage/common/AddressTableBody.tsx
  storybook/src/pages/internal/TablePage/stories/SortingWithSelect.tsx
  storybook/src/pages/internal/TablePage/stories/WithPagination.tsx
  storybook/src/pages/internal/TablePage/stories/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Update dependencies
  package.json
  packages/react/package.json
  pnpm-lock.yaml
  storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore: Update dependencies (#2589)
  package.json
  packages/react/package.json
  pnpm-lock.yaml
  storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Revert incorrect changes to react-icons
  .release-please-manifest.json
  packages-proprietary/react-icons/CHANGELOG.md
  packages-proprietary/react-icons/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
