Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Deploying to gh-pages from @ Amsterdam/design-system@680b9dc854385dcacf0ce84642ce851df22aece9 🚀
  demo-develop/680b9dc854385dcacf0ce84642ce851df22aece9.txt
  demo-develop/c60dae6897ae4cc40fae3672fdfcbeceb6ccb9f0.txt
  demo-develop/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Spaces and plop template
  packages/react/src/ActionGroup/ActionGroup.tsx
  packages/react/src/CharacterCount/CharacterCount.tsx
  packages/react/src/DateInput/DateInput.tsx
  packages/react/src/DescriptionList/DescriptionList.tsx
  packages/react/src/ErrorMessage/ErrorMessage.tsx
  packages/react/src/FieldSet/FieldSet.tsx
  packages/react/src/FileInput/FileInput.tsx
  packages/react/src/FileList/FileList.tsx
  packages/react/src/IconButton/IconButton.tsx
  packages/react/src/ImageSlider/ImageSlider.tsx
  packages/react/src/InvalidFormAlert/InvalidFormAlert.tsx
  packages/react/src/LinkList/LinkList.tsx
  packages/react/src/OrderedList/OrderedList.tsx
  packages/react/src/PageFooter/PageFooter.tsx
  packages/react/src/PageHeader/PageHeader.tsx
  packages/react/src/PageHeading/PageHeading.tsx
  packages/react/src/PasswordInput/PasswordInput.tsx
  packages/react/src/SearchField/SearchField.tsx
  packages/react/src/SkipLink/SkipLink.tsx
  packages/react/src/StandaloneLink/StandaloneLink.tsx
  packages/react/src/TableOfContents/TableOfContents.tsx
  packages/react/src/TextArea/TextArea.tsx
  packages/react/src/TextInput/TextInput.tsx
  packages/react/src/TimeInput/TimeInput.tsx
  packages/react/src/UnorderedList/UnorderedList.tsx
  plop-templates/react.tsx.hbs
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@558c6bc3a42655bdf152d358e36173436dd74fd1 🚀
  demo-develop/558c6bc3a42655bdf152d358e36173436dd74fd1.txt
  demo-develop/680b9dc854385dcacf0ce84642ce851df22aece9.txt
  demo-develop/project.json
  demo-develop/sb-addons/whitespace-html-13/manager-bundle.js
  demo-develop/sb-addons/whitespace-html-13/manager-bundle.js.LEGAL.txt
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update plop-templates/react.tsx.hbs
  plop-templates/react.tsx.hbs
Due: none

Deploying to gh-pages from @ Amsterdam/design-system@45538edc8af456babb3c6558121175727318cc75 🚀
  demo-DES-1159_jdocs-links/45538edc8af456babb3c6558121175727318cc75.txt
  demo-DES-1159_jdocs-links/cb180765ad3ad635121e87392cf77b78778c21ae.txt
  demo-DES-1159_jdocs-links/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Move invalid+hover closer to invalid styles
  packages/css/src/components/select/select.scss
Due: prettier --check, stylelint --allow-empty-input

Revert all reordering in Select stylesheet
  packages/css/src/components/select/select.scss
Due: prettier --check, stylelint --allow-empty-input

fix(Date Input, Select, Time Input): Use correct colors for icons (#2020)
  packages-proprietary/tokens/src/components/ams/date-input.tokens.json
  packages-proprietary/tokens/src/components/ams/select.tokens.json
  packages-proprietary/tokens/src/components/ams/time-input.tokens.json
  packages/css/src/components/select/select.scss
  storybook/src/styles/overrides.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Accordion fix
  packages/react/figma/Accordion.figma.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@7ad7bcdfbe341ae81f54c70192c307f48fa6288e 🚀
  demo-DES-1269_figma-code-connect/7ad7bcdfbe341ae81f54c70192c307f48fa6288e.txt
  demo-DES-1269_figma-code-connect/f8f4fc410ca374beb1b3e1c456c32931d744936b.txt
  demo-DES-1269_figma-code-connect/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Prevent a disabled textarea from getting a hover state
  packages/css/src/components/text-area/text-area.scss
Due: prettier --check, stylelint --allow-empty-input

Use heading level 2 for brandname in compact theme
  packages-proprietary/tokens/src/components/ams/page-header.compact.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix class name
  packages/css/src/components/text-area/text-area.scss
Due: prettier --check, stylelint --allow-empty-input

Update packages/css/src/components/aspect-ratio/README.md
  packages/css/src/components/aspect-ratio/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Page Header): Show logo link in `LinkText` system color in forced colors mode (#2024)
  packages/css/src/components/page-header/page-header.scss
Due: prettier --check, stylelint --allow-empty-input

chore: Update README and AppIcons to enforce aspect ratio class on images (#2031)
  packages/css/src/components/aspect-ratio/README.md
  storybook/src/docs/components/AppIcons.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check
