Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

feat(Image): Add imageFit prop
  packages/css/src/components/image/image.scss
  packages/react/src/Image/Image.test.tsx
  packages/react/src/Image/Image.tsx
  storybook/src/components/Image/Image.docs.mdx
  storybook/src/components/Image/Image.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore(deps-dev): Upgrade ESLint to version 10 (#2985)
  eslint.config.mjs
  package.json
  packages/react/eslint.config-partial.mjs
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

test(Image): Fix vacuous visual test by adding vertical image
  storybook/src/components/Image/Image.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(Image): Clarify and improve texts
  storybook/src/components/Image/Image.docs.mdx
  storybook/src/components/Image/Image.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(Image): Add imageFit default & reuse TS options
  packages/react/src/Image/Image.tsx
  storybook/src/components/Image/Image.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

refactor(Image): Rename imageFit prop to objectProp
  packages/react/src/Image/Image.test.tsx
  packages/react/src/Image/Image.tsx
  storybook/src/components/Image/Image.docs.mdx
  storybook/src/components/Image/Image.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Card): Give the image its own default aspect ratio
  packages-proprietary/tokens/src/components/ams/card.tokens.json
  packages/css/src/components/card/card.scss
  packages/react/src/Card/CardImage.test.tsx
  packages/react/src/Card/CardImage.tsx
  packages/react/src/Card/index.ts
  storybook/src/components/Card/Card.docs.mdx
  storybook/src/components/Card/Card.stories.tsx
  storybook/src/components/Card/Card.test.stories.tsx
  storybook/src/components/Card/CardImage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

docs(Image): Use “image” instead of “source”
  storybook/src/components/Card/Card.docs.mdx
  storybook/src/components/Card/Card.stories.tsx
  storybook/src/components/Card/Card.test.stories.tsx
  storybook/src/components/Card/CardImage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Image): Rename objectFit to fit
  packages/css/src/components/image/image.scss
  packages/react/src/Image/Image.test.tsx
  packages/react/src/Image/Image.tsx
  storybook/src/components/Image/Image.docs.mdx
  storybook/src/components/Image/Image.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(Image): Add fit contain option
  packages/css/src/components/image/image.scss
  packages/react/src/Image/Image.test.tsx
  packages/react/src/Image/Image.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore(Storybook): Add fit examples for Image
  storybook/src/components/Image/Image.stories.tsx
  storybook/src/components/Image/Image.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(Image): Describe fit behavior
  storybook/src/components/Image/Image.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs: Use ‘image’ instead of ‘source’
  storybook/src/components/Image/Image.docs.mdx
  storybook/src/components/Image/Image.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs: Demonstrate what fit contain does
  storybook/src/components/Image/Image.docs.mdx
  storybook/src/components/Image/Image.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove Review story and changed review button to something more generic.
  storybook/src/pages/internal/DetailPage/DetailPage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update lockfile after Storybook dependency cleanup
  pnpm-lock.yaml
  storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Remove review remark UI from detail page components
  storybook/src/pages/internal/DetailPage/ObjectInformationDescriptionList.tsx
  storybook/src/pages/internal/DetailPage/ObjectInformationTable.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove unused useMediaQuery hook from DetailPage
  storybook/src/pages/internal/DetailPage/useMediaQuery.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add WithFilters variant to TablePage storybook
  storybook/src/pages/internal/TablePage/TablePage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add table filter panel example and docs guidance
  storybook/src/pages/internal/TablePage/TablePage.docs.mdx
  storybook/src/pages/internal/TablePage/TablePage.stories.tsx
  storybook/src/pages/internal/TablePage/common/AddressTableFilters.tsx
  storybook/src/pages/internal/TablePage/common/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check
