Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Move token to section where it is being used
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
  packages/css/src/components/progress-list/progress-list.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Rename last-step to last-child in tokens
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
  packages/css/src/components/progress-list/progress-list.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Remove circular- and layout- from mixins
  packages/css/src/components/progress-list/progress-list.scss
Due: prettier --check, stylelint --allow-empty-input

Combine border/outlines into one line
  packages/css/src/components/progress-list/progress-list.scss
Due: prettier --check, stylelint --allow-empty-input

Remove context from ImageSliderControls
  packages/react/src/ImageSlider/ImageSlider.tsx
  packages/react/src/ImageSlider/ImageSliderControls.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update CHANGELOG
  packages/css/CHANGELOG.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update CHANGELOG
  packages/react/CHANGELOG.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update CHANGELOG
  packages-proprietary/assets/CHANGELOG.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update CHANGELOG
  packages-proprietary/react-icons/CHANGELOG.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update CHANGELOG
  packages-proprietary/tokens/CHANGELOG.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove ImageSliderItem subcomponent
  packages/react/src/ImageSlider/ImageSlider.tsx
  packages/react/src/ImageSlider/ImageSliderItem.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove context from ImageSliderThumbnails
  packages/react/src/ImageSlider/ImageSlider.tsx
  packages/react/src/ImageSlider/ImageSliderItem.test.tsx
  packages/react/src/ImageSlider/ImageSliderThumbnails.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove ImageSliderContext
  packages/react/src/ImageSlider/ImageSlider.tsx
  packages/react/src/ImageSlider/ImageSliderContext.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove ImageSliderScroller subcomponent
  packages/react/src/ImageSlider/ImageSlider.tsx
  packages/react/src/ImageSlider/ImageSliderScroller.test.tsx
  packages/react/src/ImageSlider/ImageSliderScroller.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Simplify ImageSliderThumbnails
  packages/react/src/ImageSlider/ImageSliderThumbnails.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove unused tabindex
  packages/react/src/ImageSlider/ImageSlider.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove ImageSliderControls subcomponent
  packages/react/src/ImageSlider/ImageSlider.tsx
  packages/react/src/ImageSlider/ImageSliderControl.tsx
  packages/react/src/ImageSlider/ImageSliderControls.test.tsx
  packages/react/src/ImageSlider/ImageSliderControls.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Move z-index to mixin
  packages/css/src/components/progress-list/progress-list.scss
Due: prettier --check, stylelint --allow-empty-input

Remove unnecessary callbacks and memo's
  packages/react/src/ImageSlider/ImageSlider.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Simplify ImageSlider component and functions
  packages/react/src/ImageSlider/ImageSlider.tsx
  packages/react/src/ImageSlider/ImageSliderThumbnails.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Simplify observer cleanup
  packages/react/src/ImageSlider/ImageSlider.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove unnecessary check
  packages/react/src/ImageSlider/ImageSlider.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@2fb7111eb066fc2974c0b52f69f7a5a917618ca7 🚀
  demo-develop/2fb7111eb066fc2974c0b52f69f7a5a917618ca7.txt
  demo-develop/3995522164dc45cb488d49a4c578f198176820e1.txt
  demo-develop/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

poc: Add current mega menu to example pages
  storybook/src/pages/public/common/AppHeader.tsx
  storybook/src/pages/public/common/menu.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
