Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(Storybook): Highlight the search term on the Search Results Page (#2905)
  storybook/src/components/Mark/Mark.docs.mdx
  storybook/src/components/Mark/Mark.stories.tsx
  storybook/src/pages/public/LoadingPage/LoadingPage.docs.mdx
  storybook/src/pages/public/SearchResultsPage/SearchResultsPage.docs.mdx
  storybook/src/pages/public/SearchResultsPage/SearchResultsPage.stories.tsx
  storybook/src/pages/public/SearchResultsPage/data.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix sentence
  storybook/src/components/PageHeader/PageHeader.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Fail a test story whose variant matrix lost an axis (#2907)
  storybook/AGENTS.md
  storybook/src/_common/buildVariantMatrix.test.ts
  storybook/src/_common/buildVariantMatrix.ts
  storybook/src/components/Calendar/Calendar.test.stories.tsx
  storybook/src/components/DatePicker/DatePicker.test.stories.tsx
  storybook/src/components/Logo/Logo.test.stories.tsx
  storybook/src/components/PageHeader/PageHeader.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Downgrade publiccode.yml to version 0.5
  publiccode.yml
Due: none

feat(Metadata): Document the Metadata component
  storybook/AGENTS.md
  storybook/src/components/Metadata/Metadata.docs.mdx
  storybook/src/components/Metadata/Metadata.stories.tsx
  storybook/src/components/Metadata/Metadata.test.stories.tsx
  storybook/src/docs/introduction.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Metadata): Add the Metadata component
  packages-proprietary/tokens/src/components/ams/metadata.tokens.json
  packages/css/src/components/index.scss
  packages/css/src/components/metadata/metadata.scss
  packages/react/src/Metadata/Metadata.test.tsx
  packages/react/src/Metadata/Metadata.tsx
  packages/react/src/Metadata/MetadataItem.test.tsx
  packages/react/src/Metadata/MetadataItem.tsx
  packages/react/src/Metadata/index.ts
  packages/react/src/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(Prose): Space a Metadata the way a metadata Paragraph was spaced
  packages/css/src/components/prose/prose.scss
Due: prettier --check, stylelint --allow-empty-input

feat(Storybook): Use Metadata in the page templates and stories
  storybook/src/components/Card/Card.stories.tsx
  storybook/src/components/Mark/Mark.stories.tsx
  storybook/src/components/Paragraph/Paragraph.docs.mdx
  storybook/src/docs/designer-guide/vertical-space.docs.mdx
  storybook/src/pages/guidelines/layout-and-spacing.docs.mdx
  storybook/src/pages/public/ArticlePage/ArticlePage.docs.mdx
  storybook/src/pages/public/ArticlePage/ArticlePage.stories.tsx
  storybook/src/pages/public/InformationPage/InformationPage.docs.mdx
  storybook/src/pages/public/InformationPage/InformationPage.stories.tsx
  storybook/src/pages/public/NewsOverviewPage/NewsOverviewPage.stories.tsx
  storybook/src/pages/public/SearchResultsPage/SearchResultsPage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Correct the component category list and the docs template
  plop-templates/storybook.docs.mdx.hbs
  storybook/AGENTS.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Stop describing the metadata line as a Paragraph
  storybook/src/docs/designer-guide/vertical-space.docs.mdx
  storybook/src/pages/public/InformationPage/InformationPage.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Metadata): Drop the box-sizing declaration, which has no effect
  packages/css/src/components/metadata/metadata.scss
Due: prettier --check, stylelint --allow-empty-input

feat(Metadata): Separate kinds of metadata with a Separator
  packages/css/src/components/metadata/metadata.scss
  packages/react/src/Metadata/Metadata.test.tsx
  packages/react/src/Metadata/Metadata.tsx
  packages/react/src/Metadata/MetadataItem.test.tsx
  packages/react/src/Metadata/MetadataItem.tsx
  packages/react/src/Metadata/MetadataSeparator.test.tsx
  packages/react/src/Metadata/MetadataSeparator.tsx
  packages/react/src/Metadata/index.ts
  storybook/src/components/Card/Card.stories.tsx
  storybook/src/components/Mark/Mark.stories.tsx
  storybook/src/components/Metadata/Metadata.docs.mdx
  storybook/src/components/Metadata/Metadata.stories.tsx
  storybook/src/docs/designer-guide/vertical-space.docs.mdx
  storybook/src/pages/public/ArticlePage/ArticlePage.stories.tsx
  storybook/src/pages/public/InformationPage/InformationPage.docs.mdx
  storybook/src/pages/public/InformationPage/InformationPage.stories.tsx
  storybook/src/pages/public/NewsOverviewPage/NewsOverviewPage.stories.tsx
  storybook/src/pages/public/SearchResultsPage/SearchResultsPage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore(docs): Require copied text to paste as readable text
  documentation/definition-of-done.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Correct what the Metadata separator does for a screen reader
  storybook/src/components/Metadata/Metadata.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Tighten the Metadata prose
  storybook/src/components/Metadata/Metadata.docs.mdx
  storybook/src/pages/public/ArticlePage/ArticlePage.stories.tsx
  storybook/src/pages/public/InformationPage/InformationPage.docs.mdx
  storybook/src/pages/public/NewsOverviewPage/NewsOverviewPage.stories.tsx
  storybook/src/pages/public/SearchResultsPage/SearchResultsPage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Metadata): Add the Metadata component (#2912)
  documentation/definition-of-done.md
  packages-proprietary/tokens/src/components/ams/metadata.tokens.json
  packages/css/src/components/index.scss
  packages/css/src/components/metadata/metadata.scss
  packages/css/src/components/prose/prose.scss
  packages/react/src/Metadata/Metadata.test.tsx
  packages/react/src/Metadata/Metadata.tsx
  packages/react/src/Metadata/MetadataSeparator.test.tsx
  packages/react/src/Metadata/MetadataSeparator.tsx
  packages/react/src/Metadata/index.ts
  packages/react/src/index.ts
  plop-templates/storybook.docs.mdx.hbs
  storybook/AGENTS.md
  storybook/src/components/Card/Card.stories.tsx
  storybook/src/components/Mark/Mark.stories.tsx
  storybook/src/components/Metadata/Metadata.docs.mdx
  storybook/src/components/Metadata/Metadata.stories.tsx
  storybook/src/components/Metadata/Metadata.test.stories.tsx
  storybook/src/components/Paragraph/Paragraph.docs.mdx
  storybook/src/docs/designer-guide/vertical-space.docs.mdx
  storybook/src/docs/introduction.docs.mdx
  storybook/src/pages/guidelines/layout-and-spacing.docs.mdx
  storybook/src/pages/public/ArticlePage/ArticlePage.docs.mdx
  storybook/src/pages/public/ArticlePage/ArticlePage.stories.tsx
  storybook/src/pages/public/InformationPage/InformationPage.docs.mdx
  storybook/src/pages/public/InformationPage/InformationPage.stories.tsx
  storybook/src/pages/public/NewsOverviewPage/NewsOverviewPage.stories.tsx
  storybook/src/pages/public/SearchResultsPage/SearchResultsPage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(Card): Let a Heading Group take a Metadata child
  packages/react/src/Card/CardHeadingGroup.test.tsx
  packages/react/src/Card/CardHeadingGroup.tsx
  storybook/src/components/Card/CardHeadingGroup.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Storybook): Compose Card metadata from a Metadata child
  storybook/src/components/Card/Card.docs.mdx
  storybook/src/components/Card/Card.stories.tsx
  storybook/src/components/Card/Card.test.stories.tsx
  storybook/src/components/Mark/Mark.stories.tsx
  storybook/src/pages/public/ArticlePage/ArticlePage.stories.tsx
  storybook/src/pages/public/HomePage/HomePage.stories.tsx
  storybook/src/pages/public/NewsOverviewPage/NewsOverviewPage.stories.tsx
  storybook/src/pages/public/SearchResultsPage/SearchResultsPage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Storybook): Import Card and Metadata from the same entrypoint
  packages/react/src/Card/CardHeadingGroup.test.tsx
  storybook/src/components/Card/Card.stories.tsx
  storybook/src/components/Card/Card.test.stories.tsx
  storybook/src/components/Card/CardHeadingGroup.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
