Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

fix(Image): Set inline size to 100%
  packages/css/src/components/image/image.scss
Due: prettier --check, stylelint --allow-empty-input

fix(Image): Set inline size to 100% (#2045)
  packages/css/src/components/image/image.scss
Due: prettier --check, stylelint --allow-empty-input

feat!: Use border property for borders and box shadows only for hovers (#1998)
  packages-proprietary/tokens/src/brand/ams/focus.tokens.json
  packages-proprietary/tokens/src/components/ams/alert.tokens.json
  packages-proprietary/tokens/src/components/ams/avatar.tokens.json
  packages-proprietary/tokens/src/components/ams/button.tokens.json
  packages-proprietary/tokens/src/components/ams/date-input.tokens.json
  packages-proprietary/tokens/src/components/ams/dialog.tokens.json
  packages-proprietary/tokens/src/components/ams/file-input.tokens.json
  packages-proprietary/tokens/src/components/ams/password-input.tokens.json
  packages-proprietary/tokens/src/components/ams/search-field.tokens.json
  packages-proprietary/tokens/src/components/ams/select.tokens.json
  packages-proprietary/tokens/src/components/ams/switch.tokens.json
  packages-proprietary/tokens/src/components/ams/tabs.tokens.json
  packages-proprietary/tokens/src/components/ams/text-area.tokens.json
  packages-proprietary/tokens/src/components/ams/text-input.tokens.json
  packages-proprietary/tokens/src/components/ams/time-input.tokens.json
  packages/css/src/components/alert/alert.scss
  packages/css/src/components/avatar/avatar.scss
  packages/css/src/components/button/button.scss
  packages/css/src/components/date-input/date-input.scss
  packages/css/src/components/dialog/dialog.scss
  packages/css/src/components/file-input/file-input.scss
  packages/css/src/components/password-input/password-input.scss
  packages/css/src/components/search-field/search-field.scss
  packages/css/src/components/select/select.scss
  packages/css/src/components/text-area/text-area.scss
  packages/css/src/components/text-input/text-input.scss
  packages/css/src/components/time-input/time-input.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Add line-height for brand-name in tokens and SCSS
  packages-proprietary/tokens/src/components/ams/page-header.compact.tokens.json
  packages-proprietary/tokens/src/components/ams/page-header.tokens.json
  packages/css/src/components/page-header/page-header.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Remove lineheight from compact tokens
  packages-proprietary/tokens/src/components/ams/page-header.compact.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix: swap IconButton with Button w/ iconOnly
  packages/react/src/ImageSlider/ImageSliderControls.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

refactor: mobile-first display
  packages/css/src/components/image-slider/image-slider.scss
Due: prettier --check, stylelint --allow-empty-input

fix: remove pointer media-query
  packages/css/src/components/image-slider/image-slider.scss
Due: prettier --check, stylelint --allow-empty-input

revert: do not move to mobile-first
  packages/css/src/components/image-slider/image-slider.scss
Due: prettier --check, stylelint --allow-empty-input

poc: Add example template for News Index
  packages/css/src/components/card/card.scss
  storybook/src/pages/amsterdam/NewsIndexPage/NewsIndexPage.docs.mdx
  storybook/src/pages/amsterdam/NewsIndexPage/NewsIndexPage.stories.tsx
  storybook/src/pages/amsterdam/NewsIndexPage/NewsIndexPage.tsx
  storybook/src/pages/amsterdam/NewsIndexPage/content.ts
  storybook/src/pages/amsterdam/NewsIndexPage/utils.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat: conditional pointer buttons
  packages/css/src/components/image-slider/image-slider.scss
Due: prettier --check, stylelint --allow-empty-input

fix(Image Slider): Use regular buttons for navigation controls (#2046)
  packages/react/src/ImageSlider/ImageSliderControls.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add logo link component prop
  packages/react/src/PageHeader/PageHeader.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add docs
  storybook/src/components/Header/PageHeader.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update custom link docs
  storybook/src/components/Header/PageHeader.docs.mdx
  storybook/src/components/Pagination/Pagination.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add test
  packages/react/src/PageHeader/PageHeader.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@1cf950a8f3664df16ad9814078bcd2404696d129 🚀
  demo-DES-1107-add-logo-link-component-prop/1cf950a8f3664df16ad9814078bcd2404696d129.txt
  demo-DES-1107-add-logo-link-component-prop/75369bcd8f9a71f67bc3b63f629bc59db730d97c.txt
  demo-DES-1107-add-logo-link-component-prop/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

WIP: storybook backgrounds
  storybook/config/main.ts
  storybook/config/preview.tsx
  storybook/package.json
  storybook/src/components/LinkList/LinkList.stories.tsx
  storybook/src/styles/docs.css
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(Page Header): Allow a custom link component for the logo link (#2047)
  packages/react/src/PageHeader/PageHeader.test.tsx
  packages/react/src/PageHeader/PageHeader.tsx
  storybook/src/components/Header/PageHeader.docs.mdx
  storybook/src/components/Pagination/Pagination.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check
