Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

test: Ensure that icon gets rendered
  packages/react/src/PageHeader/PageHeaderMenuLink.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs: Mention the icon option in the guidelines
  packages/css/src/components/page-header/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Improve formatting of grid areas declaration
  packages/css/src/components/page/page.scss
Due: prettier --check, stylelint --allow-empty-input

Refer to internal home page example from Menu docs
  storybook/src/components/Menu/Menu.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix skip link target
  storybook/src/pages/applications/common/Layout.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Apply application layout to application pages
  storybook/config/preview.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove deprecated color prop for Menu Item
  storybook/src/components/Page/Page.stories.tsx
  storybook/src/pages/applications/common/MenuWithItems.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update documentation for website home page
  storybook/src/pages/amsterdam/HomePage/HomePage.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add documentation for application home page
  storybook/src/pages/internal/HomePage/HomePage.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Ensure visibility of focused Skip Link in grid
  packages/css/src/components/page/page.scss
Due: prettier --check, stylelint --allow-empty-input

Increase vertical gap between wrapping Footer Menu items
  packages-proprietary/tokens/src/components/ams/page-footer.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add application layout option to Page
  packages-proprietary/tokens/src/components/ams/page.tokens.json
  packages/css/src/components/page/README.md
  packages/css/src/components/page/page.scss
  packages/react/src/Page/Page.tsx
  storybook/src/components/Page/Page.docs.mdx
  storybook/src/components/Page/Page.stories.tsx
  storybook/src/styles/docs.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Visually align Skip Link with end margin of Grid
  packages-proprietary/tokens/src/components/ams/page.tokens.json
  packages/css/src/components/page/page.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Use classes to place components in grid areas of Page
  packages/css/src/components/page/page.scss
  storybook/src/components/Page/Page.docs.mdx
  storybook/src/components/Page/Page.stories.tsx
  storybook/src/pages/applications/common/Layout.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Add initial example of application home page
  storybook/src/components/Page/Page.docs.mdx
  storybook/src/pages/applications/HomePage/HomePage.docs.mdx
  storybook/src/pages/applications/HomePage/HomePage.stories.tsx
  storybook/src/pages/applications/HomePage/HomePage.tsx
  storybook/src/pages/applications/common/Layout.tsx
  storybook/src/pages/applications/common/MenuWithItems.tsx
  storybook/src/pages/applications/common/config.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Increase vertical gap between Page Header content and collapsible menu
  packages-proprietary/tokens/src/components/ams/page-header.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Rename directory accordingly
  storybook/src/pages/internal/HomePage/HomePage.docs.mdx
  storybook/src/pages/internal/HomePage/HomePage.stories.tsx
  storybook/src/pages/internal/HomePage/HomePage.tsx
  storybook/src/pages/internal/common/Layout.tsx
  storybook/src/pages/internal/common/MenuWithItems.tsx
  storybook/src/pages/internal/common/config.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Reorder props due to changed perfectionist config
  packages/react/src/Page/Page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add introduction page for Internal applications
  storybook/config/preview.tsx
  storybook/src/pages/internal/Introduction.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Rename ‘Application’ to ‘Internal’ in Storybook toc
  storybook/config/preview.tsx
  storybook/src/pages/applications/HomePage/HomePage.docs.mdx
  storybook/src/pages/applications/HomePage/HomePage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Refactor `layout` prop to `hasMenu`
  packages-proprietary/tokens/src/components/ams/page.tokens.json
  packages/css/src/components/page/page.scss
  packages/react/src/Page/Page.tsx
  storybook/config/preview.tsx
  storybook/src/components/Page/Page.docs.mdx
  storybook/src/components/Page/Page.stories.tsx
  storybook/src/pages/internal/HomePage/HomePage.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Fix prop type
  storybook/src/components/Page/Page.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Mention required classes in prop description
  packages/react/src/Page/Page.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Revert unnecessary change to footer gap
  packages-proprietary/tokens/src/components/ams/page-footer.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Added max-inline-size for an image in avatar to prevent warping in safari
  packages/css/src/components/avatar/avatar.scss
Due: prettier --check, stylelint --allow-empty-input

Finalise documentation
  packages/css/src/components/menu/README.md
  packages/css/src/components/page/README.md
  packages/react/src/Menu/MenuLink.tsx
  packages/react/src/Page/Page.tsx
  storybook/src/components/Page/Page.stories.tsx
  storybook/src/pages/internal/HomePage/HomePage.docs.mdx
  storybook/src/pages/internal/Introduction.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

PR Feedback
  storybook/src/components/Alert/Alert.test.stories.tsx
  storybook/src/components/FileList/FileList.test.stories.tsx
  storybook/src/components/Tabs/Tabs.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Revert change to header gap for now as well
  packages-proprietary/tokens/src/components/ams/page-header.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check
