Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

docs: adjust to new reality
  packages/css/src/components/description-list/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

refactor: token is only for 1st of consecutive
  packages-proprietary/tokens/src/components/ams/description-list.tokens.json
  packages/css/src/components/description-list/description-list.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Improve contribution docs on unit tests
  CONTRIBUTING.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Revert "Add Vitest addon for Storybook"
  pnpm-lock.yaml
  storybook/config/main.ts
  storybook/config/preview.tsx
  storybook/config/vitest.setup.ts
  storybook/package.json
  storybook/vite.config.ts
  storybook/vitest.shims.d.ts
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Revert "chore(storybook): add test script to run Vitest story tests"
  storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Revert "ci: install Playwright browsers before running tests"
  .github/workflows/lint-test.yml
Due: none

Update Storybook packages once more
  package.json
  pnpm-lock.yaml
  storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

docs: clarify that coverage is only reported for pnpm test, not watch mode
  CONTRIBUTING.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(react): include vitest.setup.ts in tsconfig to apply jest-dom types
  packages/react/tsconfig.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(react): exclude vitest.setup.ts from tsconfig.build.json
  packages/react/tsconfig.build.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Simplify handling of timers
  packages/react/src/ImageSlider/utils/debounce.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Page Header): Add short brand name for narrow viewport
  packages/css/src/components/page-header/README.md
  packages/css/src/components/page-header/page-header.scss
  packages/react/src/PageHeader/PageHeader.tsx
  storybook/src/components/PageHeader/PageHeader.docs.mdx
  storybook/src/components/PageHeader/PageHeader.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix(useEffect): add missing dep
  packages/react/src/PageHeader/PageHeader.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

refactor: rename comp to match prop
  packages/react/src/PageHeader/PageHeader.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Image Slider): Allow adding captions to images (#2436)
  packages-proprietary/tokens/src/components/ams/image-slider.tokens.json
  packages/css/src/components/image-slider/image-slider.scss
  packages/react/src/ImageSlider/ImageSlider.tsx
  packages/react/src/ImageSlider/ImageSliderSlide.test.tsx
  packages/react/src/ImageSlider/ImageSliderSlide.tsx
  storybook/src/components/ImageSlider/ImageSlider.docs.mdx
  storybook/src/components/ImageSlider/ImageSlider.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix: string value
  packages/react/src/PageHeader/PageHeader.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs: clarify short brand name is supplementary
  packages/react/src/PageHeader/PageHeader.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat: add fallback to brandNameShort for dummies
  packages/react/src/PageHeader/PageHeader.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add initial custom instructions for GitHub Copilot
  .github/copilot-instructions.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add generated test instructions
  .github/copilot-instructions.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

doc(copilot): general instructions
  .github/copilot-instructions.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
