Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

docs(Progress List): Note that the deprecated collapsed prop also overrides defaultExpanded
  packages/react/src/ProgressList/ProgressListStep.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Disable the deprecated collapsed controls in the Progress List Step story
  storybook/src/components/ProgressList/ProgressListStep.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Describe handling deprecated props in Storybook stories
  documentation/component-docs.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

refactor(Progress List): Drop the derived isCollapsed in favour of isExpanded
  packages/react/src/ProgressList/ProgressListStep.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Describe handling deprecated props in Storybook stories (#2756)
  documentation/component-docs.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Progress List): Add expanded prop to Step and deprecate collapsed (#2755)
  packages/react/src/ProgressList/ProgressListStep.test.tsx
  packages/react/src/ProgressList/ProgressListStep.tsx
  storybook/src/components/ProgressList/ProgressList.docs.mdx
  storybook/src/components/ProgressList/ProgressList.stories.tsx
  storybook/src/components/ProgressList/ProgressList.test.stories.tsx
  storybook/src/components/ProgressList/ProgressListStep.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Accordion): Add an onToggle callback to Section
  packages/react/src/Accordion/AccordionSection.test.tsx
  packages/react/src/Accordion/AccordionSection.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Add the onToggle action and doc to the Accordion Section
  storybook/src/components/Accordion/Accordion.docs.mdx
  storybook/src/components/Accordion/AccordionSection.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Storybook): Publish only asset folders, not the whole assets package
  storybook/config/main.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Storybook): Add Vitest addon for story tests
  pnpm-lock.yaml
  storybook/AGENTS.md
  storybook/config/main.ts
  storybook/package.json
  storybook/vitest.config.ts
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

feat(Storybook): Add Storybook MCP server for AI agents
  pnpm-lock.yaml
  storybook/AGENTS.md
  storybook/config/main.ts
  storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Scrub machine-specific paths from built output
  storybook/package.json
  storybook/scripts/scrub-absolute-paths.mjs
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore(ci): Publish to Chromatic on main pushes to keep the public MCP endpoint current
  .github/workflows/main-branch-chromatic.yml
Due: none

chore(ci): Align main-branch Chromatic action with repo-standard v18.0.1
  .github/workflows/main-branch-chromatic.yml
Due: none

chore(docs): Document IDE-agnostic MCP setup for AI assistants
  README.md
  storybook/AGENTS.md
  storybook/src/docs/developer-guide/ai-assistance.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Storybook): Import process in the path-scrub script
  storybook/scripts/scrub-absolute-paths.mjs
Due: none

feat(Accordion): Add an onToggle callback to Section (#2758)
  packages/react/src/Accordion/AccordionSection.test.tsx
  packages/react/src/Accordion/AccordionSection.tsx
  storybook/src/components/Accordion/Accordion.docs.mdx
  storybook/src/components/Accordion/AccordionSection.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(ci): Quote the autoAcceptChanges branch name
  .github/workflows/main-branch-chromatic.yml
Due: none

chore(Storybook): Exclude unit tests from the storybook Vitest project
  storybook/vitest.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Remove the build-output path scrub
  storybook/package.json
  storybook/scripts/scrub-absolute-paths.mjs
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore(ci): Format the Chromatic workflow with Prettier
  .github/workflows/main-branch-chromatic.yml
Due: none

chore(ci): Rename the Chromatic workflow to match the deploy convention
  .github/workflows/deploy-production-chromatic.yml
Due: none

chore: Check staged YAML with Prettier
  .nano-staged.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Rename dirname to __dirname in the Vitest config
  storybook/vitest.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
