Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

docs: Use sentence case for internal links to non-component pages
  packages/css/src/components/prose/README.md
  storybook/src/components/Calendar/Calendar.docs.mdx
  storybook/src/components/Column/Column.docs.mdx
  storybook/src/components/DatePicker/DatePicker.docs.mdx
  storybook/src/components/Grid/Grid.docs.mdx
  storybook/src/components/Row/Row.docs.mdx
  storybook/src/docs/release-notes.docs.mdx
  storybook/src/pages/public/ArticlePage/ArticlePage.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(Logo): Replace the sub-brand list with a link to Stijlweb
  storybook/src/components/Logo/Logo.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Use sentence case consistently in the Storybook sidebar and docs (#2802)
  packages/css/src/components/prose/README.md
  storybook/config/manager.js
  storybook/src/brand/design-tokens/aspect-ratio.docs.mdx
  storybook/src/brand/design-tokens/border.docs.mdx
  storybook/src/brand/design-tokens/colour.docs.mdx
  storybook/src/brand/design-tokens/cursor.docs.mdx
  storybook/src/brand/design-tokens/focus.docs.mdx
  storybook/src/brand/design-tokens/inputs.docs.mdx
  storybook/src/brand/design-tokens/links.docs.mdx
  storybook/src/brand/design-tokens/space.docs.mdx
  storybook/src/brand/design-tokens/typography.docs.mdx
  storybook/src/components/Calendar/Calendar.docs.mdx
  storybook/src/components/Column/Column.docs.mdx
  storybook/src/components/DatePicker/DatePicker.docs.mdx
  storybook/src/components/Grid/Grid.docs.mdx
  storybook/src/components/Logo/Logo.docs.mdx
  storybook/src/components/Logo/Logo.stories.tsx
  storybook/src/components/PageFooter/PageFooter.docs.mdx
  storybook/src/components/PageFooter/PageFooter.stories.tsx
  storybook/src/components/Row/Row.docs.mdx
  storybook/src/docs/designer-guide/vertical-space.docs.mdx
  storybook/src/docs/developer-guide/ai-assistance.docs.mdx
  storybook/src/docs/developer-guide/browser-support.docs.mdx
  storybook/src/docs/developer-guide/getting-started.docs.mdx
  storybook/src/docs/developer-guide/interactivity.docs.mdx
  storybook/src/docs/developer-guide/localisation.docs.mdx
  storybook/src/docs/developer-guide/modes.docs.mdx
  storybook/src/docs/developer-guide/release-policy.docs.mdx
  storybook/src/docs/developer-guide/responsive-design.docs.mdx
  storybook/src/docs/developer-guide/routing-libraries.docs.mdx
  storybook/src/docs/developer-guide/spacing.docs.mdx
  storybook/src/docs/developer-guide/usability.docs.mdx
  storybook/src/docs/developer-guide/web-app.docs.mdx
  storybook/src/docs/release-notes.docs.mdx
  storybook/src/docs/terms-of-use/copyright.docs.mdx
  storybook/src/docs/terms-of-use/license.docs.mdx
  storybook/src/pages/public/ArticlePage/ArticlePage.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Add token-aware Stylelint rules for clamped font sizes and font stacks
  .stylelintrc.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  stylelint/README.md
  stylelint/custom-properties.mjs
  stylelint/custom-properties.test.mjs
  stylelint/index.mjs
  stylelint/no-unsafe-clamp-font-size.mjs
  stylelint/package.json
  stylelint/require-system-font-fallback.mjs
  stylelint/rules.test.mjs
  stylelint/values.mjs
  stylelint/values.test.mjs
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore: Add stylelint-plugin-defensive-css with a strict configuration
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
  stylelint/README.md
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore: Add a defensive CSS audit report
  documentation/defensive-css.md
  stylelint/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Add defensive CSS linting with token-aware rules and a full audit (#2803)
  .stylelintrc.json
  documentation/defensive-css.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  stylelint/README.md
  stylelint/custom-properties.mjs
  stylelint/custom-properties.test.mjs
  stylelint/index.mjs
  stylelint/no-unsafe-clamp-font-size.mjs
  stylelint/package.json
  stylelint/require-system-font-fallback.mjs
  stylelint/rules.test.mjs
  stylelint/values.mjs
  stylelint/values.test.mjs
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

fix: Declare background-repeat wherever a background image is set
  .stylelintrc.json
  packages/css/src/components/date-input/date-input.scss
  packages/css/src/components/search-field/search-field.scss
  packages/css/src/components/select/select.scss
  packages/css/src/components/time-input/time-input.scss
  storybook/src/_styles/authoring.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix: Allow grid tracks to shrink below the minimum content size
  .stylelintrc.json
  packages/css/src/components/calendar/calendar.scss
  packages/css/src/components/date-picker/date-picker.scss
  packages/css/src/components/description-list/description-list.scss
  packages/css/src/components/grid/_mixins.scss
  packages/css/src/components/image-slider/image-slider.scss
  packages/css/src/components/page/page.scss
  packages/css/src/components/table-of-contents/table-of-contents.scss
  storybook/src/_components/ColorPalette/color-palette.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix: Guard scroll containers against layout shift and scroll chaining
  .stylelintrc.json
  packages/css/src/components/dialog/dialog.scss
  packages/css/src/components/image-slider/image-slider.scss
  packages/css/src/components/tab-navigation/tab-navigation.scss
  packages/css/src/components/table/table.scss
  packages/css/src/components/tabs/tabs.scss
  storybook/src/_components/DesignTokensTable/design-tokens-table.css
  storybook/src/_styles/authoring.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix(Storybook): Size the grid overlay with dynamic viewport units
  packages/css/src/components/page/page.scss
  storybook/src/_components/GridColumnsGuide/grid-columns-guide.css
Due: prettier --check, stylelint --allow-empty-input

fix: State the wrapping intent of every flex container
  .stylelintrc.json
  packages/css/src/components/accordion/accordion.scss
  packages/css/src/components/alert/alert.scss
  packages/css/src/components/badge/badge.scss
  packages/css/src/components/button/button.scss
  packages/css/src/components/calendar/calendar.scss
  packages/css/src/components/call-to-action-link/call-to-action-link.scss
  packages/css/src/components/checkbox/checkbox.scss
  packages/css/src/components/date-picker/date-picker.scss
  packages/css/src/components/dialog/dialog.scss
  packages/css/src/components/error-message/error-message.scss
  packages/css/src/components/file-list/file-list.scss
  packages/css/src/components/icon-button/icon-button.scss
  packages/css/src/components/icon/icon.scss
  packages/css/src/components/image-slider/image-slider.scss
  packages/css/src/components/link-list/link-list.scss
  packages/css/src/components/page-header/page-header.scss
  packages/css/src/components/pagination/pagination.scss
  packages/css/src/components/progress-list/progress-list.scss
  packages/css/src/components/radio/radio.scss
  packages/css/src/components/row/row.scss
  packages/css/src/components/search-field/search-field.scss
  packages/css/src/components/skeleton/skeleton.scss
  packages/css/src/components/standalone-link/standalone-link.scss
  packages/css/src/components/tab-navigation/tab-navigation.scss
  packages/css/src/components/table-of-contents/table-of-contents.scss
  packages/css/src/components/tabs/tabs.scss
  storybook/src/_components/AppIcon/app-icon.css
  storybook/src/_components/IconGallery/icon-gallery.css
  storybook/src/_components/StatusBadge/status-badge.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix: Hide list markers without removing list semantics in Safari
  .stylelintrc.json
  packages/css/src/common/resets.scss
  storybook/src/_components/InlineList/inline-list.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix: Keep resetting the list marker image and position
  packages/css/src/common/resets.scss
Due: prettier --check, stylelint --allow-empty-input

fix: Resolve the remaining defensive CSS findings with fixes or reasons
  .stylelintrc.json
  packages/css/src/common/input-label-focus.scss
  packages/css/src/components/dialog/dialog.scss
  packages/css/src/components/page-header/page-header.scss
  packages/css/src/components/search-field/search-field.scss
  packages/css/src/components/skeleton/skeleton.scss
  packages/css/src/components/tab-navigation/tab-navigation.scss
  packages/css/src/components/tabs/tabs.scss
  packages/css/src/components/visually-hidden/visually-hidden.scss
  storybook/src/_components/Code/code.css
  storybook/src/_components/ColorPalette/color-palette.css
  storybook/src/_styles/authoring.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix: Apply hover styles on hover-capable devices only
  .stylelintrc.json
  packages/css/src/components/accordion/accordion.scss
  packages/css/src/components/breadcrumb/breadcrumb.scss
  packages/css/src/components/button/button.scss
  packages/css/src/components/calendar/calendar.scss
  packages/css/src/components/call-to-action-link/call-to-action-link.scss
  packages/css/src/components/card/card.scss
  packages/css/src/components/checkbox/checkbox.scss
  packages/css/src/components/date-input/date-input.scss
  packages/css/src/components/date-picker/date-picker.scss
  packages/css/src/components/file-input/file-input.scss
  packages/css/src/components/icon-button/icon-button.scss
  packages/css/src/components/image-slider/image-slider.scss
  packages/css/src/components/link-list/link-list.scss
  packages/css/src/components/link/link.scss
  packages/css/src/components/menu/menu.scss
  packages/css/src/components/page-footer/page-footer.scss
  packages/css/src/components/page-header/page-header.scss
  packages/css/src/components/pagination/pagination.scss
  packages/css/src/components/password-input/password-input.scss
  packages/css/src/components/progress-list/progress-list.scss
  packages/css/src/components/radio/radio.scss
  packages/css/src/components/search-field/search-field.scss
  packages/css/src/components/select/select.scss
  packages/css/src/components/skip-link/skip-link.scss
  packages/css/src/components/standalone-link/standalone-link.scss
  packages/css/src/components/switch/switch.scss
  packages/css/src/components/tab-navigation/tab-navigation.scss
  packages/css/src/components/table-of-contents/table-of-contents.scss
  packages/css/src/components/tabs/tabs.scss
  packages/css/src/components/text-area/text-area.scss
  packages/css/src/components/text-input/text-input.scss
  packages/css/src/components/time-input/time-input.scss
  storybook/src/_styles/docs.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore: Shorten the reasons in the stylelint-disable comments
  packages/css/src/common/input-label-focus.scss
  packages/css/src/components/date-input/date-input.scss
  packages/css/src/components/date-picker/date-picker.scss
  packages/css/src/components/dialog/dialog.scss
  packages/css/src/components/image-slider/image-slider.scss
  packages/css/src/components/page-header/page-header.scss
  packages/css/src/components/page/page.scss
  packages/css/src/components/radio/radio.scss
  packages/css/src/components/select/select.scss
  packages/css/src/components/skeleton/skeleton.scss
  packages/css/src/components/tab-navigation/tab-navigation.scss
  packages/css/src/components/table-of-contents/table-of-contents.scss
  packages/css/src/components/table/table.scss
  packages/css/src/components/tabs/tabs.scss
  packages/css/src/components/time-input/time-input.scss
  packages/css/src/components/visually-hidden/visually-hidden.scss
  storybook/src/_components/Code/code.css
  storybook/src/_components/ColorPalette/color-palette.css
  storybook/src/_components/DesignTokensTable/design-tokens-table.css
Due: prettier --check, stylelint --allow-empty-input

chore: Turn off require-named-grid-lines and record the completed remediation
  .stylelintrc.json
  documentation/defensive-css.md
  stylelint/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Put the audit summary in past tense now that the backlog is gone
  documentation/defensive-css.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Cover file-scoped disables in the plugin README wording
  stylelint/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Add token-aware Stylelint rules for grid tracks, fixed sizes, and list markers
  .stylelintrc.json
  documentation/defensive-css.md
  packages/css/src/components/progress-list/progress-list.scss
  stylelint/README.md
  stylelint/index.mjs
  stylelint/no-fixed-sizes.mjs
  stylelint/no-list-style-none.mjs
  stylelint/require-grid-minmax.mjs
  stylelint/rules.test.mjs
  stylelint/values.mjs
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix(Description List): Let tokenised grid tracks shrink below the minimum content size
  packages-proprietary/tokens/src/components/ams/description-list.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
