Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Remove unused image
  storybook/src/pages/amsterdam/NavigationPage/navigation-page-map.png
Due: none

Remove manual focus from test
  packages/react/src/common/useKeyboardFocus.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Revert changes in test
  packages/react/src/common/useKeyboardFocus.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@f4d2d1165293ac2b9cb57ed415939e107e54add3 🚀
  demo-1909-keyboard-navigation-from-tabs-conflict-with-form-in-panel/df840bbf71d0d82217b8a515ace3fa3ec596f82a.txt
  demo-1909-keyboard-navigation-from-tabs-conflict-with-form-in-panel/f4d2d1165293ac2b9cb57ed415939e107e54add3.txt
  demo-1909-keyboard-navigation-from-tabs-conflict-with-form-in-panel/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Tabs): Do not change active tab when using arrow keys in panel (#1936)
  packages/react/src/Tabs/Tabs.tsx
  packages/react/src/Tabs/TabsList.tsx
  packages/react/src/common/useKeyboardFocus.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add block borders to Row and Column examples
  storybook/src/styles/docs.css
Due: prettier --check, stylelint --allow-empty-input

Clarify Screen example without text and remove extra wide story
  packages/css/src/components/screen/README.md
  storybook/src/components/Screen/Screen.docs.mdx
  storybook/src/components/Screen/Screen.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove text from docs items and size them consistently
  storybook/src/components/Screen/Screen.stories.tsx
  storybook/src/styles/docs.css
  storybook/src/utils/AspectRatio/AspectRatio.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore: Fix Dependabot alerts
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Use Amsterdam Sans in font size examples and add class for bold text
  storybook/src/brand/design-tokens/typography.docs.mdx
  storybook/src/styles/docs.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore: Fix Dependabot alerts (#1950)
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Remove pixel values from line height tables
  storybook/src/brand/design-tokens/typography.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Simplify documentation of Space and Typography tokens (#1946)
  storybook/src/brand/design-tokens/space.docs.mdx
  storybook/src/brand/design-tokens/typography.docs.mdx
  storybook/src/styles/docs.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Don’t mix flex column with aspect ratio, make docs item block size more specific
  storybook/src/styles/docs.css
  storybook/src/utils/AspectRatio/AspectRatio.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Revert changes to column
  packages/css/src/components/column/column.scss
  packages/react/src/Column/Column.test.tsx
  packages/react/src/Column/Column.tsx
  proprietary/tokens/src/components/ams/column.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Tweak sorting and wording
  storybook/src/components/Screen/Screen.docs.mdx
  storybook/src/styles/docs.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Fix pink box in Grid
  storybook/src/styles/docs.css
Due: prettier --check, stylelint --allow-empty-input

Revert changes to Row
  packages/css/src/components/row/row.scss
  packages/react/src/Row/Row.test.tsx
  packages/react/src/Row/Row.tsx
  proprietary/tokens/src/components/ams/row.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Make markup for Cell stories more consistent
  storybook/src/components/Grid/Grid.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix missing key errors
  storybook/src/components/Column/Column.stories.tsx
  storybook/src/components/Row/Row.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Separate Grid args from Grid Cell
  storybook/src/components/Grid/Grid.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
