Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

chore(Storybook): Group authoring helpers into authoring.css
  storybook/config/preview.tsx
  storybook/src/_styles/authoring.css
  storybook/src/_styles/tests.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore(Storybook): Split story-canvas fixes into canvas.css
  storybook/config/preview.tsx
  storybook/src/_styles/canvas.css
  storybook/src/_styles/docs.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore(Storybook): Rename overrides.css to docs.css
  storybook/config/preview.tsx
  storybook/src/_styles/docs.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore(Storybook): Point a comment at the renamed stylesheet
  storybook/src/_common/buildComponentProps.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Move manager-head styles into manager.css
  storybook/config/manager-head.html
  storybook/src/_styles/manager.css
Due: prettier --check, stylelint --allow-empty-input

chore(Storybook): Co-locate the figure helpers with AppIcons
  storybook/src/_components/AppIcons/AppIcons.tsx
  storybook/src/_components/AppIcons/app-icons.css
  storybook/src/_styles/authoring.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore(CI): Build Storybook in the check-build-and-tests gate
  .github/workflows/check-build-and-tests.yml
Due: none

chore(Storybook): Rename the AppIcons helper to app-icon
  storybook/src/_components/AppIcons/AppIcons.tsx
  storybook/src/_components/AppIcons/app-icon.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore(ci): Build Storybook in the check-build-and-tests gate (#2773)
  .github/workflows/check-build-and-tests.yml
Due: none

chore(Storybook): Split AppIcons into per-component files under AppIcon
  storybook/src/_components/AppIcon/AppIcon.test.stories.tsx
  storybook/src/_components/AppIcon/AppleTouchIcon.tsx
  storybook/src/_components/AppIcon/Favicon.tsx
  storybook/src/_components/AppIcon/SvgIcon.tsx
  storybook/src/_components/AppIcon/WebAppIcons.tsx
  storybook/src/_components/AppIcon/app-icon.css
  storybook/src/_components/AppIcons/AppIcons.tsx
  storybook/src/brand/assets/favicon.docs.mdx
  storybook/src/docs/developer-guide/web-app.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore(Storybook): Reorganize the custom stylesheets (#2774)
  storybook/config/manager-head.html
  storybook/config/preview.tsx
  storybook/src/_common/buildComponentProps.ts
  storybook/src/_components/AppIcon/AppIcon.test.stories.tsx
  storybook/src/_components/AppIcon/AppleTouchIcon.tsx
  storybook/src/_components/AppIcon/Favicon.tsx
  storybook/src/_components/AppIcon/SvgIcon.tsx
  storybook/src/_components/AppIcon/WebAppIcons.tsx
  storybook/src/_components/AppIcon/app-icon.css
  storybook/src/_components/AppIcons/AppIcons.tsx
  storybook/src/_styles/authoring.css
  storybook/src/_styles/canvas.css
  storybook/src/_styles/docs.css
  storybook/src/_styles/manager.css
  storybook/src/_styles/overrides.css
  storybook/src/_styles/tests.css
  storybook/src/brand/assets/favicon.docs.mdx
  storybook/src/docs/developer-guide/web-app.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(Storybook): Add Handbook Page template
  storybook/src/pages/public/HandbookPage/HandbookPage.docs.mdx
  storybook/src/pages/public/HandbookPage/HandbookPage.stories.tsx
  storybook/src/pages/public/HandbookPage/pages.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

refactor(Storybook): Let the shared Layout render multiple skip links
  storybook/src/pages/public/common/Layout.tsx
  storybook/src/pages/public/common/config.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Align the stories import in the Handbook Page docs
  storybook/src/pages/public/HandbookPage/HandbookPage.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

refactor(Storybook): Remove a redundant fragment from the Handbook Page story
  storybook/src/pages/public/HandbookPage/HandbookPage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(Storybook): Pluralise the Skip Link reference inside the link text
  storybook/src/pages/public/HandbookPage/HandbookPage.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

refactor(Storybook): Control the Handbook Page Table of Contents expansion
  storybook/src/pages/public/HandbookPage/HandbookPage.docs.mdx
  storybook/src/pages/public/HandbookPage/HandbookPage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Storybook): Add Handbook Page template (#2775)
  storybook/src/pages/public/HandbookPage/HandbookPage.docs.mdx
  storybook/src/pages/public/HandbookPage/HandbookPage.stories.tsx
  storybook/src/pages/public/HandbookPage/pages.ts
  storybook/src/pages/public/common/Layout.tsx
  storybook/src/pages/public/common/config.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(tokens): Correct the fluid scaling viewport range in token descriptions
  packages-proprietary/tokens/src/brand/ams/space.tokens.json
  packages-proprietary/tokens/src/brand/ams/typography.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(tokens): Correct the fluid scaling viewport range in token descriptions (#2778)
  packages-proprietary/tokens/src/brand/ams/space.tokens.json
  packages-proprietary/tokens/src/brand/ams/typography.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check
