Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Update dependencies
  package.json
  packages-proprietary/react-icons/package.json
  packages/react/package.json
  pnpm-lock.yaml
  storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Update chromatic to 15.0.0
  pnpm-lock.yaml
  storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Update stylelint to 17.0.0
  package.json
  pnpm-lock.yaml
  storybook/src/docs/components/code.css
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Update @isaacs/brace-expansion to a non-vulnerable version
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Update tar to a non-vulnerable version
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Update diff to a non-vulnerable version
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Update all packages to their latest versions
  pnpm-lock.yaml
Due: none

chore: Update dependencies (#2407)
  package.json
  packages-proprietary/react-icons/package.json
  packages/react/package.json
  pnpm-lock.yaml
  storybook/package.json
  storybook/src/docs/components/code.css
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Move generic mixins to top of file
  packages/css/src/components/page-header/page-header.scss
Due: prettier --check, stylelint --allow-empty-input

Call reset mixin first
  packages/css/src/components/page-header/page-header.scss
Due: prettier --check, stylelint --allow-empty-input

Make mega menu button blue
  packages-proprietary/tokens/src/components/ams/page-header.tokens.json
  packages/css/src/components/page-header/page-header.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Rename item color to link color and deprecate token
  packages-proprietary/tokens/src/components/ams/page-header.tokens.json
  packages/css/src/components/page-header/page-header.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore: Remove vitest
  pnpm-lock.yaml
  storybook/config/main.ts
  storybook/config/preview.tsx
  storybook/config/vitest.setup.ts
  storybook/package.json
  storybook/vite.config.ts
  storybook/vitest.shims.d.ts
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Fix samples of background colours in docs
  storybook/src/brand/design-tokens/colour.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Hide example for compact Page as its affects the spacious one
  storybook/src/components/Page/Page.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Make Page Footer cell transparent for Compact appearance
  storybook/src/components/Page/Page.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Revert adding mixin if it’s empty anyway
  packages/css/src/components/grid/_mixins.scss
  packages/css/src/components/grid/grid.scss
Due: prettier --check, stylelint --allow-empty-input

Apply suggestions from code review
  storybook/src/components/Grid/Grid.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

First part of update
  documentation/definition-of-done.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add compact body tokens
  packages-proprietary/tokens/src/components/ams/body.compact.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix writing in docs
  packages/css/README.md
  storybook/src/components/Grid/Grid.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use DTCG format for new tokens
  packages-proprietary/tokens/src/components/ams/body.compact.tokens.json
  packages-proprietary/tokens/src/components/ams/body.tokens.json
  packages-proprietary/tokens/src/components/ams/page.compact.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix merge
  packages-proprietary/tokens/src/components/ams/grid.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

TabsPage with progressively fetched table data
  storybook/src/pages/internal/TabsPage/TabsPage.docs.mdx
  storybook/src/pages/internal/TabsPage/TabsPage.stories.tsx
  storybook/src/pages/internal/TabsPage/TabsPage.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
