Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Restore old icons in progress
  packages-proprietary/assets/icons/Announcement.svg
  packages-proprietary/assets/icons/Broom.svg
  packages-proprietary/assets/icons/Data.svg
  packages-proprietary/assets/icons/HandEuroCoin.svg
  packages-proprietary/assets/icons/MarketStall.svg
  packages-proprietary/assets/icons/Pano.svg
  packages-proprietary/assets/icons/PersonDesk.svg
  packages-proprietary/assets/icons/Plane.svg
  packages-proprietary/assets/icons/Religion.svg
  packages-proprietary/assets/icons/Vote.svg
  storybook/src/components/ErrorMessage/ErrorMessage.stories.tsx
  storybook/src/components/UnorderedList/UnorderedList.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix merge
  packages-proprietary/tokens/src/components/ams/header.tokens.json
  packages-proprietary/tokens/src/components/ams/page-header.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix tokens
  packages/css/src/components/page-header/page-header.scss
Due: prettier --check, stylelint --allow-empty-input

Remove wide tokens as they are equal to the medium ones
  packages-proprietary/tokens/src/components/ams/dialog.tokens.json
  packages/css/src/components/dialog/dialog.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix(Page Header): Restore alignment with edges of Grid (#1976)
  packages-proprietary/tokens/src/components/ams/header.tokens.json
  packages-proprietary/tokens/src/components/ams/page-header.tokens.json
  packages/css/src/components/page-header/page-header.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(Dialog): Decrease amounts of inner and outer whitespace (#1975)
  packages-proprietary/tokens/src/components/ams/dialog.tokens.json
  packages/css/src/components/dialog/dialog.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Fix token
  packages/css/src/components/page-header/page-header.scss
Due: prettier --check, stylelint --allow-empty-input

Center align SVG in Icon
  packages/css/src/components/icon/icon.scss
Due: prettier --check, stylelint --allow-empty-input

fix(Icon): Center align SVG (#1978)
  packages/css/src/components/icon/icon.scss
Due: prettier --check, stylelint --allow-empty-input

Sort token correctly
  packages-proprietary/tokens/src/components/ams/page-heading.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat: Balance text wrapping in all kinds of Headings (#1968)
  packages-proprietary/tokens/src/brand/ams/typography.tokens.json
  packages-proprietary/tokens/src/components/ams/accordion.tokens.json
  packages-proprietary/tokens/src/components/ams/field-set.tokens.json
  packages-proprietary/tokens/src/components/ams/heading.tokens.json
  packages-proprietary/tokens/src/components/ams/label.tokens.json
  packages-proprietary/tokens/src/components/ams/page-header.tokens.json
  packages-proprietary/tokens/src/components/ams/page-heading.tokens.json
  packages-proprietary/tokens/src/components/ams/top-task-link.tokens.json
  packages/css/src/components/accordion/accordion.scss
  packages/css/src/components/field-set/field-set.scss
  packages/css/src/components/heading/heading.scss
  packages/css/src/components/label/label.scss
  packages/css/src/components/page-header/page-header.scss
  packages/css/src/components/page-heading/page-heading.scss
  packages/css/src/components/top-task-link/top-task-link.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Add Standalone Link
  packages-proprietary/tokens/src/components/ams/standalone-link.tokens.json
  packages/css/src/components/index.scss
  packages/css/src/components/standalone-link/README.md
  packages/css/src/components/standalone-link/standalone-link.scss
  packages/react/src/StandaloneLink/README.md
  packages/react/src/StandaloneLink/StandaloneLink.test.tsx
  packages/react/src/StandaloneLink/StandaloneLink.tsx
  packages/react/src/StandaloneLink/index.ts
  packages/react/src/index.ts
  storybook/src/components/StandaloneLink/StandaloneLink.docs.mdx
  storybook/src/components/StandaloneLink/StandaloneLink.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Add docs
  packages/css/src/components/standalone-link/README.md
  storybook/src/components/Link/Link.docs.mdx
  storybook/src/components/StandaloneLink/StandaloneLink.docs.mdx
  storybook/src/components/StandaloneLink/StandaloneLink.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Find replace mistake
  storybook/src/docs/components/IconGallery.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Order import
  packages/css/src/components/index.scss
Due: prettier --check, stylelint --allow-empty-input

Add space between 2 words
  packages/react/src/StandaloneLink/README.md
  packages/react/src/StandaloneLink/StandaloneLink.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check
