Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Merge conflicted files manually
  storybook/src/components/Accordion/Accordion.test.stories.tsx
  storybook/src/components/Alert/Alert.test.stories.tsx
  storybook/src/components/FileList/FileList.test.stories.tsx
  storybook/src/components/ImageSlider/ImageSlider.test.stories.tsx
  storybook/src/components/PageHeader/PageHeader.test.stories.tsx
  storybook/src/components/SearchField/SearchField.test.stories.tsx
  storybook/src/components/Tabs/Tabs.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add missing test ids
  storybook/src/components/Accordion/Accordion.test.stories.tsx
  storybook/src/components/FileList/FileList.test.stories.tsx
  storybook/src/components/Tabs/Tabs.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add paths-ignore to test workflow
  .github/workflows/chromatic.yml
Due: none

Remove .yml from the disallow list (should cause the test run)
  .github/workflows/chromatic.yml
Due: none

Add paths-ignore on the feature branch deploy
  .github/workflows/feature-branch-deploy.yml
Due: none

Add paths-ignore to the lint-test workflow
  .github/workflows/lint-test.yml
Due: none

Deploying to gh-pages from @ Amsterdam/design-system@bedfd41498cb4485cf24281a7609cfab3d7205af 🚀
  demo-exclude-chromatic-test/b424e9cb5b1451bd87b3e820a42a3d2f1a8ea642.txt
  demo-exclude-chromatic-test/bedfd41498cb4485cf24281a7609cfab3d7205af.txt
  demo-exclude-chromatic-test/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update to node 24
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Remove deprecated npm cli option
  .npmrc
Due: none

Use npm trusted publishing instead of npm token
  .github/workflows/publish.yml
Due: none

Update all Figma links to the Community Edition
  CONTRIBUTING.md
  README.md
  packages-proprietary/assets/CONTRIBUTING.md
  packages-proprietary/tokens/README.md
  storybook/src/docs/introduction.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add cooldown period to npm-check-updates
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Render the interactions test on seperate render of the component within the test story
  storybook/src/components/Accordion/Accordion.test.stories.tsx
  storybook/src/components/Alert/Alert.test.stories.tsx
  storybook/src/components/ImageSlider/ImageSlider.test.stories.tsx
  storybook/src/components/PageHeader/PageHeader.test.stories.tsx
  storybook/src/components/SearchField/SearchField.test.stories.tsx
  storybook/src/components/Tabs/Tabs.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update another link
  README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove accidental prop
  storybook/src/components/ImageSlider/ImageSlider.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@a09c46c47c094735369be298282618c57eb7c638 🚀
  demo-DES-1494-link-to-figma-library/7a0cfe7649fddfa71429e12fc960bc30f942cc4f.txt
  demo-DES-1494-link-to-figma-library/a09c46c47c094735369be298282618c57eb7c638.txt
  demo-DES-1494-link-to-figma-library/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Add Baseline browser support documentation (#2260)
  storybook/src/docs/developer-guide/browser-support.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Use npm trusted publishing (#2278)
  .github/workflows/publish.yml
  .npmrc
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Add .yml to the Chromatic.yml
  .github/workflows/chromatic.yml
Due: none

chore: Update all Figma links to the Community Edition (#2277)
  CONTRIBUTING.md
  README.md
  packages-proprietary/assets/CONTRIBUTING.md
  packages-proprietary/tokens/README.md
  storybook/src/docs/introduction.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check
