Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Move relative position on body to docs
  packages/css/src/components/page/page.scss
  storybook/src/styles/overrides.css
Due: prettier --check, stylelint --allow-empty-input

Consolidate examples for Dialog into one
  packages/css/src/components/dialog/README.md
  storybook/src/components/Dialog/Dialog.docs.mdx
  storybook/src/components/Dialog/Dialog.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove obsolete and buggy fake Dialog background
  storybook/src/styles/docs.css
Due: prettier --check, stylelint --allow-empty-input

Remove unnecessary background content
  storybook/src/components/Dialog/Dialog.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Replace all box shadow tokens and styles with borders
  packages-proprietary/tokens/src/components/ams/alert.tokens.json
  packages-proprietary/tokens/src/components/ams/button.tokens.json
  packages-proprietary/tokens/src/components/ams/date-input.tokens.json
  packages-proprietary/tokens/src/components/ams/file-input.tokens.json
  packages-proprietary/tokens/src/components/ams/password-input.tokens.json
  packages-proprietary/tokens/src/components/ams/search-field.tokens.json
  packages-proprietary/tokens/src/components/ams/select.tokens.json
  packages-proprietary/tokens/src/components/ams/switch.tokens.json
  packages-proprietary/tokens/src/components/ams/tabs.tokens.json
  packages-proprietary/tokens/src/components/ams/text-area.tokens.json
  packages-proprietary/tokens/src/components/ams/text-input.tokens.json
  packages-proprietary/tokens/src/components/ams/time-input.tokens.json
  packages/css/src/components/alert/alert.scss
  packages/css/src/components/button/button.scss
  packages/css/src/components/date-input/date-input.scss
  packages/css/src/components/file-input/file-input.scss
  packages/css/src/components/password-input/password-input.scss
  packages/css/src/components/search-field/search-field.scss
  packages/css/src/components/select/select.scss
  packages/css/src/components/switch/switch.scss
  packages/css/src/components/tabs/tabs.scss
  packages/css/src/components/text-area/text-area.scss
  packages/css/src/components/text-input/text-input.scss
  packages/css/src/components/time-input/time-input.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Remove obsolete border resets
  packages/css/src/components/date-input/date-input.scss
  packages/css/src/components/file-input/file-input.scss
  packages/css/src/components/password-input/password-input.scss
  packages/css/src/components/search-field/search-field.scss
  packages/css/src/components/select/select.scss
  packages/css/src/components/text-area/text-area.scss
  packages/css/src/components/text-input/text-input.scss
  packages/css/src/components/time-input/time-input.scss
Due: prettier --check, stylelint --allow-empty-input

Adjust for correct hover appearances
  packages-proprietary/tokens/src/components/ams/button.tokens.json
  packages-proprietary/tokens/src/components/ams/date-input.tokens.json
  packages-proprietary/tokens/src/components/ams/file-input.tokens.json
  packages-proprietary/tokens/src/components/ams/password-input.tokens.json
  packages-proprietary/tokens/src/components/ams/search-field.tokens.json
  packages-proprietary/tokens/src/components/ams/select.tokens.json
  packages-proprietary/tokens/src/components/ams/switch.tokens.json
  packages-proprietary/tokens/src/components/ams/tabs.tokens.json
  packages-proprietary/tokens/src/components/ams/text-area.tokens.json
  packages-proprietary/tokens/src/components/ams/text-input.tokens.json
  packages-proprietary/tokens/src/components/ams/time-input.tokens.json
  packages/css/src/components/button/button.scss
  packages/css/src/components/date-input/date-input.scss
  packages/css/src/components/file-input/file-input.scss
  packages/css/src/components/password-input/password-input.scss
  packages/css/src/components/search-field/search-field.scss
  packages/css/src/components/select/select.scss
  packages/css/src/components/switch/switch.scss
  packages/css/src/components/tabs/tabs.scss
  packages/css/src/components/text-area/text-area.scss
  packages/css/src/components/text-input/text-input.scss
  packages/css/src/components/time-input/time-input.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Adjust outline offset for new border width
  packages-proprietary/tokens/src/brand/ams/focus.tokens.json
  packages-proprietary/tokens/src/components/ams/file-input.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use outline offset token in tabs
  packages-proprietary/tokens/src/components/ams/tabs.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove obsolete borders in forced colors mode
  packages-proprietary/tokens/src/components/ams/alert.tokens.json
  packages-proprietary/tokens/src/components/ams/button.tokens.json
  packages-proprietary/tokens/src/components/ams/file-input.tokens.json
  packages/css/src/components/alert/alert.scss
  packages/css/src/components/button/button.scss
  packages/css/src/components/file-input/file-input.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Add border to Avatar, remove adjustment for forced colors mode
  packages-proprietary/tokens/src/components/ams/avatar.tokens.json
  packages/css/src/components/avatar/avatar.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ Amsterdam/design-system@c5b3d81bae009e879e748730ba30efc840d1e77c 🚀
  demo-develop/3b817d3e09b043321c21a29cbdb7f6ca44140068.txt
  demo-develop/c5b3d81bae009e879e748730ba30efc840d1e77c.txt
  demo-develop/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@7951357f18d28c22984d1e6956bba824889fdc35 🚀
  demo-DES-1210-add-page-component/7951357f18d28c22984d1e6956bba824889fdc35.txt
  demo-DES-1210-add-page-component/a2887b8bc8b50b2d7e89bf0474f23d46307700c9.txt
  demo-DES-1210-add-page-component/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Page): Add Page component (#1982)
  .stylelintrc.json
  packages-proprietary/tokens/src/components/ams/page.tokens.json
  packages/css/src/components/grid/README.md
  packages/css/src/components/image-slider/README.md
  packages/css/src/components/index.scss
  packages/css/src/components/page-footer/README.md
  packages/css/src/components/page/README.md
  packages/css/src/components/page/page.scss
  packages/css/src/components/skip-link/README.md
  packages/css/src/components/spotlight/README.md
  packages/react/src/Page/Page.test.tsx
  packages/react/src/Page/Page.tsx
  packages/react/src/Page/README.md
  packages/react/src/Page/index.ts
  packages/react/src/PageHeader/README.md
  packages/react/src/index.ts
  proprietary/tokens/src/components/ams/page.tokens.json
  storybook/config/preview.tsx
  storybook/src/components/Breakout/Breakout.stories.tsx
  storybook/src/components/Card/Card.docs.mdx
  storybook/src/components/Page/Page.docs.mdx
  storybook/src/components/Page/Page.stories.tsx
  storybook/src/pages/amsterdam/HomePage/HomePage.docs.mdx
  storybook/src/styles/docs.css
  storybook/src/styles/overrides.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ Amsterdam/design-system@b6d435e8c4ee6913d7f874fc25dc65249e0cd04b 🚀
  demo-develop/813033c93be66dabccae3ff5f32484487dffc1aa.txt
  demo-develop/b6d435e8c4ee6913d7f874fc25dc65249e0cd04b.txt
  demo-develop/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Link)!: Remove ‘variant’ prop, make inline the default (#1994)
  packages-proprietary/tokens/src/components/ams/link.tokens.json
  packages/css/src/components/link/README.md
  packages/css/src/components/link/link.scss
  packages/react/src/Link/Link.test.tsx
  packages/react/src/Link/Link.tsx
  storybook/src/components/Alert/Alert.stories.tsx
  storybook/src/components/Link/Link.docs.mdx
  storybook/src/components/Link/Link.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Update for ADS 0.15
  storybook/src/pages/amsterdam/NewsIndexPage/NewsIndexPage.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Improve whitespace in Card
  packages-proprietary/tokens/src/components/ams/card.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix keyboard focus when using disabled buttons in Tabs
  packages/react/src/Tabs/TabsList.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check
