Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

feat(Label): Change design for (optional) hint
  packages-proprietary/tokens/src/components/ams/hint.tokens.json
  packages/css/src/components/hint/hint.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ Amsterdam/design-system@96770b2fd2655d9263278b8e8685398b8774ec42 🚀
  demo-develop/083be4eac76455b80efd365c2248f7282114bddc.txt
  demo-develop/96770b2fd2655d9263278b8e8685398b8774ec42.txt
  demo-develop/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Removal of obsolete icons prior to add renamed
  packages-proprietary/assets/icons/Account.svg
  packages-proprietary/assets/icons/AccountFill.svg
  packages-proprietary/assets/icons/ArrowLeft.svg
  packages-proprietary/assets/icons/ArrowRight.svg
  packages-proprietary/assets/icons/ChevronLeft.svg
  packages-proprietary/assets/icons/ChevronRight.svg
  packages-proprietary/assets/icons/ChevronSorting.svg
  packages-proprietary/assets/icons/ChevronSortingCollapse.svg
  packages-proprietary/assets/icons/ClipboardTaskList.svg
  packages-proprietary/assets/icons/ClipboardTaskListFill.svg
  packages-proprietary/assets/icons/EmojiHappy.svg
  packages-proprietary/assets/icons/EmojiHappyFill.svg
  packages-proprietary/assets/icons/EmojiNeutral.svg
  packages-proprietary/assets/icons/EmojiNeutralFill.svg
  packages-proprietary/assets/icons/EmojiSad.svg
  packages-proprietary/assets/icons/EmojiSadFill.svg
  packages-proprietary/assets/icons/Faq.svg
  packages-proprietary/assets/icons/FaqFill.svg
  packages-proprietary/assets/icons/HousePlant.svg
  packages-proprietary/assets/icons/HousePlantFill.svg
  packages-proprietary/assets/icons/More.svg
  packages-proprietary/assets/icons/Notification.svg
  packages-proprietary/assets/icons/NotificationFill.svg
  packages-proprietary/assets/icons/PlantInHand.svg
  packages-proprietary/assets/icons/PlantInHandFill.svg
  packages-proprietary/assets/icons/Pointer.svg
  packages-proprietary/assets/icons/PointerFill.svg
  packages-proprietary/assets/icons/Power.svg
  packages-proprietary/assets/icons/Question.svg
  packages-proprietary/assets/icons/QuestionFill.svg
  packages-proprietary/assets/icons/SpeechBalloon.svg
  packages-proprietary/assets/icons/SpeechBalloonFill.svg
  packages-proprietary/assets/icons/Spinner.svg
  packages-proprietary/assets/icons/Wifi.svg
Due: none

Add PlaneIcon to deprecated icons list and rename to Airplane
  packages-proprietary/assets/icons/Airplane.svg
  storybook/src/docs/components/IconGallery.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove Ellipsis icon symlink
  packages-proprietary/assets/icons/Ellipsis.svg
Due: none

Add Ellipsis icon SVG file to replace symlink
  packages-proprietary/assets/icons/Ellipsis.svg
Due: none

Remove obsolete Barchart and BarchartFill SVG icon files
  packages-proprietary/assets/icons/Barchart.svg
  packages-proprietary/assets/icons/BarchartFill.svg
Due: none

Add BarChart and BarChartFill SVG icon files
  packages-proprietary/assets/icons/BarChart.svg
  packages-proprietary/assets/icons/BarChartFill.svg
Due: none

remove Cross
  packages-proprietary/assets/icons/Cross.svg
Due: none

Replace symlink with svg
  packages-proprietary/assets/icons/Close.svg
Due: none

Replace left/right chevron icons with backward/forward icons in ImageSliderControls
  packages/react/src/ImageSlider/ImageSliderControls.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove obsolete icons
  packages-proprietary/assets/icons/ErrorCircle.svg
  packages-proprietary/assets/icons/ErrorCircleFill.svg
  packages-proprietary/assets/icons/Lock.svg
  packages-proprietary/assets/icons/LockFill.svg
  packages-proprietary/assets/icons/Pano.svg
  packages-proprietary/assets/icons/Remove.svg
  packages-proprietary/assets/icons/RemoveFill.svg
  packages-proprietary/assets/icons/SpeechBalloonQuestionMark-1.svg
  packages-proprietary/assets/icons/SpeechBalloonQuestionMarkFill-1.svg
  packages-proprietary/assets/icons/Spinner.svg
  packages-proprietary/assets/icons/SwimmingPool.svg
Due: none

Corrected logical icons in components
  packages/react/src/Alert/Alert.tsx
  packages/react/src/LinkList/LinkListLink.tsx
  packages/react/src/Pagination/Pagination.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

RenamedIcon in story
  storybook/src/components/LinkList/LinkList.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Label): Change design for (optional) hint (#2048)
  packages-proprietary/tokens/src/components/ams/hint.tokens.json
  packages/css/src/components/hint/hint.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Add aria-label to Logo, move Logo before logo link title
  packages/react/src/Logo/brand/LogoAmsterdam.tsx
  packages/react/src/PageHeader/PageHeader.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add brandname to a11y description, move to the correct place
  packages/react/src/PageHeader/PageHeader.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add description
  packages/react/src/PageHeader/PageHeader.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add and fix tests
  packages/react/src/PageHeader/PageHeader.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Explain choice between icon-only Button and Icon Button
  packages/css/src/components/button/README.md
  packages/css/src/components/icon-button/README.md
  packages/react/src/IconButton/IconButton.tsx
  storybook/src/components/Button/Button.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Set everything to do with visual shape of Checkbox icon in SVG
  packages/css/src/components/checkbox/checkbox.scss
  packages/react/src/Checkbox/CheckboxIcon.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Set everything to do with visual shape of Radio icon in SVG
  packages-proprietary/tokens/src/components/ams/radio.tokens.json
  packages/css/src/components/radio/radio.scss
  packages/react/src/Radio/RadioIcon.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Mention all classes in Radio and Checkbox docs
  storybook/src/components/Checkbox/Checkbox.docs.mdx
  storybook/src/components/Radio/Radio.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Do not show checked indicator in indeterminate state
  packages/css/src/components/checkbox/checkbox.scss
Due: prettier --check, stylelint --allow-empty-input
