Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Added form to tabs
  storybook/src/pages/internal/TabsPage/TabsPage.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update Clean implementation section
  documentation/definition-of-done.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Clarify
  documentation/definition-of-done.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use TypeScript file instead of JavaScript
  packages/react/jest.config.mjs
  packages/react/jest.setup.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Remove vitest (#2414)
  pnpm-lock.yaml
  storybook/config/main.ts
  storybook/config/preview.tsx
  storybook/config/vitest.setup.ts
  storybook/package.json
  storybook/vite.config.ts
  storybook/vitest.shims.d.ts
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Revert "Move generic mixins to top of file"
  packages/css/src/components/page-header/page-header.scss
Due: prettier --check, stylelint --allow-empty-input

Revert "Call reset mixin first"
  packages/css/src/components/page-header/page-header.scss
Due: prettier --check, stylelint --allow-empty-input

Don’t reset styles that we set anyway
  packages/css/src/components/page-header/page-header.scss
Due: prettier --check, stylelint --allow-empty-input

Use correct token
  packages/css/src/components/page-header/page-header.scss
Due: prettier --check, stylelint --allow-empty-input

Add code panel to Storybook
  storybook/config/preview.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Make sure Page stories do not render lang=nl in code previews
  storybook/src/components/Page/Page.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Do not show code panel for File List with File Input
  storybook/src/components/FileList/FileList.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Progress List): Add accessible status text to steps and substeps (#2395)
  packages/react/src/ErrorMessage/ErrorMessage.tsx
  packages/react/src/ProgressList/AccessibleStatusText.tsx
  packages/react/src/ProgressList/ProgressList.tsx
  packages/react/src/ProgressList/ProgressListContext.tsx
  packages/react/src/ProgressList/ProgressListStep.tsx
  packages/react/src/ProgressList/ProgressListSubstep.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Page Header): Make menu button blue (#2408)
  packages-proprietary/tokens/src/components/ams/page-header.tokens.json
  packages/css/src/components/page-header/page-header.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
