Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Replace abandoned package with maintenance fork
  package.json
  packages-proprietary/tokens/package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Position the marker over the connector with a grid, convert variables to tokens, improve naming
  packages/css/src/components/progress-list/progress-list.scss
Due: prettier --check, stylelint --allow-empty-input

wip: Add status to ProgressList and change colors with the status
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
  packages/react/src/ProgressList/ProgressListStep.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

wip: Add icon
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
  packages/css/src/components/progress-list/progress-list.scss
  packages/react/src/ProgressList/ProgressListStep.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(Page Header): Hide ‘narrow window only Grid Cell’ until CSS loads
  packages/css/src/components/page-header/page-header.scss
  packages/react/src/PageHeader/PageHeaderGridCellNarrowWindowOnly.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Revert to initial display instead of block explicitly
  packages/css/src/components/page-header/page-header.scss
Due: prettier --check, stylelint --allow-empty-input

Add tests for useIsAfterBreakpoint
  packages/react/src/common/useIsAfterBreakpoint.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

refactor: Use media query change events and improve SSR safety
  packages/react/src/common/useIsAfterBreakpoint.test.tsx
  packages/react/src/common/useIsAfterBreakpoint.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Rename pages group for websites and consolidate docs (#2290)
  packages/css/src/components/logo/README.md
  storybook/config/preview.tsx
  storybook/src/components/Page/Page.docs.mdx
  storybook/src/pages/Introduction.docs.mdx
  storybook/src/pages/internal/HomePage/HomePage.docs.mdx
  storybook/src/pages/internal/Introduction.docs.mdx
  storybook/src/pages/public/ArticlePage/ArticlePage.docs.mdx
  storybook/src/pages/public/ArticlePage/ArticlePage.stories.tsx
  storybook/src/pages/public/ArticlePage/ArticlePage.tsx
  storybook/src/pages/public/ArticlePage/news-articles.ts
  storybook/src/pages/public/ArticlePage/parser.config.ts
  storybook/src/pages/public/FormFlow/FormFlow.docs.mdx
  storybook/src/pages/public/FormFlow/FormFlow.stories.tsx
  storybook/src/pages/public/FormFlow/LandingPage.tsx
  storybook/src/pages/public/FormFlow/WithMultipleQuestions.tsx
  storybook/src/pages/public/FormFlow/WithOneQuestion.tsx
  storybook/src/pages/public/FormFlow/WithValidationError.tsx
  storybook/src/pages/public/FormFlow/components/FormFooter.tsx
  storybook/src/pages/public/HomePage/HomeNews.tsx
  storybook/src/pages/public/HomePage/HomePage.docs.mdx
  storybook/src/pages/public/HomePage/HomePage.stories.tsx
  storybook/src/pages/public/HomePage/HomePage.tsx
  storybook/src/pages/public/HomePage/HomeSpotlight.tsx
  storybook/src/pages/public/HomePage/HomeTopTasks.tsx
  storybook/src/pages/public/Introduction.docs.mdx
  storybook/src/pages/public/NavigationPage/LinkBlock.tsx
  storybook/src/pages/public/NavigationPage/LinkBlockGridCells.tsx
  storybook/src/pages/public/NavigationPage/NavigationPage.docs.mdx
  storybook/src/pages/public/NavigationPage/NavigationPage.stories.tsx
  storybook/src/pages/public/NavigationPage/NavigationPage.tsx
  storybook/src/pages/public/NavigationPage/links.ts
  storybook/src/pages/public/NavigationPage/persons.ts
  storybook/src/pages/public/ProductPage/ProductPage.docs.mdx
  storybook/src/pages/public/ProductPage/ProductPage.stories.tsx
  storybook/src/pages/public/ProductPage/ProductPage.tsx
  storybook/src/pages/public/common/AppHeader.tsx
  storybook/src/pages/public/common/Layout.tsx
  storybook/src/pages/public/common/config.tsx
  storybook/src/pages/public/common/menu.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix typo for Page width
  storybook/src/docs/developer-guide/breakpoints.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix order of pages in Storybook toc
  storybook/config/preview.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove ordering of removed page
  storybook/config/preview.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update visibility test
  packages/react/src/PageHeader/PageHeaderGridCellNarrowWindowOnly.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Fix typo and order in docs (#2307)
  storybook/config/preview.tsx
  storybook/src/docs/developer-guide/breakpoints.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update packages
  package.json
  packages-proprietary/react-icons/package.json
  packages/css/package.json
  packages/react/package.json
  pnpm-lock.yaml
  storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Update @eslint/compat to next major version
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Update @rollup/plugin-commonjs to next major version
  packages/react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Update next to next major version
  packages/react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore(deps-dev): Update minor dependencies and some majors (#2308)
  package.json
  packages-proprietary/react-icons/package.json
  packages/css/package.json
  packages/react/package.json
  pnpm-lock.yaml
  storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore(deps-dev): Replace abandoned package npm-run-all with maintained fork (#2303)
  package.json
  packages-proprietary/tokens/package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@58568895fb43a73fdb8471d3bef51449befc7979 🚀
  demo-develop/58568895fb43a73fdb8471d3bef51449befc7979.txt
  demo-develop/b628dd45a79cabfa95fe210919ce17c1fbcc5e43.txt
  demo-develop/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Paragraph): Balance line lengths of lead paragraphs
  packages-proprietary/tokens/src/components/ams/paragraph.tokens.json
  packages/css/src/components/paragraph/paragraph.scss
  storybook/src/components/Paragraph/Paragraph.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input
