Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix(Description List): Let terms contribute to vertical space
  packages-proprietary/tokens/src/components/ams/description-list.tokens.json
  packages/css/src/components/description-list/description-list.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Warn against n:m Description Lists and improve docs
  storybook/src/components/DescriptionList/DescriptionList.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Limit description’s row placement to columns layout
  packages/css/src/components/description-list/description-list.scss
Due: prettier --check, stylelint --allow-empty-input

Reorder declaration blocks
  packages/css/src/components/description-list/description-list.scss
Due: prettier --check, stylelint --allow-empty-input

Reset margin on last term in list or in last section
  packages/css/src/components/description-list/description-list.scss
Due: prettier --check, stylelint --allow-empty-input

Update tar to patch security vulnerability
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Update minimatch to patch security vulnerability
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Update ajv to patch security vulnerability
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Remove obsolete overrides
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Fix ajv: remove override, update lockfile directly
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Update other dependencies
  package.json
  packages/react/package.json
  pnpm-lock.yaml
  storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore(deps): Address security alerts (#2461)
  package.json
  packages/react/package.json
  pnpm-lock.yaml
  storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

poc: Add example Calendar component
  packages-proprietary/tokens/src/components/ams/calendar.tokens.json
  packages/css/src/components/calendar/README.md
  packages/css/src/components/calendar/calendar.scss
  packages/css/src/components/index.scss
  packages/react/src/Calendar/Calendar.test.tsx
  packages/react/src/Calendar/Calendar.tsx
  packages/react/src/Calendar/README.md
  packages/react/src/Calendar/index.ts
  packages/react/src/index.ts
  storybook/src/components/Calendar/Calendar.docs.mdx
  storybook/src/components/Calendar/Calendar.stories.tsx
  storybook/src/components/Calendar/Calendar.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Remove obvious documentation
  packages/css/src/components/description-list/description-list.scss
Due: prettier --check, stylelint --allow-empty-input

Remove another unnecessary comment
  packages/css/src/components/description-list/description-list.scss
Due: prettier --check, stylelint --allow-empty-input

fix(step 1): remove type from media queries
  packages/css/src/components/breakout/breakout.scss
  packages/css/src/components/description-list/description-list.scss
  packages/css/src/components/grid/_mixins.scss
  packages/css/src/components/grid/grid.scss
  packages/css/src/components/progress-list/progress-list.scss
Due: prettier --check, stylelint --allow-empty-input

fix(step 2): remove type from media queries
  packages/css/src/components/page-footer/page-footer.scss
  packages/css/src/components/page-header/page-header.scss
Due: prettier --check, stylelint --allow-empty-input

fix(step 3): remove type from media queries
  packages/css/src/components/dialog/dialog.scss
  packages/css/src/components/menu/menu.scss
Due: prettier --check, stylelint --allow-empty-input

refactor: remove screen media type everywhere
  storybook/src/docs/components/grid-columns-guide.css
Due: prettier --check, stylelint --allow-empty-input

fix(Description List): Let terms contribute to vertical space (#2460)
  packages-proprietary/tokens/src/components/ams/description-list.tokens.json
  packages/css/src/components/description-list/description-list.scss
  storybook/src/components/DescriptionList/DescriptionList.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix(docs): correct examples
  storybook/src/docs/developer-guide/breakpoints.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs: add line about using media types
  storybook/src/docs/developer-guide/breakpoints.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Make this a minor update for tokens, as it adds one
  .release-please-manifest.json
  packages-proprietary/tokens/CHANGELOG.md
  packages-proprietary/tokens/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
