Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Install minor dependency updates
  package.json
  packages-proprietary/react-icons/package.json
  packages/react/package.json
  pnpm-lock.yaml
  storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore(Date Input): Document asking for easy to remember or find dates (#2138)
  storybook/src/components/DateInput/DateInput.docs.mdx
  storybook/src/components/DateInput/DateInput.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Move token into deprecations file
  packages-proprietary/tokens/src/components/ams/checkbox.deprecated.tokens.json
  packages-proprietary/tokens/src/components/ams/checkbox.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove unnecessary elaboration
  storybook/src/brand/design-tokens/links.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use rems instead of pixels
  storybook/src/styles/overrides.css
Due: prettier --check, stylelint --allow-empty-input

chore(deps-dev): Install minor dependency updates (#2140)
  package.json
  packages-proprietary/react-icons/package.json
  packages/react/package.json
  pnpm-lock.yaml
  storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@9871236cc54d80c4c9b90c4b5d3c7b6c88dd6d42 🚀
  demo-develop/3e01a6e0086e57b17ca63dcfcc3b365cc86fea86.txt
  demo-develop/9871236cc54d80c4c9b90c4b5d3c7b6c88dd6d42.txt
  demo-develop/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Revert value change while deprecating token
  packages-proprietary/tokens/src/components/ams/checkbox.deprecated.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat: Decrease offset between link underlines and text baseline (#2134)
  packages-proprietary/tokens/src/common/ams/links.tokens.json
  packages-proprietary/tokens/src/components/ams/checkbox.deprecated.tokens.json
  packages-proprietary/tokens/src/components/ams/checkbox.tokens.json
  packages/css/src/components/checkbox/checkbox.scss
  storybook/src/brand/design-tokens/links.docs.mdx
  storybook/src/styles/overrides.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Remove transform and use custom properties and icon is now required. Medium gap for the list.
  packages-proprietary/tokens/src/components/ams/menu.tokens.json
  packages/css/src/components/menu/menu.scss
  packages/react/src/Menu/MenuLink.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

add DocumentIcon to Menu.Link component tests
  packages/react/src/Menu/MenuLink.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use node 22
  .nvmrc
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Use latest pnpm
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

replace index with unique keys in list rendering
  packages/react/src/Breadcrumb/Breadcrumb.test.tsx
  packages/react/src/OrderedList/OrderedList.test.tsx
  packages/react/src/TableOfContents/TableOfContentsList.test.tsx
  packages/react/src/UnorderedList/UnorderedList.test.tsx
  storybook/src/components/FileList/FileInputWithFileList.tsx
  storybook/src/components/LinkList/LinkList.stories.tsx
  storybook/src/components/Menu/Menu.stories.tsx
  storybook/src/components/OrderedList/OrderedList.stories.tsx
  storybook/src/components/Tabs/Tabs.stories.tsx
  storybook/src/components/UnorderedList/UnorderedList.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

remove themeOverride parameter from Menu component metadata
  storybook/src/components/Menu/Menu.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Select): Use intrisic size instead of 100%
  packages/css/src/components/select/select.scss
Due: prettier --check, stylelint --allow-empty-input

chore: Use latest LTS node and latest pnpm (#2141)
  .nvmrc
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@f163ea802d3b3e933b81dbaa360e2d2568288190 🚀
  demo-develop/bf5a69cd9f6a8fe01c651edab73029a43f37999c.txt
  demo-develop/f163ea802d3b3e933b81dbaa360e2d2568288190.txt
  demo-develop/node_modules/.bin/svgo
  demo-develop/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Select): Use intrisic size instead of 100% (#2142)
  packages/css/src/components/select/select.scss
Due: prettier --check, stylelint --allow-empty-input
