Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

chore(docs): Configure grid cells consistently in examples and update documentation (#2313)
  packages/css/src/components/grid/README.md
  storybook/src/components/Mark/Mark.stories.tsx
  storybook/src/components/PageFooter/PageFooter.stories.tsx
  storybook/src/pages/public/ArticlePage/ArticlePage.tsx
  storybook/src/pages/public/FormFlow/LandingPage.tsx
  storybook/src/pages/public/FormFlow/WithMultipleQuestions.tsx
  storybook/src/pages/public/FormFlow/WithOneQuestion.tsx
  storybook/src/pages/public/FormFlow/WithValidationError.tsx
  storybook/src/pages/public/FormFlow/components/FormFooter.tsx
  storybook/src/pages/public/Introduction.docs.mdx
  storybook/src/pages/public/NavigationPage/LinkBlockGridCells.tsx
  storybook/src/pages/public/NavigationPage/NavigationPage.stories.tsx
  storybook/src/pages/public/ProductPage/ProductPage.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update packages-proprietary/assets/CONTRIBUTING.md
  packages-proprietary/assets/CONTRIBUTING.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix issue with margins on Label
  packages/css/src/components/field/field.scss
  packages/css/src/components/label/label.scss
Due: prettier --check, stylelint --allow-empty-input

Add sub steps list component
  packages/react/src/ProgressList/ProgressListSubSteps.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add sub step component
  packages/react/src/ProgressList/ProgressListSubStep.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Extend progress list export with SubSteps and SubStep
  packages/react/src/ProgressList/ProgressList.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Extend the story with substeps
  storybook/src/components/ProgressList/ProgressList.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Apply suggestions from code review
  packages/react/src/common/useIsAfterBreakpoint.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use `it` rather than `test`
  packages/react/src/common/useIsAfterBreakpoint.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add basic styling for the sub steps list
  packages/css/src/components/progress-list/progress-list.scss
Due: prettier --check, stylelint --allow-empty-input

Position the indicator on the same place as the top-step indicators
  packages/css/src/components/progress-list/progress-list.scss
Due: prettier --check, stylelint --allow-empty-input

Position the sub-step marker at the same place as the other markers
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
  packages/css/src/components/progress-list/progress-list.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Check with javascript if there are substeps, if there are, remove the padding from the body
  packages/css/src/components/progress-list/progress-list.scss
  packages/react/src/ProgressList/ProgressListStep.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Add statuses to the sub-steps connectors (styling, tokens)
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
  packages/css/src/components/progress-list/progress-list.scss
  packages/react/src/ProgressList/ProgressListStep.tsx
  storybook/src/components/ProgressList/ProgressList.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Add extra sub-step to story to have all sub-step statuses
  storybook/src/components/ProgressList/ProgressList.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add background color to completed connector, to prevent issue were the is a split white line in the center when zoomed in
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
  packages/css/src/components/progress-list/progress-list.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Add background color to sub-step connector, to hide connector from the parent step
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
  packages/css/src/components/progress-list/progress-list.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Make sure the sub-step marker is on top of the connector
  packages/css/src/components/progress-list/progress-list.scss
Due: prettier --check, stylelint --allow-empty-input

Resolve issue were the parent step connector is sometime slightly visible at the side of the sub-step connector
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
  packages/css/src/components/progress-list/progress-list.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Make sure the connector reaches the next parent step
  packages/css/src/components/progress-list/progress-list.scss
Due: prettier --check, stylelint --allow-empty-input

Improve structure of story
  storybook/src/components/ProgressList/ProgressList.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add colours to the marker and connector of the sub-steps based on status
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
  packages/css/src/components/progress-list/progress-list.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Add arrow to current status of sub step
  packages/css/src/components/progress-list/progress-list.scss
  packages/react/src/ProgressList/ProgressListSubStep.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Add a gap between the sub-steps and make the completed marker appear
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
  packages/css/src/components/progress-list/progress-list.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Improve token structure - Move sub-steps inside step
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
  packages/css/src/components/progress-list/progress-list.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Add paddings to the start and last item of the sub-step, and make sure that the connector keep reaching the next step
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
  packages/css/src/components/progress-list/progress-list.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore(deps): Update dependencies
  package.json
  packages/css/package.json
  packages/react/package.json
  pnpm-lock.yaml
  storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore(deps): Update dependencies (#2324)
  package.json
  packages/css/package.json
  packages/react/package.json
  pnpm-lock.yaml
  storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check
