Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

add consistent-type-specifier-style and run lint:fix
  eslint.config.mjs
  storybook/src/pages/amsterdam/ArticlePage/parser.config.ts
  storybook/src/pages/amsterdam/NavigationPage/LinkBlockGridCells.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Configure plugin
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

update plop templates with new linting rules
  plop-templates/react.test.tsx.hbs
  plop-templates/react.tsx.hbs
  plop-templates/storybook.stories.tsx.hbs
Due: none

Fix several linter errors
  packages/css/src/common/calculate-fluid-style.scss
  packages/css/src/common/hyphenation.scss
  packages/css/src/common/text-rendering.scss
  packages/css/src/components/breadcrumb/breadcrumb.scss
  packages/css/src/components/card/card.scss
  packages/css/src/components/description-list/description-list.scss
  storybook/src/docs/components/color-palette.css
  storybook/src/docs/components/icon-gallery.css
  storybook/src/styles/docs.css
  storybook/src/styles/inline-color-sample.css
Due: prettier --check, stylelint --allow-empty-input

PR Feedback - Using arrays from the components and reusing meta
  packages/react/src/Button/Button.tsx
  packages/react/src/IconButton/IconButton.tsx
  storybook/src/components/Button/Button.test.stories.tsx
  storybook/src/components/IconButton/IconButton.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

reuse meta in test story within plopfile
  plop-templates/storybook.test.stories.tsx.hbs
  plop-templates/test.stories.tsx.hbs
  plopfile.mjs
Due: none

linting
  plop-templates/storybook.test.stories.tsx.hbs
  storybook/src/components/Button/Button.test.stories.tsx
  storybook/src/components/IconButton/IconButton.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@b1715b536b6c851458caf0a79fe496af4231b9cf 🚀
  demo-warn-for-rich-text-in-descriptions/b1715b536b6c851458caf0a79fe496af4231b9cf.txt
  demo-warn-for-rich-text-in-descriptions/ce725f97e8ce8c0eb80abd2365cc75dd9011be0a.txt
  demo-warn-for-rich-text-in-descriptions/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix remaining linter errors
  packages/css/src/components/breadcrumb/breadcrumb.scss
  packages/css/src/components/field-set/field-set.scss
  packages/css/src/components/heading/heading.scss
  packages/css/src/components/image-slider/image-slider.scss
  packages/css/src/components/label/label.scss
  packages/css/src/components/page-header/page-header.scss
  packages/css/src/components/page-heading/page-heading.deprecated.scss
  packages/css/src/components/tabs/tabs.scss
  packages/css/src/components/text-area/text-area.scss
  packages/css/src/components/visually-hidden/visually-hidden.scss
  packages/react/src/TextArea/TextArea.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Don’t wrap Page examples in another Page
  storybook/config/preview.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Reapply language setting to Page examples
  storybook/src/components/Page/Page.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

move the meta object back to the test stories
  plop-templates/storybook.test.stories.tsx.hbs
  storybook/src/components/Button/Button.test.stories.tsx
  storybook/src/components/IconButton/IconButton.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove apostrophe
  storybook/src/docs/components/icon-gallery.css
Due: prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ Amsterdam/design-system@43e572952227f212f74139f574fbda2f5cc38352 🚀
  demo-DES-1428-only-allow-baseline-css/43e572952227f212f74139f574fbda2f5cc38352.txt
  demo-DES-1428-only-allow-baseline-css/5eecd6802bf46010d5936af189eebf295a177a1a.txt
  demo-DES-1428-only-allow-baseline-css/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Warn against using rich text in form descriptions and Error Messages (#2239)
  storybook/src/components/ErrorMessage/ErrorMessage.docs.mdx
  storybook/src/components/Field/Field.docs.mdx
  storybook/src/components/FieldSet/FieldSet.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add appearance for narrow windows
  packages-proprietary/tokens/src/components/ams/menu.tokens.json
  packages/css/src/components/menu/menu.scss
  packages/react/src/Menu/Menu.tsx
  storybook/src/components/Menu/Menu.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Center overflowing text in Menu Links
  packages/css/src/components/menu/menu.scss
Due: prettier --check, stylelint --allow-empty-input

Fix viewport config in Storybook
  storybook/config/preview.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Integrate blue background colour into Menu
  packages-proprietary/tokens/src/components/ams/menu.deprecated.tokens.json
  packages-proprietary/tokens/src/components/ams/menu.tokens.json
  packages/css/src/components/menu/menu.scss
  packages/react/src/Menu/MenuLink.tsx
  storybook/src/components/Menu/Menu.docs.mdx
  storybook/src/components/Menu/Menu.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Update documentation
  packages/css/src/components/menu/README.md
  storybook/src/components/Menu/Menu.docs.mdx
  storybook/src/components/Menu/Menu.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use filled icons in examples
  storybook/src/components/Menu/Menu.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

pass secret build-lint-test action
  .github/workflows/lint-test.yml
Due: none

chore: Don’t wrap Page examples in another Page (#2243)
  storybook/config/preview.tsx
  storybook/src/components/Page/Page.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
