Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Change test story example color to hotpink, also remove renderComponentVariants
  storybook/src/docs/components/ColorSample.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Apply suggestions from code review
  storybook/src/docs/components/color-sample.css
Due: prettier --check, stylelint --allow-empty-input

Use formatTokenValue in ColorSample
  storybook/src/docs/components/ColorSample.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Change color-palette classnames to prevent classname colissions
  storybook/src/docs/components/ColorPalette.tsx
  storybook/src/docs/components/color-palette.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Use ColorSample in color docs
  storybook/src/brand/design-tokens/colour.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove obsolete classes
  storybook/src/styles/docs.css
Due: prettier --check, stylelint --allow-empty-input

Restore border around white color palette tile
  storybook/src/docs/components/color-palette.css
Due: prettier --check, stylelint --allow-empty-input

Revert merging comments for consistency
  storybook/src/docs/components/color-sample.css
Due: prettier --check, stylelint --allow-empty-input

Remove one more return statement
  storybook/src/docs/components/ColorSample.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix indentation
  storybook/src/docs/components/DesignTokensTable.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Add color preview to the Design Tokens Table (#2362)
  storybook/src/brand/design-tokens/colour.docs.mdx
  storybook/src/docs/components/ColorPalette.tsx
  storybook/src/docs/components/ColorSample.test.stories.tsx
  storybook/src/docs/components/ColorSample.tsx
  storybook/src/docs/components/DesignTokensTable.tsx
  storybook/src/docs/components/color-palette.css
  storybook/src/docs/components/color-sample.css
  storybook/src/styles/docs.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ Amsterdam/design-system@df5d00a1a10aa2d2a091e01cd691f5c1490bc841 🚀
  demo-develop/d94d689d770ab350ea0388466912435d8d525578.txt
  demo-develop/df5d00a1a10aa2d2a091e01cd691f5c1490bc841.txt
  demo-develop/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add spacing preview component
  storybook/src/docs/components/SpacingSample.tsx
  storybook/src/docs/components/spacing-sample.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Add preview to the Design Tokens Table
  storybook/src/docs/components/DesignTokensTable.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update docs with new component
  packages/css/src/components/aspect-ratio/README.md
  storybook/src/brand/design-tokens/aspect-ratio.docs.mdx
  storybook/src/brand/design-tokens/space.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add test story for visual regression testing
  storybook/src/docs/components/SpacingSample.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add subtype spacingSample to "gap"-prop in tokens
  packages-proprietary/tokens/src/components/ams/accordion.tokens.json
  packages-proprietary/tokens/src/components/ams/action-group.tokens.json
  packages-proprietary/tokens/src/components/ams/alert.tokens.json
  packages-proprietary/tokens/src/components/ams/button.tokens.json
  packages-proprietary/tokens/src/components/ams/card.tokens.json
  packages-proprietary/tokens/src/components/ams/checkbox.tokens.json
  packages-proprietary/tokens/src/components/ams/column.tokens.json
  packages-proprietary/tokens/src/components/ams/description-list.tokens.json
  packages-proprietary/tokens/src/components/ams/dialog.tokens.json
  packages-proprietary/tokens/src/components/ams/error-message.tokens.json
  packages-proprietary/tokens/src/components/ams/field.tokens.json
  packages-proprietary/tokens/src/components/ams/figure.tokens.json
  packages-proprietary/tokens/src/components/ams/file-list.tokens.json
  packages-proprietary/tokens/src/components/ams/grid.tokens.json
  packages-proprietary/tokens/src/components/ams/image-slider.tokens.json
  packages-proprietary/tokens/src/components/ams/link-list.tokens.json
  packages-proprietary/tokens/src/components/ams/menu.tokens.json
  packages-proprietary/tokens/src/components/ams/ordered-list.tokens.json
  packages-proprietary/tokens/src/components/ams/page-footer.tokens.json
  packages-proprietary/tokens/src/components/ams/page-header.tokens.json
  packages-proprietary/tokens/src/components/ams/pagination.tokens.json
  packages-proprietary/tokens/src/components/ams/radio.tokens.json
  packages-proprietary/tokens/src/components/ams/row.tokens.json
  packages-proprietary/tokens/src/components/ams/standalone-link.tokens.json
  packages-proprietary/tokens/src/components/ams/table-of-contents.tokens.json
  packages-proprietary/tokens/src/components/ams/tabs.tokens.json
  packages-proprietary/tokens/src/components/ams/unordered-list.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add subtype spacingSample to "offset"-props in tokens
  packages-proprietary/tokens/src/brand/ams/focus.tokens.json
  packages-proprietary/tokens/src/common/ams/inputs.tokens.json
  packages-proprietary/tokens/src/common/ams/links.tokens.json
  packages-proprietary/tokens/src/components/ams/accordion.tokens.json
  packages-proprietary/tokens/src/components/ams/breadcrumb.tokens.json
  packages-proprietary/tokens/src/components/ams/button.tokens.json
  packages-proprietary/tokens/src/components/ams/call-to-action-link.tokens.json
  packages-proprietary/tokens/src/components/ams/card.tokens.json
  packages-proprietary/tokens/src/components/ams/checkbox.tokens.json
  packages-proprietary/tokens/src/components/ams/date-input.tokens.json
  packages-proprietary/tokens/src/components/ams/file-input.tokens.json
  packages-proprietary/tokens/src/components/ams/icon-button.tokens.json
  packages-proprietary/tokens/src/components/ams/image-slider.tokens.json
  packages-proprietary/tokens/src/components/ams/invalid-form-alert.tokens.json
  packages-proprietary/tokens/src/components/ams/link-list.tokens.json
  packages-proprietary/tokens/src/components/ams/link.tokens.json
  packages-proprietary/tokens/src/components/ams/menu.tokens.json
  packages-proprietary/tokens/src/components/ams/page-footer.tokens.json
  packages-proprietary/tokens/src/components/ams/page-header.tokens.json
  packages-proprietary/tokens/src/components/ams/pagination.tokens.json
  packages-proprietary/tokens/src/components/ams/password-input.tokens.json
  packages-proprietary/tokens/src/components/ams/radio.tokens.json
  packages-proprietary/tokens/src/components/ams/search-field.tokens.json
  packages-proprietary/tokens/src/components/ams/select.tokens.json
  packages-proprietary/tokens/src/components/ams/skip-link.tokens.json
  packages-proprietary/tokens/src/components/ams/standalone-link.deprecated.tokens.json
  packages-proprietary/tokens/src/components/ams/standalone-link.tokens.json
  packages-proprietary/tokens/src/components/ams/switch.tokens.json
  packages-proprietary/tokens/src/components/ams/table-of-contents.tokens.json
  packages-proprietary/tokens/src/components/ams/tabs.tokens.json
  packages-proprietary/tokens/src/components/ams/text-area.tokens.json
  packages-proprietary/tokens/src/components/ams/text-input.tokens.json
  packages-proprietary/tokens/src/components/ams/time-input.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add subtype spacingSample to "padding"-props in tokens
  packages-proprietary/tokens/src/common/ams/inputs.tokens.json
  packages-proprietary/tokens/src/components/ams/accordion.tokens.json
  packages-proprietary/tokens/src/components/ams/alert.tokens.json
  packages-proprietary/tokens/src/components/ams/avatar.tokens.json
  packages-proprietary/tokens/src/components/ams/badge.tokens.json
  packages-proprietary/tokens/src/components/ams/button.tokens.json
  packages-proprietary/tokens/src/components/ams/call-to-action-link.tokens.json
  packages-proprietary/tokens/src/components/ams/date-input.tokens.json
  packages-proprietary/tokens/src/components/ams/description-list.tokens.json
  packages-proprietary/tokens/src/components/ams/dialog.tokens.json
  packages-proprietary/tokens/src/components/ams/field-set.tokens.json
  packages-proprietary/tokens/src/components/ams/file-input.tokens.json
  packages-proprietary/tokens/src/components/ams/grid.compact.tokens.json
  packages-proprietary/tokens/src/components/ams/grid.tokens.json
  packages-proprietary/tokens/src/components/ams/menu.tokens.json
  packages-proprietary/tokens/src/components/ams/ordered-list.tokens.json
  packages-proprietary/tokens/src/components/ams/page-footer.tokens.json
  packages-proprietary/tokens/src/components/ams/page-header.compact.tokens.json
  packages-proprietary/tokens/src/components/ams/page-header.tokens.json
  packages-proprietary/tokens/src/components/ams/pagination.tokens.json
  packages-proprietary/tokens/src/components/ams/password-input.tokens.json
  packages-proprietary/tokens/src/components/ams/search-field.tokens.json
  packages-proprietary/tokens/src/components/ams/select.tokens.json
  packages-proprietary/tokens/src/components/ams/skip-link.tokens.json
  packages-proprietary/tokens/src/components/ams/table-of-contents.tokens.json
  packages-proprietary/tokens/src/components/ams/table.tokens.json
  packages-proprietary/tokens/src/components/ams/tabs.tokens.json
  packages-proprietary/tokens/src/components/ams/text-area.tokens.json
  packages-proprietary/tokens/src/components/ams/text-input.tokens.json
  packages-proprietary/tokens/src/components/ams/time-input.tokens.json
  packages-proprietary/tokens/src/components/ams/unordered-list.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add subtype spacingSample to "margin"-props in tokens
  packages-proprietary/tokens/src/components/ams/breadcrumb.tokens.json
  packages-proprietary/tokens/src/components/ams/card.tokens.json
  packages-proprietary/tokens/src/components/ams/field-set.tokens.json
  packages-proprietary/tokens/src/components/ams/file-input.tokens.json
  packages-proprietary/tokens/src/components/ams/ordered-list.tokens.json
  packages-proprietary/tokens/src/components/ams/page.tokens.json
  packages-proprietary/tokens/src/components/ams/unordered-list.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update docs from SpacingSample style usage to className
  storybook/src/brand/design-tokens/aspect-ratio.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Make use of formatTokenValue, remove unnecessary return, remove custom style prop
  storybook/src/docs/components/SpacingSample.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add support for subtypes, render spacing sample
  storybook/src/docs/components/DesignTokensTable.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Rename $extension to $extensions
  packages-proprietary/tokens/src/common/ams/links.tokens.json
  packages-proprietary/tokens/src/components/ams/ordered-list.tokens.json
  packages-proprietary/tokens/src/components/ams/page-header.tokens.json
  packages-proprietary/tokens/src/components/ams/page.tokens.json
  packages-proprietary/tokens/src/components/ams/unordered-list.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
