Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

chore: Check staged YAML with Prettier (#2759)
  .nano-staged.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Storybook): Add an MCP server for AI assistants
  pnpm-lock.yaml
  storybook/config/main.ts
  storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

docs(Storybook): Explain how to connect AI assistants to the MCP server
  README.md
  storybook/AGENTS.md
  storybook/src/docs/developer-guide/ai-assistance.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(ci): Publish Storybook to Chromatic on every push to main
  .github/workflows/deploy-production-chromatic.yml
Due: none

chore(storybook): Narrow staticDirs to the individual asset folders
  storybook/config/main.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(Storybook): Generalise and tighten the AI assistance page
  storybook/AGENTS.md
  storybook/src/docs/developer-guide/ai-assistance.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(storybook): Narrow staticDirs to the individual asset folders (#2761)
  storybook/config/main.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix grammar
  storybook/src/docs/developer-guide/ai-assistance.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Storybook): Add an MCP server for AI assistants (#2760)
  .github/workflows/deploy-production-chromatic.yml
  README.md
  pnpm-lock.yaml
  storybook/AGENTS.md
  storybook/config/main.ts
  storybook/package.json
  storybook/src/docs/developer-guide/ai-assistance.docs.mdx
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Add Deploy production Chromatic to the workflows README
  .github/workflows/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Add Deploy production Chromatic to the workflows README (#2762)
  .github/workflows/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(ci): Remove non-functional image globs from asset aggregate
  .github/workflows/check-bundle-size.yml
Due: none

fix(ci): Remove non-functional image globs from asset aggregate (#2763)
  .github/workflows/check-bundle-size.yml
Due: none

chore(ci): Add Actionlint to lint workflow files
  .github/workflows/README.md
  .github/workflows/check-workflows.yml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(ci): Add Actionlint to lint workflow files (#2764)
  .github/workflows/README.md
  .github/workflows/check-workflows.yml
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Calendar, Date Picker): Add props to configure the navigation icons
  packages/react/src/Calendar/Calendar.tsx
  packages/react/src/Calendar/CalendarHeader.test.tsx
  packages/react/src/Calendar/CalendarHeader.tsx
  packages/react/src/DatePicker/DatePicker.tsx
  packages/react/src/DatePicker/DatePickerHeader.test.tsx
  packages/react/src/DatePicker/DatePickerHeader.tsx
  storybook/src/components/Calendar/Calendar.docs.mdx
  storybook/src/components/DatePicker/DatePicker.docs.mdx
  storybook/src/docs/developer-guide/localisation.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(Calendar, Date Picker): Note the navigation-icon props are not for Amsterdam
  packages/react/src/Calendar/Calendar.tsx
  packages/react/src/DatePicker/DatePicker.tsx
  storybook/src/components/Calendar/Calendar.docs.mdx
  storybook/src/components/Calendar/Calendar.stories.tsx
  storybook/src/components/DatePicker/DatePicker.docs.mdx
  storybook/src/components/DatePicker/DatePicker.stories.tsx
  storybook/src/docs/developer-guide/localisation.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check
