Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Apply suggestions from code review
  packages-proprietary/tokens/src/components/ams/link.tokens.json
  storybook/src/docs/components/Code.tsx
  storybook/src/docs/components/TypographySample.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use new colour tokens and add empty line
  packages-proprietary/tokens/src/brand/ams/color.tokens.json
  packages/react/src/ProgressList/ProgressListStep.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Move JSDoc comment to effective position
  packages/react/src/ProgressList/ProgressList.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Export context providers by name
  packages/react/src/Accordion/Accordion.tsx
  packages/react/src/Accordion/AccordionContext.tsx
  packages/react/src/Accordion/AccordionSection.tsx
  packages/react/src/ProgressList/ProgressList.tsx
  packages/react/src/ProgressList/ProgressListContext.tsx
  packages/react/src/ProgressList/ProgressListStep.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Query by role in all tests
  packages/react/src/ProgressList/ProgressList.test.tsx
  packages/react/src/ProgressList/ProgressListStep.test.tsx
  packages/react/src/ProgressList/ProgressListSubstep.test.tsx
  packages/react/src/ProgressList/ProgressListSubsteps.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add test for heading class
  packages/react/src/ProgressList/ProgressListStep.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update existing test descriptions to use title case
  packages/react/src/Accordion/AccordionSection.test.tsx
  packages/react/src/Breadcrumb/BreadcrumbLink.test.tsx
  packages/react/src/Breakout/BreakoutCell.test.tsx
  packages/react/src/CallToActionLink/CallToActionLink.test.tsx
  packages/react/src/Card/CardHeadingGroup.test.tsx
  packages/react/src/CharacterCount/CharacterCount.test.tsx
  packages/react/src/ErrorMessage/ErrorMessage.test.tsx
  packages/react/src/FileInput/FileInput.test.tsx
  packages/react/src/Grid/GridCell.test.tsx
  packages/react/src/IconButton/IconButton.test.tsx
  packages/react/src/LinkList/LinkList.test.tsx
  packages/react/src/LinkList/LinkListLink.test.tsx
  packages/react/src/PasswordInput/PasswordInput.test.tsx
  packages/react/src/UnorderedList/UnorderedList.test.tsx
  packages/react/src/UnorderedList/UnorderedListItem.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Scaffold future test files with title case in description
  plop-templates/react.test.tsx.hbs
Due: none

Move viewport modifier down in tokens tree
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
  packages/css/src/components/progress-list/progress-list.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Use new structure of Storybook toc already
  storybook/src/pages/amsterdam/ProductPage/ProjectPage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Alllow only public and private Amsterdam classes in stylesheets for Storybook
  .stylelintrc.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Introduce internal Amsterdam class names
  storybook/src/docs/components/BorderSample.tsx
  storybook/src/docs/components/Code.tsx
  storybook/src/docs/components/ColorSample.tsx
  storybook/src/docs/components/DesignTokensTable.tsx
  storybook/src/docs/components/SpaceSample.tsx
  storybook/src/docs/components/TypographySample.tsx
  storybook/src/docs/components/border-sample.css
  storybook/src/docs/components/code.css
  storybook/src/docs/components/color-sample.css
  storybook/src/docs/components/design-tokens-table.css
  storybook/src/docs/components/space-sample.css
  storybook/src/docs/components/typography-sample.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Add missing license banners
  storybook/src/docs/components/DesignTokensTable.tsx
  storybook/src/docs/components/border-sample.css
  storybook/src/docs/components/code.css
  storybook/src/docs/components/color-sample.css
  storybook/src/docs/components/design-tokens-table.css
  storybook/src/docs/components/space-sample.css
  storybook/src/styles/InlineColorSample.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Use stylesheet for design tokens table
  storybook/src/docs/components/DesignTokensTable.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update Stylelint config
  .stylelintrc.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Apply BEM correctly to class name
  storybook/src/docs/components/DesignTokensTable.tsx
  storybook/src/docs/components/design-tokens-table.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Allow additional class names consistently
  storybook/src/docs/components/BorderSample.tsx
  storybook/src/docs/components/ColorSample.tsx
  storybook/src/docs/components/DesignTokensTable.tsx
  storybook/src/docs/components/SpaceSample.tsx
  storybook/src/docs/components/TypographySample.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Move row component into separate file
  storybook/src/docs/components/DesignTokensTable.tsx
  storybook/src/docs/components/DesignTokensTableRow.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@080e2f7d4d917471393d48d8cc43185ddbc18a72 🚀
  demo-DES-1616-extra-dialog-tokens/080e2f7d4d917471393d48d8cc43185ddbc18a72.txt
  demo-DES-1616-extra-dialog-tokens/a23ba49dfad7c7e37a32847d8e80647c438f6d97.txt
  demo-DES-1616-extra-dialog-tokens/project.json
  demo-DES-1616-extra-dialog-tokens/sb-addons/config-6/manager-bundle.js
  demo-DES-1616-extra-dialog-tokens/sb-addons/docs-4/manager-bundle.js
  demo-DES-1616-extra-dialog-tokens/sb-addons/links-1/manager-bundle.js
  demo-DES-1616-extra-dialog-tokens/sb-addons/linus_janns-html-5/manager-bundle.js
  demo-DES-1616-extra-dialog-tokens/sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
  demo-DES-1616-extra-dialog-tokens/sb-addons/themes-3/manager-bundle.js
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add test stories for design tokens table
  storybook/src/docs/components/BorderSample.test.stories.tsx
  storybook/src/docs/components/Code.test.stories.tsx
  storybook/src/docs/components/DesignTokensTable.test.stories.tsx
  storybook/src/docs/components/TypographySample.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update more test descriptions to use title case
  packages/react/src/Card/CardLink.test.tsx
  packages/react/src/DateInput/DateInput.test.tsx
  packages/react/src/FieldSet/FieldSet.test.tsx
  packages/react/src/FileList/FileList.test.tsx
  packages/react/src/FileList/FileListItem.test.tsx
  packages/react/src/OrderedList/OrderedList.test.tsx
  packages/react/src/OrderedList/OrderedListItem.test.tsx
  packages/react/src/SearchField/SearchField.test.tsx
  packages/react/src/SearchField/SearchFieldInput.test.tsx
  packages/react/src/Select/SelectOption.test.tsx
  packages/react/src/Select/SelectOptionGroup.test.tsx
  packages/react/src/SkipLink/SkipLink.test.tsx
  packages/react/src/Table/TableBody.test.tsx
  packages/react/src/Table/TableCaption.test.tsx
  packages/react/src/Table/TableCell.test.tsx
  packages/react/src/Table/TableFooter.test.tsx
  packages/react/src/Table/TableHeader.test.tsx
  packages/react/src/Table/TableHeaderCell.test.tsx
  packages/react/src/Table/TableRow.test.tsx
  packages/react/src/Tabs/TabsButton.test.tsx
  packages/react/src/Tabs/TabsList.test.tsx
  packages/react/src/TextArea/TextArea.test.tsx
  packages/react/src/TextInput/TextInput.test.tsx
  packages/react/src/TimeInput/TimeInput.test.tsx
  packages/react/src/common/formatFileSize.test.tsx
  packages/react/src/common/formatFileType.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update even more test descriptions to use title case
  packages/react/src/PageHeading/PageHeading.test.tsx
  packages/react/src/TableOfContents/TableOfContents.test.tsx
  packages/react/src/TableOfContents/TableOfContentsList.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove scrollToNextSlide, scrollToPreviousSlide, scrollToSlide functions
  packages/react/src/ImageSlider/ImageSlider.tsx
  packages/react/src/ImageSlider/ImageSliderThumbnails.test.tsx
  packages/react/src/ImageSlider/ImageSliderThumbnails.tsx
  packages/react/src/ImageSlider/utils/index.ts
  packages/react/src/ImageSlider/utils/scrollToCurrentSlideOnResize.test.tsx
  packages/react/src/ImageSlider/utils/scrollToCurrentSlideOnResize.tsx
  packages/react/src/ImageSlider/utils/scrollToNextSlide.test.tsx
  packages/react/src/ImageSlider/utils/scrollToNextSlide.tsx
  packages/react/src/ImageSlider/utils/scrollToPreviousSlide.test.tsx
  packages/react/src/ImageSlider/utils/scrollToPreviousSlide.tsx
  packages/react/src/ImageSlider/utils/scrollToSlide.test.tsx
  packages/react/src/ImageSlider/utils/scrollToSlide.tsx
  packages/react/src/ImageSlider/utils/scrollToSlideById.test.tsx
  packages/react/src/ImageSlider/utils/scrollToSlideById.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
