Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Increase gap between icon and label
  packages-proprietary/tokens/src/components/ams/tab-navigation.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update documentation and stories
  packages/css/src/components/tab-navigation/README.md
  packages/css/src/components/tabs/README.md
  storybook/src/components/TabNavigation/TabNavigation.docs.mdx
  storybook/src/components/TabNavigation/TabNavigation.stories.tsx
  storybook/src/components/Tabs/Tabs.docs.mdx
  storybook/src/components/Tabs/Tabs.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix visual regression test story
  storybook/src/components/TabNavigation/TabNavigation.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Don't forward ref to custom link components in TabNavigationLink
  packages/react/src/TabNavigation/TabNavigationLink.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use dates instead of versions for deprecation windows
  packages-proprietary/tokens/src/components/ams/description-list.tokens.json
  packages-proprietary/tokens/src/components/ams/dialog.tokens.json
  packages-proprietary/tokens/src/components/ams/grid.tokens.json
  packages-proprietary/tokens/src/components/ams/menu.tokens.json
  packages-proprietary/tokens/src/components/ams/page-footer.tokens.json
  packages-proprietary/tokens/src/components/ams/page-header.tokens.json
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add PR workflows for bundle size and coverage reports
  .github/workflows/pr-bundle-size.yml
  .github/workflows/pr-coverage.yml
  packages/react/vitest.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Address review: remove redundant build step, skip fork PRs
  .github/workflows/pr-bundle-size.yml
  .github/workflows/pr-coverage.yml
Due: none

Deploying to gh-pages from @ Amsterdam/design-system@f26225c38378c358f35c9d5dbde2b9e02639d1c8 🚀
  demo-pr-bundle-size-coverage-reports/22dc0cbbe183607046266dfd575579c73d00b40c.txt
  demo-pr-bundle-size-coverage-reports/f26225c38378c358f35c9d5dbde2b9e02639d1c8.txt
  demo-pr-bundle-size-coverage-reports/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Honour deprecated values for margin and padding in menu
  packages/css/src/components/menu/menu.scss
Due: prettier --check, stylelint --allow-empty-input

Remove call to nonexistent token in description list
  packages/css/src/components/description-list/description-list.scss
Due: prettier --check, stylelint --allow-empty-input

Test new actions
  packages/css/src/components/index.scss
Due: prettier --check, stylelint --allow-empty-input

Revert "Test new actions"
  packages/css/src/components/index.scss
Due: prettier --check, stylelint --allow-empty-input

test: Triggle bundle size increase
  packages-proprietary/tokens/src/components/ams/combo-box.tokens.json
  packages/css/src/components/combo-box/README.md
  packages/css/src/components/combo-box/combo-box.scss
  packages/css/src/components/index.scss
  packages/react/src/ComboBox/ComboBox.test.tsx
  packages/react/src/ComboBox/ComboBox.tsx
  packages/react/src/ComboBox/README.md
  packages/react/src/ComboBox/index.ts
  packages/react/src/index.ts
  storybook/src/components/ComboBox/ComboBox.docs.mdx
  storybook/src/components/ComboBox/ComboBox.stories.tsx
  storybook/src/components/ComboBox/ComboBox.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

test: Triggle bundle size increase
  packages-proprietary/tokens/src/components/ams/multi-select.tokens.json
  packages/css/src/components/index.scss
  packages/css/src/components/multi-select/README.md
  packages/css/src/components/multi-select/multi-select.scss
  packages/react/src/MultiSelect/MultiSelect.test.tsx
  packages/react/src/MultiSelect/MultiSelect.tsx
  packages/react/src/MultiSelect/README.md
  packages/react/src/MultiSelect/index.ts
  packages/react/src/index.ts
  storybook/src/components/MultiSelect/MultiSelect.docs.mdx
  storybook/src/components/MultiSelect/MultiSelect.stories.tsx
  storybook/src/components/MultiSelect/MultiSelect.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Fix install script for bundle reporter
  .github/workflows/pr-bundle-size.yml
Due: none

Prevent building Storybook and add threshold icons
  .github/workflows/pr-coverage.yml
Due: none

Build icons package
  .github/workflows/pr-coverage.yml
Due: none

Fix quotes
  .github/workflows/pr-coverage.yml
Due: none
