Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(Storybook): Add a Search Results Page template (#2865)
  storybook/src/pages/public/NewsOverviewPage/NewsOverviewPage.docs.mdx
  storybook/src/pages/public/NewsOverviewPage/NewsOverviewPage.stories.tsx
  storybook/src/pages/public/SearchResultsPage/SearchResultsPage.docs.mdx
  storybook/src/pages/public/SearchResultsPage/SearchResultsPage.stories.tsx
  storybook/src/pages/public/SearchResultsPage/data.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Storybook): Draw the anatomy of every public page template that has a docs page
  storybook/src/_components/PageAnatomy/PageAnatomy.test.stories.tsx
  storybook/src/_components/PageAnatomy/anatomyLabels.test.ts
  storybook/src/pages/public/ArticlePage/ArticlePage.docs.mdx
  storybook/src/pages/public/ArticlePage/anatomyLabels.ts
  storybook/src/pages/public/FormFlow/FormFlow.docs.mdx
  storybook/src/pages/public/FormFlow/anatomyLabels.ts
  storybook/src/pages/public/HandbookPage/HandbookPage.docs.mdx
  storybook/src/pages/public/HandbookPage/anatomyLabels.ts
  storybook/src/pages/public/HomePage/HomePage.docs.mdx
  storybook/src/pages/public/HomePage/anatomyLabels.ts
  storybook/src/pages/public/InformationPage/InformationPage.docs.mdx
  storybook/src/pages/public/InformationPage/anatomyLabels.ts
  storybook/src/pages/public/Introduction.docs.mdx
  storybook/src/pages/public/NavigationPage/NavigationPage.docs.mdx
  storybook/src/pages/public/NavigationPage/anatomyLabels.ts
  storybook/src/pages/public/ProductPage/ProductPage.docs.mdx
  storybook/src/pages/public/ProductPage/anatomyLabels.ts
  storybook/src/pages/public/ProjectPage/ProjectPage.docs.mdx
  storybook/src/pages/public/ProjectPage/anatomyLabels.ts
  storybook/vitest.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Storybook): Add a docs page for the Loading Page
  storybook/src/pages/public/LoadingPage/LoadingPage.docs.mdx
  storybook/src/pages/public/LoadingPage/anatomyLabels.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs: Describe how a page template documents its own anatomy
  AGENTS.md
  documentation/page-anatomy.md
  storybook/AGENTS.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Storybook): Add a component that draws the anatomy of a page template
  pnpm-lock.yaml
  storybook/package.json
  storybook/src/_components/PageAnatomy/PageAnatomy.tsx
  storybook/src/_components/PageAnatomy/anatomy.test.ts
  storybook/src/_components/PageAnatomy/anatomy.ts
  storybook/src/_components/PageAnatomy/page-anatomy.css
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(Storybook): Draw the anatomy of the internal page templates
  storybook/src/_components/PageAnatomy/PageAnatomy.test.stories.tsx
  storybook/src/pages/internal/HomePage/HomePage.docs.mdx
  storybook/src/pages/internal/HomePage/anatomyLabels.ts
  storybook/src/pages/internal/NavigationPage/NavigationPage.docs.mdx
  storybook/src/pages/internal/NavigationPage/anatomyLabels.ts
  storybook/src/pages/internal/TablePage/TablePage.docs.mdx
  storybook/src/pages/internal/TablePage/anatomyLabels.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Storybook): Draw a Grid Subgrid in the page anatomy
  documentation/page-anatomy.md
  storybook/src/_components/PageAnatomy/PageAnatomy.tsx
  storybook/src/_components/PageAnatomy/anatomy.ts
  storybook/src/_components/PageAnatomy/page-anatomy.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(Storybook): Draw the anatomy of the News Overview and Search Results pages
  storybook/src/pages/public/NewsOverviewPage/NewsOverviewPage.docs.mdx
  storybook/src/pages/public/NewsOverviewPage/anatomyLabels.ts
  storybook/src/pages/public/SearchResultsPage/SearchResultsPage.docs.mdx
  storybook/src/pages/public/SearchResultsPage/anatomyLabels.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Storybook): Take the anatomy font from the typography token
  storybook/src/_components/PageAnatomy/page-anatomy.css
Due: prettier --check, stylelint --allow-empty-input

fix(Storybook): Measure what covers an overlaid block through the blocks inside it
  storybook/src/_components/PageAnatomy/PageAnatomy.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

test(Storybook): Cover a Subgrid in the anatomy snapshot
  storybook/src/_components/PageAnatomy/PageAnatomy.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Storybook): Add internal Data Page example
  storybook/src/pages/internal/DataPage/DataPage.docs.mdx
  storybook/src/pages/internal/DataPage/DataPage.stories.tsx
  storybook/src/pages/internal/common/MenuWithItems.tsx
  storybook/src/pages/internal/common/PageLayout.tsx
  storybook/src/pages/internal/common/commonMeta.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Tighten the Node engine to ^24.15.0
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore: Tighten the Node engine to ^24.15.0 (#2870)
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

refactor(Storybook): Name the anatomy model file for what it holds
  documentation/page-anatomy.md
  storybook/src/_components/PageAnatomy/PageAnatomy.tsx
  storybook/src/_components/PageAnatomy/anatomyLabels.test.ts
  storybook/src/_components/PageAnatomy/model.test.ts
  storybook/src/_components/PageAnatomy/model.ts
  storybook/src/pages/internal/HomePage/anatomyLabels.ts
  storybook/src/pages/internal/NavigationPage/anatomyLabels.ts
  storybook/src/pages/internal/TablePage/anatomyLabels.ts
  storybook/src/pages/public/ArticlePage/anatomyLabels.ts
  storybook/src/pages/public/FormFlow/anatomyLabels.ts
  storybook/src/pages/public/HandbookPage/anatomyLabels.ts
  storybook/src/pages/public/HomePage/anatomyLabels.ts
  storybook/src/pages/public/InformationPage/anatomyLabels.ts
  storybook/src/pages/public/LoadingPage/anatomyLabels.ts
  storybook/src/pages/public/NavigationPage/anatomyLabels.ts
  storybook/src/pages/public/NewsOverviewPage/anatomyLabels.ts
  storybook/src/pages/public/ProductPage/anatomyLabels.ts
  storybook/src/pages/public/ProjectPage/anatomyLabels.ts
  storybook/src/pages/public/SearchResultsPage/anatomyLabels.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs: Count the pages the anatomy snapshot actually draws
  documentation/page-anatomy.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Storybook): Read a story written as a render function
  storybook/src/_components/PageAnatomy/model.test.ts
  storybook/src/_components/PageAnatomy/model.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

refactor(Storybook): Write the paginated Table Page story as an object
  storybook/src/pages/internal/TablePage/TablePage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Tokens): Remove the allowlist entry for the file selector button colour
  packages-proprietary/tokens/lint/allowlist.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Tokens): Correct the built CSS file count in the lint README
  packages-proprietary/tokens/lint/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
