Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Remove the need for an intermediate list
  storybook/src/components/PageHeader/PageHeader.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use 'show' and 'hide' everywhere
  packages/react/src/PageHeader/PageHeader.test.tsx
  packages/react/src/PageHeader/PageHeader.tsx
  storybook/src/components/PageHeader/PageHeader.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Rephrase default texts to adhere to B1 standard
  packages/react/src/PageHeader/PageHeader.test.tsx
  packages/react/src/PageHeader/PageHeader.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update example texts as well
  storybook/src/components/PageHeader/PageHeader.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Logo, Page Header): Allow custom branding (#2323)
  packages/react/src/Logo/Logo.test.tsx
  packages/react/src/Logo/Logo.tsx
  packages/react/src/PageHeader/PageHeader.tsx
  storybook/src/components/Logo/ExampleLogo.tsx
  storybook/src/components/Logo/Logo.docs.mdx
  storybook/src/components/Logo/Logo.stories.tsx
  storybook/src/components/Logo/Logo.test.stories.tsx
  storybook/src/components/PageHeader/PageHeader.docs.mdx
  storybook/src/components/PageHeader/PageHeader.stories.tsx
  storybook/src/components/PageHeader/PageHeader.test.stories.tsx
  storybook/src/components/PageHeader/content.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Page Header): Add visually hidden description to menu button, hide menu button when CSS does not load (#2340)
  packages/css/src/components/page-header/page-header.scss
  packages/react/src/PageHeader/PageHeader.test.tsx
  packages/react/src/PageHeader/PageHeader.tsx
  storybook/src/components/PageHeader/PageHeader.docs.mdx
  storybook/src/components/PageHeader/PageHeader.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat: Change our shade of black to improve contrast (#2346)
  packages-proprietary/tokens/src/brand/ams/color.deprecated.tokens.json
  packages-proprietary/tokens/src/brand/ams/color.tokens.json
  storybook/config/manager.js
  storybook/src/brand/design-tokens/colour.docs.mdx
  storybook/src/styles/InlineColorSample.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat: Change our shades of green to improve contrast (#2347)
  packages-proprietary/tokens/src/brand/ams/color.tokens.json
  packages-proprietary/tokens/src/components/ams/call-to-action-link.tokens.json
  storybook/src/brand/design-tokens/colour.docs.mdx
  storybook/src/styles/InlineColorSample.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Revert "Make sure the connectors starts after the marker with border-m space between"
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Revert "Make sure the connector ends just before the start of the next marker"
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
  packages/css/src/components/progress-list/progress-list.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Revert changes connectors so they start at the center marker, and end at the next step center marker
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
  packages/css/src/components/progress-list/progress-list.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Simplify step marker to one size
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
  packages/css/src/components/progress-list/progress-list.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Improve readability css by adding comments
  packages/css/src/components/progress-list/progress-list.scss
Due: prettier --check, stylelint --allow-empty-input

Add mixins
  packages/css/src/components/progress-list/progress-list.scss
Due: prettier --check, stylelint --allow-empty-input

Remove usage of has() as i've used an alternative solution
  packages/css/src/components/progress-list/progress-list.scss
Due: prettier --check, stylelint --allow-empty-input

Cleanup some old css props
  packages/css/src/components/progress-list/progress-list.scss
Due: prettier --check, stylelint --allow-empty-input

Rename tokens for the shape from marker to shape
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
  packages/css/src/components/progress-list/progress-list.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Make the sub-steps responsible for it's own space above
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
  packages/css/src/components/progress-list/progress-list.scss
  storybook/src/components/ProgressList/ProgressList.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Remove transforms attribute/cli and color/hsl-4
  packages-proprietary/tokens/build.js
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Move dtcg/dimension to sharedTransforms array
  packages-proprietary/tokens/build.js
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Extend docs with token types
  packages-proprietary/tokens/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check
