Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

docs(Date Input): Use defaultValue in MemorableDateWithValidation example
  storybook/src/components/DateInput/DateInput.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Clarify Field Set guidelines and improve example stories (#2620)
  packages/css/src/components/field-set/README.md
  storybook/src/components/DateInput/DateInput.stories.tsx
  storybook/src/components/FieldSet/FieldSet.stories.tsx
  storybook/src/components/Radio/Radio.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(lint): Report unused disable directives in JS and CSS (#2621)
  package.json
  packages/css/src/components/checkbox/checkbox.scss
  packages/css/src/components/grid/_mixins.scss
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore(css): Remove obsolete linter disables for hyphens property
  packages/css/src/common/hyphenation.scss
  storybook/src/_components/IconGallery/icon-gallery.css
Due: prettier --check, stylelint --allow-empty-input

chore(css): Add linter disables for overscroll-behavior-y property
  packages/css/src/components/dialog/dialog.scss
  packages/css/src/components/image-slider/image-slider.scss
  packages/css/src/components/tab-navigation/tab-navigation.scss
Due: prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ Amsterdam/design-system@8d1cf995f90f142768d06e69a41a64bba315640a 🚀
  demo-develop/6da70c0be32fe88a2952950db6451b317e61e15f.txt
  demo-develop/8d1cf995f90f142768d06e69a41a64bba315640a.txt
  demo-develop/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Group patch and minor GitHub Actions updates in Dependabot
  .github/dependabot.yml
Due: none

feat: sort table w/ links
  storybook/src/pages/internal/TablePage/TablePage.stories.tsx
  storybook/src/pages/internal/TablePage/stories/SortingWithLinks.tsx
  storybook/src/pages/internal/TablePage/stories/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Group patch and minor GitHub Actions updates in Dependabot (#2629)
  .github/dependabot.yml
Due: none

refactor: nest P in Row; write as sentence
  storybook/src/pages/internal/TablePage/stories/SortingWithLinks.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(lint): Scope React lint rules to packages that use React
  eslint.config.mjs
Due: none

build(eslint): use defineConfig
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Upgrade to Storybook 10.4.0
  pnpm-lock.yaml
  storybook/config/main.ts
  storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Upgrade to Storybook 10.4.0 (#2634)
  pnpm-lock.yaml
  storybook/config/main.ts
  storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore(lint): Scope React lint rules to packages that use React (#2632)
  eslint.config.mjs
Due: none

test(Storybook): Cover variant matrix utilities with Vitest
  storybook/src/_common/buildComponentProps.test.ts
  storybook/src/_common/extractVariantsFromArgTypes.test.ts
  storybook/src/_common/variantFixtures.test.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
