Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Add option for default color to Storybook control
  storybook/src/components/Avatar/Avatar.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(lint): tweak perfectionist config
  eslint.config.mjs
Due: none

feat(Accordion, Alert, Dialog, Form Error List, Heading)!: Require explicit heading levels (#1819)
  packages/css/src/components/heading/README.md
  packages/react/src/Accordion/Accordion.tsx
  packages/react/src/Accordion/AccordionContext.tsx
  packages/react/src/Alert/Alert.test.tsx
  packages/react/src/Alert/Alert.tsx
  packages/react/src/Dialog/Dialog.tsx
  packages/react/src/FormErrorList/FormErrorList.test.tsx
  packages/react/src/FormErrorList/FormErrorList.tsx
  packages/react/src/FormErrorList/FormErrorListWithErrors.tsx
  packages/react/src/Heading/Heading.test.tsx
  packages/react/src/Heading/Heading.tsx
  packages/react/src/Heading/getHeadingTag.ts
  storybook/src/components/Accordion/Accordion.stories.tsx
  storybook/src/components/Alert/Alert.stories.tsx
  storybook/src/components/FormErrorList/FormErrorList.stories.tsx
  storybook/src/components/Heading/Heading.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove explicit default color value
  packages/react/src/Badge/Badge.tsx
  storybook/src/components/Badge/Badge.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Improve import path
  storybook/src/components/Avatar/Avatar.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Table icon replaces and deprecated
  proprietary/assets/icons/Table.svg
Due: none

Table icon replaces and deprecated
  proprietary/assets/icons/Table.svg
  storybook/src/docs/components/IconGallery.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Avatar)!: Remove some colour options and make purple the default (#1825)
  packages/css/src/components/avatar/README.md
  packages/css/src/components/avatar/avatar.scss
  packages/react/src/Avatar/Avatar.test.tsx
  packages/react/src/Avatar/Avatar.tsx
  proprietary/tokens/src/components/ams/avatar.tokens.json
  storybook/src/components/Avatar/Avatar.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(Badge)!: Remove some colour options (#1826)
  packages/css/src/components/badge/README.md
  packages/css/src/components/badge/badge.scss
  packages/react/src/Badge/Badge.test.tsx
  packages/react/src/Badge/Badge.tsx
  proprietary/tokens/src/components/ams/badge.tokens.json
  storybook/src/components/Badge/Badge.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore(lint): remove sort exceptions
  eslint.config.mjs
Due: none

Support breaking changes that are a bugfix
  documentation/publishing.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Document how we add a scope to PRs
  documentation/publishing.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add a heading and use ‘type’ instead of ‘prefix’
  documentation/publishing.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Extract LinkItem and Spacer into separate components
  packages/react/src/Pagination/Pagination.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Get rid of test id's
  packages/react/src/Pagination/Pagination.test.tsx
  packages/react/src/Pagination/Pagination.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update tests
  packages/react/src/Pagination/Pagination.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check
