Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Remove unneeded font family on icon
  packages/css/src/components/icon/icon.scss
  proprietary/tokens/src/components/ams/icon.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Tabs with form story to test
  storybook/src/components/Tabs/Tabs.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Make images full-width to prevent layout shifts
  packages/css/src/components/image/image.scss
Due: prettier --check, stylelint --allow-empty-input

Clarify CSS comment
  packages/css/src/components/icon/icon.scss
Due: prettier --check, stylelint --allow-empty-input

Label menu button with ‘Menu’ in example pages
  storybook/src/pages/amsterdam/common/AppHeader.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use ‘Alle onderwerpen’ for custom example
  storybook/src/components/Header/Header.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Make sure button inherits font-family
  packages/css/src/components/header/header.scss
Due: prettier --check, stylelint --allow-empty-input

feat(Icon): Add invisble text content to simplify baseline alignment (#1905)
  packages/css/src/components/icon/icon.scss
Due: prettier --check, stylelint --allow-empty-input

fix(Card): Prevent other links than the Card Link from stretching (#1898)
  packages/css/src/components/card/card.scss
Due: prettier --check, stylelint --allow-empty-input

Update comment
  packages/react/src/Header/Header.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@5cddb198075f153631613478f7c617750d9a6154 🚀
  demo-DES-978-add-responsive-header-logo/5cddb198075f153631613478f7c617750d9a6154.txt
  demo-DES-978-add-responsive-header-logo/ec7f6de4fd4f8ee2c2b55ff829a69897c447e6ae.txt
  demo-DES-978-add-responsive-header-logo/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@a45202bbe44bf98ae10f1e87a0d7a9b174efc4d6 🚀
  demo-DES-978-add-responsive-header-logo/5cddb198075f153631613478f7c617750d9a6154.txt
  demo-DES-978-add-responsive-header-logo/a45202bbe44bf98ae10f1e87a0d7a9b174efc4d6.txt
  demo-DES-978-add-responsive-header-logo/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Use ‘Menu’ as the menu button label in example pages (#1911)
  storybook/src/components/Header/Header.stories.tsx
  storybook/src/pages/amsterdam/common/AppHeader.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Header)!: Add responsive version of Amsterdam Logo, remove Heading level 1 (#1880)
  packages/css/src/components/header/README.md
  packages/css/src/components/header/header.scss
  packages/react/src/Header/Header.test.tsx
  packages/react/src/Header/Header.tsx
  proprietary/tokens/src/components/ams/header.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
