Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Update token name in README
  proprietary/tokens/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Show CSS variables instead of token names
  storybook/src/foundation/design-tokens/colour.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add minimum block size for ams-screen with backdrop in docs styles
  storybook/src/styles/docs.css
Due: prettier --check, stylelint --allow-empty-input

Fullscreen view of story fix
  storybook/src/styles/docs.css
Due: prettier --check, stylelint --allow-empty-input

Remove distinction between canvas, default, and other background colours
  proprietary/tokens/src/brand/ams/color.tokens.json
  proprietary/tokens/src/components/ams/alert.tokens.json
  proprietary/tokens/src/components/ams/button.tokens.json
  proprietary/tokens/src/components/ams/date-input.tokens.json
  proprietary/tokens/src/components/ams/dialog.tokens.json
  proprietary/tokens/src/components/ams/file-input.tokens.json
  proprietary/tokens/src/components/ams/password-input.tokens.json
  proprietary/tokens/src/components/ams/radio.tokens.json
  proprietary/tokens/src/components/ams/screen.tokens.json
  proprietary/tokens/src/components/ams/search-field.tokens.json
  proprietary/tokens/src/components/ams/select.tokens.json
  proprietary/tokens/src/components/ams/switch.tokens.json
  proprietary/tokens/src/components/ams/text-area.tokens.json
  proprietary/tokens/src/components/ams/text-input.tokens.json
  proprietary/tokens/src/components/ams/time-input.tokens.json
  storybook/src/foundation/design-tokens/colour.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Left-align table headers
  storybook/src/foundation/design-tokens/colour.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Don’t fix token names for Avatar in this branch
  packages/css/src/components/avatar/avatar.scss
  proprietary/tokens/src/components/ams/avatar.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Much easier solution
  storybook/src/styles/docs.css
Due: prettier --check, stylelint --allow-empty-input

Sort color tokens object
  proprietary/tokens/src/brand/ams/color.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update docs
  storybook/src/foundation/design-tokens/colour.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix two radio tokens
  proprietary/tokens/src/components/ams/radio.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove text wrap part of the PR
  packages/css/src/components/tabs/tabs.scss
Due: prettier --check, stylelint --allow-empty-input

Apply suggestions from code review
  storybook/src/foundation/design-tokens/colour.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Tabs): Remove role attribute with invalid value (#1838)
  packages/react/src/Tabs/Tabs.test.tsx
  packages/react/src/Tabs/Tabs.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Tabs): Add flex-shrink property to prevent button shrinking
  packages/css/src/components/tabs/tabs.scss
Due: prettier --check, stylelint --allow-empty-input

fix(docs): Display examples for Dialog correctly (#1839)
  storybook/src/styles/docs.css
Due: prettier --check, stylelint --allow-empty-input

Make colour group headings consistent with token names
  storybook/src/foundation/design-tokens/colour.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Add docs on 'default' key filter in tokens
  proprietary/tokens/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
