Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore(CSS): Use modern rgb() syntax for transparency (#1877)
  proprietary/tokens/src/components/ams/icon-button.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(deps): Block lifecycle scripts of dependencies during installation (#1889)
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Remove unnecessary mentions of red
  storybook/src/components/IconButton/IconButton.docs.mdx
  storybook/src/components/Link/Link.docs.mdx
  storybook/src/components/LinkList/LinkList.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Prevent overflow in Dialog example
  storybook/src/styles/docs.css
Due: prettier --check, stylelint --allow-empty-input

feat(Dialog): Change background colour of backdrop and add token for it (#1876)
  packages/css/src/components/dialog/dialog.scss
  proprietary/tokens/src/components/ams/dialog.tokens.json
  storybook/src/components/Dialog/Dialog.stories.tsx
  storybook/src/styles/docs.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore(docs): Update instructions for contrast and inverse colour (#1888)
  packages/css/src/components/icon/README.md
  storybook/src/components/IconButton/IconButton.docs.mdx
  storybook/src/components/Link/Link.docs.mdx
  storybook/src/components/LinkList/LinkList.docs.mdx
  storybook/src/docs/developer-guide/interactivity.docs.mdx
  storybook/src/foundation/design-tokens/text.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Restore comment
  packages/css/src/components/dialog/dialog.scss
Due: prettier --check, stylelint --allow-empty-input

Group font weight tokens
  proprietary/tokens/src/brand/ams/typography.tokens.json
  proprietary/tokens/src/components/ams/badge.tokens.json
  proprietary/tokens/src/components/ams/blockquote.tokens.json
  proprietary/tokens/src/components/ams/description-list.tokens.json
  proprietary/tokens/src/components/ams/header.tokens.json
  proprietary/tokens/src/components/ams/pagination.tokens.json
  proprietary/tokens/src/components/ams/table.tokens.json
  proprietary/tokens/src/components/ams/tabs.tokens.json
  proprietary/tokens/src/components/ams/top-task-link.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Codify reuse of font size and line height values
  proprietary/tokens/src/brand/ams/typography.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Dialog)!: Prevent a focus indicator from being cut off (#1879)
  packages/css/src/components/dialog/dialog.scss
  proprietary/tokens/src/components/ams/dialog.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Describe sections separately
  storybook/src/foundation/design-tokens/typography.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Document reuse of font size and line height values
  storybook/src/foundation/design-tokens/typography.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix cyclical dependency
  proprietary/tokens/src/brand/ams/typography.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Model ‘bold’ as a variant of body text
  proprietary/tokens/src/brand/ams/typography.tokens.json
  proprietary/tokens/src/components/ams/badge.tokens.json
  proprietary/tokens/src/components/ams/blockquote.tokens.json
  proprietary/tokens/src/components/ams/description-list.tokens.json
  proprietary/tokens/src/components/ams/header.tokens.json
  proprietary/tokens/src/components/ams/pagination.tokens.json
  proprietary/tokens/src/components/ams/table.tokens.json
  proprietary/tokens/src/components/ams/tabs.tokens.json
  proprietary/tokens/src/components/ams/top-task-link.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deprecate Page Menu
  packages/react/src/PageMenu/PageMenu.tsx
  storybook/src/components/PageMenu/PageMenu.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Allow opening and closing Mega Menu in Header
  packages/react/src/Header/Header.test.tsx
  packages/react/src/Header/Header.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Shorten prop values for icon size
  packages/css/src/components/icon/icon.scss
  packages/react/src/Avatar/Avatar.tsx
  packages/react/src/ErrorMessage/ErrorMessage.tsx
  packages/react/src/Icon/Icon.tsx
  packages/react/src/LinkList/LinkListLink.tsx
  packages/react/src/PageMenu/PageMenuLink.tsx
  proprietary/tokens/src/components/ams/icon.tokens.json
  storybook/src/components/Icon/Icon.docs.mdx
  storybook/src/components/Icon/Icon.stories.tsx
  storybook/src/components/IconButton/IconButton.stories.tsx
  storybook/src/components/Paragraph/Paragraph.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
