Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Show story in docs
  storybook/src/components/ProgressList/ProgressList.docs.mdx
  storybook/src/components/ProgressList/ProgressListStep.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Storybook): Wire up controlled ProgressList.Step story with useArgs
  storybook/src/components/ProgressList/ProgressListStep.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Merge Step stories
  storybook/src/components/ProgressList/ProgressList.docs.mdx
  storybook/src/components/ProgressList/ProgressListStep.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat: Add Tab Navigation component for page-level navigation
  packages-proprietary/tokens/src/components/ams/tab-navigation.tokens.json
  packages/css/src/components/index.scss
  packages/css/src/components/tab-navigation/README.md
  packages/css/src/components/tab-navigation/tab-navigation.scss
  packages/react/src/TabNavigation/README.md
  packages/react/src/TabNavigation/TabNavigation.test.tsx
  packages/react/src/TabNavigation/TabNavigation.tsx
  packages/react/src/TabNavigation/TabNavigationLink.test.tsx
  packages/react/src/TabNavigation/TabNavigationLink.tsx
  packages/react/src/TabNavigation/TabNavigationList.test.tsx
  packages/react/src/TabNavigation/TabNavigationList.tsx
  packages/react/src/TabNavigation/index.ts
  packages/react/src/index.ts
  storybook/src/components/TabNavigation/TabNavigation.docs.mdx
  storybook/src/components/TabNavigation/TabNavigation.stories.tsx
  storybook/src/components/TabNavigation/TabNavigation.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(Tab Navigation): Make stories interactive and show clean source code
  storybook/src/components/TabNavigation/TabNavigation.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Tab Navigation): Add vertical orientation
  packages/css/src/components/tab-navigation/README.md
  packages/css/src/components/tab-navigation/tab-navigation.scss
  packages/react/src/TabNavigation/TabNavigation.test.tsx
  packages/react/src/TabNavigation/TabNavigation.tsx
  storybook/src/components/TabNavigation/TabNavigation.docs.mdx
  storybook/src/components/TabNavigation/TabNavigation.stories.tsx
  storybook/src/components/TabNavigation/TabNavigation.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(Tab Navigation): Add optional icon prop to links and improve stories
  packages-proprietary/tokens/src/components/ams/tab-navigation.tokens.json
  packages/css/src/components/tab-navigation/tab-navigation.scss
  packages/react/src/TabNavigation/TabNavigationLink.test.tsx
  packages/react/src/TabNavigation/TabNavigationLink.tsx
  storybook/src/components/TabNavigation/TabNavigation.docs.mdx
  storybook/src/components/TabNavigation/TabNavigation.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Document removal date to deprecated prop
  packages/react/src/Accordion/AccordionSection.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add extra text to caption in test story
  storybook/src/components/Table/Table.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Update dependencies
  package.json
  packages/react/package.json
  pnpm-lock.yaml
  storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore: Update security overrides
  package.json
  pnpm-lock.yaml
  storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore(deps): Update dependencies and security overrides (#2554)
  package.json
  packages/react/package.json
  pnpm-lock.yaml
  storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Group deprecation icon with token name
  storybook/src/_components/DesignTokensTable/DesignTokensTableRow.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Address review feedback
  packages-proprietary/tokens/src/components/ams/accordion.tokens.json
  packages-proprietary/tokens/src/components/ams/page.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove redundant group-level $type from groups with reference tokens
  packages-proprietary/tokens/src/common/ams/links.tokens.json
  packages-proprietary/tokens/src/components/ams/alert.tokens.json
  packages-proprietary/tokens/src/components/ams/avatar.tokens.json
  packages-proprietary/tokens/src/components/ams/badge.tokens.json
  packages-proprietary/tokens/src/components/ams/button.tokens.json
  packages-proprietary/tokens/src/components/ams/checkbox.tokens.json
  packages-proprietary/tokens/src/components/ams/icon-button.tokens.json
  packages-proprietary/tokens/src/components/ams/link-list.tokens.json
  packages-proprietary/tokens/src/components/ams/link.tokens.json
  packages-proprietary/tokens/src/components/ams/page-header.tokens.json
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
  packages-proprietary/tokens/src/components/ams/radio.tokens.json
  packages-proprietary/tokens/src/components/ams/spotlight.tokens.json
  packages-proprietary/tokens/src/components/ams/standalone-link.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Apply some findings from code review
  packages-proprietary/tokens/README.md
  packages-proprietary/tokens/src/brand/ams/typography.tokens.json
  packages-proprietary/tokens/src/common/ams/links.tokens.json
  packages-proprietary/tokens/src/components/ams/description-list.tokens.json
  packages-proprietary/tokens/src/components/ams/link.tokens.json
  packages-proprietary/tokens/src/components/ams/page.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Apply suggestions from code review
  packages-proprietary/tokens/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Drop final default segment when constructing path, like customKebab
  storybook/src/_components/DesignTokensTable/flattenTokens.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update compatibility and add test
  storybook/src/_components/DesignTokensTable/flattenTokens.test.ts
  storybook/src/_components/DesignTokensTable/flattenTokens.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
