Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Add script to add missing license banners
  add-license-banners.js
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add missing license banners
  .github/issue_template.md
  .github/pull_request_template.md
  LICENSE.md
  add-license-banners.js
  packages-proprietary/assets/CHANGELOG.md
  packages-proprietary/react-icons/CHANGELOG.md
  packages-proprietary/react-icons/src/index.ts
  packages-proprietary/tokens/CHANGELOG.md
  packages/css/CHANGELOG.md
  packages/css/documentation/coding-conventions.md
  packages/react/CHANGELOG.md
  packages/react/documentation/coding-conventions.md
  storybook/config/main.ts
  storybook/config/types.ts
  storybook/config/viewports.ts
  storybook/src/docs/components/color-palette.css
  storybook/src/docs/components/icon-gallery.css
  storybook/src/docs/components/status-badge.css
  storybook/src/pages/amsterdam/ArticlePage/news-articles.ts
  storybook/src/pages/amsterdam/ArticlePage/parser.config.ts
  storybook/src/pages/amsterdam/NavigationPage/persons.ts
  storybook/src/styles/docs.css
  storybook/src/styles/inline-color-sample.css
  storybook/src/styles/overrides.css
  storybook/vite.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

revert test command to chromatic
  storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Add gap between menu link icon and label in wide window
  packages-proprietary/tokens/src/components/ams/menu.tokens.json
  packages/css/src/components/menu/menu.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Increase vertical gap between Page Header content and collapsible menu
  packages-proprietary/tokens/src/components/ams/page-header.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Apply application layout to application pages
  storybook/config/preview.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add application layout option to Page
  packages-proprietary/tokens/src/components/ams/page.tokens.json
  packages/css/src/components/page/README.md
  packages/css/src/components/page/page.scss
  packages/react/src/Page/Page.tsx
  storybook/src/components/Page/Page.docs.mdx
  storybook/src/components/Page/Page.stories.tsx
  storybook/src/styles/docs.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Add initial example of application home page
  storybook/src/components/Page/Page.docs.mdx
  storybook/src/pages/applications/HomePage/HomePage.docs.mdx
  storybook/src/pages/applications/HomePage/HomePage.stories.tsx
  storybook/src/pages/applications/HomePage/HomePage.tsx
  storybook/src/pages/applications/common/Layout.tsx
  storybook/src/pages/applications/common/MenuWithItems.tsx
  storybook/src/pages/applications/common/config.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Increase vertical gap between wrapping Footer Menu items
  packages-proprietary/tokens/src/components/ams/page-footer.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Remove obsolete imports
  storybook/src/brand/design-tokens/colour.docs.mdx
  storybook/src/brand/design-tokens/typography.docs.mdx
  storybook/src/components/PageHeading/PageHeading.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove unnecessary license banners
  LICENSE.md
  NOTICE.md
  packages-proprietary/assets/CHANGELOG.md
  packages-proprietary/react-icons/CHANGELOG.md
  packages-proprietary/tokens/CHANGELOG.md
  packages/css/CHANGELOG.md
  packages/react/CHANGELOG.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Remove obsolete imports (#2251)
  storybook/src/brand/design-tokens/colour.docs.mdx
  storybook/src/brand/design-tokens/typography.docs.mdx
  storybook/src/components/PageHeading/PageHeading.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Restore license banner in copyright notice
  NOTICE.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove script to add licences
  add-license-banners.js
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Revert autocorrected arrow
  NOTICE.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Move styles from prop class to media query
  packages-proprietary/tokens/src/components/ams/menu.tokens.json
  packages/css/src/components/menu/menu.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Consolidate responsive examples and update prop automatically
  packages/css/src/components/menu/README.md
  storybook/src/components/Menu/Menu.docs.mdx
  storybook/src/components/Menu/Menu.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Add missing licenses (#2252)
  .github/issue_template.md
  .github/pull_request_template.md
  packages-proprietary/react-icons/src/index.ts
  packages-proprietary/tokens/CHANGELOG.md
  packages/css/documentation/coding-conventions.md
  packages/react/documentation/coding-conventions.md
  storybook/config/main.ts
  storybook/config/types.ts
  storybook/config/viewports.ts
  storybook/src/docs/components/color-palette.css
  storybook/src/docs/components/icon-gallery.css
  storybook/src/docs/components/status-badge.css
  storybook/src/pages/amsterdam/ArticlePage/news-articles.ts
  storybook/src/pages/amsterdam/ArticlePage/parser.config.ts
  storybook/src/pages/amsterdam/NavigationPage/persons.ts
  storybook/src/styles/docs.css
  storybook/src/styles/inline-color-sample.css
  storybook/src/styles/overrides.css
  storybook/vite.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Fix typo
  storybook/src/components/Menu/Menu.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
