Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Make difference between zoom and browser text size more clear
  documentation/definition-of-done.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Move Design section to end of document, use level 3 headings in Clean implementation section
  documentation/definition-of-done.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Rephrase
  documentation/definition-of-done.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update documentation/definition-of-done.md
  documentation/definition-of-done.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix typo
  documentation/definition-of-done.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add check about using correct system colors
  documentation/definition-of-done.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Dialog): Add design tokens for border radius and box shadow (#2435)
  packages-proprietary/tokens/src/components/ams/dialog.tokens.json
  packages/css/src/components/dialog/dialog.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(Page Header): brandNameShort on lt wide
  packages/react/src/PageHeader/PageHeader.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs: story and line about abbr brand name
  packages/css/src/components/page-header/README.md
  storybook/src/components/PageHeader/PageHeader.docs.mdx
  storybook/src/components/PageHeader/PageHeader.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs: rename story var (make it shorter)
  storybook/src/components/PageHeader/PageHeader.docs.mdx
  storybook/src/components/PageHeader/PageHeader.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

revert: remove redundant return statement
  packages/react/src/PageHeader/PageHeader.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix: add brandNameShort to extra LogoLinkContent
  packages/react/src/PageHeader/PageHeader.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs: move story up; adjust text
  storybook/src/components/PageHeader/PageHeader.docs.mdx
  storybook/src/components/PageHeader/PageHeader.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

perf: dedupe CSS rules
  packages/css/src/components/page-header/page-header.scss
Due: prettier --check, stylelint --allow-empty-input

refactor: mobile-first CSS
  packages/css/src/components/page-header/page-header.scss
Due: prettier --check, stylelint --allow-empty-input

feat: render both variants; hide on breakpoints
  packages/css/src/components/page-header/page-header.scss
  packages/react/src/PageHeader/PageHeader.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

docs: use window or viewport instead of screen
  packages/css/src/components/page-header/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Make name of hook more precise
  packages/react/src/PageHeader/PageHeader.tsx
  packages/react/src/common/useViewportHasMinWidth.test.tsx
  packages/react/src/common/useViewportHasMinWidth.tsx
  storybook/src/components/Menu/Menu.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Normalize DTCG shadow values when building tokens
  packages-proprietary/tokens/build.js
  packages-proprietary/tokens/style-dictionary/dimensionToString.js
  packages-proprietary/tokens/style-dictionary/transforms/shadow-dtcg-dimension-normalize.js
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Reuse dimensionToString in dtcg/dimension transform
  packages-proprietary/tokens/style-dictionary/transforms/dtcg-dimension.js
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use full DTCG format for shadow tokens
  packages-proprietary/tokens/src/common/ams/inputs.tokens.json
  packages-proprietary/tokens/src/components/ams/button.tokens.json
  packages-proprietary/tokens/src/components/ams/date-input.tokens.json
  packages-proprietary/tokens/src/components/ams/password-input.tokens.json
  packages-proprietary/tokens/src/components/ams/search-field.tokens.json
  packages-proprietary/tokens/src/components/ams/tabs.tokens.json
  packages-proprietary/tokens/src/components/ams/text-area.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Move dtcg/dimension transform into separate file
  packages-proprietary/tokens/build.js
  packages-proprietary/tokens/style-dictionary/transforms/dtcg-dimension.js
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Move name/custom-kebab transform into separate file
  packages-proprietary/tokens/build.js
  packages-proprietary/tokens/style-dictionary/transforms/name-custom-kebab.js
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Move name/custom-camel transform into separate file
  packages-proprietary/tokens/build.js
  packages-proprietary/tokens/style-dictionary/transforms/name-custom-camel.js
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add filter to exclude tokens from our built stylesheets
  packages-proprietary/tokens/README.md
  packages-proprietary/tokens/build.js
  packages-proprietary/tokens/src/components/ams/dialog.tokens.json
  packages-proprietary/tokens/style-dictionary/filters/ams-exclude.js
  packages/css/src/components/dialog/dialog.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Await async function call and replace map with for
  packages-proprietary/tokens/build.js
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs: story and line about abbr brand name
  storybook/src/components/PageHeader/PageHeader.docs.mdx
  storybook/src/components/PageHeader/PageHeader.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

revert: remove redundant return statement
  packages/css/src/components/page-header/page-header.scss
  packages/react/src/PageHeader/PageHeader.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
