Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(Fieldset, Label): Allow Heading in Fieldset Legend and Label (#2223)
  packages/css/src/components/field-set/field-set.scss
  packages/css/src/components/label/label.scss
  packages/react/src/FieldSet/FieldSet.test.tsx
  packages/react/src/FieldSet/FieldSet.tsx
  packages/react/src/Label/Label.test.tsx
  packages/react/src/Label/Label.tsx
  storybook/src/components/FieldSet/FieldSet.docs.mdx
  storybook/src/components/FieldSet/FieldSet.stories.tsx
  storybook/src/components/Label/Label.docs.mdx
  storybook/src/components/Label/Label.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

start on integration tests
  storybook/src/components/Button/Button.stories.tsx
  storybook/src/components/FieldSet/FieldSet.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

hide button primary story in front-end
  storybook/src/components/Button/Button.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat: start on integration Chromatic with example tests for Button and IconButton
  storybook/chromatic.config.json
  storybook/config/main.ts
  storybook/package.json
  storybook/src/components/Button/Button.stories.tsx
  storybook/src/components/IconButton/IconButton.stories.tsx
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

rename TestCase to TestCases
  storybook/chromatic.config.json
  storybook/src/components/Button/Button.stories.tsx
  storybook/src/components/IconButton/IconButton.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

update lock file
  pnpm-lock.yaml
Due: none

Use new FieldSet prop instead of custom component
  storybook/src/pages/amsterdam/FormFlow/WithOneQuestion.tsx
  storybook/src/pages/amsterdam/FormFlow/WithValidationError.tsx
  storybook/src/pages/amsterdam/FormFlow/components/FieldSetWithHeading.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add more docs
  storybook/src/pages/amsterdam/FormFlow/WithOneQuestion.tsx
  storybook/src/pages/amsterdam/FormFlow/WithValidationError.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Date Input, Time Input): Add and use tokens that spell ‘calendar’ correctly (#2229)
  packages-proprietary/tokens/src/components/ams/date-input.deprecated.tokens.json
  packages-proprietary/tokens/src/components/ams/date-input.tokens.json
  packages-proprietary/tokens/src/components/ams/time-input.deprecated.tokens.json
  packages-proprietary/tokens/src/components/ams/time-input.tokens.json
  packages/css/src/components/date-input/date-input.scss
  packages/css/src/components/time-input/time-input.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Add Chromatic Github Action and fix syntax issue
  .github/workflows/chromatic.yml
  storybook/src/components/FieldSet/FieldSet.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Github Action syntax error
  .github/workflows/chromatic.yml
Due: none

use pnpm instead of npm
  .github/workflows/chromatic.yml
Due: none

change workindDir of Github Action
  .github/workflows/chromatic.yml
Due: none

Improve deprecation approach of misspelled LinkedIn icon
  packages-proprietary/react-icons/src/LinkedIn.tsx
  packages-proprietary/react-icons/src/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

GitHub Action permissions, and added thank you to README
  .github/workflows/chromatic.yml
  README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@f0f16ba4a5a12468127ddf69f13a1150e477aa5a 🚀
  demo-chromatic-tests/b370d73f41b9e77e776f5491ef1c87a465cd1a9f.txt
  demo-chromatic-tests/f0f16ba4a5a12468127ddf69f13a1150e477aa5a.txt
  demo-chromatic-tests/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Revert breaking rename of asset file
  packages-proprietary/assets/icons/Linkedin.svg
  packages-proprietary/react-icons/src/LinkedIn.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Remove duplicate copyright notices
  packages/react/src/Heading/Heading.tsx
  packages/react/src/Icon/Icon.tsx
  packages/react/src/Paragraph/Paragraph.tsx
  packages/react/src/Table/TableCaption.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Sort listing of components in docs
  storybook/src/brand/design-tokens/inputs.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Remove duplicate copyright notices (#2233)
  packages/react/src/Heading/Heading.tsx
  packages/react/src/Icon/Icon.tsx
  packages/react/src/Paragraph/Paragraph.tsx
  packages/react/src/Table/TableCaption.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
