Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Improve docs
  packages/css/src/components/inline-size-context/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

refactor(cleanup): lock max-delete cap at 25
  .github/scripts/cleanup_gh_pages_demos.sh
  .github/workflows/cleanup-environments.yml
  .github/workflows/cleanup-gh-pages-demos.yml
Due: none

fix(workflows): apply 14-day grace window on release-triggered gh-pages cleanup
  .github/workflows/cleanup-gh-pages-demos.yml
Due: none

fix(cleanup): strip demo- prefix only once in bash directory loop
  .github/scripts/cleanup_gh_pages_demos.sh
Due: none

test(workflows): require exit code 0 in cleanup script smoke test
  .github/scripts/test-cleanup-scripts.sh
Due: none

chore: add license headers to cleanup scripts and workflows
  .github/scripts/.gitignore
  .github/scripts/cleanup_environments.py
  .github/scripts/cleanup_gh_pages_demos.sh
  .github/workflows/cleanup-environments.yml
  .github/workflows/cleanup-gh-pages-demos.yml
Due: none

fix(merge): unresolved conflicts
  packages-proprietary/react-icons/eslint.config.mjs
  packages/react/eslint.config-partial.mjs
  packages/react/eslint.config.mjs
  storybook/eslint.config.mjs
Due: none

chore(ESLint): format react hooks plugin config
  packages/react/eslint.config-partial.mjs
Due: none

fix(ImageSlider): skip resize listener for empty images
  packages/react/src/ImageSlider/ImageSlider.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(InvalidFormAlert): simplify title restore cleanup
  packages/react/src/InvalidFormAlert/useAddErrorCountToDocumentTitle.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(fix): remove misplaced backtick
  packages/react/eslint.config-partial.mjs
Due: none

fix: Enforce React hooks rules and fix violations across components (#2638)
  packages/react/eslint.config-partial.mjs
  packages/react/package.json
  packages/react/src/Accordion/AccordionSection.tsx
  packages/react/src/Checkbox/Checkbox.tsx
  packages/react/src/ImageSlider/ImageSlider.tsx
  packages/react/src/InvalidFormAlert/InvalidFormAlertWithErrors.tsx
  packages/react/src/InvalidFormAlert/useAddErrorCountToDocumentTitle.tsx
  packages/react/src/Radio/Radio.tsx
  packages/react/src/SearchField/SearchFieldInput.tsx
  packages/react/src/Switch/Switch.tsx
  packages/react/src/Tabs/Tabs.tsx
  packages/react/src/common/useViewportHasMinWidth.tsx
  pnpm-lock.yaml
  storybook/src/pages/internal/TablePage/stories/WithPagination.tsx
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore: remove renamed files
  packages-proprietary/react-icons/eslint.react-icons.config.mjs
  packages/react/eslint.react.config.mjs
  storybook/eslint.storybook.config.mjs
Due: none

fix(merge): add ESLint rule again
  packages/react/eslint.config-partial.mjs
Due: none

fix(ESLint): scope Node.js out of browser targets
  eslint.config.mjs
Due: none

refactor: remove unused container names
  packages-proprietary/tokens/src/components/ams/dialog.tokens.json
  packages-proprietary/tokens/src/components/ams/grid.tokens.json
  packages-proprietary/tokens/src/components/ams/page.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs: simplify line about container queries
  packages/css/src/components/dialog/README.md
  packages/css/src/components/grid/README.md
  packages/css/src/components/page/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(InlineSizeContext): address review comments
  packages/css/src/components/inline-size-context/README.md
  storybook/src/utils/InlineSizeContext/InlineSizeContext.docs.mdx
  storybook/src/utils/InlineSizeContext/InlineSizeContext.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs: fix wrong token names
  packages/css/src/components/inline-size-context/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

refactor(InlineSizeContext): use rem units
  storybook/src/utils/InlineSizeContext/InlineSizeContext.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Menu): use generic forwardRef form
  packages/react/src/Menu/Menu.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): import Paragraph from barrel
  storybook/src/components/Grid/Grid.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(React): drop dead Omit<> wrappers
  packages/react/src/Breakout/BreakoutCell.tsx
  packages/react/src/Grid/Grid.tsx
  packages/react/src/Grid/GridCell.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check
