Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

chore(deps): Roll back explicite peer dependency from react to css package
  packages/react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore: Add design tokens section in generated docs file
  plop-templates/storybook.docs.mdx.hbs
Due: none

feat(Design Tokens Table): Add message when empty
  storybook/src/_components/DesignTokensTable/DesignTokensTable.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add example of sorting Table with Select
  storybook/src/pages/internal/TablePage/TablePage.docs.mdx
  storybook/src/pages/internal/TablePage/TablePage.stories.tsx
  storybook/src/pages/internal/TablePage/common/RankingTableBody.tsx
  storybook/src/pages/internal/TablePage/common/RankingTableHeaderRow.tsx
  storybook/src/pages/internal/TablePage/common/getSortedRanking.ts
  storybook/src/pages/internal/TablePage/common/index.ts
  storybook/src/pages/internal/TablePage/common/options.ts
  storybook/src/pages/internal/TablePage/common/ranking.ts
  storybook/src/pages/internal/TablePage/table-page.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Link builds to PRs and trigger action at correct moments
  .github/workflows/chromatic.yml
Due: none

chore: Link Chromatic builds to PRs and trigger action at correct moments (#2514)
  .github/workflows/chromatic.yml
Due: none

Replace Eredivisie ranking data with BAG addresses dataset
  storybook/src/pages/internal/TablePage/TablePage.docs.mdx
  storybook/src/pages/internal/TablePage/TablePage.stories.tsx
  storybook/src/pages/internal/TablePage/common/AddressTableBody.tsx
  storybook/src/pages/internal/TablePage/common/AddressTableHeaderRow.tsx
  storybook/src/pages/internal/TablePage/common/RankingTableBody.tsx
  storybook/src/pages/internal/TablePage/common/RankingTableHeaderRow.tsx
  storybook/src/pages/internal/TablePage/common/bagAddresses.ts
  storybook/src/pages/internal/TablePage/common/index.ts
  storybook/src/pages/internal/TablePage/common/options.ts
  storybook/src/pages/internal/TablePage/common/ranking.ts
  storybook/src/pages/internal/TablePage/common/sortAddresses.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Consolidate headings and move into Table Caption
  storybook/src/pages/internal/TablePage/TablePage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Table): Add side prop to Caption and fix compound component types
  packages-proprietary/tokens/src/components/ams/table.tokens.json
  packages/css/src/components/table/table.scss
  packages/react/src/Table/Table.tsx
  packages/react/src/Table/TableCaption.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Fix docs
  storybook/src/pages/internal/TablePage/TablePage.docs.mdx
  storybook/src/pages/internal/TablePage/common/AddressTableBody.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Narrow SortOrder type to only the values in sortOptions
  storybook/src/pages/internal/TablePage/common/options.ts
  storybook/src/pages/internal/TablePage/common/sortAddresses.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use a form with URL parameters for sort state instead of React state
  storybook/src/pages/internal/TablePage/TablePage.docs.mdx
  storybook/src/pages/internal/TablePage/TablePage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add license banner and data source
  storybook/src/pages/internal/TablePage/common/bagAddresses.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update mock grey background
  storybook/src/pages/internal/TablePage/TablePage.stories.tsx
  storybook/src/pages/internal/TablePage/table-page.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Tweak spacing
  storybook/src/pages/internal/TablePage/TablePage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add space after comma in multivalue fields
  storybook/src/pages/internal/TablePage/common/AddressTableBody.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(tokens,css): fallback to new custom props
  packages-proprietary/tokens/src/components/ams/description-list.tokens.json
  packages-proprietary/tokens/src/components/ams/dialog.tokens.json
  packages-proprietary/tokens/src/components/ams/grid.tokens.json
  packages-proprietary/tokens/src/components/ams/menu.tokens.json
  packages-proprietary/tokens/src/components/ams/page-footer.tokens.json
  packages-proprietary/tokens/src/components/ams/page-header.tokens.json
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
  packages/css/src/components/breakout/breakout.scss
  packages/css/src/components/description-list/description-list.scss
  packages/css/src/components/dialog/dialog.scss
  packages/css/src/components/grid/_mixins.scss
  packages/css/src/components/menu/menu.scss
  packages/css/src/components/page-footer/page-footer.scss
  packages/css/src/components/page-header/page-header.scss
  packages/css/src/components/progress-list/progress-list.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

build(deps): postcss as devDep for Stylelint
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore(deps): Roll back explicit peer dependency from react to css package (#2512)
  packages/react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Add unit test for new prop
  packages/react/src/Table/TableCaption.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check
