Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Remove unnecesary colour info and simplify group name
  packages/css/src/components/avatar/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Make token tables consistent (#1863)
  packages/css/src/components/gap/README.md
  packages/css/src/components/margin/README.md
  storybook/src/components/CharacterCount/CharacterCount.docs.mdx
  storybook/src/docs/developer-guide/interactivity.docs.mdx
  storybook/src/foundation/design-tokens/aspect-ratio.docs.mdx
  storybook/src/foundation/design-tokens/border.docs.mdx
  storybook/src/foundation/design-tokens/colour.docs.mdx
  storybook/src/foundation/design-tokens/cursor.docs.mdx
  storybook/src/foundation/design-tokens/space.docs.mdx
  storybook/src/styles/docs.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Remove unnecessary ‘path’ query param from Markdown links
  packages/css/src/components/action-group/README.md
  packages/css/src/components/button/README.md
  storybook/src/components/Dialog/Dialog.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Avatar)!: Use updated color names for azure, lime and green (#1867)
  packages/css/src/components/avatar/README.md
  packages/css/src/components/avatar/avatar.scss
  packages/react/src/Avatar/Avatar.tsx
  proprietary/tokens/src/components/ams/avatar.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Hyphenate remaining components that render text
  packages/css/src/components/accordion/accordion.scss
  packages/css/src/components/badge/badge.scss
  packages/css/src/components/button/button.scss
  packages/css/src/components/character-count/character-count.scss
  packages/css/src/components/file-list/file-list.scss
  packages/css/src/components/top-task-link/top-task-link.scss
Due: prettier --check, stylelint --allow-empty-input

Fix broken links and make them absolute
  packages/css/src/components/button/README.md
  packages/css/src/components/link/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat: Add missing hyphenation behaviour to all text components (#1864)
  packages/css/src/components/accordion/accordion.scss
  packages/css/src/components/badge/badge.scss
  packages/css/src/components/breadcrumb/breadcrumb.scss
  packages/css/src/components/button/button.scss
  packages/css/src/components/character-count/character-count.scss
  packages/css/src/components/checkbox/checkbox.scss
  packages/css/src/components/description-list/description-list.scss
  packages/css/src/components/error-message/error-message.scss
  packages/css/src/components/figure/figure.scss
  packages/css/src/components/file-list/file-list.scss
  packages/css/src/components/link-list/link-list.scss
  packages/css/src/components/link/link.scss
  packages/css/src/components/ordered-list/ordered-list.scss
  packages/css/src/components/paragraph/paragraph.scss
  packages/css/src/components/radio/radio.scss
  packages/css/src/components/table-of-contents/table-of-contents.scss
  packages/css/src/components/top-task-link/top-task-link.scss
  packages/css/src/components/unordered-list/unordered-list.scss
Due: prettier --check, stylelint --allow-empty-input

Update docs
  storybook/src/foundation/design-tokens/links.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Add mega menu to example pages (#1862)
  storybook/src/pages/amsterdam/common/AppHeader.tsx
  storybook/src/pages/amsterdam/common/menu.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix renamed token
  storybook/src/styles/overrides.css
Due: prettier --check, stylelint --allow-empty-input

Use extra bold for body text as well
  proprietary/tokens/src/brand/ams/typography.tokens.json
  storybook/src/foundation/design-tokens/typography.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update docs, remove unnecessary default, merge regular into default
  packages/css/src/components/link/link.scss
  proprietary/tokens/src/common/ams/links.tokens.json
  proprietary/tokens/src/components/ams/link.tokens.json
  storybook/src/foundation/design-tokens/links.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Fix one more broken link
  storybook/src/components/Dialog/Dialog.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Remove unnecessary ‘path’ query param from Markdown links (#1872)
  packages/css/src/components/action-group/README.md
  packages/css/src/components/button/README.md
  packages/css/src/components/link/README.md
  storybook/src/components/Dialog/Dialog.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check
