Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

feat(Checkbox, Radio): Allow passing a custom ID
  packages/react/src/Checkbox/Checkbox.test.tsx
  packages/react/src/Checkbox/Checkbox.tsx
  packages/react/src/Radio/Radio.test.tsx
  packages/react/src/Radio/Radio.tsx
  storybook/src/components/Checkbox/Checkbox.stories.tsx
  storybook/src/components/Radio/Radio.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Checkbox, Radio): Allow passing a custom ID (#2153)
  packages/react/src/Checkbox/Checkbox.test.tsx
  packages/react/src/Checkbox/Checkbox.tsx
  packages/react/src/Radio/Radio.test.tsx
  packages/react/src/Radio/Radio.tsx
  storybook/src/components/Checkbox/Checkbox.stories.tsx
  storybook/src/components/Radio/Radio.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Enlarge hit area for Breadcrumb links
  packages-proprietary/tokens/src/components/ams/breadcrumb.tokens.json
  packages/css/src/components/breadcrumb/breadcrumb.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix: Remove phantom whitespace below Switch
  packages/css/src/components/switch/switch.scss
Due: prettier --check, stylelint --allow-empty-input

fix(Switch): Remove phantom whitespace below (#2155)
  packages/css/src/components/switch/switch.scss
Due: prettier --check, stylelint --allow-empty-input

Add example of search results with Mark
  storybook/src/components/Mark/Mark.docs.mdx
  storybook/src/components/Mark/Mark.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Allow updating the Search Input itself
  storybook/src/components/Mark/Mark.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix appearance of Page Header when CSS does not load
  packages/css/src/components/page-header/page-header.scss
  packages/react/src/Logo/brand/LogoAmsterdam.tsx
  packages/react/src/Logo/brand/LogoGgdAmsterdam.tsx
  packages/react/src/Logo/brand/LogoMuseumWeesp.tsx
  packages/react/src/Logo/brand/LogoStadsarchief.tsx
  packages/react/src/Logo/brand/LogoStadsbankVanLening.tsx
  packages/react/src/Logo/brand/LogoVgaVerzekeringen.tsx
  packages/react/src/PageHeader/PageHeader.tsx
  packages/react/src/PageHeader/PageHeaderMenuIcon.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Hide SVGs by default, only show when CSS loads
  packages-proprietary/assets/icons/ChevronForward.svg
  packages/css/src/components/icon/icon.scss
  packages/css/src/components/page-header/page-header.scss
Due: prettier --check, stylelint --allow-empty-input

Allow typing in Text Input examples
  storybook/src/components/TextInput/TextInput.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Improve example values
  storybook/src/components/TextInput/TextInput.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Set appropriate sizes for all examples
  storybook/src/components/TextInput/TextInput.docs.mdx
  storybook/src/components/TextInput/TextInput.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix function arguments and types
  storybook/src/components/Mark/Mark.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Improve marking function
  storybook/src/components/Mark/Mark.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add type
  storybook/src/components/TextInput/TextInput.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Allow typing in Field examples as well
  storybook/src/components/TextInput/TextInput.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Ensure input reflects the current query state
  storybook/src/components/Mark/Mark.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix linter errors
  packages/css/src/components/menu/menu.scss
  storybook/src/components/Mark/Mark.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Enforce light color scheme
  storybook/config/manager-head.html
Due: none

WIP Try a decorator approach
  storybook/src/components/TextInput/TextInput.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Replace example article with an actual news item
  pnpm-lock.yaml
  storybook/package.json
  storybook/src/pages/amsterdam/ArticlePage/ArticleBody.tsx
  storybook/src/pages/amsterdam/ArticlePage/ArticleBreadcrumb.tsx
  storybook/src/pages/amsterdam/ArticlePage/ArticleHeader.tsx
  storybook/src/pages/amsterdam/ArticlePage/ArticlePage.stories.tsx
  storybook/src/pages/amsterdam/ArticlePage/ArticlePage.tsx
  storybook/src/pages/amsterdam/ArticlePage/news-articles.ts
  storybook/src/pages/amsterdam/ArticlePage/parser.config.ts
  storybook/src/pages/amsterdam/HomePage/HomeNews.tsx
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Update lock file
  pnpm-lock.yaml
Due: none
