Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

feat(Dialog): Lock background scroll while a modal Dialog is open
  packages/css/src/components/dialog/dialog.scss
Due: prettier --check, stylelint --allow-empty-input

chore(DescriptionList): use query container instead of Page wrapper in stories
  storybook/src/components/DescriptionList/DescriptionList.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Dialog): Use design system class name instead of element
  packages/css/src/components/dialog/dialog.scss
Due: prettier --check, stylelint --allow-empty-input

feat(Dialog): Prevent body from scrolling while a modal Dialog is open (#2722)
  packages/css/src/components/dialog/dialog.scss
Due: prettier --check, stylelint --allow-empty-input

chore(Storybook): add maximiseInlineSize decorator factory and named presets
  storybook/src/_common/decorators.tsx
  storybook/src/components/Button/Button.stories.tsx
  storybook/src/components/Card/Card.stories.tsx
  storybook/src/components/Figure/Figure.stories.tsx
  storybook/src/components/Image/Image.stories.tsx
  storybook/src/components/ImageSlider/ImageSlider.stories.tsx
  storybook/src/components/OrderedList/OrderedList.stories.tsx
  storybook/src/components/StandaloneLink/StandaloneLink.stories.tsx
  storybook/src/components/Tabs/Tabs.stories.tsx
  storybook/src/components/UnorderedList/UnorderedList.stories.tsx
  storybook/src/utils/Prose/Prose.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Restore ams-body without grey background
  storybook/config/preview.tsx
  storybook/src/_common/decorators.tsx
  storybook/src/_styles/overrides.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore(DescriptionList): use shared query container decorator
  storybook/src/_common/decorators.tsx
  storybook/src/components/DescriptionList/DescriptionList.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Storybook): Restore other body backgrounds, e.g. for inverse and contrast
  storybook/src/_styles/overrides.css
Due: prettier --check, stylelint --allow-empty-input

chore(Storybook): Give each story a fitting wrapper (#2715)
  storybook/config/preview.tsx
  storybook/src/_common/decorators.tsx
  storybook/src/_styles/overrides.css
  storybook/src/components/Breakout/Breakout.stories.tsx
  storybook/src/components/Button/Button.stories.tsx
  storybook/src/components/Card/Card.stories.tsx
  storybook/src/components/DescriptionList/DescriptionList.stories.tsx
  storybook/src/components/Figure/Figure.stories.tsx
  storybook/src/components/Grid/Grid.stories.tsx
  storybook/src/components/Image/Image.stories.tsx
  storybook/src/components/ImageSlider/ImageSlider.stories.tsx
  storybook/src/components/OrderedList/OrderedList.stories.tsx
  storybook/src/components/Overlap/Overlap.stories.tsx
  storybook/src/components/Page/Page.stories.tsx
  storybook/src/components/PageFooter/PageFooter.stories.tsx
  storybook/src/components/PageHeader/PageHeader.stories.tsx
  storybook/src/components/Spotlight/Spotlight.stories.tsx
  storybook/src/components/StandaloneLink/StandaloneLink.stories.tsx
  storybook/src/components/Tabs/Tabs.stories.tsx
  storybook/src/components/UnorderedList/UnorderedList.stories.tsx
  storybook/src/pages/internal/common/config.tsx
  storybook/src/pages/public/FormFlow/FormFlow.stories.tsx
  storybook/src/pages/public/common/config.tsx
  storybook/src/utils/Prose/Prose.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore(Storybook): Type-check local test files
  storybook/tsconfig.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Narrow test-file exclusion in tsconfig to packages only (#2723)
  storybook/tsconfig.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Describe container queries
  storybook/src/docs/developer-guide/breakpoints.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Rename page to ‘Responsive design’
  storybook/src/docs/developer-guide/responsive-design.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(docs): Use logical sizes and range syntax in container query examples
  packages/css/src/components/query-container/README.md
  storybook/src/docs/developer-guide/responsive-design.docs.mdx
  storybook/src/utils/QueryContainer/QueryContainer.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Cover container queries in renamed Responsive design page (#2724)
  packages/css/src/components/query-container/README.md
  storybook/src/docs/developer-guide/breakpoints.docs.mdx
  storybook/src/docs/developer-guide/responsive-design.docs.mdx
  storybook/src/utils/QueryContainer/QueryContainer.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(tests): bring coverage to 100%
  packages/react/src/Checkbox/Checkbox.tsx
  packages/react/src/DatePicker/DatePicker.test.tsx
  packages/react/src/ImageSlider/ImageSlider.tsx
  packages/react/src/InvalidFormAlert/useAddErrorCountToDocumentTitle.tsx
  packages/react/src/PageHeader/PageHeader.tsx
  packages/react/src/common/useViewportHasMinWidth.test.tsx
  packages/react/src/common/useViewportHasMinWidth.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(tests): address review feedback on coverage PR
  packages/react/src/ImageSlider/ImageSlider.test.tsx
  packages/react/src/ImageSlider/ImageSlider.tsx
  packages/react/src/common/useViewportHasMinWidth.test.tsx
  packages/react/src/common/useViewportHasMinWidth.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(tests): Bring coverage to 100% (#2725)
  packages/react/src/Checkbox/Checkbox.tsx
  packages/react/src/DatePicker/DatePicker.test.tsx
  packages/react/src/ImageSlider/ImageSlider.test.tsx
  packages/react/src/InvalidFormAlert/useAddErrorCountToDocumentTitle.tsx
  packages/react/src/PageHeader/PageHeader.tsx
  packages/react/src/common/useViewportHasMinWidth.test.tsx
  packages/react/src/common/useViewportHasMinWidth.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(deps): Update dependencies
  package.json
  packages/react/package.json
  pnpm-lock.yaml
  storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check
