Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix: prevent TypeScript from emitting JavaScript into source tree
  storybook/tsconfig.json
  tsconfig.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: prevent TypeScript from emitting JavaScript into source tree (#2577)
  storybook/tsconfig.json
  tsconfig.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update lockfile
  pnpm-lock.yaml
Due: none

chore(deps): Update dependencies (#2578)
  .github/workflows/chromatic.yml
  .github/workflows/feature-branch-cleanup.yml
  .github/workflows/feature-branch-deploy.yml
  .github/workflows/lint-test.yml
  .github/workflows/pr-bundle-size.yml
  .github/workflows/pr-coverage.yml
  .github/workflows/publish.yml
  package.json
  packages-proprietary/react-icons/package.json
  packages/react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore: Add react-icons and assets to bundle size reports
  .github/workflows/pr-bundle-size.yml
Due: none

refactor: Aggregate assets reporting into two categories
  .github/workflows/pr-bundle-size.yml
Due: none

refactor: Narrow asset glob to actual file types
  .github/workflows/pr-bundle-size.yml
Due: none

refactor: Aggregate assets into tar archives for single-number reporting
  .github/workflows/pr-bundle-size.yml
Due: none

Deploying to gh-pages from @ Amsterdam/design-system@517c8e3994a4923459af67f4853e82d7009ae6b6 🚀
  demo-add-bundle-size-reports/2722fa002a5de743ff69dce1c7dba1f84e707578.txt
  demo-add-bundle-size-reports/517c8e3994a4923459af67f4853e82d7009ae6b6.txt
  demo-add-bundle-size-reports/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

refactor: Use temp directory and clearer archive names
  .github/workflows/pr-bundle-size.yml
Due: none

Deploying to gh-pages from @ Amsterdam/design-system@dc903f1ead82c026d2aa38796858067bab6b28e2 🚀
  demo-add-bundle-size-reports/517c8e3994a4923459af67f4853e82d7009ae6b6.txt
  demo-add-bundle-size-reports/dc903f1ead82c026d2aa38796858067bab6b28e2.txt
  demo-add-bundle-size-reports/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix: Move cleanup step after bundle size reporting
  .github/workflows/pr-bundle-size.yml
Due: none

refactor: Explicitly remove only created tar files
  .github/workflows/pr-bundle-size.yml
Due: none

chore: Add react-icons and assets to bundle size reports (#2579)
  .github/workflows/pr-bundle-size.yml
Due: none

Overflow demo
  storybook/src/pages/internal/NavigationPage/NavigationPage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(inline-size-content): Use full CSS property in token names
  packages-proprietary/tokens/src/components/ams/inline-size-context.tokens.json
  packages/css/src/components/inline-size-context/inline-size-context.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix(Field Set): prevent overflow from children with an intrinsic width
  packages/css/src/components/field-set/field-set.scss
  storybook/src/components/PasswordInput/PasswordInput.docs.mdx
  storybook/src/components/TextInput/TextInput.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix(Grid): keep Compact Mode padding-inline consistent across breakpoints
  packages-proprietary/tokens/src/components/ams/grid.compact.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(tokens): document responsive overrides in Compact Mode
  packages-proprietary/tokens/CONTRIBUTING.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
