Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

test(React links): Cover linkComponent prop behaviour
  packages/react/src/Breadcrumb/BreadcrumbLink.test.tsx
  packages/react/src/CallToActionLink/CallToActionLink.test.tsx
  packages/react/src/Card/CardLink.test.tsx
  packages/react/src/Link/Link.test.tsx
  packages/react/src/LinkList/LinkListLink.test.tsx
  packages/react/src/Menu/MenuLink.test.tsx
  packages/react/src/PageFooter/PageFooterMenuLink.test.tsx
  packages/react/src/PageHeader/PageHeaderMenuLink.test.tsx
  packages/react/src/SkipLink/SkipLink.test.tsx
  packages/react/src/StandaloneLink/StandaloneLink.test.tsx
  packages/react/src/TabNavigation/TabNavigationLink.test.tsx
  packages/react/src/TableOfContents/TableOfContentsLink.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(storybook): Match ref-forwarding note to implemented behaviour
  storybook/src/docs/developer-guide/routing-libraries.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

refactor(React links): Order LinkListLink prop spread like its siblings
  packages/react/src/LinkList/LinkListLink.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(storybook): Note how to ref a custom link component
  storybook/src/docs/developer-guide/routing-libraries.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(storybook): Lead with examples, move details to a section
  storybook/src/docs/developer-guide/routing-libraries.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

refactor(React links): Rename TabNavigationLink internal variable to Tag
  packages/react/src/TabNavigation/TabNavigationLink.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(React links): Mention intrinsic elements in widened linkComponent JSDoc
  packages/react/src/PageHeader/PageHeader.tsx
  packages/react/src/Pagination/Pagination.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(React links): Forward refs only to anchor link components
  packages/react/src/Breadcrumb/BreadcrumbLink.tsx
  packages/react/src/CallToActionLink/CallToActionLink.tsx
  packages/react/src/Card/CardLink.tsx
  packages/react/src/Link/Link.tsx
  packages/react/src/LinkList/LinkListLink.tsx
  packages/react/src/Menu/MenuLink.tsx
  packages/react/src/PageFooter/PageFooterMenuLink.tsx
  packages/react/src/PageHeader/PageHeaderMenuLink.tsx
  packages/react/src/SkipLink/SkipLink.tsx
  packages/react/src/StandaloneLink/StandaloneLink.tsx
  packages/react/src/TabNavigation/TabNavigationLink.tsx
  packages/react/src/TableOfContents/TableOfContentsLink.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(storybook): Match ref-forwarding note to the narrowed behaviour
  storybook/src/docs/developer-guide/routing-libraries.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(React): Make all link components work with routing libraries (#2687)
  packages/react/src/Breadcrumb/BreadcrumbLink.test.tsx
  packages/react/src/Breadcrumb/BreadcrumbLink.tsx
  packages/react/src/Calendar/Calendar.tsx
  packages/react/src/CallToActionLink/CallToActionLink.test.tsx
  packages/react/src/CallToActionLink/CallToActionLink.tsx
  packages/react/src/Card/CardLink.test.tsx
  packages/react/src/Card/CardLink.tsx
  packages/react/src/Link/Link.test.tsx
  packages/react/src/Link/Link.tsx
  packages/react/src/LinkList/LinkListLink.test.tsx
  packages/react/src/LinkList/LinkListLink.tsx
  packages/react/src/Menu/MenuLink.test.tsx
  packages/react/src/Menu/MenuLink.tsx
  packages/react/src/PageFooter/PageFooterMenuLink.test.tsx
  packages/react/src/PageFooter/PageFooterMenuLink.tsx
  packages/react/src/PageHeader/PageHeader.tsx
  packages/react/src/PageHeader/PageHeaderMenuLink.test.tsx
  packages/react/src/PageHeader/PageHeaderMenuLink.tsx
  packages/react/src/Pagination/Pagination.tsx
  packages/react/src/SkipLink/SkipLink.test.tsx
  packages/react/src/SkipLink/SkipLink.tsx
  packages/react/src/StandaloneLink/StandaloneLink.test.tsx
  packages/react/src/StandaloneLink/StandaloneLink.tsx
  packages/react/src/TabNavigation/TabNavigationLink.test.tsx
  packages/react/src/TabNavigation/TabNavigationLink.tsx
  packages/react/src/TableOfContents/TableOfContentsLink.test.tsx
  packages/react/src/TableOfContents/TableOfContentsLink.tsx
  storybook/src/docs/developer-guide/routing-libraries.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(PageHeader): Use a stable default logo link and derive the menu open state
  packages/react/src/PageHeader/PageHeader.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Pagination): Use a stable default link component
  packages/react/src/Pagination/Pagination.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(PageHeader): Keep the menu closed after its button reappears
  packages/react/src/PageHeader/PageHeader.test.tsx
  packages/react/src/PageHeader/PageHeader.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(deps): Resolve Dependabot security alerts via pnpm overrides
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(deps): Bound security overrides to the current major with caret ranges
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(deps): Use a caret range for the @tootallnate/once override too
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(deps): Resolve Dependabot security alerts via pnpm overrides (#2706)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(Page Header, Pagination): Use stable default link components (#2705)
  packages/react/src/PageHeader/PageHeader.test.tsx
  packages/react/src/PageHeader/PageHeader.tsx
  packages/react/src/Pagination/Pagination.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Pagination): Add tokens and elements for theming, active state, ellipsis, and relative-link (#2690)
  packages-proprietary/tokens/src/components/ams/pagination.tokens.json
  packages/css/src/components/pagination/pagination.scss
  packages/react/src/Pagination/Ellipsis.tsx
  packages/react/src/Pagination/Pagination.test.tsx
  packages/react/src/Pagination/Pagination.tsx
  packages/react/src/Pagination/Spacer.tsx
  storybook/src/components/Pagination/Pagination.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix: Mark collapsed prop as readonly
  packages/react/src/ProgressList/ProgressListStep.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Improve documentation for accessible name props
  storybook/src/components/ProgressList/ProgressList.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
