Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Override vertical space in Shadow DOM of Date and Time Input
  packages/css/src/components/date-input/date-input.scss
  packages/css/src/components/time-input/time-input.scss
Due: prettier --check, stylelint --allow-empty-input

Remove date related selectors from Time Input stylesheet
  packages/css/src/components/time-input/time-input.scss
Due: prettier --check, stylelint --allow-empty-input

Sort selectors
  packages/css/src/components/date-input/date-input.scss
  packages/css/src/components/time-input/time-input.scss
Due: prettier --check, stylelint --allow-empty-input

Deprecate secondary interactive colour
  packages-proprietary/tokens/src/brand/ams/color.deprecated.tokens.json
  packages-proprietary/tokens/src/brand/ams/color.tokens.json
  storybook/src/brand/design-tokens/colour.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use British English spelling for licence
  NOTICE.md
  README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Highlight that people should not use our token values
  packages-proprietary/tokens/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Document explicitly that our icons can’t be used freely
  NOTICE.md
  packages/css/src/components/icon/README.md
  storybook/src/brand/assets/icons.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix spelling for affiliated
  packages-proprietary/tokens/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Standalone Link): Deprecate the variation with only an underline (#2136)
  packages-proprietary/tokens/src/components/ams/standalone-link.deprecated.tokens.json
  packages-proprietary/tokens/src/components/ams/standalone-link.tokens.json
  packages/css/src/components/link/README.md
  packages/css/src/components/standalone-link/README.md
  packages/css/src/components/standalone-link/standalone-link.scss
  packages/react/src/StandaloneLink/StandaloneLink.test.tsx
  packages/react/src/StandaloneLink/StandaloneLink.tsx
  storybook/src/components/ActionGroup/ActionGroup.stories.tsx
  storybook/src/components/PageFooter/PageFooter.stories.tsx
  storybook/src/components/StandaloneLink/StandaloneLink.docs.mdx
  storybook/src/components/StandaloneLink/StandaloneLink.stories.tsx
  storybook/src/components/shared/exampleContent.ts
  storybook/src/pages/amsterdam/NavigationPage/LinkGroupGridCells.tsx
  storybook/src/pages/amsterdam/NavigationPage/NavigationPage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Refactor Menu component tests to use screen queries and add custom accessible name test; update MenuLink to support custom icons
  packages/react/src/Menu/Menu.test.tsx
  packages/react/src/Menu/Menu.tsx
  packages/react/src/Menu/MenuLink.test.tsx
  packages/react/src/Menu/MenuLink.tsx
  packages/react/src/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat: Add Call to Action Link component (#2132)
  packages-proprietary/tokens/src/components/ams/call-to-action-link.tokens.json
  packages/css/src/components/button/README.md
  packages/css/src/components/call-to-action-link/README.md
  packages/css/src/components/call-to-action-link/call-to-action-link.scss
  packages/css/src/components/index.scss
  packages/react/src/CallToActionLink/CallToActionLink.test.tsx
  packages/react/src/CallToActionLink/CallToActionLink.tsx
  packages/react/src/CallToActionLink/README.md
  packages/react/src/CallToActionLink/index.ts
  packages/react/src/index.ts
  plop-templates/react.index.ts.hbs
  plop-templates/react.test.tsx.hbs
  storybook/src/brand/design-tokens/colour.docs.mdx
  storybook/src/components/CallToActionLink/CallToActionLink.docs.mdx
  storybook/src/components/CallToActionLink/CallToActionLink.stories.tsx
  storybook/src/pages/amsterdam/ProductPage/ProductPage.docs.mdx
  storybook/src/pages/amsterdam/ProductPage/ProductPage.stories.tsx
  storybook/src/pages/amsterdam/ProductPage/ProductPage.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Update icon prop type to accept ReactNode and adjust test for custom icon rendering
  packages/react/src/Menu/MenuLink.test.tsx
  packages/react/src/Menu/MenuLink.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Date Input, Time Input): Equalise height to that of other Inputs and Select (#2143)
  packages/css/src/components/date-input/date-input.scss
  packages/css/src/components/time-input/time-input.scss
Due: prettier --check, stylelint --allow-empty-input

chore: Deprecate secondary interactive colour (#2144)
  packages-proprietary/tokens/src/brand/ams/color.deprecated.tokens.json
  packages-proprietary/tokens/src/brand/ams/color.tokens.json
  storybook/src/brand/design-tokens/colour.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Document explicitly that our icons can’t be used freely (#2145)
  NOTICE.md
  README.md
  packages-proprietary/tokens/README.md
  packages/css/src/components/icon/README.md
  storybook/src/brand/assets/icons.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check
