Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

resolve syntax issue github action
  .github/workflows/lint-test.yml
Due: none

align indentation level github action
  .github/workflows/lint-test.yml
Due: none

add fetch-depth to github action for chromatic
  .github/workflows/lint-test.yml
Due: none

exclude running lint-test test command on storybook as this would be duplicate
  .github/workflows/lint-test.yml
Due: none

chore: Add Baseline linter for JavaScript and TypeScript files
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Remove unnecessary CSS
  packages/css/src/components/menu/menu.scss
Due: prettier --check, stylelint --allow-empty-input

Improve prop description
  packages/react/src/Menu/Menu.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Render a div if the Menu is outside the Page Header navigation
  packages/react/src/Menu/Menu.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Add linter to help check that we only use Baseline widely available JavaScript (#2245)
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore: Add linter to help check that we only use Baseline widely available CSS (#2242)
  .stylelintrc.json
  package.json
  packages/css/src/common/calculate-fluid-style.scss
  packages/css/src/common/hyphenation.scss
  packages/css/src/common/text-rendering.scss
  packages/css/src/components/breadcrumb/breadcrumb.scss
  packages/css/src/components/card/card.scss
  packages/css/src/components/description-list/description-list.scss
  packages/css/src/components/field-set/field-set.scss
  packages/css/src/components/heading/heading.scss
  packages/css/src/components/image-slider/image-slider.scss
  packages/css/src/components/label/label.scss
  packages/css/src/components/page-header/page-header.scss
  packages/css/src/components/page-heading/page-heading.deprecated.scss
  packages/css/src/components/tabs/tabs.scss
  packages/css/src/components/text-area/text-area.scss
  packages/css/src/components/visually-hidden/visually-hidden.scss
  packages/react/src/TextArea/TextArea.tsx
  pnpm-lock.yaml
  storybook/src/docs/components/color-palette.css
  storybook/src/docs/components/icon-gallery.css
  storybook/src/styles/docs.css
  storybook/src/styles/inline-color-sample.css
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Comment out skipped tests to hide linter warnings
  packages/react/src/Dialog/Dialog.test.tsx
  packages/react/src/ErrorMessage/ErrorMessage.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Slightly type polymorphic component refs
  packages/react/src/Column/Column.tsx
  packages/react/src/Grid/GridCell.tsx
  packages/react/src/Row/Row.tsx
  packages/react/src/Spotlight/Spotlight.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Reset negative margin in wide window
  packages/css/src/components/menu/menu.scss
Due: prettier --check, stylelint --allow-empty-input

Increase icon size of vertical Menu Link
  packages/css/src/components/menu/menu.scss
Due: prettier --check, stylelint --allow-empty-input

Align menu items with surrounding content
  packages/css/src/components/menu/menu.scss
Due: prettier --check, stylelint --allow-empty-input

Add tests
  packages/react/src/Menu/Menu.test.tsx
  packages/react/src/Menu/Menu.tsx
  packages/react/src/Menu/MenuLink.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@2a55331764ed03e96a92e63880b5ad60b7dbdf5e 🚀
  demo-DES-1478-application-page/2a55331764ed03e96a92e63880b5ad60b7dbdf5e.txt
  demo-DES-1478-application-page/7955d16fe5038b95e77be97ced02e999adbe54ae.txt
  demo-DES-1478-application-page/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: add documentation for tests
  documentation/tests.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check
