Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore(Skip Link): Update documentation
  packages/css/src/components/skip-link/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use Heading component in Accordion
  packages-proprietary/tokens/src/components/ams/accordion.deprecated.tokens.json
  packages-proprietary/tokens/src/components/ams/accordion.tokens.json
  packages/css/src/components/accordion/accordion.scss
  packages/react/src/Accordion/AccordionContext.tsx
  packages/react/src/Accordion/AccordionSection.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Set level 3 as visual size default, remove level 1 from types, fix tests
  packages/react/src/Accordion/Accordion.tsx
  packages/react/src/Accordion/AccordionContext.tsx
  packages/react/src/Accordion/AccordionSection.test.tsx
  packages/react/src/Accordion/AccordionSection.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add tests
  packages/react/src/Accordion/Accordion.test.tsx
  packages/react/src/Accordion/AccordionSection.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add docs
  storybook/src/components/Accordion/Accordion.docs.mdx
  storybook/src/components/Accordion/Accordion.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@52cc04f15ce9065a8300ae03e8eaf8a7fc5cb97b 🚀
  demo-DES-1392-fix-product-page-markup/52cc04f15ce9065a8300ae03e8eaf8a7fc5cb97b.txt
  demo-DES-1392-fix-product-page-markup/9795121e1e6020c05a183fb15b93b4558b588803.txt
  demo-DES-1392-fix-product-page-markup/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Fix Product page markup (#2188)
  storybook/src/pages/amsterdam/ProductPage/ProductPage.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Invalid Form Alert): Remove outline offset hack (#2189)
  packages/css/src/components/invalid-form-alert/invalid-form-alert.scss
Due: prettier --check, stylelint --allow-empty-input

fix(Pagination): Show page number instead of ellipsis if it fits (#2191)
  packages/react/src/Pagination/Pagination.test.tsx
  packages/react/src/Pagination/getRange.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Sort switch case
  eslint.config.mjs
  packages/react/src/common/formatFileType.tsx
  packages/react/src/common/useKeyboardFocus.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add 2 import rules
  eslint.config.mjs
  storybook/src/utils/AspectRatio/AspectRatio.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@300713c21debfbf0da6cd3da2696797adbe50174 🚀
  demo-DES-1273-use-lint-rules/300713c21debfbf0da6cd3da2696797adbe50174.txt
  demo-DES-1273-use-lint-rules/c857e3fa7c5d2e09509e6e43104ae04bc93304e2.txt
  demo-DES-1273-use-lint-rules/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add newline after import rule
  eslint.config.mjs
  storybook/src/components/Checkbox/CustomIcon.tsx
  storybook/src/components/Radio/CustomIcon.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove unnecessary fixupPluginRules
  eslint.config.mjs
Due: none

Fix position of comments in token files
  packages-proprietary/tokens/src/brand/ams/typography.deprecated.compact.tokens.json
  packages-proprietary/tokens/src/brand/ams/typography.deprecated.tokens.json
  packages-proprietary/tokens/src/components/ams/icon.deprecated.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Indicate deprecated stylesheet through file name
  packages/css/src/components/index.scss
  packages/css/src/components/page-heading/page-heading.deprecated.scss
Due: prettier --check, stylelint --allow-empty-input

Group type import correctly
  storybook/src/pages/amsterdam/NavigationPage/NavigationPage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Move local component files
  storybook/src/brand/design-tokens/typography.docs.mdx
  storybook/src/styles/FontDesignToken.tsx
  storybook/src/styles/font-design-token.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Remove duplicate comma
  packages/css/src/components/heading/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update mention of number of headings
  storybook/src/brand/design-tokens/typography.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Render a span as these are not real paragraphs or headings
  storybook/src/brand/design-tokens/typography.docs.mdx
  storybook/src/styles/FontDesignToken.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove duplicate link
  storybook/src/brand/design-tokens/typography.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
