Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Set focus style in initial declaration
  packages/css/src/components/accordion/accordion.scss
  proprietary/tokens/src/components/ams/accordion.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Improve spacing scale
  proprietary/tokens/src/brand/ams/space.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Decouple grid padding lengths from space tokens
  proprietary/tokens/src/components/ams/grid.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Even better: space that grows from one size to another
  proprietary/tokens/src/brand/ams/space.compact.tokens.json
  proprietary/tokens/src/brand/ams/space.tokens.json
  proprietary/tokens/src/components/ams/grid.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Improve spacing in Header, Footer and Dialog
  proprietary/tokens/src/components/ams/dialog.tokens.json
  proprietary/tokens/src/components/ams/header.tokens.json
  storybook/src/components/Footer/Footer.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove and update some custom styles
  storybook/src/pages/amopis/DetailsPage/DetailsPage.tsx
  storybook/src/pages/amopis/common/Layout.tsx
  storybook/src/pages/amopis/common/Sidebar.tsx
  storybook/src/pages/amopis/common/amopis.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Make application screens extra wide
  storybook/config/preview.tsx
  storybook/src/pages/amopis/DetailsPage/DetailsPage.stories.tsx
  storybook/src/pages/amopis/TablePage/TablePage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add two example pages for Amopis
  storybook/config/preview.tsx
  storybook/src/pages/Introduction.docs.mdx
  storybook/src/pages/amopis/DetailsPage/DetailsPage.docs.mdx
  storybook/src/pages/amopis/DetailsPage/DetailsPage.stories.tsx
  storybook/src/pages/amopis/DetailsPage/DetailsPage.tsx
  storybook/src/pages/amopis/TablePage/TablePage.docs.mdx
  storybook/src/pages/amopis/TablePage/TablePage.stories.tsx
  storybook/src/pages/amopis/TablePage/TablePage.tsx
  storybook/src/pages/amopis/common/Layout.tsx
  storybook/src/pages/amopis/common/Sidebar.tsx
  storybook/src/pages/amopis/common/SiteHeader.tsx
  storybook/src/pages/amopis/common/Submenu.tsx
  storybook/src/pages/amopis/common/amopis.scss
  storybook/src/pages/amopis/common/config.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Update for latest design system version
  storybook/src/pages/amopis/DetailsPage/DetailsPage.tsx
  storybook/src/pages/amopis/TablePage/TablePage.tsx
  storybook/src/pages/amopis/common/Layout.tsx
  storybook/src/pages/amopis/common/Sidebar.tsx
  storybook/src/pages/amopis/common/SiteHeader.tsx
  storybook/src/pages/amopis/common/Submenu.tsx
  storybook/src/pages/amopis/common/amopis.scss
  storybook/src/pages/amopis/common/config.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Update docs
  storybook/src/brand/design-tokens/space.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Allow overriding calculation on outline offset
  packages/css/src/components/file-input/file-input.scss
  proprietary/tokens/src/components/ams/file-input.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Add documentation
  storybook/src/brand/design-tokens/focus.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deprecate Icon Button component
  packages/react/src/IconButton/IconButton.tsx
  storybook/src/components/IconButton/IconButton.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use human friendly labels in Storybook controls and Image prop
  packages/react/src/Image/Image.tsx
  packages/react/src/common/types.ts
  storybook/src/utils/AspectRatio/AspectRatio.stories.tsx
  storybook/src/utils/AspectRatio/AspectRatio.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update name in loop
  packages/css/src/components/aspect-ratio/aspect-ratio.scss
Due: prettier --check, stylelint --allow-empty-input

Fix tests
  packages/react/src/ImageSlider/ImageSlider.test.tsx
  packages/react/src/ImageSlider/ImageSliderThumbnails.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update use of Image prop
  storybook/src/components/Breakout/Breakout.stories.tsx
  storybook/src/components/Card/Card.stories.tsx
  storybook/src/components/Figure/Figure.stories.tsx
  storybook/src/components/ImageSlider/ImageSlider.stories.tsx
  storybook/src/components/Overlap/Overlap.stories.tsx
  storybook/src/pages/amsterdam/ArticlePage/ArticleHeader.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix Image test
  packages/react/src/Image/Image.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Replace Icon Button with local button in Dialog
  packages/css/src/components/dialog/dialog.scss
  packages/react/src/Dialog/Dialog.tsx
  proprietary/tokens/src/components/ams/dialog.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Apply suggestions from code review
  packages/css/src/common/hyphenation.scss
  storybook/src/brand/design-tokens/typography.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Improve docs
  storybook/src/brand/design-tokens/focus.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
