Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Figure problem
  storybook/src/components/Figure/Figure.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Accordion): Increase text size for Heading to level 4 (#1837)
  packages/react/src/Accordion/AccordionSection.tsx
  proprietary/tokens/src/components/ams/accordion.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Make test descriptions consistent
  packages/react/src/Blockquote/Blockquote.test.tsx
  packages/react/src/DescriptionList/DescriptionList.test.tsx
  packages/react/src/Figure/FigureCaption.test.tsx
  packages/react/src/Heading/Heading.test.tsx
  packages/react/src/Icon/Icon.test.tsx
  packages/react/src/OrderedList/OrderedList.test.tsx
  packages/react/src/PageHeading/PageHeading.test.tsx
  packages/react/src/Paragraph/Paragraph.test.tsx
  packages/react/src/UnorderedList/UnorderedList.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix new lines and order in token objects
  proprietary/tokens/src/components/ams/blockquote.tokens.json
  proprietary/tokens/src/components/ams/description-list.tokens.json
  proprietary/tokens/src/components/ams/figure.tokens.json
  proprietary/tokens/src/components/ams/heading.tokens.json
  proprietary/tokens/src/components/ams/logo.tokens.json
  proprietary/tokens/src/components/ams/ordered-list.tokens.json
  proprietary/tokens/src/components/ams/page-heading.tokens.json
  proprietary/tokens/src/components/ams/paragraph.tokens.json
  proprietary/tokens/src/components/ams/unordered-list.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Revert change in prop description
  packages/react/src/Icon/Icon.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix color control
  storybook/src/components/Figure/Figure.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Footer): add FooterMenu and FooterMenuLink components with styling and tests. Deprecation of PageMenu
  packages/css/src/components/footer/footer.scss
  packages/react/src/Footer/Footer.tsx
  packages/react/src/Footer/FooterMenu.test.tsx
  packages/react/src/Footer/FooterMenu.tsx
  packages/react/src/Footer/FooterMenuLink.test.tsx
  packages/react/src/Footer/FooterMenuLink.tsx
  packages/react/src/PageMenu/PageMenu.tsx
  proprietary/tokens/src/components/ams/footer.tokens.json
  storybook/src/components/Footer/Footer.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Document the new `onChange` prop
  packages/css/src/components/tabs/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

build: up react major peer dep by 1
  packages/react/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Revert "Ensure Tabs Button is the target of pointer events"
  packages/css/src/components/tabs/tabs.scss
Due: prettier --check, stylelint --allow-empty-input

Move test to correct file
  packages/react/src/Tabs/Tabs.test.tsx
  packages/react/src/Tabs/TabsButton.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Replace fireEvent with userEvent
  packages/react/src/Tabs/Tabs.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@26d46c0e620738410cb4a865207ffe7b3309ef27 🚀
  demo-DES-1168-tabs-change-event/26d46c0e620738410cb4a865207ffe7b3309ef27.txt
  demo-DES-1168-tabs-change-event/39bcbd0c7836d5f5500ac95c6d00a5463a4256c5.txt
  demo-DES-1168-tabs-change-event/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use Storybook Actions instead of console logging
  storybook/src/components/Tabs/Tabs.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Tabs): Execute click handler on Button (#1847)
  packages/react/src/Tabs/TabsButton.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
