Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix(Table): Make the horizontal scroll container keyboard accessible (#2845)
  packages-proprietary/tokens/src/components/ams/table.tokens.json
  packages/css/src/components/table/table.scss
  packages/react/src/Table/Table.test.tsx
  packages/react/src/Table/Table.tsx
  storybook/src/components/Table/Table.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix(Dialog): Make the scrollable body keyboard accessible
  packages-proprietary/tokens/src/components/ams/dialog.tokens.json
  packages/css/src/components/dialog/dialog.scss
  packages/react/src/Dialog/Dialog.test.tsx
  packages/react/src/Dialog/Dialog.tsx
  storybook/src/components/Dialog/Dialog.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore(Storybook): Document the keyboard-scrollable Dialog body
  storybook/src/components/Dialog/Dialog.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Dialog): Make the scrollable body keyboard accessible (#2846)
  packages-proprietary/tokens/src/components/ams/dialog.tokens.json
  packages/css/src/components/dialog/dialog.scss
  packages/react/src/Dialog/Dialog.test.tsx
  packages/react/src/Dialog/Dialog.tsx
  storybook/src/components/Dialog/Dialog.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore(Storybook): Reconcile the Table docs with its keyboard-focusable scroll container
  storybook/src/components/Table/Table.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Switch): Guard its transitions behind prefers-reduced-motion
  packages/css/src/components/switch/switch.scss
Due: prettier --check, stylelint --allow-empty-input

fix(Switch): Guard its transitions behind prefers-reduced-motion (#2847)
  packages/css/src/components/switch/switch.scss
Due: prettier --check, stylelint --allow-empty-input

chore(css): Remove the redundant transition: none from the reduced-motion guards
  packages/css/src/components/accordion/accordion.scss
  packages/css/src/components/progress-list/progress-list.scss
  packages/css/src/components/table-of-contents/table-of-contents.scss
Due: prettier --check, stylelint --allow-empty-input

chore(css): Remove the redundant transition: none from the reduced-motion guards (#2848)
  packages/css/src/components/accordion/accordion.scss
  packages/css/src/components/progress-list/progress-list.scss
  packages/css/src/components/table-of-contents/table-of-contents.scss
Due: prettier --check, stylelint --allow-empty-input

chore(Storybook): Reword the Alert headingId guidance for the generated id
  storybook/src/components/Alert/Alert.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Alert): Generate a unique heading id by default
  packages/react/src/Alert/Alert.test.tsx
  packages/react/src/Alert/Alert.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Alert): Fall back to a generated id for an empty headingId
  packages/react/src/Alert/Alert.test.tsx
  packages/react/src/Alert/Alert.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Alert): Generate a unique heading id by default (#2849)
  packages/react/src/Alert/Alert.test.tsx
  packages/react/src/Alert/Alert.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Trim needless restatements from the Design and Accessibility prose
  storybook/src/components/Avatar/Avatar.docs.mdx
  storybook/src/components/Badge/Badge.docs.mdx
  storybook/src/components/CallToActionLink/CallToActionLink.docs.mdx
  storybook/src/components/Spotlight/Spotlight.docs.mdx
  storybook/src/components/Table/Table.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Document the configurable accessible name of Avatar
  storybook/src/components/Avatar/Avatar.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Avatar): Make the accessible name configurable
  packages/react/src/Avatar/Avatar.test.tsx
  packages/react/src/Avatar/Avatar.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Avatar): Make the accessible name configurable (#2850)
  packages/react/src/Avatar/Avatar.test.tsx
  packages/react/src/Avatar/Avatar.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Storybook): Write the Information Page table sources as one caption sentence
  storybook/src/pages/public/InformationPage/InformationPage.docs.mdx
  storybook/src/pages/public/InformationPage/InformationPage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Storybook): Write the Information Page table sources as one caption sentence (#2851)
  storybook/src/pages/public/InformationPage/InformationPage.docs.mdx
  storybook/src/pages/public/InformationPage/InformationPage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
