Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Use canvas color token
  proprietary/tokens/src/brand/ams/color.tokens.json
  proprietary/tokens/src/components/ams/alert.tokens.json
  proprietary/tokens/src/components/ams/button.tokens.json
  proprietary/tokens/src/components/ams/date-input.tokens.json
  proprietary/tokens/src/components/ams/dialog.tokens.json
  proprietary/tokens/src/components/ams/file-input.tokens.json
  proprietary/tokens/src/components/ams/password-input.tokens.json
  proprietary/tokens/src/components/ams/radio.tokens.json
  proprietary/tokens/src/components/ams/screen.tokens.json
  proprietary/tokens/src/components/ams/search-field.tokens.json
  proprietary/tokens/src/components/ams/select.tokens.json
  proprietary/tokens/src/components/ams/switch.tokens.json
  proprietary/tokens/src/components/ams/text-area.tokens.json
  proprietary/tokens/src/components/ams/text-input.tokens.json
  proprietary/tokens/src/components/ams/time-input.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use inverse text color token
  proprietary/tokens/src/components/ams/avatar.tokens.json
  proprietary/tokens/src/components/ams/badge.tokens.json
  proprietary/tokens/src/components/ams/blockquote.tokens.json
  proprietary/tokens/src/components/ams/button.tokens.json
  proprietary/tokens/src/components/ams/description-list.tokens.json
  proprietary/tokens/src/components/ams/figure.tokens.json
  proprietary/tokens/src/components/ams/heading.tokens.json
  proprietary/tokens/src/components/ams/icon.tokens.json
  proprietary/tokens/src/components/ams/ordered-list.tokens.json
  proprietary/tokens/src/components/ams/page-heading.tokens.json
  proprietary/tokens/src/components/ams/paragraph.tokens.json
  proprietary/tokens/src/components/ams/skip-link.tokens.json
  proprietary/tokens/src/components/ams/unordered-list.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use disabled colour token
  proprietary/tokens/src/components/ams/button.tokens.json
  proprietary/tokens/src/components/ams/checkbox.tokens.json
  proprietary/tokens/src/components/ams/date-input.tokens.json
  proprietary/tokens/src/components/ams/file-input.tokens.json
  proprietary/tokens/src/components/ams/icon-button.tokens.json
  proprietary/tokens/src/components/ams/password-input.tokens.json
  proprietary/tokens/src/components/ams/radio.tokens.json
  proprietary/tokens/src/components/ams/select.tokens.json
  proprietary/tokens/src/components/ams/switch.tokens.json
  proprietary/tokens/src/components/ams/tabs.tokens.json
  proprietary/tokens/src/components/ams/text-area.tokens.json
  proprietary/tokens/src/components/ams/text-input.tokens.json
  proprietary/tokens/src/components/ams/time-input.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add and use visited interactive colour token
  proprietary/tokens/src/brand/ams/color.tokens.json
  proprietary/tokens/src/common/ams/link-appearance.tokens.json
  proprietary/tokens/src/components/ams/link.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add and use border colour token
  proprietary/tokens/src/brand/ams/color.tokens.json
  proprietary/tokens/src/components/ams/date-input.tokens.json
  proprietary/tokens/src/components/ams/password-input.tokens.json
  proprietary/tokens/src/components/ams/search-field.tokens.json
  proprietary/tokens/src/components/ams/select.tokens.json
  proprietary/tokens/src/components/ams/text-area.tokens.json
  proprietary/tokens/src/components/ams/text-input.tokens.json
  proprietary/tokens/src/components/ams/time-input.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add and use highlight colour token
  proprietary/tokens/src/brand/ams/color.tokens.json
  proprietary/tokens/src/components/ams/mark.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Introduce ‘contrast’ and ‘inverse’ interactive colours
  proprietary/tokens/src/brand/ams/color.tokens.json
  proprietary/tokens/src/common/ams/link-appearance.tokens.json
  proprietary/tokens/src/components/ams/icon-button.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use separator color token
  proprietary/tokens/src/components/ams/table.tokens.json
  proprietary/tokens/src/components/ams/tabs.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add and use logo colour token
  proprietary/tokens/src/brand/ams/color.tokens.json
  proprietary/tokens/src/components/ams/logo.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use secondary text colour token
  proprietary/tokens/src/components/ams/file-list.tokens.json
  proprietary/tokens/src/components/ams/hint.tokens.json
  proprietary/tokens/src/components/ams/password-input.tokens.json
  proprietary/tokens/src/components/ams/search-field.tokens.json
  proprietary/tokens/src/components/ams/text-area.tokens.json
  proprietary/tokens/src/components/ams/text-input.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix color samples
  storybook/src/foundation/design-tokens/colour.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Rename ‘supplemental’ colours to ‘highlight’
  proprietary/tokens/src/brand/ams/color.tokens.json
  proprietary/tokens/src/components/ams/avatar.tokens.json
  proprietary/tokens/src/components/ams/badge.tokens.json
  proprietary/tokens/src/components/ams/mark.tokens.json
  proprietary/tokens/src/components/ams/spotlight.tokens.json
  storybook/src/foundation/design-tokens/colour.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update our Color Palette component
  storybook/src/docs/components/ColorPalette.tsx
  storybook/src/docs/components/color-palette.css
  storybook/src/foundation/design-tokens/colour.docs.mdx
  storybook/src/styles/docs.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Introduce specific brand token for Switch Track
  proprietary/tokens/src/brand/ams/color.tokens.json
  proprietary/tokens/src/components/ams/switch.tokens.json
  storybook/src/foundation/design-tokens/colour.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use default border color for File Input
  proprietary/tokens/src/components/ams/file-input.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Split design tokens table into sections
  storybook/src/foundation/design-tokens/colour.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

WIP Remove references to colour palette tokens
  proprietary/tokens/src/brand/ams/color.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

WIP Document brand colour groups
  storybook/src/foundation/design-tokens/colour.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Reset aspect ratio for Image in Avatar
  packages/css/src/components/avatar/avatar.scss
  storybook/src/components/Avatar/Avatar.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Remove some colour options and choose a default
  packages/css/src/components/avatar/avatar.scss
  packages/react/src/Avatar/Avatar.test.tsx
  packages/react/src/Avatar/Avatar.tsx
  proprietary/tokens/src/components/ams/avatar.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Update documentation
  packages/css/src/components/avatar/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove some colour options and make the default explicit
  packages/css/src/components/badge/README.md
  packages/css/src/components/badge/badge.scss
  packages/react/src/Badge/Badge.test.tsx
  packages/react/src/Badge/Badge.tsx
  proprietary/tokens/src/components/ams/badge.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Extract variable for default colour
  packages/react/src/Avatar/Avatar.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove instances of obsolete class
  packages/react/src/Alert/Alert.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove unnecessary alignment
  packages/css/src/components/alert/alert.scss
Due: prettier --check, stylelint --allow-empty-input

Use box shadow for Alert border
  packages/css/src/components/alert/alert.scss
  proprietary/tokens/src/components/ams/alert.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Rename the column indicating severity
  packages/css/src/components/alert/alert.scss
  packages/react/src/Alert/Alert.test.tsx
  packages/react/src/Alert/Alert.tsx
  proprietary/tokens/src/components/ams/alert.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Copy example text from a design
  storybook/src/components/Alert/Alert.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove example with list
  storybook/src/components/Alert/Alert.docs.mdx
  storybook/src/components/Alert/Alert.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Improve wording and structure of guidelines
  packages/css/src/components/alert/README.md
  storybook/src/components/Alert/Alert.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Incorporate feedback on documentation
  packages/css/src/components/heading/README.md
  packages/react/src/Accordion/Accordion.tsx
  packages/react/src/Alert/Alert.tsx
  packages/react/src/FormErrorList/FormErrorList.tsx
  packages/react/src/TableOfContents/TableOfContents.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use a level 1 heading in Dialog
  packages/react/src/Dialog/Dialog.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
