Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

fix: attr sortation
  storybook/src/components/Card/Card.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Clarify comment in stylesheet
  packages/css/src/components/dialog/dialog.scss
Due: prettier --check, stylelint --allow-empty-input

build(deps): require PNPM 10.4.1
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Fix typo
  storybook/src/components/Icon/Icon.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Codify reuse of token values
  proprietary/tokens/src/brand/ams/typography.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Handle font weight tokens consistently
  proprietary/tokens/src/brand/ams/typography.tokens.json
  proprietary/tokens/src/components/ams/accordion.tokens.json
  proprietary/tokens/src/components/ams/avatar.tokens.json
  proprietary/tokens/src/components/ams/badge.tokens.json
  proprietary/tokens/src/components/ams/blockquote.tokens.json
  proprietary/tokens/src/components/ams/breadcrumb.tokens.json
  proprietary/tokens/src/components/ams/button.tokens.json
  proprietary/tokens/src/components/ams/character-count.tokens.json
  proprietary/tokens/src/components/ams/checkbox.tokens.json
  proprietary/tokens/src/components/ams/date-input.tokens.json
  proprietary/tokens/src/components/ams/description-list.tokens.json
  proprietary/tokens/src/components/ams/error-message.tokens.json
  proprietary/tokens/src/components/ams/field-set.tokens.json
  proprietary/tokens/src/components/ams/figure.tokens.json
  proprietary/tokens/src/components/ams/file-input.tokens.json
  proprietary/tokens/src/components/ams/file-list.tokens.json
  proprietary/tokens/src/components/ams/header.tokens.json
  proprietary/tokens/src/components/ams/heading.tokens.json
  proprietary/tokens/src/components/ams/label.tokens.json
  proprietary/tokens/src/components/ams/link-list.tokens.json
  proprietary/tokens/src/components/ams/link.tokens.json
  proprietary/tokens/src/components/ams/ordered-list.tokens.json
  proprietary/tokens/src/components/ams/page-heading.tokens.json
  proprietary/tokens/src/components/ams/page-menu.tokens.json
  proprietary/tokens/src/components/ams/pagination.tokens.json
  proprietary/tokens/src/components/ams/paragraph.tokens.json
  proprietary/tokens/src/components/ams/password-input.tokens.json
  proprietary/tokens/src/components/ams/radio.tokens.json
  proprietary/tokens/src/components/ams/search-field.tokens.json
  proprietary/tokens/src/components/ams/select.tokens.json
  proprietary/tokens/src/components/ams/skip-link.tokens.json
  proprietary/tokens/src/components/ams/table-of-contents.tokens.json
  proprietary/tokens/src/components/ams/table.tokens.json
  proprietary/tokens/src/components/ams/tabs.tokens.json
  proprietary/tokens/src/components/ams/text-area.tokens.json
  proprietary/tokens/src/components/ams/text-input.tokens.json
  proprietary/tokens/src/components/ams/time-input.tokens.json
  proprietary/tokens/src/components/ams/top-task-link.tokens.json
  proprietary/tokens/src/components/ams/unordered-list.tokens.json
  storybook/src/foundation/design-tokens/typography.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Make heading tokens variations of size
  proprietary/tokens/src/brand/ams/typography.compact.tokens.json
  proprietary/tokens/src/brand/ams/typography.tokens.json
  proprietary/tokens/src/components/ams/accordion.tokens.json
  proprietary/tokens/src/components/ams/field-set.tokens.json
  proprietary/tokens/src/components/ams/heading.tokens.json
  proprietary/tokens/src/components/ams/icon.tokens.json
  proprietary/tokens/src/components/ams/label.tokens.json
  proprietary/tokens/src/components/ams/page-heading.tokens.json
  storybook/src/foundation/design-tokens/typography.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Reorganize documentation
  storybook/src/foundation/design-tokens/typography.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

WIP Move Heading tokens into Common layer
  proprietary/tokens/src/brand/ams/typography.tokens.json
  proprietary/tokens/src/common/ams/headings.tokens.json
  proprietary/tokens/src/components/ams/accordion.tokens.json
  proprietary/tokens/src/components/ams/field-set.tokens.json
  proprietary/tokens/src/components/ams/heading.tokens.json
  proprietary/tokens/src/components/ams/icon.tokens.json
  proprietary/tokens/src/components/ams/label.tokens.json
  proprietary/tokens/src/components/ams/page-heading.tokens.json
  storybook/config/preview.tsx
  storybook/src/foundation/design-tokens/headings.docs.mdx
  storybook/src/foundation/design-tokens/links.docs.mdx
  storybook/src/foundation/design-tokens/typography.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Handle font family tokens consistently
  proprietary/tokens/src/brand/ams/typography.tokens.json
  proprietary/tokens/src/components/ams/accordion.tokens.json
  proprietary/tokens/src/components/ams/avatar.tokens.json
  proprietary/tokens/src/components/ams/badge.tokens.json
  proprietary/tokens/src/components/ams/blockquote.tokens.json
  proprietary/tokens/src/components/ams/breadcrumb.tokens.json
  proprietary/tokens/src/components/ams/button.tokens.json
  proprietary/tokens/src/components/ams/character-count.tokens.json
  proprietary/tokens/src/components/ams/checkbox.tokens.json
  proprietary/tokens/src/components/ams/date-input.tokens.json
  proprietary/tokens/src/components/ams/description-list.tokens.json
  proprietary/tokens/src/components/ams/error-message.tokens.json
  proprietary/tokens/src/components/ams/field-set.tokens.json
  proprietary/tokens/src/components/ams/figure.tokens.json
  proprietary/tokens/src/components/ams/file-input.tokens.json
  proprietary/tokens/src/components/ams/file-list.tokens.json
  proprietary/tokens/src/components/ams/header.tokens.json
  proprietary/tokens/src/components/ams/heading.tokens.json
  proprietary/tokens/src/components/ams/label.tokens.json
  proprietary/tokens/src/components/ams/link-list.tokens.json
  proprietary/tokens/src/components/ams/link.tokens.json
  proprietary/tokens/src/components/ams/ordered-list.tokens.json
  proprietary/tokens/src/components/ams/page-heading.tokens.json
  proprietary/tokens/src/components/ams/page-menu.tokens.json
  proprietary/tokens/src/components/ams/pagination.tokens.json
  proprietary/tokens/src/components/ams/paragraph.tokens.json
  proprietary/tokens/src/components/ams/password-input.tokens.json
  proprietary/tokens/src/components/ams/radio.tokens.json
  proprietary/tokens/src/components/ams/search-field.tokens.json
  proprietary/tokens/src/components/ams/select.tokens.json
  proprietary/tokens/src/components/ams/skip-link.tokens.json
  proprietary/tokens/src/components/ams/table-of-contents.tokens.json
  proprietary/tokens/src/components/ams/table.tokens.json
  proprietary/tokens/src/components/ams/tabs.tokens.json
  proprietary/tokens/src/components/ams/text-area.tokens.json
  proprietary/tokens/src/components/ams/text-input.tokens.json
  proprietary/tokens/src/components/ams/time-input.tokens.json
  proprietary/tokens/src/components/ams/top-task-link.tokens.json
  proprietary/tokens/src/components/ams/unordered-list.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Move modifiers to end of token names
  proprietary/tokens/src/brand/ams/typography.compact.tokens.json
  proprietary/tokens/src/brand/ams/typography.tokens.json
  proprietary/tokens/src/components/ams/avatar.tokens.json
  proprietary/tokens/src/components/ams/badge.tokens.json
  proprietary/tokens/src/components/ams/blockquote.tokens.json
  proprietary/tokens/src/components/ams/breadcrumb.tokens.json
  proprietary/tokens/src/components/ams/button.tokens.json
  proprietary/tokens/src/components/ams/character-count.tokens.json
  proprietary/tokens/src/components/ams/checkbox.tokens.json
  proprietary/tokens/src/components/ams/date-input.tokens.json
  proprietary/tokens/src/components/ams/description-list.tokens.json
  proprietary/tokens/src/components/ams/error-message.tokens.json
  proprietary/tokens/src/components/ams/figure.tokens.json
  proprietary/tokens/src/components/ams/file-input.tokens.json
  proprietary/tokens/src/components/ams/file-list.tokens.json
  proprietary/tokens/src/components/ams/header.tokens.json
  proprietary/tokens/src/components/ams/icon.tokens.json
  proprietary/tokens/src/components/ams/link-list.tokens.json
  proprietary/tokens/src/components/ams/link.tokens.json
  proprietary/tokens/src/components/ams/ordered-list.tokens.json
  proprietary/tokens/src/components/ams/page-menu.tokens.json
  proprietary/tokens/src/components/ams/pagination.tokens.json
  proprietary/tokens/src/components/ams/paragraph.tokens.json
  proprietary/tokens/src/components/ams/password-input.tokens.json
  proprietary/tokens/src/components/ams/radio.tokens.json
  proprietary/tokens/src/components/ams/search-field.tokens.json
  proprietary/tokens/src/components/ams/select.tokens.json
  proprietary/tokens/src/components/ams/skip-link.tokens.json
  proprietary/tokens/src/components/ams/table-of-contents.tokens.json
  proprietary/tokens/src/components/ams/table.tokens.json
  proprietary/tokens/src/components/ams/tabs.tokens.json
  proprietary/tokens/src/components/ams/text-area.tokens.json
  proprietary/tokens/src/components/ams/text-input.tokens.json
  proprietary/tokens/src/components/ams/time-input.tokens.json
  proprietary/tokens/src/components/ams/top-task-link.tokens.json
  proprietary/tokens/src/components/ams/unordered-list.tokens.json
  storybook/src/foundation/design-tokens/typography.docs.mdx
  storybook/src/styles/overrides.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix(style): override superfluous block padding
  storybook/src/utils/AspectRatio/AspectRatio.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(deps)!: Require PNPM 10.4.1 (#1882)
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Update some mentions of colour
  packages/css/src/components/icon/README.md
  storybook/src/components/IconButton/IconButton.docs.mdx
  storybook/src/components/Link/Link.docs.mdx
  storybook/src/components/LinkList/LinkList.docs.mdx
  storybook/src/docs/developer-guide/interactivity.docs.mdx
  storybook/src/foundation/design-tokens/text.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Block lifecycle scripts of dependencies during installation
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Remove responsiveLogo prop, base show / hide condition on logoBrand and brandName props
  packages/css/src/components/header/README.md
  packages/react/src/Header/Header.tsx
  storybook/src/components/Header/Header.docs.mdx
  storybook/src/components/Header/Header.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update tests
  packages/react/src/Header/Header.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check
