Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore(Storybook): Snapshot page templates in Chromatic (#2815)
  documentation/storybook.md
  documentation/tests.md
  storybook/AGENTS.md
  storybook/chromatic.config.json
  storybook/src/pages/internal/common/config.tsx
  storybook/src/pages/public/common/config.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Rename the utils directory to utilities
  documentation/component-docs.md
  storybook/src/utilities/AspectRatio/AspectRatio.docs.mdx
  storybook/src/utilities/AspectRatio/AspectRatio.stories.tsx
  storybook/src/utilities/AspectRatio/AspectRatio.tsx
  storybook/src/utilities/Body/Body.docs.mdx
  storybook/src/utilities/Body/Body.stories.tsx
  storybook/src/utilities/Body/Body.tsx
  storybook/src/utilities/Gap/Gap.docs.mdx
  storybook/src/utilities/Gap/Gap.stories.tsx
  storybook/src/utilities/Gap/Gap.tsx
  storybook/src/utilities/Margin/Margin.docs.mdx
  storybook/src/utilities/Margin/Margin.stories.tsx
  storybook/src/utilities/Margin/Margin.tsx
  storybook/src/utilities/Prose/Prose.docs.mdx
  storybook/src/utilities/Prose/Prose.stories.tsx
  storybook/src/utilities/Prose/Prose.tsx
  storybook/src/utilities/QueryContainer/QueryContainer.docs.mdx
  storybook/src/utilities/QueryContainer/QueryContainer.stories.tsx
  storybook/src/utilities/QueryContainer/QueryContainer.tsx
  storybook/src/utilities/VisuallyHidden/VisuallyHidden.docs.mdx
  storybook/src/utilities/VisuallyHidden/VisuallyHidden.stories.tsx
  storybook/src/utilities/VisuallyHidden/VisuallyHidden.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Snapshot CSS utilities in Chromatic
  storybook/chromatic.config.json
  storybook/src/utilities/AspectRatio/AspectRatio.test.stories.tsx
  storybook/src/utilities/Body/Body.stories.tsx
  storybook/src/utilities/Body/Body.test.stories.tsx
  storybook/src/utilities/Gap/Gap.test.stories.tsx
  storybook/src/utilities/Margin/Margin.test.stories.tsx
  storybook/src/utilities/Prose/Prose.stories.tsx
  storybook/src/utilities/Prose/Prose.test.stories.tsx
  storybook/src/utilities/QueryContainer/QueryContainer.test.stories.tsx
  storybook/src/utilities/VisuallyHidden/VisuallyHidden.stories.tsx
  storybook/src/utilities/VisuallyHidden/VisuallyHidden.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Document the Chromatic coverage of CSS utilities
  documentation/storybook.md
  documentation/tests.md
  storybook/AGENTS.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Snapshot CSS utilities in Chromatic (#2816)
  documentation/component-docs.md
  documentation/storybook.md
  documentation/tests.md
  storybook/AGENTS.md
  storybook/chromatic.config.json
  storybook/src/utilities/AspectRatio/AspectRatio.docs.mdx
  storybook/src/utilities/AspectRatio/AspectRatio.stories.tsx
  storybook/src/utilities/AspectRatio/AspectRatio.test.stories.tsx
  storybook/src/utilities/AspectRatio/AspectRatio.tsx
  storybook/src/utilities/Body/Body.docs.mdx
  storybook/src/utilities/Body/Body.stories.tsx
  storybook/src/utilities/Body/Body.test.stories.tsx
  storybook/src/utilities/Body/Body.tsx
  storybook/src/utilities/Gap/Gap.docs.mdx
  storybook/src/utilities/Gap/Gap.stories.tsx
  storybook/src/utilities/Gap/Gap.test.stories.tsx
  storybook/src/utilities/Gap/Gap.tsx
  storybook/src/utilities/Margin/Margin.docs.mdx
  storybook/src/utilities/Margin/Margin.stories.tsx
  storybook/src/utilities/Margin/Margin.test.stories.tsx
  storybook/src/utilities/Margin/Margin.tsx
  storybook/src/utilities/Prose/Prose.docs.mdx
  storybook/src/utilities/Prose/Prose.stories.tsx
  storybook/src/utilities/Prose/Prose.test.stories.tsx
  storybook/src/utilities/Prose/Prose.tsx
  storybook/src/utilities/QueryContainer/QueryContainer.docs.mdx
  storybook/src/utilities/QueryContainer/QueryContainer.stories.tsx
  storybook/src/utilities/QueryContainer/QueryContainer.test.stories.tsx
  storybook/src/utilities/QueryContainer/QueryContainer.tsx
  storybook/src/utilities/VisuallyHidden/VisuallyHidden.docs.mdx
  storybook/src/utilities/VisuallyHidden/VisuallyHidden.stories.tsx
  storybook/src/utilities/VisuallyHidden/VisuallyHidden.test.stories.tsx
  storybook/src/utilities/VisuallyHidden/VisuallyHidden.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Offer the 2xl size in the Margin control
  storybook/src/utilities/Margin/Margin.stories.tsx
  storybook/src/utilities/Margin/Margin.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(React): Remove the unused shortSize map
  packages/css/src/components/gap/gap.scss
  packages/css/src/components/margin/margin.scss
  packages/react/src/common/shortSize.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore(Storybook): Offer the 2xl size in the Margin control (#2817)
  storybook/src/utilities/Margin/Margin.stories.tsx
  storybook/src/utilities/Margin/Margin.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Keep example content stable in Chromatic
  storybook/src/_common/exampleContent.test.ts
  storybook/src/_common/exampleContent.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Keep example images stable in Chromatic
  storybook/src/_common/exampleContent.test.ts
  storybook/src/_common/exampleContent.ts
  storybook/src/pages/public/ArticlePage/ArticlePage.stories.tsx
  storybook/src/pages/public/HomePage/data.ts
  storybook/src/pages/public/NavigationPage/NavigationPage.stories.tsx
  storybook/src/pages/public/NavigationPage/data.ts
  storybook/src/pages/public/ProjectPage/ProjectPage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Replace real officials with invented people on the Navigation Page
  storybook/src/pages/public/NavigationPage/data.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Describe the example image index accurately
  storybook/src/_common/exampleContent.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Add the missing license header to the Home Page data
  storybook/src/pages/public/HomePage/data.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Keep page template content stable in Chromatic (#2819)
  storybook/src/_common/exampleContent.test.ts
  storybook/src/_common/exampleContent.ts
  storybook/src/pages/public/ArticlePage/ArticlePage.stories.tsx
  storybook/src/pages/public/HomePage/data.ts
  storybook/src/pages/public/NavigationPage/NavigationPage.stories.tsx
  storybook/src/pages/public/NavigationPage/data.ts
  storybook/src/pages/public/ProjectPage/ProjectPage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(React): Remove the unused shortSize map (#2818)
  packages/css/src/components/gap/gap.scss
  packages/css/src/components/margin/margin.scss
  packages/react/src/common/shortSize.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore(Tokens): Add a check for design tokens that nothing consumes
  packages-proprietary/tokens/lint/README.md
  packages-proprietary/tokens/lint/allowlist.json
  packages-proprietary/tokens/lint/index.mjs
  packages-proprietary/tokens/lint/unused-tokens.mjs
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Tokens): Test the unused token check
  packages-proprietary/tokens/lint/unused-tokens.test.mjs
Due: none

chore(Tokens): Run the unused token check from the lint script
  packages-proprietary/tokens/AGENTS.md
  packages-proprietary/tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

fix(Image Slider): Use the thumbnail's own outline offset token
  packages/css/src/components/image-slider/image-slider.scss
Due: prettier --check, stylelint --allow-empty-input

chore(Tokens): Allow the tokens that nothing consumes yet
  packages-proprietary/tokens/lint/allowlist.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Tokens): Deprecate four tokens that nothing consumes
  packages-proprietary/tokens/lint/allowlist.json
  packages-proprietary/tokens/src/components/ams/avatar.tokens.json
  packages-proprietary/tokens/src/components/ams/page-header.tokens.json
  packages-proprietary/tokens/src/components/ams/search-field.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Avatar): Apply the font weight token to the initials
  packages-proprietary/tokens/lint/allowlist.json
  packages-proprietary/tokens/src/components/ams/avatar.tokens.json
  packages/css/src/components/avatar/avatar.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
