Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Storybook MCP installation
  package.json
  pnpm-lock.yaml
  storybook/config/main.ts
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore: Simplify rationale
  packages/css/src/components/table/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove awkward line breaks from examples
  storybook/src/components/Table/Table.stories.tsx
  storybook/src/components/Table/Table.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(Table): Move description out of caption in example
  packages/css/src/components/table/README.md
  storybook/src/components/Table/Table.docs.mdx
  storybook/src/components/Table/Table.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(Table): Add example of caption through Figure
  storybook/src/components/Table/Table.docs.mdx
  storybook/src/components/Table/Table.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Improve docs
  storybook/src/components/Table/Table.docs.mdx
  storybook/src/components/Table/Table.stories.tsx
  storybook/src/components/Table/TableCell.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

ci(GitHub): cleanup stale deployments
  .github/scripts/cleanup_common.py
  .github/scripts/cleanup_deployments.py
  .github/scripts/cleanup_environments.py
  .github/scripts/test-cleanup-scripts.sh
  .github/workflows/cleanup-deployments.yml
  documentation/continuous-integration.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Table, Table Page): Document caption requirement & add inline sorting controls demo (#2646)
  packages/css/src/components/table/README.md
  storybook/src/components/Table/Table.docs.mdx
  storybook/src/components/Table/Table.stories.tsx
  storybook/src/components/Table/Table.test.stories.tsx
  storybook/src/components/Table/TableCell.stories.tsx
  storybook/src/pages/internal/TablePage/TablePage.docs.mdx
  storybook/src/pages/internal/TablePage/TablePage.stories.tsx
  storybook/src/pages/internal/TablePage/common/options.ts
  storybook/src/pages/internal/TablePage/stories/SortingWithSelect.tsx
  storybook/src/pages/internal/TablePage/stories/WithPagination.tsx
  storybook/src/pages/internal/TablePage/stories/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(deps): Ignore jsdom 27+ until accessible-name regression is fixed upstream
  .github/dependabot.yml
Due: none

build(git): git repo maintenance tasks
  .github/scripts/cleanup_gh_pages_demos.sh
  .github/scripts/cleanup_git_repo.sh
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

fix(env cleanup): import REQUEST_TIMEOUT
  .github/scripts/cleanup_environments.py
Due: none

build(deploys cleanup): safety guardrails
  .github/scripts/cleanup_deployments.py
Due: none

build(clean): remove redundant script
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

build(pnpm): self-update to v11.5.0
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

build(git): simplify combine git maintenance cmd
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Use correct colour name
  packages/css/src/components/dialog/dialog.scss
Due: prettier --check, stylelint --allow-empty-input

feat(Dialog): Improve inner and outer borders in forced colors mode (#2645)
  packages/css/src/components/dialog/dialog.scss
Due: prettier --check, stylelint --allow-empty-input

build(clean deploys): del old prod & dev deploys
  .github/scripts/cleanup_deployments.py
  .github/scripts/test-cleanup-scripts.sh
  .github/workflows/cleanup-deployments.yml
Due: none

docs(ci): tighten; improve balance
  documentation/continuous-integration.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(git): repo maintenance
  documentation/git.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(GitHub): ask feat requestors to do their research
  .github/ISSUE_TEMPLATE/feature_request.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
