Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Link from typography tokens to those for links
  storybook/src/brand/design-tokens/typography.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Undo breaking change
  packages/react/src/Heading/Heading.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add two more deprecation comments
  packages/react/src/Icon/Icon.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update example for Heading with Icon
  storybook/src/components/Heading/Heading.docs.mdx
  storybook/src/components/Heading/Heading.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Change Table of Contents Heading to size 3
  packages/react/src/TableOfContents/TableOfContents.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use level 3 headings for Card and Blocks consistently
  packages/css/src/components/card/README.md
  packages/css/src/components/heading/README.md
  packages/css/src/components/page-footer/README.md
  packages/react/src/Card/CardHeading.test.tsx
  storybook/src/components/LinkList/LinkList.docs.mdx
  storybook/src/components/LinkList/LinkList.stories.tsx
  storybook/src/components/StandaloneLink/StandaloneLink.docs.mdx
  storybook/src/components/StandaloneLink/StandaloneLink.stories.tsx
  storybook/src/pages/amsterdam/HomePage/HomePage.docs.mdx
  storybook/src/pages/amsterdam/HomePage/HomeSpotlight.tsx
  storybook/src/pages/amsterdam/NavigationPage/NavigationPage.docs.mdx
  storybook/src/pages/amsterdam/NavigationPage/NavigationPage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add docs, rename page
  storybook/src/pages/amsterdam/FormFlow/FormFlow.docs.mdx
  storybook/src/pages/amsterdam/FormFlow/FormFlow.stories.tsx
  storybook/src/pages/amsterdam/FormFlow/LandingPage.tsx
  storybook/src/pages/amsterdam/FormFlow/WithMultipleQuestions.tsx
  storybook/src/pages/amsterdam/FormFlow/WithOneQuestion.tsx
  storybook/src/pages/amsterdam/FormFlow/components/FieldSetWithHeading.tsx
  storybook/src/pages/amsterdam/FormFlow/components/FormFooter.tsx
  storybook/src/pages/amsterdam/FormPage/FormPage.docs.mdx
  storybook/src/pages/amsterdam/FormPage/FormPage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add validation error docs
  storybook/src/pages/amsterdam/FormFlow/FormFlow.docs.mdx
  storybook/src/pages/amsterdam/FormFlow/FormFlow.stories.tsx
  storybook/src/pages/amsterdam/FormFlow/WithValidationError.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add back link to all form pages
  storybook/src/pages/amsterdam/FormFlow/WithOneQuestion.tsx
  storybook/src/pages/amsterdam/FormFlow/WithValidationError.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Revert broken updates to Storybook
  pnpm-lock.yaml
  storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore: Update action that waits for GitHub Pages to be deployed with a more popular and maintained one
  .github/workflows/feature-branch-deploy.yml
Due: none

Test commit
  packages/css/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add links to Field and Field Set
  storybook/src/pages/amsterdam/FormFlow/FormFlow.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Rewrite
  storybook/src/pages/amsterdam/FormFlow/FormFlow.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Revert Storybook update because of type issues
  pnpm-lock.yaml
  storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
