Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore(Storybook): Upgrade to Storybook 10.5.0 (#2784)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  storybook/config/preview.tsx
  storybook/package.json
  storybook/src/_styles/canvas.css
  storybook/src/_styles/manager.css
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

docs: Document the default-icon requirement on City of Amsterdam websites
  packages/react/src/Calendar/Calendar.tsx
  packages/react/src/Checkbox/Checkbox.tsx
  packages/react/src/DatePicker/DatePicker.tsx
  packages/react/src/ErrorMessage/ErrorMessage.tsx
  packages/react/src/PageHeader/PageHeader.tsx
  packages/react/src/Radio/Radio.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(Page Header): Document the default menu button icon
  packages/react/src/PageHeader/PageHeader.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(Storybook): Match the icon control comments to the default-icon guidance
  storybook/src/components/Calendar/Calendar.stories.tsx
  storybook/src/components/DatePicker/DatePicker.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(Calendar, Date Picker): Align the default-icon guidance wording
  storybook/src/components/Calendar/Calendar.docs.mdx
  storybook/src/components/DatePicker/DatePicker.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(Page Header): Refer to the default menu icon for consistency
  storybook/src/components/PageHeader/PageHeader.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(Logo, Page Header): Remove the bold weight from ‘must’
  storybook/src/components/Logo/Logo.docs.mdx
  storybook/src/components/PageHeader/PageHeader.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Document the default-icon requirement on City of Amsterdam websites (#2785)
  packages/react/src/Calendar/Calendar.tsx
  packages/react/src/Checkbox/Checkbox.tsx
  packages/react/src/DatePicker/DatePicker.tsx
  packages/react/src/ErrorMessage/ErrorMessage.tsx
  packages/react/src/PageHeader/PageHeader.tsx
  packages/react/src/Radio/Radio.tsx
  storybook/src/components/Calendar/Calendar.docs.mdx
  storybook/src/components/Calendar/Calendar.stories.tsx
  storybook/src/components/DatePicker/DatePicker.docs.mdx
  storybook/src/components/DatePicker/DatePicker.stories.tsx
  storybook/src/components/Logo/Logo.docs.mdx
  storybook/src/components/PageHeader/PageHeader.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix: Temporarily relax publish step guards
  .github/workflows/publish-packages.yml
Due: none

fix(ci): Add the workflow_dispatch trigger and relax the job-level guard
  .github/workflows/publish-packages.yml
Due: none

fix: Temporarily relax publish step guards (#2788)
  .github/workflows/publish-packages.yml
Due: none

chore(ci): Restore the strict publish-step guards
  .github/workflows/publish-packages.yml
Due: none

chore(ci): Restore the strict publish-step guards (#2789)
  .github/workflows/publish-packages.yml
Due: none

chore(deps): Upgrade TypeScript to 6.0.3
  .gitignore
  package.json
  packages-proprietary/react-icons/tsconfig.json
  packages/react/package.json
  packages/react/src/ImageSlider/ImageSlider.test.tsx
  packages/react/tsconfig.build.json
  packages/react/tsconfig.json
  pnpm-lock.yaml
  storybook/tsconfig.node.json
  tsconfig.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore(deps): Upgrade TypeScript to 6.0.3 (#2790)
  .gitignore
  package.json
  packages-proprietary/react-icons/tsconfig.json
  packages/react/package.json
  packages/react/src/ImageSlider/ImageSlider.test.tsx
  packages/react/tsconfig.build.json
  packages/react/tsconfig.json
  pnpm-lock.yaml
  storybook/tsconfig.node.json
  tsconfig.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Import option constants from package source, not dist
  storybook/src/components/DateInput/DateInput.stories.tsx
  storybook/src/components/DescriptionList/DescriptionList.stories.tsx
  storybook/src/components/TextInput/TextInput.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(TypeScript): Switch module resolution from node to bundler
  packages-proprietary/react-icons/tsconfig.json
  packages/react/tsconfig.json
  storybook/tsconfig.docgen.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
