Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

feat: Do not copy visually hidden text
  packages/css/src/components/visually-hidden/visually-hidden.scss
Due: prettier --check, stylelint --allow-empty-input

feat: Do not copy visually hidden text (#1956)
  packages/css/src/components/visually-hidden/visually-hidden.scss
Due: prettier --check, stylelint --allow-empty-input

Indicate support for React 19 applications
  proprietary/react-icons/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Update lock file
  pnpm-lock.yaml
Due: none

feat(deps): Indicate support for React 19 applications (#1957)
  pnpm-lock.yaml
  proprietary/react-icons/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Delete Mega Menu component
  packages/css/src/components/index.scss
  packages/css/src/components/mega-menu/README.md
  packages/css/src/components/mega-menu/mega-menu.scss
  packages/react/src/MegaMenu/MegaMenu.test.tsx
  packages/react/src/MegaMenu/MegaMenu.tsx
  packages/react/src/MegaMenu/MegaMenuListCategory.test.tsx
  packages/react/src/MegaMenu/MegaMenuListCategory.tsx
  packages/react/src/MegaMenu/README.md
  packages/react/src/MegaMenu/index.ts
  packages/react/src/index.ts
  proprietary/tokens/src/components/ams/mega-menu.tokens.json
  storybook/src/components/MegaMenu/MegaMenu.docs.mdx
  storybook/src/components/MegaMenu/MegaMenu.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Delete Page Menu component
  packages/css/src/components/index.scss
  packages/css/src/components/page-menu/README.md
  packages/css/src/components/page-menu/page-menu.scss
  packages/react/src/Footer/FooterMenuLink.test.tsx
  packages/react/src/PageMenu/PageMenu.test.tsx
  packages/react/src/PageMenu/PageMenu.tsx
  packages/react/src/PageMenu/PageMenuLink.test.tsx
  packages/react/src/PageMenu/PageMenuLink.tsx
  packages/react/src/PageMenu/README.md
  packages/react/src/PageMenu/index.ts
  packages/react/src/index.ts
  proprietary/tokens/src/components/ams/page-menu.tokens.json
  storybook/src/components/PageMenu/PageMenu.docs.mdx
  storybook/src/components/PageMenu/PageMenu.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Document foreground and background colour pairs
  storybook/src/brand/design-tokens/colour.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add fancy inline colour samples
  storybook/src/brand/design-tokens/colour.docs.mdx
  storybook/src/styles/InlineColorSample.tsx
  storybook/src/styles/inline-color-sample.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Use our own text color and font weight
  storybook/src/styles/docs.css
  storybook/src/styles/overrides.css
Due: prettier --check, stylelint --allow-empty-input

Use white text on an azure Alert, Badge or Spotlight
  proprietary/tokens/src/components/ams/avatar.tokens.json
  proprietary/tokens/src/components/ams/badge.tokens.json
  storybook/src/components/Spotlight/Spotlight.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Refer to new colour pairing docs everywhere
  packages/css/src/components/avatar/README.md
  packages/css/src/components/badge/README.md
  packages/css/src/components/spotlight/README.md
  storybook/src/brand/design-tokens/colour.docs.mdx
  storybook/src/components/IconButton/IconButton.docs.mdx
  storybook/src/components/Link/Link.docs.mdx
  storybook/src/components/LinkList/LinkList.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Move list items into sections and simplify wording
  storybook/src/components/Blockquote/Blockquote.docs.mdx
  storybook/src/components/DescriptionList/DescriptionList.docs.mdx
  storybook/src/components/Figure/Figure.docs.mdx
  storybook/src/components/Heading/Heading.docs.mdx
  storybook/src/components/Icon/Icon.docs.mdx
  storybook/src/components/IconButton/IconButton.docs.mdx
  storybook/src/components/Link/Link.docs.mdx
  storybook/src/components/LinkList/LinkList.docs.mdx
  storybook/src/components/OrderedList/OrderedList.docs.mdx
  storybook/src/components/PageHeading/PageHeading.docs.mdx
  storybook/src/components/Paragraph/Paragraph.docs.mdx
  storybook/src/components/UnorderedList/UnorderedList.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Allow resetting color in Page Heading example
  storybook/src/components/PageHeading/PageHeading.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Instruct to use inverse colour in Footer
  packages/css/src/components/footer/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix import for mdx linter plugin
  eslint.config.mjs
Due: none

Balance text wrapping in all headings
  packages/css/src/components/accordion/accordion.scss
  packages/css/src/components/field-set/field-set.scss
  packages/css/src/components/header/header.scss
  packages/css/src/components/heading/heading.scss
  packages/css/src/components/label/label.scss
  packages/css/src/components/page-heading/page-heading.scss
  packages/css/src/components/top-task-link/top-task-link.scss
  proprietary/tokens/src/brand/ams/typography.tokens.json
  proprietary/tokens/src/components/ams/accordion.tokens.json
  proprietary/tokens/src/components/ams/field-set.tokens.json
  proprietary/tokens/src/components/ams/header.tokens.json
  proprietary/tokens/src/components/ams/heading.tokens.json
  proprietary/tokens/src/components/ams/label.tokens.json
  proprietary/tokens/src/components/ams/page-heading.tokens.json
  proprietary/tokens/src/components/ams/top-task-link.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

refactor: just use button type on support buttons
  packages/react/src/ImageSlider/ImageSliderThumbnails.tsx
  packages/react/src/Tabs/TabsButton.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check
