Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Refactor App component structure and enhance AppHeader with navigation toggle functionality
  packages/css/src/components/app/app.scss
  packages/react/src/App/App.tsx
  packages/react/src/App/AppContext.tsx
  packages/react/src/App/AppHeader.tsx
  packages/react/src/AppNavigation/AppNavigation.tsx
  packages/react/src/PageHeader/PageHeader.tsx
  storybook/src/components/App/App.docs.mdx
  storybook/src/pages/application/DetailsPage/DetailsPage.tsx
  storybook/src/pages/application/common/AppHeader.tsx
  storybook/src/pages/application/common/Layout.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Enhance app layout and add map example
  packages/css/src/components/app/app.scss
  packages/react/src/App/App.test.tsx
  packages/react/src/App/AppHeader.tsx
  pnpm-lock.yaml
  storybook/config/preview.tsx
  storybook/package.json
  storybook/src/components/App/App.docs.mdx
  storybook/src/components/App/App.stories.tsx
  storybook/src/components/App/Map/Controls.tsx
  storybook/src/components/App/Map/Map.test.tsx
  storybook/src/components/App/Map/Map.tsx
  storybook/src/components/App/Map/MapContext.ts
  storybook/src/components/App/Map/MapProvider.tsx
  storybook/src/components/App/Map/controls.module.css
  storybook/src/components/App/Map/getCrsRd.ts
  storybook/src/components/App/Map/map.module.css
  storybook/src/components/AppNavigation/AppNavigation.stories.tsx
  storybook/src/components/Grid/Grid.stories.tsx
  storybook/src/components/Overlap/Overlap.stories.tsx
  storybook/src/components/Spotlight/Spotlight.stories.tsx
  storybook/src/pages/amsterdam/common/config.tsx
  storybook/src/pages/application/DetailsPage/DetailsPage.docs.mdx
  storybook/src/pages/application/DetailsPage/DetailsPage.tsx
  storybook/src/pages/application/SearchPage/SearchPage.docs.mdx
  storybook/src/pages/application/SearchPage/SearchPage.tsx
  storybook/src/pages/application/SearchPage/styles.module.css
  storybook/src/pages/application/common/Layout.tsx
  storybook/src/styles/docs.css
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Backup: various design choices
  packages-proprietary/tokens/src/components/ams/breadcrumb.tokens.json
  packages-proprietary/tokens/src/components/ams/card.tokens.json
  packages-proprietary/tokens/src/components/ams/ordered-list.tokens.json
  packages-proprietary/tokens/src/components/ams/page-footer.tokens.json
  packages-proprietary/tokens/src/components/ams/unordered-list.tokens.json
  storybook/src/components/PageFooter/PageFooter.stories.tsx
  storybook/src/pages/Guidelines.docs.mdx
  storybook/src/pages/amsterdam/ArticlePage/ArticleBody.tsx
  storybook/src/pages/amsterdam/ArticlePage/ArticleHeader.tsx
  storybook/src/pages/amsterdam/HomePage/HomeNews.tsx
  storybook/src/pages/amsterdam/HomePage/HomeTopTasks.tsx
  storybook/src/pages/amsterdam/NavigationPage/LinkGroupGridCells.tsx
  storybook/src/pages/amsterdam/NavigationPage/NavigationPage.stories.tsx
  storybook/src/pages/amsterdam/NavigationPage/NavigationPage.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Breadcrumbs): Use regular text size instead of small
  packages-proprietary/tokens/src/components/ams/breadcrumb.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Use regular text size instead of small for Article metadata
  storybook/src/pages/amsterdam/ArticlePage/ArticleHeader.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Page Footer): Use regular text size instead of small
  packages-proprietary/tokens/src/components/ams/page-footer.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Use regular text size instead of small in Page Footer examples
  storybook/src/components/PageFooter/PageFooter.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Page Footer): Update examples to currently live content
  storybook/src/components/PageFooter/PageFooter.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Ordered List, Unordered List): Decrease gap between items
  packages-proprietary/tokens/src/components/ams/ordered-list.tokens.json
  packages-proprietary/tokens/src/components/ams/unordered-list.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Removed SearchPage example, too much complexity beyond app and appnavigation
  packages/react/src/App/AppHeader.tsx
  storybook/src/pages/application/SearchPage/SearchPage.docs.mdx
  storybook/src/pages/application/SearchPage/SearchPage.stories.tsx
  storybook/src/pages/application/SearchPage/SearchPage.tsx
  storybook/src/pages/application/SearchPage/styles.module.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Submenu also uses a button element for dropdowns
  packages/css/src/components/app-navigation/app-navigation.scss
  packages/react/src/AppNavigation/AppNavigationButton.tsx
  packages/react/src/AppNavigation/AppNavigationLink.tsx
  storybook/src/pages/application/DetailsPage/DetailsPage.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Ssimplify proj4 import and update unproject method type
  storybook/src/components/App/Map/Map.test.tsx
  storybook/src/components/App/Map/getCrsRd.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix typo
  storybook/src/components/TextInput/TextInput.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove guideline that is irrelevant for numbers
  storybook/src/components/TextInput/TextInput.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add label to Alert, and remove it for InvalidFormAlert
  packages/react/src/Alert/Alert.test.tsx
  packages/react/src/Alert/Alert.tsx
  packages/react/src/InvalidFormAlert/InvalidFormAlertWithErrors.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update test descriptions
  packages/react/src/Alert/Alert.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Update Text Input docs (#2125)
  storybook/src/components/TextInput/TextInput.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

App component to support centered layout and update navigation components for consistency
  packages-proprietary/tokens/src/components/ams/app.tokens.json
  packages/css/src/components/app-navigation/app-navigation.scss
  packages/css/src/components/app/app.scss
  packages/react/src/App/App.tsx
  packages/react/src/App/AppHeader.tsx
  packages/react/src/AppNavigation/AppNavigation.tsx
  packages/react/src/AppNavigation/AppNavigationButton.tsx
  packages/react/src/AppNavigation/AppNavigationLink.tsx
  storybook/src/components/App/App.stories.tsx
  storybook/src/components/AppNavigation/AppNavigation.stories.tsx
  storybook/src/pages/application/DetailsPage/DetailsPage.stories.tsx
  storybook/src/pages/application/common/Layout.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Test fix for AppNavigation
  packages/react/src/AppNavigation/AppNavigation.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Checkbox, Radio): Size controls with text
  packages-proprietary/tokens/src/components/ams/checkbox.tokens.json
  packages-proprietary/tokens/src/components/ams/radio.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update prop description
  packages/react/src/Alert/Alert.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check
