Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Update rem values of breakpoints
  packages/css/src/common/breakpoint.scss
Due: prettier --check, stylelint --allow-empty-input

Update documentation
  storybook/src/brand/design-tokens/grid.docs.mdx
  storybook/src/docs/developer-guide/breakpoints.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Imrpove verb
  storybook/src/docs/developer-guide/breakpoints.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Wrap list of Cards in a List with custom Gap
  storybook/src/components/Mark/Mark.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat!: Update breakpoint widths in Sass (#2205)
  packages/css/src/common/breakpoint.scss
  storybook/src/brand/design-tokens/grid.docs.mdx
  storybook/src/docs/developer-guide/breakpoints.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Remove unnecessary key
  storybook/src/components/Mark/Mark.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Add an example of using Mark in search results (#2156)
  storybook/src/components/Mark/Mark.docs.mdx
  storybook/src/components/Mark/Mark.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Install pnpm in clean up workflow
  .github/workflows/feature-branch-cleanup.yml
Due: none

chore: Install pnpm in clean up workflow (#2206)
  .github/workflows/feature-branch-cleanup.yml
Due: none

Address feedback
  storybook/src/docs/developer-guide/release-policy.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update CHANGELOG.md
  packages/css/CHANGELOG.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update CHANGELOG.md
  packages/react/CHANGELOG.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update CHANGELOG.md
  packages-proprietary/tokens/CHANGELOG.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@437355061772b4ab93b64981e61ef57fe0dd570d 🚀
  CHANGELOG.md
  package.json
  project.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check
