Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix(tokens): Restore real values to deprecated tokens (#2707)
  packages-proprietary/react-icons/deprecations.mjs
  packages-proprietary/tokens/README.md
  packages-proprietary/tokens/src/components/ams/description-list.tokens.json
  packages-proprietary/tokens/src/components/ams/dialog.tokens.json
  packages-proprietary/tokens/src/components/ams/grid.tokens.json
  packages-proprietary/tokens/src/components/ams/menu.tokens.json
  packages-proprietary/tokens/src/components/ams/page-footer.tokens.json
  packages-proprietary/tokens/src/components/ams/page-header.tokens.json
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
  packages/css/src/components/breakout/breakout.scss
  packages/css/src/components/description-list/description-list.scss
  packages/css/src/components/dialog/dialog.scss
  packages/css/src/components/grid/_mixins.scss
  packages/css/src/components/menu/menu.scss
  packages/css/src/components/page-footer/page-footer.scss
  packages/css/src/components/page-header/page-header.scss
  packages/css/src/components/progress-list/progress-list.scss
  packages/react/src/Accordion/AccordionSection.test.tsx
  packages/react/src/Accordion/AccordionSection.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore(docs): Sneak in a rephrase of repetitive happy’s
  storybook/src/docs/introduction.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(deps): Update dependencies
  package.json
  packages-proprietary/react-icons/package.json
  packages-proprietary/tokens/package.json
  packages/react/package.json
  packages/react/tsconfig.build.tsbuildinfo
  pnpm-lock.yaml
  storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore(deps): Remove committed tsbuildinfo build artifact
  packages/react/tsconfig.build.tsbuildinfo
Due: none

chore(deps): Update dependencies (#2710)
  package.json
  packages-proprietary/react-icons/package.json
  packages-proprietary/tokens/package.json
  packages/react/package.json
  pnpm-lock.yaml
  storybook/package.json
  storybook/src/docs/introduction.docs.mdx
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore: Fix react-icons version bump and prune misattributed changelog entries
  .release-please-manifest.json
  packages-proprietary/react-icons/CHANGELOG.md
  packages-proprietary/react-icons/package.json
  packages/css/CHANGELOG.md
  packages/react/CHANGELOG.md
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Document merging back into develop under branch protection
  documentation/publishing.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Document the optional develop-to-main promotion PR
  documentation/publishing.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Rephrase guidance on branch protection rules
  documentation/publishing.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Clarify which git push we mean
  documentation/publishing.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Table): Contain horizontal overscroll and prevent a stray vertical scrollbar
  packages/css/src/components/table/table.scss
Due: prettier --check, stylelint --allow-empty-input

fix(Tabs): Contain horizontal overscroll and prevent a stray vertical scrollbar
  packages/css/src/components/tabs/tabs.scss
Due: prettier --check, stylelint --allow-empty-input

fix(Dialog): Prevent a stray horizontal scrollbar in the body
  packages/css/src/components/dialog/dialog.scss
Due: prettier --check, stylelint --allow-empty-input

fix(Tab Navigation): Prevent a stray vertical scrollbar in the list
  packages/css/src/components/tab-navigation/tab-navigation.scss
Due: prettier --check, stylelint --allow-empty-input

feat(Tabs): Snap tabs into place when the list scrolls horizontally
  packages/css/src/components/tabs/tabs.scss
Due: prettier --check, stylelint --allow-empty-input

chore(docs): Document pull request options in the release flow (#2713)
  documentation/publishing.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Storybook): Add a configurable skip link to the public page Layout
  storybook/src/pages/public/common/Layout.tsx
  storybook/src/pages/public/common/config.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Storybook): Add Handbook Page example with collapsible Table of Contents
  storybook/src/components/TableOfContents/TableOfContents.docs.mdx
  storybook/src/pages/public/HandbookPage/HandbookPage.docs.mdx
  storybook/src/pages/public/HandbookPage/HandbookPage.stories.tsx
  storybook/src/pages/public/HandbookPage/pages.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Improve story example wrappers
  storybook/config/preview.tsx
  storybook/src/_common/decorators.tsx
  storybook/src/components/Breakout/Breakout.stories.tsx
  storybook/src/components/DescriptionList/DescriptionList.stories.tsx
  storybook/src/components/Figure/Figure.stories.tsx
  storybook/src/components/Grid/Grid.stories.tsx
  storybook/src/components/Image/Image.stories.tsx
  storybook/src/components/ImageSlider/ImageSlider.stories.tsx
  storybook/src/components/Overlap/Overlap.stories.tsx
  storybook/src/components/Page/Page.stories.tsx
  storybook/src/components/PageFooter/PageFooter.stories.tsx
  storybook/src/components/PageHeader/PageHeader.stories.tsx
  storybook/src/components/Spotlight/Spotlight.stories.tsx
  storybook/src/pages/internal/common/config.tsx
  storybook/src/pages/public/FormFlow/FormFlow.stories.tsx
  storybook/src/pages/public/common/config.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
