Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

feat: Add React components
  packages/react/src/DateInputGroup/DateInputGroup.test.tsx
  packages/react/src/DateInputGroup/DateInputGroup.tsx
  packages/react/src/DateInputGroup/DateInputGroupField.test.tsx
  packages/react/src/DateInputGroup/DateInputGroupField.tsx
  packages/react/src/DateInputGroup/index.ts
  packages/react/src/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(FormFieldStatus): Add the documentation and stories
  storybook/src/components/CharacterCount/CharacterCount.docs.mdx
  storybook/src/components/CharacterCount/CharacterCount.stories.tsx
  storybook/src/components/CharacterCount/CharacterCount.test.stories.tsx
  storybook/src/components/FormFieldStatus/FormFieldStatus.docs.mdx
  storybook/src/components/FormFieldStatus/FormFieldStatus.stories.tsx
  storybook/src/components/FormFieldStatus/FormFieldStatus.test.stories.tsx
  storybook/src/components/FormFieldStatus/FormFieldStatusCharacterCount.stories.tsx
  storybook/src/components/TextArea/TextArea.docs.mdx
  storybook/src/docs/introduction.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(FormFieldStatus): Add the stylesheet
  packages/css/src/components/form-field-status/form-field-status.scss
  packages/css/src/components/index.scss
Due: prettier --check, stylelint --allow-empty-input

fix: Point at Date Picker instead of Calendar for choosing a date
  storybook/src/components/DateInputGroup/DateInputGroup.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Storybook): Move the Character Count language guidance to How to use
  storybook/src/components/CharacterCount/CharacterCount.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat: Add CSS file
  packages/css/src/components/date-input-group/date-input-group.scss
  packages/css/src/components/index.scss
Due: prettier --check, stylelint --allow-empty-input

feat(Table.SortableHeaderCell): Add tokens
  packages-proprietary/tokens/src/components/ams/table.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix: Drop the redundant box-sizing from a Date Input Group field
  packages/css/src/components/date-input-group/date-input-group.scss
Due: prettier --check, stylelint --allow-empty-input

fix(docs): Clarify the component has no particular props
  storybook/src/components/FormFieldStatus/FormFieldStatus.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Table.SortableHeaderCell): Add CSS rules
  packages/css/src/components/table/table.scss
Due: prettier --check, stylelint --allow-empty-input

docs: Address Copilot’s comments
  .github/skills/code-review/SKILL.md
  .github/skills/pull-request/SKILL.md
  AGENTS.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(ai): Add code-review skill
  .github/skills/code-review/SKILL.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(ui): try new appearance
  packages-proprietary/tokens/src/components/ams/switch.tokens.json
  packages/css/src/components/switch/switch.scss
  packages/react/src/Switch/Switch.test.tsx
  packages/react/src/Switch/Switch.tsx
  storybook/src/components/Switch/Switch.docs.mdx
  storybook/src/components/Switch/Switch.stories.tsx
  storybook/src/components/Switch/Switch.test.stories.tsx
  storybook/src/modes/lo-fi/Forms.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(TablePage): Add Sorting with header links story
  storybook/src/pages/internal/TablePage/TablePage.docs.mdx
  storybook/src/pages/internal/TablePage/TablePage.stories.tsx
  storybook/src/pages/internal/TablePage/common/options.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(workflows): Actually run on dry_run=false
  .github/scripts/cleanup_deployments.py
  .github/scripts/cleanup_environments.py
  .github/scripts/cleanup_gh_pages_demos.sh
  documentation/continuous-integration.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Table.SortableHeaderCell): Add React sub-component
  packages/react/src/Table/Table.tsx
  packages/react/src/Table/TableSortableHeaderCell.test.tsx
  packages/react/src/Table/TableSortableHeaderCell.tsx
  packages/react/src/Table/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(TablePage): Validate the sort order taken from the URL
  storybook/src/pages/internal/TablePage/TablePage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Shorten agent instructions by ~20%
  AGENTS.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(ai): Add pull-request skill
  .github/skills/pull-request/SKILL.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(workflows): Include var name & title in descr
  .github/workflows/remove-stale-demo-directories.yml
  .github/workflows/remove-stale-deployments.yml
  .github/workflows/remove-stale-environments.yml
Due: none

docs(ai): refs to skills and other docs
  AGENTS.md
  documentation/code-reviews.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Table.SortableHeaderCell): Set aria-sort only on the sorted column
  packages/css/src/components/table/table.scss
  packages/react/src/Table/TableSortableHeaderCell.test.tsx
  packages/react/src/Table/TableSortableHeaderCell.tsx
  storybook/src/pages/internal/TablePage/TablePage.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix(docs): Switch sits besides a label
  storybook/src/components/Switch/Switch.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(workflows): Actually warn; not error
  .github/scripts/cleanup_common.py
  .github/scripts/cleanup_deployments.py
  .github/scripts/cleanup_environments.py
  .github/scripts/cleanup_gh_pages_demos.sh
  .github/workflows/remove-stale-demo-directories.yml
  .github/workflows/remove-stale-deployments.yml
  .github/workflows/remove-stale-environments.yml
  documentation/continuous-integration.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs: Minor edits from Copilot comment
  AGENTS.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat: Add token hint about value req
  packages-proprietary/tokens/src/components/ams/switch.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs: Combine 2 sentences
  AGENTS.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat: Remove long label story
  storybook/src/components/Switch/Switch.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Table.SortableHeaderCell): Describe what an unsorted chevron means
  packages/react/src/Table/TableSortableHeaderCell.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Table.SortableHeaderCell): Add Storybook story
  storybook/src/components/Table/Table.docs.mdx
  storybook/src/components/Table/Table.stories.tsx
  storybook/src/components/Table/TableSortableHeaderCell.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Replaced dialog with ModalDialog because it contains forms
  storybook/src/pages/internal/DetailPage/DetailPage.stories.tsx
  storybook/src/pages/internal/DetailPage/DetailPageEditGeneralInformationTab.tsx
  storybook/src/pages/internal/DetailPage/DetailPageEditHistoryTab.tsx
  storybook/src/pages/internal/DetailPage/DetailPageEditMapTab.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix remark state update and map input width
  storybook/src/pages/internal/DetailPage/DetailPage.stories.tsx
  storybook/src/pages/internal/DetailPage/DetailPageEditMapTab.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Warn instead of failing when cleanup hits the delete cap (#2942)
  .github/scripts/cleanup_common.py
  .github/scripts/cleanup_deployments.py
  .github/scripts/cleanup_environments.py
  .github/scripts/cleanup_gh_pages_demos.sh
  .github/workflows/remove-stale-demo-directories.yml
  .github/workflows/remove-stale-deployments.yml
  .github/workflows/remove-stale-environments.yml
  documentation/continuous-integration.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check
