Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix(Button): Apply the variant disabled styles to aria-disabled buttons
  packages/css/src/components/button/button.scss
Due: prettier --check, stylelint --allow-empty-input

chore(React): Use valid syntax in a TSDoc example (#2811)
  packages/react/AGENTS.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Button): Apply disabled styles to aria-disabled buttons (#2812)
  packages/css/src/components/button/button.scss
Due: prettier --check, stylelint --allow-empty-input

feat(Checkbox, Radio): Give the disabled square and circle a grey background
  packages-proprietary/tokens/src/components/ams/checkbox.tokens.json
  packages-proprietary/tokens/src/components/ams/radio.tokens.json
  packages/css/src/components/checkbox/checkbox.scss
  packages/css/src/components/radio/radio.scss
  storybook/src/components/Checkbox/Checkbox.test.stories.tsx
  storybook/src/components/Radio/Radio.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(Button): Give the disabled secondary and tertiary variants a grey background
  packages-proprietary/tokens/src/components/ams/button.tokens.json
  packages/css/src/components/button/button.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(File Input): Give the disabled file selector button a grey background
  packages-proprietary/tokens/src/components/ams/file-input.tokens.json
  packages/css/src/components/file-input/file-input.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

refactor(File Input): Use the dedicated disabled colour token for the file selector button
  packages/css/src/components/file-input/file-input.scss
Due: prettier --check, stylelint --allow-empty-input

chore(Storybook): List the new users of the disabled input tokens
  storybook/src/brand/design-tokens/inputs.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Account for Search Field taking the disabled background
  storybook/src/brand/design-tokens/inputs.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Search Field): Allow disabling the input and button (#2810)
  packages-proprietary/tokens/src/components/ams/search-field.tokens.json
  packages/css/src/components/search-field/search-field.scss
  packages/react/src/SearchField/SearchField.test.tsx
  packages/react/src/SearchField/SearchField.tsx
  packages/react/src/SearchField/SearchFieldButton.tsx
  packages/react/src/SearchField/SearchFieldContext.tsx
  packages/react/src/SearchField/SearchFieldInput.tsx
  storybook/src/brand/design-tokens/inputs.docs.mdx
  storybook/src/components/SearchField/SearchField.docs.mdx
  storybook/src/components/SearchField/SearchField.stories.tsx
  storybook/src/components/SearchField/SearchField.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix(Icon Button): Apply disabled styles to aria-disabled buttons
  packages/css/src/components/icon-button/icon-button.scss
Due: prettier --check, stylelint --allow-empty-input

feat(Storybook): Add Disabled stories for Button, Checkbox and Radio
  storybook/src/components/Button/Button.docs.mdx
  storybook/src/components/Button/Button.stories.tsx
  storybook/src/components/Checkbox/Checkbox.docs.mdx
  storybook/src/components/Checkbox/Checkbox.stories.tsx
  storybook/src/components/Radio/Radio.docs.mdx
  storybook/src/components/Radio/Radio.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Icon Button): Exclude disabled buttons from the hover styles
  packages/css/src/components/icon-button/icon-button.scss
Due: prettier --check, stylelint --allow-empty-input

feat(Icon Button): Style the disabled contrast variant like the inverse variant
  packages-proprietary/tokens/src/components/ams/icon-button.tokens.json
  packages/css/src/components/icon-button/icon-button.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(Icon Button): Give the disabled contrast variant a grey background (#2814)
  packages-proprietary/tokens/src/components/ams/icon-button.tokens.json
  packages/css/src/components/icon-button/icon-button.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix(storybook): Restore the Page Footer content on public page templates
  storybook/src/components/PageFooter/PageFooter.stories.tsx
  storybook/src/components/PageFooter/PageFooterContent.tsx
  storybook/src/pages/public/common/Layout.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Snapshot page templates in Chromatic
  documentation/storybook.md
  documentation/tests.md
  storybook/AGENTS.md
  storybook/chromatic.config.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Snapshot page templates at the maximum Page width
  documentation/storybook.md
  storybook/src/pages/internal/common/config.tsx
  storybook/src/pages/public/common/config.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Clarify that Chromatic does not snapshot docs entries
  documentation/storybook.md
  storybook/AGENTS.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
