Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Change xl and xxl space as designed and make important
  packages/css/src/components/margin/mixins.scss
  proprietary/tokens/src/brand/ams/space.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Use xs space between headings and body text
  packages/css/src/components/heading/heading.scss
Due: prettier --check, stylelint --allow-empty-input

Remove manuarl margeins from Home and Article Page
  storybook/src/pages/amsterdam/ArticlePage/ArticleBody.tsx
  storybook/src/pages/amsterdam/HomePage/HomeSpotlight.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Tweak some Card and List spacing
  packages/css/src/components/card/card.scss
  proprietary/tokens/src/components/ams/card.tokens.json
  proprietary/tokens/src/components/ams/ordered-list.tokens.json
  proprietary/tokens/src/components/ams/unordered-list.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Remove ‘level’ from class name of Headings
  packages/css/src/components/heading/heading.scss
  packages/react/src/Header/Header.tsx
  packages/react/src/Heading/Heading.test.tsx
  packages/react/src/Heading/Heading.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Add invisble text content to icon to allow baseline alignment
  packages/css/src/components/icon/icon.scss
Due: prettier --check, stylelint --allow-empty-input

Add component token for font family
  packages/css/src/components/icon/icon.scss
  proprietary/tokens/src/components/ams/icon.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Change notation of t-shirt sizes
  packages/css/src/components/card/card.scss
  packages/css/src/components/heading/heading.scss
  packages/css/src/components/image/image.scss
  packages/css/src/components/link/link.scss
  packages/css/src/components/margin/mixins.scss
  packages/css/src/components/ordered-list/ordered-list.scss
  packages/css/src/components/paragraph/paragraph.scss
  packages/css/src/components/unordered-list/unordered-list.scss
  proprietary/tokens/src/brand/ams/space.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Constrain logo link to fit its content
  packages/css/src/components/header/header.scss
Due: prettier --check, stylelint --allow-empty-input

Update comments
  packages/css/src/components/header/header.scss
Due: prettier --check, stylelint --allow-empty-input

Revert change to display rule
  packages/css/src/components/header/header.scss
Due: prettier --check, stylelint --allow-empty-input

Rename internal variable
  packages/react/src/Heading/Heading.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@ff63b95a8edd9065987440b9e02e8083239394d4 🚀
  demo-DES-1212-heading-classes/5b0f9b0672c64fe52055dc53aa0d3e44fd86a9b7.txt
  demo-DES-1212-heading-classes/ff63b95a8edd9065987440b9e02e8083239394d4.txt
  demo-DES-1212-heading-classes/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Heading)!: Remove ‘level’ from class name (#1904)
  packages/css/src/components/heading/heading.scss
  packages/react/src/Header/Header.tsx
  packages/react/src/Heading/Heading.test.tsx
  packages/react/src/Heading/Heading.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Rename internal variable once more
  packages/react/src/Heading/Heading.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Heading): Rename internal variable once more (#1906)
  packages/react/src/Heading/Heading.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove heading level 1 from Footer
  storybook/src/components/Footer/Footer.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Sections should not be used for styling only
  storybook/src/components/Footer/Footer.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Rename onChange to onTabsChange
  packages/react/src/Tabs/Tabs.test.tsx
  packages/react/src/Tabs/Tabs.tsx
  storybook/src/components/Tabs/Tabs.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Tabs)!: Rename onChange to onTabChange (#1908)
  packages/react/src/Tabs/Tabs.test.tsx
  packages/react/src/Tabs/Tabs.tsx
  storybook/src/components/Tabs/Tabs.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Restore docs on intended selector reuse
  packages/css/src/components/card/card.scss
Due: prettier --check, stylelint --allow-empty-input
