Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix(File List): Wrap long names instead of cutting them off
  packages/css/src/components/file-list/file-list.scss
Due: prettier --check, stylelint --allow-empty-input

fix(File Card): Move the actions below the name when space runs out
  packages-proprietary/tokens/src/components/ams/file-card.tokens.json
  packages/css/src/components/file-card/file-card.scss
  storybook/src/components/FileCard/FileCard.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix(File Card): Keep the name and details apart when CSS fails to load
  packages/react/src/FileCard/FileCard.test.tsx
  packages/react/src/FileCard/FileCard.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

refactor(File Card): Style the preview image by its own class
  packages/css/src/components/file-card/file-card.scss
  packages/react/src/FileCard/FileCard.test.tsx
  packages/react/src/FileCard/FileCard.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix(File List): Keep its own token values and name its deprecated classes
  packages-proprietary/tokens/src/components/ams/file-list.tokens.json
  packages/css/src/components/file-list/file-list.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

docs(File Card): Add a Features section and link to File in NL Design System
  storybook/src/components/FileCard/FileCard.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(File Card): Better alignment, aspect-ratio & fit for file icon & image preview
  packages/css/src/components/file-card/file-card.scss
  storybook/src/components/FileCard/FileCard.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix(CSS): Remove flex prop that does not apply
  packages/css/src/components/file-card/file-card.scss
Due: prettier --check, stylelint --allow-empty-input

fix(File Card): Read the preview size and image ratio from tokens
  packages-proprietary/tokens/src/components/ams/file-card.tokens.json
  packages/css/src/components/file-card/file-card.scss
  storybook/src/components/FileCard/FileCard.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

refactor(File Card): Call the type and size of a file its metadata
  packages-proprietary/tokens/src/components/ams/file-card.tokens.json
  packages/css/src/components/file-card/file-card.scss
  packages/react/src/FileCard/FileCard.test.tsx
  packages/react/src/FileCard/FileCard.tsx
  packages/react/src/FileCard/formatFileDetailsText.test.ts
  packages/react/src/FileCard/formatFileMetadataText.test.ts
  packages/react/src/FileCard/formatFileMetadataText.ts
  packages/react/src/FileCard/index.ts
  packages/react/src/FileList/FileListItem.tsx
  storybook/src/components/FileCard/FileCard.docs.mdx
  storybook/src/components/FileCard/FileCard.stories.tsx
  storybook/src/components/FileCard/FileCard.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix(story): Default story usually does not set prop values
  storybook/src/components/FileCard/FileCard.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

refactor(File Card): Remove unused FileInputWithFileCards import and related example
  storybook/src/components/FileCard/FileCard.docs.mdx
  storybook/src/components/FileCard/FileCard.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(File Card): Add design tokens and styles
  packages-proprietary/tokens/src/components/ams/file-card.tokens.json
  packages/css/src/components/file-card/file-card.scss
  packages/css/src/components/index.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(File Card): Introduce the component
  packages/react/src/FileCard/FileCard.test.tsx
  packages/react/src/FileCard/FileCard.tsx
  packages/react/src/FileCard/focusAdjacentDeleteButton.ts
  packages/react/src/FileCard/formatFileMetadataText.test.ts
  packages/react/src/FileCard/formatFileMetadataText.ts
  packages/react/src/FileCard/index.ts
  packages/react/src/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(File Card): Document the component and add stories
  storybook/src/components/FileCard/FileCard.docs.mdx
  storybook/src/components/FileCard/FileCard.stories.tsx
  storybook/src/components/FileCard/FileCard.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(File List): Show whole names, name each delete button, and keep focus after a delete
  packages/css/src/components/file-list/file-list.scss
  packages/react/src/FileCard/focusAdjacentDeleteButton.ts
  packages/react/src/FileList/FileListItem.test.tsx
  packages/react/src/FileList/FileListItem.tsx
  packages/react/src/common/formatFileSize.test.tsx
  packages/react/src/common/formatFileSize.tsx
  packages/react/src/common/formatFileType.test.tsx
  packages/react/src/common/formatFileType.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

docs(File List): Describe the fixed names, delete buttons and focus
  storybook/src/components/FileList/FileList.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(File List): Deprecate in favour of File Cards in an Unordered List
  packages-proprietary/tokens/src/components/ams/file-list.tokens.json
  packages/css/src/components/file-list/file-list.scss
  packages/react/src/FileList/FileList.test.tsx
  packages/react/src/FileList/FileList.tsx
  packages/react/src/FileList/FileListItem.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

docs(File Card, File List): Document File Cards in an Unordered List as the replacement
  storybook/src/components/FileCard/FileCard.docs.mdx
  storybook/src/components/FileCard/FileCard.stories.tsx
  storybook/src/components/FileInput/FileInput.docs.mdx
  storybook/src/components/FileList/FileInputWithFileList.tsx
  storybook/src/components/FileList/FileList.docs.mdx
  storybook/src/components/FileList/FileList.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat: deprecate Pencil and PencilFill icons
  packages-proprietary/react-icons/deprecations.mjs
  packages-proprietary/react-icons/src/Pencil.tsx
  packages-proprietary/react-icons/src/PencilFill.tsx
  packages-proprietary/react-icons/src/index.ts
  storybook/src/_components/IconGallery/IconGalleryCategories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat: add Edit and EditFill icons
  packages-proprietary/assets/icons/Edit.svg
  packages-proprietary/assets/icons/EditFill.svg
  packages-proprietary/react-icons/src/Edit.tsx
  packages-proprietary/react-icons/src/EditFill.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Put each sentence of the Spinner docs on its own line
  storybook/src/components/Spinner/Spinner.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update icon in Row stories
  storybook/src/components/Row/Row.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Document the slower Spinner animation for reduced motion
  storybook/src/components/Spinner/Spinner.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(icons): Rename ‘pencil’ icon to ‘edit’ to allow usage without label (#3000)
  packages-proprietary/assets/icons/Edit.svg
  packages-proprietary/assets/icons/EditFill.svg
  packages-proprietary/react-icons/deprecations.mjs
  packages-proprietary/react-icons/src/Edit.tsx
  packages-proprietary/react-icons/src/EditFill.tsx
  packages-proprietary/react-icons/src/index.ts
  storybook/src/_components/IconGallery/IconGalleryCategories.tsx
  storybook/src/components/Row/Row.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
