Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Separate body text and headings in Icon size prop
  packages/css/src/components/icon/icon.scss
  packages/react/src/Accordion/AccordionSection.tsx
  packages/react/src/Alert/Alert.tsx
  packages/react/src/Avatar/Avatar.tsx
  packages/react/src/Button/Button.tsx
  packages/react/src/Dialog/Dialog.tsx
  packages/react/src/ErrorMessage/ErrorMessage.tsx
  packages/react/src/FileList/FileListItem.tsx
  packages/react/src/Header/Header.tsx
  packages/react/src/Icon/Icon.test.tsx
  packages/react/src/Icon/Icon.tsx
  packages/react/src/IconButton/IconButton.tsx
  packages/react/src/LinkList/LinkListLink.tsx
  packages/react/src/PageMenu/PageMenuLink.tsx
  packages/react/src/Pagination/Pagination.tsx
  proprietary/tokens/src/components/ams/icon.tokens.json
  storybook/src/components/Icon/Icon.docs.mdx
  storybook/src/components/Icon/Icon.stories.tsx
  storybook/src/components/IconButton/IconButton.docs.mdx
  storybook/src/components/IconButton/IconButton.stories.tsx
  storybook/src/components/UnorderedList/UnorderedList.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Add examples of Heading and Paragraph with Icon
  storybook/src/components/Heading/Heading.docs.mdx
  storybook/src/components/Heading/Heading.stories.tsx
  storybook/src/components/Paragraph/Paragraph.docs.mdx
  storybook/src/components/Paragraph/Paragraph.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Move Dialog padding from container to sections
  packages/css/src/components/dialog/dialog.scss
  proprietary/tokens/src/components/ams/dialog.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Move reset styles into mixin and remove comment
  packages/css/src/components/dialog/dialog.scss
Due: prettier --check, stylelint --allow-empty-input

Update links to typography docs
  packages/css/src/components/icon/README.md
  storybook/src/components/Heading/Heading.docs.mdx
  storybook/src/foundation/design-tokens/grid.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Footer)!: add FooterMenu component to replace PageMenu in Footer (#1871)
  packages/css/src/components/footer/README.md
  packages/css/src/components/footer/footer.scss
  packages/react/src/Footer/Footer.tsx
  packages/react/src/Footer/FooterBottom.test.tsx
  packages/react/src/Footer/FooterBottom.tsx
  packages/react/src/Footer/FooterMenu.test.tsx
  packages/react/src/Footer/FooterMenu.tsx
  packages/react/src/Footer/FooterMenuLink.test.tsx
  packages/react/src/Footer/FooterMenuLink.tsx
  packages/react/src/Footer/FooterSpotlight.test.tsx
  packages/react/src/Footer/FooterSpotlight.tsx
  packages/react/src/Footer/FooterTop.tsx
  packages/react/src/Footer/index.ts
  proprietary/tokens/src/components/ams/footer.tokens.json
  storybook/src/components/Footer/Footer.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Use eights for percentages
  packages/css/src/components/dialog/dialog.scss
  proprietary/tokens/src/components/ams/dialog.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Add responsive Header Logo
  packages/css/src/components/header/header.scss
  packages/react/src/Header/Header.tsx
  packages/react/src/Logo/Logo.tsx
  packages/react/src/Logo/brand/LogoAmsterdamEmblemOnly.tsx
  packages/react/src/Logo/brand/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Add responsiveLogo prop
  packages/react/src/Header/Header.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add tests
  packages/react/src/Header/Header.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@cb4e76d67db9e4394c41bb006cfe10b355f317b9 🚀
  demo-research-react-19/1ffe697e058838b477500a4e11ffe669d9d0b6a1.txt
  demo-research-react-19/cb4e76d67db9e4394c41bb006cfe10b355f317b9.txt
  demo-research-react-19/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add docs
  storybook/src/components/Header/Header.docs.mdx
  storybook/src/components/Header/Header.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Build packages post install, simplify workflows
  .github/workflows/feature-branch-deploy.yml
  .github/workflows/lint-test.yml
  .github/workflows/publish.yml
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Update docs
  CONTRIBUTING.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@ea89eb1db38bdd74294469786411d557a3b1edb5 🚀
  demo-run-build-postinstall/a5a33cc0ae1eda3f277f710e1dc57c81ef075b23.txt
  demo-run-build-postinstall/ea89eb1db38bdd74294469786411d557a3b1edb5.txt
  demo-run-build-postinstall/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Build packages post install, simplify workflows (#1881)
  .github/workflows/feature-branch-deploy.yml
  .github/workflows/lint-test.yml
  .github/workflows/publish.yml
  CONTRIBUTING.md
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@235e99cc368947fc2ba7ee5d4b57ac9e4531cf92 🚀
  demo-develop/235e99cc368947fc2ba7ee5d4b57ac9e4531cf92.txt
  demo-develop/85e0f0f8c7fd9c281ba68155999e835921e4443d.txt
  demo-develop/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use class name of Logo component 1
  packages/css/src/components/header/header.scss
Due: prettier --check, stylelint --allow-empty-input

Use class name of Logo component 2
  packages/css/src/components/header/header.scss
Due: prettier --check, stylelint --allow-empty-input

revert: minimum supported react version
  packages/react/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@30f74b57d98ceeed93f150170992db3c269fbcbf 🚀
  demo-DES-1069-remove-gap-from-card/30f74b57d98ceeed93f150170992db3c269fbcbf.txt
  demo-DES-1069-remove-gap-from-card/48a8706db74c931668c7f78241beca145093ad3b.txt
  demo-DES-1069-remove-gap-from-card/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(deps): Indicate support for React 19 applications (#1857)
  packages/react/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@b5aa659c4fdcdf24006d0b53400b04c6bebbe66e 🚀
  demo-develop/235e99cc368947fc2ba7ee5d4b57ac9e4531cf92.txt
  demo-develop/b5aa659c4fdcdf24006d0b53400b04c6bebbe66e.txt
  demo-develop/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
