Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix: Update storybook/src/components/LinkList/LinkList.docs.mdx
  storybook/src/components/LinkList/LinkList.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(LinkList): Add missing space in the docs (#2097)
  storybook/src/components/LinkList/LinkList.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Group icon galleries and explain categories better (#2089)
  storybook/src/brand/assets/icons.docs.mdx
  storybook/src/docs/components/IconGallery.tsx
  storybook/src/docs/components/IconGalleryCategories.tsx
  storybook/src/docs/components/icon-gallery.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Whole number story
  storybook/src/components/TextInput/TextInput.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Improve example of Standalone Link with chevron (#2095)
  packages/css/src/components/standalone-link/README.md
  storybook/src/components/StandaloneLink/StandaloneLink.docs.mdx
  storybook/src/components/StandaloneLink/StandaloneLink.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Ensure correct override
  packages/css/src/components/standalone-link/standalone-link.scss
Due: prettier --check, stylelint --allow-empty-input

Test error
  packages/react/src/TextInput/TextInput.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Revert test
  packages/react/src/TextInput/TextInput.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

WIP: backgrounds per story
  storybook/config/preview.tsx
  storybook/src/components/LinkList/LinkList.stories.tsx
  storybook/src/components/Paragraph/Paragraph.stories.tsx
  storybook/src/styles/docs.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

WIP: Paragraph too
  storybook/config/preview.tsx
  storybook/src/components/Paragraph/Paragraph.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

revert(LinkList): decorator
  storybook/src/components/LinkList/LinkList.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

refactor: use util fn
  storybook/config/preview.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix: Use correct underline width for Standalone Link with icon (#2096)
  packages-proprietary/tokens/src/components/ams/standalone-link.tokens.json
  packages/css/src/components/standalone-link/standalone-link.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix(Alert): add inline-end border to center icon
  packages/css/src/components/alert/alert.scss
Due: prettier --check, stylelint --allow-empty-input

refactor: inherit border values
  packages/css/src/components/alert/alert.scss
Due: prettier --check, stylelint --allow-empty-input

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
