Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Don’t wrap Page examples in another Page
  storybook/config/preview.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add application variant to Page
  packages-proprietary/tokens/src/components/ams/page.tokens.json
  packages/css/src/components/page/page.scss
  packages/react/src/Page/Page.tsx
  storybook/src/components/Page/Page.docs.mdx
  storybook/src/components/Page/Page.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Add mock for Page Navigation
  packages/css/src/components/index.scss
  packages/css/src/components/page/mock-page-navigation.scss
  packages/react/src/Page/MockPageNavigation.tsx
  packages/react/src/Page/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Add mock for Page Body
  packages/css/src/components/index.scss
  packages/css/src/components/page/mock-page-body.scss
  packages/react/src/Page/MockPageBody.tsx
  packages/react/src/Page/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Prototype App layout - not clean
  packages-proprietary/tokens/src/components/ams/app-navigation.tokens.json
  packages/css/src/components/app-navigation/app-navigation.scss
  packages/css/src/components/app/app.scss
  packages/react/src/AppNavigation/AppNavigation.tsx
  packages/react/src/PageHeader/PageHeader.tsx
  storybook/config/preview.tsx
  storybook/src/pages/application/SearchPage/SearchPage.tsx
  storybook/src/pages/application/common/AppHeader.tsx
  storybook/src/pages/application/common/Layout.tsx
  storybook/src/pages/application/common/LayoutContext.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Update storybook/src/components/TextInput/TextInput.docs.mdx
  storybook/src/components/TextInput/TextInput.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Add examples to help entering numbers (#2105)
  storybook/src/components/TextInput/TextInput.docs.mdx
  storybook/src/components/TextInput/TextInput.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update padding properties for Grid components in stories
  storybook/src/components/PageHeader/PageHeader.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update layout for WithoutMenuButtonOnWideWindow story
  storybook/src/components/PageHeader/PageHeader.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Update padding properties for MegaMenu in PageHeader stories (#2111)
  storybook/src/components/PageHeader/PageHeader.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Enhance AppNavigation with submenu support and styling improvements
  packages/css/src/components/app-navigation/app-navigation.scss
  packages/css/src/components/app/app.scss
  packages/react/src/AppNavigation/AppNavigation.tsx
  packages/react/src/AppNavigation/AppNavigationLink.tsx
  packages/react/src/AppNavigation/AppNavigationMenu.tsx
  storybook/src/pages/application/DetailsPage/DetailsPage.stories.tsx
  storybook/src/pages/application/DetailsPage/DetailsPage.tsx
  storybook/src/pages/application/DetailsPage/FileUploadDemo.tsx
  storybook/src/pages/application/common/Layout.tsx
  storybook/src/pages/application/common/config.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Expandable menu and popover submenu, not clean
  packages/css/src/components/app-navigation/app-navigation.scss
  packages/react/src/AppNavigation/AppNavigation.tsx
  packages/react/src/AppNavigation/AppNavigationButton.tsx
  storybook/src/pages/application/DetailsPage/DetailsPage.stories.tsx
  storybook/src/pages/application/DetailsPage/DetailsPage.tsx
  storybook/src/pages/application/common/Layout.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Toggle chevron
  packages/css/src/components/app-navigation/app-navigation.scss
Due: prettier --check, stylelint --allow-empty-input

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
