Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Restore normalizing top padding on Link example
  storybook/src/components/Menu/Menu.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Reuse meta from original story in test stories and plopfile
  plop-templates/storybook.test.stories.tsx.hbs
  storybook/src/components/Button/Button.test.stories.tsx
  storybook/src/components/IconButton/IconButton.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Copilot feedback
  plop-templates/storybook.test.stories.tsx.hbs
Due: none

github action improvements
  .github/workflows/chromatic.yml
Due: none

add chromatic as a devDependency
  pnpm-lock.yaml
  storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Re-add fetch-depth to GitHub action to prevent Chromatic error
  .github/workflows/chromatic.yml
Due: none

Apply suggestion from @alimpens
  storybook/src/components/Menu/Menu.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix rendering condition for root element
  packages/react/src/Menu/Menu.test.tsx
  packages/react/src/Menu/Menu.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Simplify default story
  storybook/src/components/Menu/Menu.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Improve comment
  storybook/src/components/Menu/Menu.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Simplify tests for custom accessible name
  packages/react/src/Menu/Menu.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Make Menu Link inline for expected hit area
  packages/css/src/components/menu/menu.scss
Due: prettier --check, stylelint --allow-empty-input

Prevent Link example from disappearing and reset spacing
  storybook/src/components/Menu/Menu.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Revert changes to lint-test.yml
  .github/workflows/lint-test.yml
Due: none

Add title back to meta object in test stories
  plop-templates/storybook.test.stories.tsx.hbs
  storybook/src/components/Button/Button.test.stories.tsx
  storybook/src/components/IconButton/IconButton.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Improve another comment
  storybook/src/components/Menu/Menu.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use ‘initial’ instead of ‘seed’ value
  storybook/src/components/Menu/Menu.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove render function from hbs template and add comment
  plop-templates/storybook.test.stories.tsx.hbs
Due: none

feat(getVariants): Render all variants of component for visual regression testing
  storybook/src/components/Alert/Alert.test.stories.tsx
  storybook/src/components/Avatar/Avatar.test.stories.tsx
  storybook/src/components/Badge/Badge.test.stories.tsx
  storybook/src/components/Blockquote/Blockquote.test.stories.tsx
  storybook/src/components/Button/Button.test.stories.tsx
  storybook/src/components/CallToActionLink/CallToActionLink.test.stories.tsx
  storybook/src/components/CharacterCount/CharacterCount.test.stories.tsx
  storybook/src/components/Checkbox/Checkbox.test.stories.tsx
  storybook/src/components/DateInput/DateInput.test.stories.tsx
  storybook/src/components/ErrorMessage/ErrorMessage.test.stories.tsx
  storybook/src/components/FileInput/FileInput.test.stories.tsx
  storybook/src/components/Heading/Heading.test.stories.tsx
  storybook/src/components/Icon/Icon.test.stories.tsx
  storybook/src/components/IconButton/IconButton.test.stories.tsx
  storybook/src/components/InvalidFormAlert/InvalidFormAlert.test.stories.tsx
  storybook/src/components/Label/Label.test.stories.tsx
  storybook/src/components/Link/Link.test.stories.tsx
  storybook/src/components/Logo/Logo.test.stories.tsx
  storybook/src/components/Mark/Mark.test.stories.tsx
  storybook/src/components/Pagination/Pagination.test.stories.tsx
  storybook/src/components/Paragraph/Paragraph.test.stories.tsx
  storybook/src/components/PasswordInput/PasswordInput.test.stories.tsx
  storybook/src/components/Radio/Radio.test.stories.tsx
  storybook/src/components/SkipLink/SkipLink.test.stories.tsx
  storybook/src/components/StandaloneLink/StandaloneLink.test.stories.tsx
  storybook/src/components/Switch/Switch.test.stories.tsx
  storybook/src/components/TableOfContents/TableOfContents.test.stories.tsx
  storybook/src/components/TextArea/TextArea.test.stories.tsx
  storybook/src/components/TextInput/TextInput.test.stories.tsx
  storybook/src/components/TimeInput/TimeInput.test.stories.tsx
  storybook/src/utils/getVariants.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Replace default example heading
  storybook/src/utils/getVariants.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Convert test stories to latest format of getVariants
  storybook/src/components/Icon/Icon.test.stories.tsx
  storybook/src/components/TextArea/TextArea.test.stories.tsx
  storybook/src/components/TextInput/TextInput.test.stories.tsx
  storybook/src/components/TimeInput/TimeInput.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Make sure intersection types are sorted object first
  eslint.config.mjs
Due: none

Make sure if there are no custom props the component is still rendered
  storybook/src/components/Mark/Mark.test.stories.tsx
  storybook/src/utils/getVariants.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check
