Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Mention space token in compact grid docs as well
  storybook/src/brand/design-tokens/grid.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Restore grid padding in Footer example
  storybook/src/components/Footer/Footer.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat!: Consolidate Grid Space and Component Space into one set of spacing tokens (#1910)
  packages/css/src/components/breakout/breakout.scss
  packages/css/src/components/gap/README.md
  packages/css/src/components/gap/gap.scss
  packages/css/src/components/grid/_mixins.scss
  packages/css/src/components/margin/README.md
  packages/css/src/components/margin/margin.scss
  proprietary/tokens/src/brand/ams/space.compact.tokens.json
  proprietary/tokens/src/brand/ams/space.tokens.json
  proprietary/tokens/src/components/ams/breakout.tokens.json
  proprietary/tokens/src/components/ams/dialog.tokens.json
  proprietary/tokens/src/components/ams/footer.tokens.json
  proprietary/tokens/src/components/ams/gap.tokens.json
  proprietary/tokens/src/components/ams/grid.compact.tokens.json
  proprietary/tokens/src/components/ams/grid.tokens.json
  proprietary/tokens/src/components/ams/header.tokens.json
  proprietary/tokens/src/components/ams/logo.tokens.json
  proprietary/tokens/src/components/ams/margin.tokens.json
  proprietary/tokens/src/components/ams/mega-menu.tokens.json
  proprietary/tokens/src/components/ams/page-menu.tokens.json
  storybook/src/brand/design-tokens/grid.docs.mdx
  storybook/src/brand/design-tokens/space.docs.mdx
  storybook/src/components/Footer/Footer.stories.tsx
  storybook/src/components/Grid/Grid.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore: Remove unused import in rollup config (#1937)
  packages/react/package.json
  packages/react/rollup.config.mjs
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@c09a6e5b9eebb64a123de56309ce8637d2faefe4 🚀
  demo-develop/c09a6e5b9eebb64a123de56309ce8637d2faefe4.txt
  demo-develop/f36e9855c78f582df95fa0906f0849c2832c25a3.txt
  demo-develop/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove phantom white space in icon button
  packages/css/src/components/icon-button/icon-button.scss
Due: prettier --check, stylelint --allow-empty-input

Add missing overrides of local custom properties
  packages/css/src/components/icon/icon.scss
Due: prettier --check, stylelint --allow-empty-input

fix(Icon): Restore square appearance (#1933)
  packages/css/src/components/icon-button/icon-button.scss
  packages/css/src/components/icon/icon.scss
Due: prettier --check, stylelint --allow-empty-input

Use single dash in utility class for aspect ratio
  packages/css/src/components/aspect-ratio/README.md
  packages/css/src/components/aspect-ratio/aspect-ratio.scss
  packages/react/src/Image/generateAspectRatioClass.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Fix examples of gap and margin classes
  packages/css/src/components/gap/README.md
  packages/css/src/components/margin/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use single dash in utility class for gap
  packages/css/src/components/gap/README.md
  packages/css/src/components/gap/gap.scss
  storybook/src/pages/amsterdam/FormPage/FormPage.tsx
  storybook/src/utils/Gap/Gap.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Use single dash in utility class for bottom margin
  packages/css/src/components/margin/README.md
  packages/css/src/components/margin/margin.scss
  storybook/src/components/Breakout/Breakout.stories.tsx
  storybook/src/components/Checkbox/Checkbox.stories.tsx
  storybook/src/components/DescriptionList/DescriptionList.stories.tsx
  storybook/src/components/Dialog/Dialog.docs.mdx
  storybook/src/components/FieldSet/FieldSet.stories.tsx
  storybook/src/components/Footer/Footer.stories.tsx
  storybook/src/components/Header/Header.stories.tsx
  storybook/src/components/Radio/Radio.stories.tsx
  storybook/src/components/Tabs/Tabs.stories.tsx
  storybook/src/pages/amsterdam/ArticlePage/ArticleBody.tsx
  storybook/src/pages/amsterdam/ArticlePage/ArticleHeader.tsx
  storybook/src/pages/amsterdam/FormPage/FormPage.tsx
  storybook/src/pages/amsterdam/HomePage/HomeSpotlight.tsx
  storybook/src/pages/amsterdam/common/AppHeader.tsx
  storybook/src/utils/Margin/Margin.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(Aspect Ratio, Gap, Margin)!: Use single dash in utility classes (#1938)
  packages/css/src/components/aspect-ratio/README.md
  packages/css/src/components/aspect-ratio/aspect-ratio.scss
  packages/css/src/components/gap/README.md
  packages/css/src/components/gap/gap.scss
  packages/css/src/components/margin/README.md
  packages/css/src/components/margin/margin.scss
  packages/react/src/Image/generateAspectRatioClass.ts
  storybook/src/components/Breakout/Breakout.stories.tsx
  storybook/src/components/Checkbox/Checkbox.stories.tsx
  storybook/src/components/DescriptionList/DescriptionList.stories.tsx
  storybook/src/components/Dialog/Dialog.docs.mdx
  storybook/src/components/FieldSet/FieldSet.stories.tsx
  storybook/src/components/Footer/Footer.stories.tsx
  storybook/src/components/Header/Header.stories.tsx
  storybook/src/components/Radio/Radio.stories.tsx
  storybook/src/components/Tabs/Tabs.stories.tsx
  storybook/src/pages/amsterdam/ArticlePage/ArticleBody.tsx
  storybook/src/pages/amsterdam/ArticlePage/ArticleHeader.tsx
  storybook/src/pages/amsterdam/FormPage/FormPage.tsx
  storybook/src/pages/amsterdam/HomePage/HomeSpotlight.tsx
  storybook/src/pages/amsterdam/common/AppHeader.tsx
  storybook/src/utils/Gap/Gap.stories.tsx
  storybook/src/utils/Margin/Margin.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Reuse lists of gaps in stories
  storybook/src/components/Column/Column.stories.tsx
  storybook/src/components/Row/Row.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use gap utility classes in Row and Column
  packages/css/src/components/column/column.scss
  packages/css/src/components/row/row.scss
  packages/react/src/Column/Column.test.tsx
  packages/react/src/Column/Column.tsx
  packages/react/src/Row/Row.test.tsx
  packages/react/src/Row/Row.tsx
  packages/react/src/common/size.ts
  proprietary/tokens/src/components/ams/column.tokens.json
  proprietary/tokens/src/components/ams/row.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Remove obsolete labels from sizes in Sass
  packages/css/src/common/size.scss
  packages/css/src/components/gap/gap.scss
  packages/css/src/components/margin/margin.scss
Due: prettier --check, stylelint --allow-empty-input

Update mentions of Component Space
  storybook/src/components/Column/Column.docs.mdx
  storybook/src/components/Row/Row.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Abbreviate ‘extra-’ to ‘x-’
  packages/react/src/Column/Column.tsx
  packages/react/src/Row/Row.tsx
  packages/react/src/common/size.ts
  storybook/src/components/Checkbox/Checkbox.stories.tsx
  storybook/src/components/Column/Column.stories.tsx
  storybook/src/components/FieldSet/FieldSet.stories.tsx
  storybook/src/components/Radio/Radio.stories.tsx
  storybook/src/components/Row/Row.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Disallow ‘2x-large’ gap and allow overriding with ‘no’
  packages/css/src/components/gap/README.md
  packages/css/src/components/gap/gap.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Remove unnecessary zero-size override
  packages/css/src/common/size.scss
  packages/css/src/components/margin/margin.scss
Due: prettier --check, stylelint --allow-empty-input

Fix line in docs
  packages/css/src/components/gap/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
