Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

chore(docs): Make colour group headings consistent with token names (#1841)
  storybook/src/foundation/design-tokens/colour.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Tabs): Prevent button text from wrapping (#1840)
  packages/css/src/components/tabs/tabs.scss
Due: prettier --check, stylelint --allow-empty-input

Remove action tokens, add cursor tokens
  proprietary/tokens/src/brand/ams/cursor.tokens.json
  proprietary/tokens/src/common/ams/action.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Add Storybook typecheck
  storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Fix type errors
  storybook/src/components/Button/Button.stories.tsx
  storybook/src/components/Card/Card.stories.tsx
  storybook/src/components/Footer/Footer.stories.tsx
  storybook/src/components/Icon/Icon.stories.tsx
  storybook/src/components/OrderedList/OrderedList.stories.tsx
  storybook/src/pages/amsterdam/ArticlePage/ArticleHeader.tsx
  storybook/src/pages/amsterdam/FormPage/FormPage.tsx
  storybook/src/pages/amsterdam/HomePage/HomeSpotlight.tsx
  storybook/src/pages/amsterdam/HomePage/HomeTopTasks.tsx
  tsconfig.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Replace inverseColor prop with color prop
  storybook/src/components/Spotlight/Spotlight.stories.tsx
  storybook/src/pages/amsterdam/ArticlePage/ArticleBody.tsx
  storybook/src/pages/amsterdam/HomePage/HomeSpotlight.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Match icon size to new heading text size
  packages/react/src/Accordion/AccordionSection.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update color options in storybook components to include 'contrast'
  storybook/src/components/IconButton/IconButton.stories.tsx
  storybook/src/components/Link/Link.stories.tsx
  storybook/src/components/LinkList/LinkList.stories.tsx
  storybook/src/components/Paragraph/Paragraph.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Add Storybook type check (#1843)
  storybook/package.json
  storybook/src/components/Button/Button.stories.tsx
  storybook/src/components/Card/Card.stories.tsx
  storybook/src/components/Footer/Footer.stories.tsx
  storybook/src/components/Icon/Icon.stories.tsx
  storybook/src/components/OrderedList/OrderedList.stories.tsx
  storybook/src/pages/amsterdam/ArticlePage/ArticleHeader.tsx
  storybook/src/pages/amsterdam/FormPage/FormPage.tsx
  storybook/src/pages/amsterdam/HomePage/HomeSpotlight.tsx
  storybook/src/pages/amsterdam/HomePage/HomeTopTasks.tsx
  tsconfig.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Add Stylelint rule to only allow Amsterdam cursor tokens
  .stylelintrc.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use tokens for cursor rules
  packages/css/src/components/accordion/accordion.scss
  packages/css/src/components/checkbox/checkbox.scss
  packages/css/src/components/date-input/date-input.scss
  packages/css/src/components/header/header.scss
  packages/css/src/components/icon-button/icon-button.scss
  packages/css/src/components/password-input/password-input.scss
  packages/css/src/components/radio/radio.scss
  packages/css/src/components/search-field/search-field.scss
  packages/css/src/components/select/select.scss
  packages/css/src/components/switch/switch.scss
  packages/css/src/components/text-input/text-input.scss
  packages/css/src/components/time-input/time-input.scss
  proprietary/tokens/src/components/ams/accordion.tokens.json
  proprietary/tokens/src/components/ams/button.tokens.json
  proprietary/tokens/src/components/ams/checkbox.tokens.json
  proprietary/tokens/src/components/ams/date-input.tokens.json
  proprietary/tokens/src/components/ams/file-input.tokens.json
  proprietary/tokens/src/components/ams/header.tokens.json
  proprietary/tokens/src/components/ams/icon-button.tokens.json
  proprietary/tokens/src/components/ams/image-slider.tokens.json
  proprietary/tokens/src/components/ams/password-input.tokens.json
  proprietary/tokens/src/components/ams/radio.tokens.json
  proprietary/tokens/src/components/ams/search-field.tokens.json
  proprietary/tokens/src/components/ams/select.tokens.json
  proprietary/tokens/src/components/ams/switch.tokens.json
  proprietary/tokens/src/components/ams/tabs.tokens.json
  proprietary/tokens/src/components/ams/text-area.tokens.json
  proprietary/tokens/src/components/ams/text-input.tokens.json
  proprietary/tokens/src/components/ams/time-input.tokens.json
  storybook/src/styles/overrides.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Use curly quotes
  proprietary/tokens/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Add docs on ‘default’ key filter in tokens (#1842)
  proprietary/tokens/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use blue and thicker border for inputs
  proprietary/tokens/src/components/ams/date-input.tokens.json
  proprietary/tokens/src/components/ams/file-input.tokens.json
  proprietary/tokens/src/components/ams/password-input.tokens.json
  proprietary/tokens/src/components/ams/search-field.tokens.json
  proprietary/tokens/src/components/ams/select.tokens.json
  proprietary/tokens/src/components/ams/text-area.tokens.json
  proprietary/tokens/src/components/ams/text-input.tokens.json
  proprietary/tokens/src/components/ams/time-input.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove secondary interactive token
  proprietary/tokens/src/brand/ams/color.tokens.json
  storybook/src/foundation/design-tokens/colour.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix a text size in form example
  storybook/src/pages/amsterdam/FormPage/FormPage.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Introduce actually primitive brand typography tokens
  proprietary/tokens/src/brand/ams/typography.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Model heading and body scales in common tokens
  proprietary/tokens/src/common/ams/typography.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Apply new typography tokens to all components
  proprietary/tokens/src/components/ams/accordion.tokens.json
  proprietary/tokens/src/components/ams/avatar.tokens.json
  proprietary/tokens/src/components/ams/badge.tokens.json
  proprietary/tokens/src/components/ams/blockquote.tokens.json
  proprietary/tokens/src/components/ams/breadcrumb.tokens.json
  proprietary/tokens/src/components/ams/button.tokens.json
  proprietary/tokens/src/components/ams/character-count.tokens.json
  proprietary/tokens/src/components/ams/checkbox.tokens.json
  proprietary/tokens/src/components/ams/date-input.tokens.json
  proprietary/tokens/src/components/ams/description-list.tokens.json
  proprietary/tokens/src/components/ams/error-message.tokens.json
  proprietary/tokens/src/components/ams/field-set.tokens.json
  proprietary/tokens/src/components/ams/file-input.tokens.json
  proprietary/tokens/src/components/ams/heading.tokens.json
  proprietary/tokens/src/components/ams/icon.tokens.json
  proprietary/tokens/src/components/ams/label.tokens.json
  proprietary/tokens/src/components/ams/link-list.tokens.json
  proprietary/tokens/src/components/ams/link.tokens.json
  proprietary/tokens/src/components/ams/ordered-list.tokens.json
  proprietary/tokens/src/components/ams/page-heading.tokens.json
  proprietary/tokens/src/components/ams/page-menu.tokens.json
  proprietary/tokens/src/components/ams/pagination.tokens.json
  proprietary/tokens/src/components/ams/paragraph.tokens.json
  proprietary/tokens/src/components/ams/password-input.tokens.json
  proprietary/tokens/src/components/ams/radio.tokens.json
  proprietary/tokens/src/components/ams/search-field.tokens.json
  proprietary/tokens/src/components/ams/select.tokens.json
  proprietary/tokens/src/components/ams/skip-link.tokens.json
  proprietary/tokens/src/components/ams/switch.tokens.json
  proprietary/tokens/src/components/ams/table-of-contents.tokens.json
  proprietary/tokens/src/components/ams/table.tokens.json
  proprietary/tokens/src/components/ams/tabs.tokens.json
  proprietary/tokens/src/components/ams/text-area.tokens.json
  proprietary/tokens/src/components/ams/text-input.tokens.json
  proprietary/tokens/src/components/ams/time-input.tokens.json
  proprietary/tokens/src/components/ams/top-task-link.tokens.json
  proprietary/tokens/src/components/ams/unordered-list.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check
