Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Update guidelines
  packages/css/src/components/call-to-action-link/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use small spacing after Heading 2
  storybook/src/pages/amsterdam/ProductPage/ProductPage.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Move color codes out of brand tokens
  packages-proprietary/tokens/src/brand/ams/color.tokens.json
  packages-proprietary/tokens/src/components/ams/call-to-action-link.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove border – a link doesn’t need one
  packages-proprietary/tokens/src/components/ams/call-to-action-link.tokens.json
  packages/css/src/components/call-to-action-link/call-to-action-link.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Simplify type constraints
  storybook/src/components/Icon/Icon.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Rename Pagination props
  packages/react/src/Pagination/Pagination.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Adjust underline offset with user-configured font size
  packages-proprietary/tokens/src/common/ams/links.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add tests
  packages/react/src/Pagination/Pagination.test.tsx
  packages/react/src/Pagination/Pagination.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove last inline default
  packages/react/src/Pagination/Pagination.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use new tokens already and deprecate existing ones
  packages-proprietary/tokens/src/components/ams/checkbox.tokens.json
  packages/css/src/components/checkbox/checkbox.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Remove unneeded new tokens and style
  packages-proprietary/tokens/src/components/ams/checkbox.tokens.json
  packages-proprietary/tokens/src/components/ams/radio.tokens.json
  packages-proprietary/tokens/src/components/ams/standalone-link.tokens.json
  packages/css/src/components/standalone-link/standalone-link.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(Checkbox, Radio): Make the size of controls fluid like text (#2128)
  packages-proprietary/tokens/src/components/ams/checkbox.tokens.json
  packages-proprietary/tokens/src/components/ams/radio.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use integers for text-decoration-thickness to avoid rendering bugs
  packages-proprietary/tokens/src/common/ams/links.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Don’t scale underline thickness with font size after all
  packages-proprietary/tokens/src/common/ams/links.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add test for custom icon
  packages/react/src/StandaloneLink/StandaloneLink.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Always show an icon in Standalone Link
  packages-proprietary/tokens/src/components/ams/standalone-link.tokens.json
  packages/css/src/components/standalone-link/standalone-link.scss
  packages/react/src/StandaloneLink/StandaloneLink.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Fix typo and sorting for example content function
  storybook/src/components/shared/exampleContent.ts
  storybook/src/pages/amsterdam/NavigationPage/NavigationPage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update documentation
  packages/css/src/components/link/README.md
  packages/css/src/components/standalone-link/README.md
  storybook/src/components/ActionGroup/ActionGroup.stories.tsx
  storybook/src/components/PageFooter/PageFooter.stories.tsx
  storybook/src/components/StandaloneLink/StandaloneLink.docs.mdx
  storybook/src/components/StandaloneLink/StandaloneLink.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Render Standalone Link for single links
  storybook/src/pages/amsterdam/NavigationPage/LinkGroupGridCells.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update link token docs
  storybook/src/brand/design-tokens/links.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Reuse text decoration tokens in Storybook
  storybook/src/styles/overrides.css
Due: prettier --check, stylelint --allow-empty-input

Use similar text underlines in Storybook
  storybook/src/styles/overrides.css
Due: prettier --check, stylelint --allow-empty-input

Simlpify test icon
  packages/react/src/StandaloneLink/StandaloneLink.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check
