Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

move test stories to seperate files
  storybook/chromatic.config.json
  storybook/src/components/Button/Button.stories.tsx
  storybook/src/components/Button/Button.test.stories.tsx
  storybook/src/components/IconButton/IconButton.stories.tsx
  storybook/src/components/IconButton/IconButton.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Breakout): Prevent horizontal overflow in narrow and medium-wide windows (#2235)
  packages/css/src/components/breakout/breakout.scss
  storybook/src/components/Breakout/Breakout.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

small fixes
  storybook/src/components/IconButton/IconButton.stories.tsx
  storybook/src/components/IconButton/IconButton.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Delay installing newly published versions of packages and actions (#2237)
  .github/dependabot.yml
  pnpm-workspace.yaml
Due: none

Deploying to gh-pages from @ Amsterdam/design-system@d0aa00505b91de28cbfb6e4f32ebbbdb669eb549 🚀
  demo-chromatic-tests/74b89639fac31833a870599f35ddee20f8ee4ea6.txt
  demo-chromatic-tests/d0aa00505b91de28cbfb6e4f32ebbbdb669eb549.txt
  demo-chromatic-tests/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Warn against using rich text in form descriptions and Error Messages
  storybook/src/components/ErrorMessage/ErrorMessage.docs.mdx
  storybook/src/components/Field/Field.docs.mdx
  storybook/src/components/FieldSet/FieldSet.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

remove old data-testid from interaction tests
  storybook/src/components/Button/Button.test.stories.tsx
  storybook/src/components/IconButton/IconButton.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@bd7d965c884a27be5f951907d9a5114cd210b649 🚀
  demo-chromatic-tests/bc6a017f345e1680f9a670d6aeda4f344b448f52.txt
  demo-chromatic-tests/bd7d965c884a27be5f951907d9a5114cd210b649.txt
  demo-chromatic-tests/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Generalize category name for website page examples
  storybook/config/preview.tsx
  storybook/src/pages/amsterdam/ArticlePage/ArticlePage.stories.tsx
  storybook/src/pages/amsterdam/FormFlow/FormFlow.stories.tsx
  storybook/src/pages/amsterdam/HomePage/HomePage.stories.tsx
  storybook/src/pages/amsterdam/NavigationPage/NavigationPage.stories.tsx
  storybook/src/pages/amsterdam/ProductPage/ProductPage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update directory name accordingly
  storybook/src/pages/websites/ArticlePage/ArticlePage.docs.mdx
  storybook/src/pages/websites/ArticlePage/ArticlePage.stories.tsx
  storybook/src/pages/websites/ArticlePage/ArticlePage.tsx
  storybook/src/pages/websites/ArticlePage/news-articles.ts
  storybook/src/pages/websites/ArticlePage/parser.config.ts
  storybook/src/pages/websites/FormFlow/FormFlow.docs.mdx
  storybook/src/pages/websites/FormFlow/FormFlow.stories.tsx
  storybook/src/pages/websites/FormFlow/LandingPage.tsx
  storybook/src/pages/websites/FormFlow/WithMultipleQuestions.tsx
  storybook/src/pages/websites/FormFlow/WithOneQuestion.tsx
  storybook/src/pages/websites/FormFlow/WithValidationError.tsx
  storybook/src/pages/websites/FormFlow/components/FormFooter.tsx
  storybook/src/pages/websites/HomePage/HomeNews.tsx
  storybook/src/pages/websites/HomePage/HomePage.docs.mdx
  storybook/src/pages/websites/HomePage/HomePage.stories.tsx
  storybook/src/pages/websites/HomePage/HomePage.tsx
  storybook/src/pages/websites/HomePage/HomeSpotlight.tsx
  storybook/src/pages/websites/HomePage/HomeTopTasks.tsx
  storybook/src/pages/websites/NavigationPage/LinkBlock.tsx
  storybook/src/pages/websites/NavigationPage/LinkBlockGridCells.tsx
  storybook/src/pages/websites/NavigationPage/NavigationPage.docs.mdx
  storybook/src/pages/websites/NavigationPage/NavigationPage.stories.tsx
  storybook/src/pages/websites/NavigationPage/NavigationPage.tsx
  storybook/src/pages/websites/NavigationPage/links.ts
  storybook/src/pages/websites/NavigationPage/persons.ts
  storybook/src/pages/websites/ProductPage/ProductPage.docs.mdx
  storybook/src/pages/websites/ProductPage/ProductPage.stories.tsx
  storybook/src/pages/websites/ProductPage/ProductPage.tsx
  storybook/src/pages/websites/common/AppHeader.tsx
  storybook/src/pages/websites/common/Layout.tsx
  storybook/src/pages/websites/common/config.tsx
  storybook/src/pages/websites/common/menu.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Don’t wrap Page examples in another Page
  storybook/config/preview.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Apply application layout to application pages
  storybook/config/preview.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add wiggle room at bottom of Storybook sidebar
  storybook/config/manager-head.html
Due: none

add plopfile for test.stories.tsx.hbs
  plop-templates/test.stories.tsx.hbs
Due: none

add plopfile to config
  plopfile.mjs
Due: none

rename command Chromatic to test
  .github/workflows/chromatic.yml
  storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

add consistent-type-imports rule to eslint config
  eslint.config.mjs
Due: none

make sure type imports are imported as a type
  storybook/src/components/Button/Button.test.stories.tsx
  storybook/src/components/IconButton/IconButton.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

wip
  packages-proprietary/tokens/src/components/ams/menu.deprecated.tokens.json
  packages-proprietary/tokens/src/components/ams/menu.tokens.json
  packages-proprietary/tokens/src/components/ams/page-header.tokens.json
  packages-proprietary/tokens/src/components/ams/page.tokens.json
  packages/css/src/components/menu/menu.scss
  packages/css/src/components/page/README.md
  packages/css/src/components/page/page.scss
  packages/react/src/Menu/Menu.tsx
  packages/react/src/Menu/MenuLink.tsx
  packages/react/src/Page/Page.tsx
  storybook/config/preview.tsx
  storybook/src/components/Menu/Menu.docs.mdx
  storybook/src/components/Menu/Menu.stories.tsx
  storybook/src/components/Page/Page.docs.mdx
  storybook/src/components/Page/Page.stories.tsx
  storybook/src/pages/applications/HomePage/HomePage.docs.mdx
  storybook/src/pages/applications/HomePage/HomePage.stories.tsx
  storybook/src/pages/applications/HomePage/HomePage.tsx
  storybook/src/pages/applications/common/Layout.tsx
  storybook/src/pages/applications/common/config.tsx
  storybook/src/pages/applications/common/menuItems.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

move import to alphabetical order
  eslint.config.mjs
Due: none

Link to Error Message docs
  storybook/src/components/ErrorMessage/ErrorMessage.docs.mdx
  storybook/src/components/Field/Field.docs.mdx
  storybook/src/components/FieldSet/FieldSet.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Link to Field docs on descriptions
  storybook/src/components/Field/Field.docs.mdx
  storybook/src/components/FieldSet/FieldSet.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
