Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Hide inline style from code view
  storybook/src/components/Card/Card.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add Chromatic test checklist item to PR template
  .github/pull_request_template.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Progress List): logical breakpoint tokens
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
  packages/css/src/components/progress-list/progress-list.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Add Chromatic test instructions to code review docs
  documentation/code-reviews.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Undo complicated deprecation of list tokens
  packages-proprietary/tokens/src/components/ams/description-list.tokens.json
  packages/css/src/components/description-list/description-list.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(Menu): logical breakpoint tokens
  packages-proprietary/tokens/src/components/ams/menu.tokens.json
  packages/css/src/components/menu/menu.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Restore max width and add type
  storybook/src/components/Card/Card.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Page Header): logical breakpoint tokens
  packages-proprietary/tokens/src/components/ams/page-header.tokens.json
  packages/css/src/components/page-header/page-header.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(Page Footer): logical breakpoint tokens
  packages-proprietary/tokens/src/components/ams/page-footer.tokens.json
  packages/css/src/components/page-footer/page-footer.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(Grid,Breakout): logical breakpoint tokens
  packages-proprietary/tokens/src/components/ams/grid.tokens.json
  packages/css/src/components/breakout/breakout.scss
  packages/css/src/components/grid/_mixins.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

docs(tokens): explain naming convention
  packages-proprietary/tokens/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Correct the spelling of the new trigger in the documentation
  documentation/code-reviews.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(tokens): Update Style Dictionary to 5.4.0
  packages-proprietary/tokens/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

feat(tokens): Add negative border-width tokens
  packages-proprietary/tokens/src/brand/ams/border.compact.tokens.json
  packages-proprietary/tokens/src/brand/ams/border.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(tokens): Use DTCG shadow format for tabs and switch tokens
  packages-proprietary/tokens/src/components/ams/switch.tokens.json
  packages-proprietary/tokens/src/components/ams/tabs.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Explain negative border tokens
  storybook/src/brand/design-tokens/border.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(tokens): Add missing shadow types
  packages-proprietary/tokens/src/components/ams/file-input.tokens.json
  packages-proprietary/tokens/src/components/ams/select.tokens.json
  packages-proprietary/tokens/src/components/ams/text-input.tokens.json
  packages-proprietary/tokens/src/components/ams/time-input.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(docs): Display shadow token values in DesignTokensTable
  storybook/src/_components/DesignTokensTable/DesignTokensTable.tsx
  storybook/src/_components/DesignTokensTable/DesignTokensTableRow.tsx
  storybook/src/_components/ShadowSample/ShadowSample.tsx
  storybook/src/_components/ShadowSample/shadow-sample.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore(docs): Add test stories for ShadowSample
  storybook/src/_components/ShadowSample/ShadowSample.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

refactor(docs): Reuse formatTokenValue in ShadowSample
  storybook/src/_common/formatTokenValue.ts
  storybook/src/_components/ShadowSample/ShadowSample.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(docs): Skip border preview for negative border-width tokens
  storybook/src/_components/BorderSample/BorderSample.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(test): Add unit tests for formatTokenValue
  pnpm-lock.yaml
  storybook/package.json
  storybook/src/_common/formatTokenValue.test.ts
  storybook/src/_common/formatTokenValue.ts
  storybook/vitest.config.ts
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Improve test
  packages/react/src/ProgressList/ProgressListStep.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
