Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

test(Table of Contents): Remove redundant defaultExpanded DOM-attribute test
  packages/react/src/TableOfContents/TableOfContentsList.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

refactor(Storybook): Drop unused HTMLAttributes from the public Layout props
  storybook/src/pages/public/common/Layout.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(Table of Contents): Document defaultExpanded on the List
  storybook/src/components/TableOfContents/TableOfContents.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Table of Contents): Add `defaultExpanded` prop to List
  packages/react/src/TableOfContents/TableOfContents.test.tsx
  packages/react/src/TableOfContents/TableOfContentsList.tsx
  packages/react/src/TableOfContents/TableOfContentsListContext.tsx
  packages/react/src/TableOfContents/useCollapsibleItem.tsx
  storybook/src/components/TableOfContents/TableOfContents.docs.mdx
  storybook/src/components/TableOfContents/TableOfContents.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Clarify prop description
  packages/react/src/TableOfContents/TableOfContentsList.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(Table of Contents): Rename the defaultExpanded example to Initially expanded and introduce it
  storybook/src/components/TableOfContents/TableOfContents.docs.mdx
  storybook/src/components/TableOfContents/TableOfContents.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(Table of Contents): Cross-reference Link List in See also and when not to use
  storybook/src/components/TableOfContents/TableOfContents.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(Table of Contents): Describe the accessibility the component provides
  storybook/src/components/TableOfContents/TableOfContents.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Table of Contents): Add option to expand branches initially (#2770)
  packages/react/src/TableOfContents/TableOfContents.test.tsx
  packages/react/src/TableOfContents/TableOfContentsList.tsx
  packages/react/src/TableOfContents/TableOfContentsListContext.tsx
  packages/react/src/TableOfContents/useCollapsibleItem.tsx
  storybook/src/components/TableOfContents/TableOfContents.docs.mdx
  storybook/src/components/TableOfContents/TableOfContents.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Load the pseudo-states addon in Chromatic only
  storybook/config/main.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(Storybook): Correct the pseudo-states addon documentation
  storybook/AGENTS.md
  storybook/config/main.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Compare IS_CHROMATIC to 'true' instead of truthiness
  storybook/config/main.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Storybook): Load the pseudo-states addon in Chromatic only (#2771)
  storybook/AGENTS.md
  storybook/config/main.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Skeleton): Add a subtle pulsing animation
  packages-proprietary/tokens/src/components/ams/skeleton.tokens.json
  packages/css/src/components/skeleton/_animation.scss
  packages/css/src/components/skeleton/skeleton.scss
  storybook/src/components/Skeleton/Skeleton.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(Skeleton): Restructure the line widths per subcomponent
  packages-proprietary/tokens/src/components/ams/skeleton.tokens.json
  packages/css/src/components/skeleton/skeleton.scss
  packages/react/src/Skeleton/SkeletonTable.test.tsx
  packages/react/src/Skeleton/SkeletonTable.tsx
  storybook/src/components/Skeleton/Skeleton.docs.mdx
  storybook/src/components/Skeleton/Skeleton.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

test(Skeleton): Assert the aspect-ratio class is truthy
  packages/react/src/Skeleton/SkeletonImage.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Skeleton): Add the Skeleton loading-state component (#2751)
  packages-proprietary/tokens/src/components/ams/skeleton.tokens.json
  packages/css/src/components/index.scss
  packages/css/src/components/skeleton/_animation.scss
  packages/css/src/components/skeleton/skeleton.scss
  packages/react/src/Skeleton/Skeleton.test.tsx
  packages/react/src/Skeleton/Skeleton.tsx
  packages/react/src/Skeleton/SkeletonHeading.test.tsx
  packages/react/src/Skeleton/SkeletonHeading.tsx
  packages/react/src/Skeleton/SkeletonImage.test.tsx
  packages/react/src/Skeleton/SkeletonImage.tsx
  packages/react/src/Skeleton/SkeletonList.test.tsx
  packages/react/src/Skeleton/SkeletonList.tsx
  packages/react/src/Skeleton/SkeletonParagraph.test.tsx
  packages/react/src/Skeleton/SkeletonParagraph.tsx
  packages/react/src/Skeleton/SkeletonTable.test.tsx
  packages/react/src/Skeleton/SkeletonTable.tsx
  packages/react/src/Skeleton/index.ts
  packages/react/src/index.ts
  storybook/src/components/Skeleton/Skeleton.docs.mdx
  storybook/src/components/Skeleton/Skeleton.stories.tsx
  storybook/src/components/Skeleton/Skeleton.test.stories.tsx
  storybook/src/docs/introduction.docs.mdx
  storybook/src/pages/public/LoadingPage/LoadingPage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore(Storybook): Add space below the sidebar tree
  storybook/config/manager.js
  storybook/src/_styles/manager.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix(css): Remove needless disable directive
  storybook/src/_styles/manager.css
Due: prettier --check, stylelint --allow-empty-input

fix(css): Improve needed disable directive
  storybook/src/_styles/manager.css
Due: prettier --check, stylelint --allow-empty-input

chore(Storybook): Add space below the sidebar tree (#2772)
  storybook/config/manager.js
  storybook/src/_styles/manager.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
