Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Restore animation more precisely
  packages/css/src/components/page-header/page-header.scss
Due: prettier --check, stylelint --allow-empty-input

Nest related styles
  packages/css/src/components/page-header/page-header.scss
Due: prettier --check, stylelint --allow-empty-input

chore(docs): Add example of Navigation Page with top tasks (#2283)
  storybook/src/pages/amsterdam/NavigationPage/NavigationPage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Change ‘websites and applications’ to ‘public and internal’
  storybook/src/brand/design-tokens/grid.docs.mdx
  storybook/src/docs/developer-guide/modes.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Change most ‘websites and applications’ to ‘public and internal’
  NOTICE.md
  README.md
  packages-proprietary/assets/README.md
  packages-proprietary/tokens/README.md
  packages/css/README.md
  packages/css/src/components/alert/README.md
  packages/css/src/components/avatar/README.md
  packages/css/src/components/icon/README.md
  packages/css/src/components/link/README.md
  packages/css/src/components/logo/README.md
  packages/css/src/components/menu/README.md
  packages/css/src/components/page-footer/README.md
  packages/css/src/components/page-header/README.md
  packages/css/src/components/page/README.md
  packages/react/README.md
  storybook/src/brand/assets/icons.docs.mdx
  storybook/src/brand/design-tokens/grid.docs.mdx
  storybook/src/brand/design-tokens/typography.docs.mdx
  storybook/src/components/Checkbox/Checkbox.docs.mdx
  storybook/src/components/ErrorMessage/ErrorMessage.docs.mdx
  storybook/src/components/Page/Page.docs.mdx
  storybook/src/components/PageHeader/PageHeader.docs.mdx
  storybook/src/components/Pagination/Pagination.docs.mdx
  storybook/src/components/Radio/Radio.docs.mdx
  storybook/src/components/TextInput/TextInput.docs.mdx
  storybook/src/docs/developer-guide/breakpoints.docs.mdx
  storybook/src/docs/developer-guide/language.docs.mdx
  storybook/src/docs/developer-guide/modes.docs.mdx
  storybook/src/docs/developer-guide/usability.docs.mdx
  storybook/src/docs/introduction.docs.mdx
  storybook/src/pages/amsterdam/HomePage/HomePage.docs.mdx
  storybook/src/pages/internal/HomePage/HomePage.docs.mdx
  storybook/src/pages/internal/Introduction.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Reinstall overrides to simplify
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Update lockfile
  pnpm-lock.yaml
Due: none

Improve readability of transition and media query
  packages/css/src/components/page-header/page-header.scss
Due: prettier --check, stylelint --allow-empty-input

chore: Address security vulnerabilities (#2294)
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@d5bf9fde8cd424785d71fdd6bc2c759feb4154b5 🚀
  demo-DES-1520-page-header-menu-icon/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Page Header): Use correct icon for menu button (#2284)
  packages/css/src/components/page-header/page-header.scss
  packages/react/src/PageHeader/PageHeaderMenuIcon.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Start on feedback
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
  packages/css/src/components/progress-list/progress-list.scss
  packages/react/src/ProgressList/ProgressList.tsx
  packages/react/src/ProgressList/ProgressListItem.tsx
  packages/react/src/ProgressList/ProgressListStep.tsx
  storybook/src/components/ProgressList/ProgressList.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix(Image): Allow users to override default width value
  packages/react/src/Image/Image.test.tsx
  packages/react/src/Image/Image.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Select Image by role in tests
  packages/react/src/Image/Image.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Image): Allow users to override default width value (#2295)
  packages/react/src/Image/Image.test.tsx
  packages/react/src/Image/Image.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update changelog for Page layout feature
  packages-proprietary/tokens/CHANGELOG.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update changelog for Page layout feature
  packages/css/CHANGELOG.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update changelog for Page layout feature
  packages/react/CHANGELOG.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
