Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

feat(Description List): Apply heading 4 typography to terms
  packages-proprietary/tokens/src/components/ams/description-list.tokens.json
  packages/css/src/components/description-list/description-list.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Compensate typographic differences between terms and descriptions
  packages/css/src/components/description-list/description-list.scss
Due: prettier --check, stylelint --allow-empty-input

chore: Improve HTML support and test coverage of documentation components (#2477)
  storybook/src/_components/AppIcons/AppIcons.test.stories.tsx
  storybook/src/_components/BorderSample/BorderSample.test.stories.tsx
  storybook/src/_components/BorderSample/BorderSample.tsx
  storybook/src/_components/ColorPalette/ColorPalette.test.stories.tsx
  storybook/src/_components/ColorSample/ColorSample.tsx
  storybook/src/_components/DesignTokensTable/DesignTokensTable.test.stories.tsx
  storybook/src/_components/DesignTokensTable/DesignTokensTable.tsx
  storybook/src/_components/DesignTokensTable/DesignTokensTableRow.tsx
  storybook/src/_components/GridColumnsGuide/GridColumnsGuide.test.stories.tsx
  storybook/src/_components/IconGallery/IconGallery.test.stories.tsx
  storybook/src/_components/InlineColorSample/InlineColorSample.test.stories.tsx
  storybook/src/_components/SpaceSample/SpaceSample.tsx
  storybook/src/_components/StatusBadge/StatusBadge.test.stories.tsx
  storybook/src/_components/TypographySample/TypographySample.test.stories.tsx
  storybook/src/_components/TypographySample/TypographySample.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(color): only text inverse print token
  packages-proprietary/tokens/src/brand/ams/color.tokens.json
  packages-proprietary/tokens/src/components/ams/avatar.tokens.json
  packages-proprietary/tokens/src/components/ams/badge.tokens.json
  packages-proprietary/tokens/src/components/ams/blockquote.tokens.json
  packages-proprietary/tokens/src/components/ams/button.tokens.json
  packages-proprietary/tokens/src/components/ams/call-to-action-link.tokens.json
  packages-proprietary/tokens/src/components/ams/description-list.tokens.json
  packages-proprietary/tokens/src/components/ams/figure.tokens.json
  packages-proprietary/tokens/src/components/ams/heading.tokens.json
  packages-proprietary/tokens/src/components/ams/icon.tokens.json
  packages-proprietary/tokens/src/components/ams/ordered-list.tokens.json
  packages-proprietary/tokens/src/components/ams/page-header.tokens.json
  packages-proprietary/tokens/src/components/ams/page-heading.deprecated.tokens.json
  packages-proprietary/tokens/src/components/ams/paragraph.tokens.json
  packages-proprietary/tokens/src/components/ams/skip-link.tokens.json
  packages-proprietary/tokens/src/components/ams/spotlight.tokens.json
  packages-proprietary/tokens/src/components/ams/unordered-list.tokens.json
  packages/css/src/common/print-reset.scss
  packages/css/src/common/print.scss
  packages/css/src/components/paragraph/paragraph.scss
  packages/css/src/components/spotlight/spotlight.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Remove custom background color in Cells
  storybook/src/pages/internal/HomePage/HomePage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Breadcrumb): Restore guideline to include a link to the home page (#2483)
  packages/css/src/components/breadcrumb/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Clarify how one logo test represents them all
  packages/react/src/Logo/brands/AmsterdamLogo.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use pnpm instead of npm in docs
  CONTRIBUTING.md
  documentation/code-reviews.md
  packages-proprietary/assets/CONTRIBUTING.md
  packages/react/CONTRIBUTING.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use a list to describe a chain of actions
  packages/react/CONTRIBUTING.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(typography): Decrease line height for body text (#2484)
  packages-proprietary/tokens/src/brand/ams/typography.tokens.json
  storybook/src/brand/design-tokens/typography.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

revert: remove tokens; only use print mixin
  packages-proprietary/tokens/src/brand/ams/color.tokens.json
  packages-proprietary/tokens/src/components/ams/avatar.tokens.json
  packages-proprietary/tokens/src/components/ams/badge.tokens.json
  packages-proprietary/tokens/src/components/ams/blockquote.tokens.json
  packages-proprietary/tokens/src/components/ams/button.tokens.json
  packages-proprietary/tokens/src/components/ams/call-to-action-link.tokens.json
  packages-proprietary/tokens/src/components/ams/description-list.tokens.json
  packages-proprietary/tokens/src/components/ams/figure.tokens.json
  packages-proprietary/tokens/src/components/ams/heading.tokens.json
  packages-proprietary/tokens/src/components/ams/icon.tokens.json
  packages-proprietary/tokens/src/components/ams/ordered-list.tokens.json
  packages-proprietary/tokens/src/components/ams/page-header.tokens.json
  packages-proprietary/tokens/src/components/ams/page-heading.deprecated.tokens.json
  packages-proprietary/tokens/src/components/ams/paragraph.tokens.json
  packages-proprietary/tokens/src/components/ams/skip-link.tokens.json
  packages-proprietary/tokens/src/components/ams/unordered-list.tokens.json
  packages/css/src/components/paragraph/paragraph.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(Description List): Balance multiple lines of text in term (#2485)
  packages-proprietary/tokens/src/components/ams/description-list.tokens.json
  packages/css/src/components/description-list/description-list.scss
  packages/css/src/components/field-set/field-set.scss
  packages/css/src/components/heading/heading.scss
  packages/css/src/components/label/label.scss
  packages/css/src/components/page-header/page-header.scss
  packages/css/src/components/page-heading/page-heading.deprecated.scss
  packages/css/src/components/paragraph/paragraph.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Show correct hierarchy in section comments
  packages/css/src/components/grid/_mixins.scss
  packages/css/src/components/grid/grid.scss
Due: prettier --check, stylelint --allow-empty-input

Clarify documentation on stacking approach
  packages/css/src/components/page-header/page-header.scss
Due: prettier --check, stylelint --allow-empty-input

chore(tokens): Move deprecated tokens into their regular token files
  packages-proprietary/tokens/src/brand/ams/color.deprecated.tokens.json
  packages-proprietary/tokens/src/brand/ams/color.tokens.json
  packages-proprietary/tokens/src/brand/ams/typography.compact.tokens.json
  packages-proprietary/tokens/src/brand/ams/typography.deprecated.compact.tokens.json
  packages-proprietary/tokens/src/brand/ams/typography.deprecated.tokens.json
  packages-proprietary/tokens/src/brand/ams/typography.tokens.json
  packages-proprietary/tokens/src/components/ams/accordion.deprecated.tokens.json
  packages-proprietary/tokens/src/components/ams/accordion.tokens.json
  packages-proprietary/tokens/src/components/ams/checkbox.deprecated.tokens.json
  packages-proprietary/tokens/src/components/ams/checkbox.tokens.json
  packages-proprietary/tokens/src/components/ams/date-input.deprecated.tokens.json
  packages-proprietary/tokens/src/components/ams/date-input.tokens.json
  packages-proprietary/tokens/src/components/ams/field-set.deprecated.tokens.json
  packages-proprietary/tokens/src/components/ams/field-set.tokens.json
  packages-proprietary/tokens/src/components/ams/field.deprecated.tokens.json
  packages-proprietary/tokens/src/components/ams/field.tokens.json
  packages-proprietary/tokens/src/components/ams/icon.deprecated.tokens.json
  packages-proprietary/tokens/src/components/ams/icon.tokens.json
  packages-proprietary/tokens/src/components/ams/menu.deprecated.tokens.json
  packages-proprietary/tokens/src/components/ams/menu.tokens.json
  packages-proprietary/tokens/src/components/ams/page-heading.tokens.json
  packages-proprietary/tokens/src/components/ams/standalone-link.deprecated.tokens.json
  packages-proprietary/tokens/src/components/ams/standalone-link.tokens.json
  packages-proprietary/tokens/src/components/ams/table-of-contents.deprecated.tokens.json
  packages-proprietary/tokens/src/components/ams/table-of-contents.tokens.json
  packages-proprietary/tokens/src/components/ams/time-input.deprecated.tokens.json
  packages-proprietary/tokens/src/components/ams/time-input.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(tokens): Add version numbers to all deprecation messages
  packages-proprietary/tokens/src/brand/ams/color.tokens.json
  packages-proprietary/tokens/src/brand/ams/typography.compact.tokens.json
  packages-proprietary/tokens/src/brand/ams/typography.tokens.json
  packages-proprietary/tokens/src/components/ams/accordion.tokens.json
  packages-proprietary/tokens/src/components/ams/checkbox.tokens.json
  packages-proprietary/tokens/src/components/ams/date-input.tokens.json
  packages-proprietary/tokens/src/components/ams/description-list.tokens.json
  packages-proprietary/tokens/src/components/ams/field-set.tokens.json
  packages-proprietary/tokens/src/components/ams/field.tokens.json
  packages-proprietary/tokens/src/components/ams/icon.tokens.json
  packages-proprietary/tokens/src/components/ams/menu.tokens.json
  packages-proprietary/tokens/src/components/ams/page-header.tokens.json
  packages-proprietary/tokens/src/components/ams/page-heading.tokens.json
  packages-proprietary/tokens/src/components/ams/standalone-link.tokens.json
  packages-proprietary/tokens/src/components/ams/table-of-contents.tokens.json
  packages-proprietary/tokens/src/components/ams/time-input.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore: Address unrelated linter issues
  packages/react/src/Logo/logoIndexTemplate.mjs
  storybook/src/_components/BorderSample/BorderSample.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check
