Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Move focus tokens into brand directory
  proprietary/tokens/src/brand/ams/focus.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix linting issue in stylesheet
  packages/css/src/common/hyphenation.scss
Due: prettier --check, stylelint --allow-empty-input

Move comment onto line it pertains to
  packages/css/src/common/hyphenation.scss
Due: prettier --check, stylelint --allow-empty-input

feat!: Update hyphenation tokens (#1914)
  packages/css/src/common/hyphenation.scss
  proprietary/tokens/src/brand/ams/typography.tokens.json
  proprietary/tokens/src/common/ams/hyphenation.tokens.json
  storybook/src/brand/design-tokens/typography.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat!: Update and document focus tokens (#1919)
  packages/css/src/components/accordion/accordion.scss
  packages/css/src/components/file-input/file-input.scss
  proprietary/tokens/src/brand/ams/focus.tokens.json
  proprietary/tokens/src/components/ams/accordion.tokens.json
  proprietary/tokens/src/components/ams/file-input.tokens.json
  storybook/src/brand/design-tokens/focus.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Use colons instead of slashes, add docs
  packages/react/src/Image/Image.test.tsx
  packages/react/src/Image/Image.tsx
  packages/react/src/ImageSlider/ImageSlider.test.tsx
  packages/react/src/ImageSlider/ImageSliderThumbnails.test.tsx
  packages/react/src/common/types.ts
  storybook/src/components/Breakout/Breakout.stories.tsx
  storybook/src/components/Card/Card.stories.tsx
  storybook/src/components/Figure/Figure.stories.tsx
  storybook/src/components/ImageSlider/ImageSlider.stories.tsx
  storybook/src/components/Overlap/Overlap.stories.tsx
  storybook/src/pages/amsterdam/ArticlePage/ArticleHeader.tsx
  storybook/src/utils/AspectRatio/AspectRatio.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Convert activeTab prop to type string
  packages/react/src/Tabs/Tabs.test.tsx
  packages/react/src/Tabs/Tabs.tsx
  packages/react/src/Tabs/TabsButton.test.tsx
  packages/react/src/Tabs/TabsButton.tsx
  packages/react/src/Tabs/TabsContext.tsx
  packages/react/src/Tabs/TabsPanel.test.tsx
  packages/react/src/Tabs/TabsPanel.tsx
  storybook/src/components/Tabs/Tabs.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

WIP Add product page example
  packages/css/src/common/size.scss
  proprietary/tokens/src/components/ams/ordered-list.tokens.json
  proprietary/tokens/src/components/ams/unordered-list.tokens.json
  storybook/src/pages/amsterdam/ProductPage/ProductPage.docs.mdx
  storybook/src/pages/amsterdam/ProductPage/ProductPage.stories.tsx
  storybook/src/pages/amsterdam/ProductPage/ProductPage.tsx
  storybook/src/pages/amsterdam/ProductPage/product-page.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Move Breadcrumb to top of page
  storybook/src/pages/amsterdam/ProductPage/ProductPage.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add comment to Sass loop
  packages/css/src/components/aspect-ratio/aspect-ratio.scss
Due: prettier --check, stylelint --allow-empty-input

Deploying to gh-pages from @ Amsterdam/design-system@29f22c0d279c8ab7a1d111f71419f362a1c42a4c 🚀
  demo-DES-1076-update-aspect-ratio-tokens/172a15552a210f4ba928abfd52b09813c64a7881.txt
  demo-DES-1076-update-aspect-ratio-tokens/29f22c0d279c8ab7a1d111f71419f362a1c42a4c.txt
  demo-DES-1076-update-aspect-ratio-tokens/project.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use prop in ImageSlider, extract aspect ratio class logic
  packages/css/src/components/image-slider/image-slider.scss
  packages/react/src/Image/Image.test.tsx
  packages/react/src/Image/Image.tsx
  packages/react/src/Image/index.ts
  packages/react/src/ImageSlider/ImageSlider.tsx
  packages/react/src/ImageSlider/ImageSliderThumbnails.tsx
  storybook/src/utils/AspectRatio/AspectRatio.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Move generateAspectRationClass to separate file
  packages/react/src/Image/Image.test.tsx
  packages/react/src/Image/Image.tsx
  packages/react/src/Image/generateAspectRatioClass.ts
  packages/react/src/Image/index.ts
  packages/react/src/ImageSlider/ImageSliderThumbnails.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove setting default props
  packages/react/src/ImageSlider/ImageSlider.test.tsx
  packages/react/src/ImageSlider/ImageSliderThumbnails.test.tsx
  storybook/src/components/ImageSlider/ImageSlider.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Refactor other mock components
  storybook/src/utils/Gap/Gap.tsx
  storybook/src/utils/Margin/Margin.tsx
  storybook/src/utils/VisuallyHidden/VisuallyHidden.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix TabsPanel test
  packages/react/src/Tabs/Tabs.test.tsx
  packages/react/src/Tabs/Tabs.tsx
  packages/react/src/Tabs/TabsContext.tsx
  packages/react/src/Tabs/TabsPanel.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update stories
  storybook/src/components/Tabs/Tabs.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat!: Update aspect ratio tokens and CSS utility classes (#1913)
  packages/css/src/components/aspect-ratio/README.md
  packages/css/src/components/aspect-ratio/aspect-ratio.scss
  packages/css/src/components/image-slider/image-slider.scss
  packages/react/src/Image/Image.test.tsx
  packages/react/src/Image/Image.tsx
  packages/react/src/Image/generateAspectRatioClass.ts
  packages/react/src/Image/index.ts
  packages/react/src/ImageSlider/ImageSlider.test.tsx
  packages/react/src/ImageSlider/ImageSlider.tsx
  packages/react/src/ImageSlider/ImageSliderThumbnails.test.tsx
  packages/react/src/ImageSlider/ImageSliderThumbnails.tsx
  packages/react/src/common/types.ts
  proprietary/tokens/src/brand/ams/aspect-ratio.tokens.json
  proprietary/tokens/src/components/ams/avatar.tokens.json
  proprietary/tokens/src/components/ams/image.tokens.json
  storybook/src/brand/design-tokens/aspect-ratio.docs.mdx
  storybook/src/components/Breakout/Breakout.stories.tsx
  storybook/src/components/Card/Card.stories.tsx
  storybook/src/components/Figure/Figure.stories.tsx
  storybook/src/components/ImageSlider/ImageSlider.stories.tsx
  storybook/src/components/Overlap/Overlap.stories.tsx
  storybook/src/pages/amsterdam/ArticlePage/ArticleHeader.tsx
  storybook/src/utils/AspectRatio/AspectRatio.stories.tsx
  storybook/src/utils/AspectRatio/AspectRatio.tsx
  storybook/src/utils/Gap/Gap.tsx
  storybook/src/utils/Margin/Margin.tsx
  storybook/src/utils/VisuallyHidden/VisuallyHidden.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(Tabs)!: Convert `tab` prop to string (#1923)
  packages/react/src/Tabs/Tabs.test.tsx
  packages/react/src/Tabs/Tabs.tsx
  packages/react/src/Tabs/TabsButton.test.tsx
  packages/react/src/Tabs/TabsButton.tsx
  packages/react/src/Tabs/TabsContext.tsx
  packages/react/src/Tabs/TabsPanel.test.tsx
  packages/react/src/Tabs/TabsPanel.tsx
  storybook/src/components/Tabs/Tabs.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
