Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Revert "test: Triggle bundle size increase"
  packages-proprietary/tokens/src/components/ams/multi-select.tokens.json
  packages/css/src/components/index.scss
  packages/css/src/components/multi-select/README.md
  packages/css/src/components/multi-select/multi-select.scss
  packages/react/src/MultiSelect/MultiSelect.test.tsx
  packages/react/src/MultiSelect/MultiSelect.tsx
  packages/react/src/MultiSelect/README.md
  packages/react/src/MultiSelect/index.ts
  packages/react/src/index.ts
  storybook/src/components/MultiSelect/MultiSelect.docs.mdx
  storybook/src/components/MultiSelect/MultiSelect.stories.tsx
  storybook/src/components/MultiSelect/MultiSelect.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

refactor: set deprecated tokens to initial value
  packages-proprietary/tokens/src/components/ams/description-list.tokens.json
  packages-proprietary/tokens/src/components/ams/dialog.tokens.json
  packages-proprietary/tokens/src/components/ams/grid.tokens.json
  packages-proprietary/tokens/src/components/ams/menu.tokens.json
  packages-proprietary/tokens/src/components/ams/page-footer.tokens.json
  packages-proprietary/tokens/src/components/ams/page-header.tokens.json
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Revert "test: Triggle bundle size increase"
  packages-proprietary/tokens/src/components/ams/combo-box.tokens.json
  packages/css/src/components/combo-box/README.md
  packages/css/src/components/combo-box/combo-box.scss
  packages/css/src/components/index.scss
  packages/react/src/ComboBox/ComboBox.test.tsx
  packages/react/src/ComboBox/ComboBox.tsx
  packages/react/src/ComboBox/README.md
  packages/react/src/ComboBox/index.ts
  packages/react/src/index.ts
  storybook/src/components/ComboBox/ComboBox.docs.mdx
  storybook/src/components/ComboBox/ComboBox.stories.tsx
  storybook/src/components/ComboBox/ComboBox.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

docs(css): deprecation comments for var fallbacks
  packages/css/src/components/breakout/breakout.scss
  packages/css/src/components/description-list/description-list.scss
  packages/css/src/components/dialog/dialog.scss
  packages/css/src/components/grid/_mixins.scss
  packages/css/src/components/menu/menu.scss
  packages/css/src/components/page-footer/page-footer.scss
  packages/css/src/components/page-header/page-header.scss
  packages/css/src/components/progress-list/progress-list.scss
Due: prettier --check, stylelint --allow-empty-input

docs(tokens): deprecation rules
  packages-proprietary/tokens/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(Grid): remove empty lines from tokens
  packages-proprietary/tokens/src/components/ams/grid.tokens.json
Due: eslint --no-error-on-unmatched-pattern, prettier --check

test(ProgressList): ensure keydown events actually fire on the list
  packages/react/src/ProgressList/ProgressList.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

test(ProgressList): assert heading exists before querying for icon
  packages/react/src/ProgressList/ProgressListStep.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use official paragraphs in visual regression test
  storybook/src/components/ProgressList/ProgressList.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

refactor(ProgressList): default collapsible to false
  packages/react/src/ProgressList/ProgressList.test.tsx
  packages/react/src/ProgressList/ProgressList.tsx
  packages/react/src/ProgressList/ProgressListContext.tsx
  packages/react/src/ProgressList/ProgressListStep.test.tsx
  storybook/src/components/ProgressList/ProgressList.docs.mdx
  storybook/src/components/ProgressList/ProgressList.stories.tsx
  storybook/src/components/ProgressList/ProgressList.test.stories.tsx
  storybook/src/components/ProgressList/ProgressListStep.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(ProgressList): reorder to present the non-collapsible default first
  packages/css/src/components/progress-list/README.md
  packages/react/src/ProgressList/ProgressList.test.tsx
  packages/react/src/ProgressList/ProgressListStep.test.tsx
  storybook/src/components/ProgressList/ProgressList.docs.mdx
  storybook/src/components/ProgressList/ProgressList.stories.tsx
  storybook/src/components/ProgressList/ProgressList.test.stories.tsx
  storybook/src/components/ProgressList/ProgressListStep.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(tokens): Introduce `vi-` prefix for viewport-dependent component tokens (#2502)
  packages-proprietary/tokens/README.md
  packages-proprietary/tokens/src/components/ams/description-list.tokens.json
  packages-proprietary/tokens/src/components/ams/dialog.tokens.json
  packages-proprietary/tokens/src/components/ams/grid.tokens.json
  packages-proprietary/tokens/src/components/ams/menu.tokens.json
  packages-proprietary/tokens/src/components/ams/page-footer.tokens.json
  packages-proprietary/tokens/src/components/ams/page-header.tokens.json
  packages-proprietary/tokens/src/components/ams/progress-list.tokens.json
  packages/css/src/components/breakout/breakout.scss
  packages/css/src/components/description-list/description-list.scss
  packages/css/src/components/dialog/dialog.scss
  packages/css/src/components/grid/_mixins.scss
  packages/css/src/components/menu/menu.scss
  packages/css/src/components/page-footer/page-footer.scss
  packages/css/src/components/page-header/page-header.scss
  packages/css/src/components/progress-list/progress-list.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Apply vertical layout above medium breakpoint only
  packages/css/src/components/tab-navigation/tab-navigation.scss
  storybook/src/components/TabNavigation/TabNavigation.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Use https in design sytem url
  packages/css/src/components/tab-navigation/README.md
  packages/css/src/components/table/README.md
  packages/react/documentation/coding-conventions.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Track css and tokens bundle sizes as well
  .github/workflows/pr-bundle-size.yml
Due: none

test: Triggle bundle size increase
  packages-proprietary/tokens/src/components/ams/bundle-test.tokens.json
  packages/css/src/components/bundle-test/README.md
  packages/css/src/components/bundle-test/bundle-test.scss
  packages/css/src/components/index.scss
  packages/react/src/BundleTest/BundleTest.test.tsx
  packages/react/src/BundleTest/BundleTest.tsx
  packages/react/src/BundleTest/README.md
  packages/react/src/BundleTest/index.ts
  packages/react/src/index.ts
  storybook/src/components/BundleTest/BundleTest.docs.mdx
  storybook/src/components/BundleTest/BundleTest.stories.tsx
  storybook/src/components/BundleTest/BundleTest.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Prevent building the monorepo twice
  .github/workflows/pr-bundle-size.yml
Due: none

Only track index and compact files in bundle size report
  .github/workflows/pr-bundle-size.yml
Due: none

Add PR workflows for bundle size and coverage reports
  .github/workflows/pr-bundle-size.yml
  .github/workflows/pr-coverage.yml
  packages/react/vitest.config.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Benchmark the essential output files only
  .github/workflows/pr-bundle-size.yml
Due: none

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
