Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

feat(Description List): Vary spacing within and between groups, remove indentation of descriptions (#2448)
  packages-proprietary/tokens/src/components/ams/description-list.tokens.json
  packages/css/src/components/description-list/README.md
  packages/css/src/components/description-list/description-list.scss
  storybook/src/components/DescriptionList/DescriptionList.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix(Menu, Page Header): Prevent duplicate identifiers in HTML
  packages/react/src/Menu/Menu.tsx
  packages/react/src/PageHeader/PageHeader.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Page Header): Allow providing a short brand name for narrow windows (#2449)
  packages/css/src/components/page-header/README.md
  packages/css/src/components/page-header/page-header.scss
  packages/react/src/PageHeader/LogoLinkContent.tsx
  packages/react/src/PageHeader/PageHeader.tsx
  storybook/src/components/PageHeader/PageHeader.docs.mdx
  storybook/src/components/PageHeader/PageHeader.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Merge imports from react
  packages/react/src/Menu/Menu.tsx
  packages/react/src/PageHeader/PageHeader.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update remaining tests to query by role
  packages/react/src/ActionGroup/ActionGroup.test.tsx
  packages/react/src/Breadcrumb/Breadcrumb.test.tsx
  packages/react/src/Breadcrumb/BreadcrumbLink.test.tsx
  packages/react/src/CallToActionLink/CallToActionLink.test.tsx
  packages/react/src/Card/CardHeading.test.tsx
  packages/react/src/Card/CardLink.test.tsx
  packages/react/src/CharacterCount/CharacterCount.test.tsx
  packages/react/src/DescriptionList/DescriptionListDescription.test.tsx
  packages/react/src/DescriptionList/DescriptionListTerm.test.tsx
  packages/react/src/Dialog/Dialog.test.tsx
  packages/react/src/FieldSet/FieldSet.test.tsx
  packages/react/src/Figure/Figure.test.tsx
  packages/react/src/FileList/FileList.test.tsx
  packages/react/src/FileList/FileListItem.test.tsx
  packages/react/src/IconButton/IconButton.test.tsx
  packages/react/src/Image/Image.test.tsx
  packages/react/src/ImageSlider/ImageSliderSlide.test.tsx
  packages/react/src/PageFooter/PageFooterMenu.test.tsx
  packages/react/src/PageHeader/PageHeaderMenuLink.test.tsx
  packages/react/src/PageHeading/PageHeading.test.tsx
  packages/react/src/ProgressList/ProgressList.test.tsx
  packages/react/src/ProgressList/ProgressListSubsteps.test.tsx
  packages/react/src/Table/TableBody.test.tsx
  packages/react/src/Tabs/TabsButton.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add secret shoutout
  packages/react/src/Avatar/Avatar.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Fix tests in Menu Links for Page Header and Footer
  packages/react/src/PageFooter/PageFooterMenuLink.test.tsx
  packages/react/src/PageHeader/PageHeaderMenuLink.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Menu, Page Header): Prevent duplicate identifiers in HTML (#2456)
  packages/react/src/Menu/Menu.tsx
  packages/react/src/PageHeader/PageHeader.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update stylelint-order
  package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Update package manager
  package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Update dependencies
  package.json
  packages/css/package.json
  packages/react/package.json
  pnpm-lock.yaml
  storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore(deps): Update dependencies (#2458)
  package.json
  packages/css/package.json
  packages/react/package.json
  pnpm-lock.yaml
  storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Update CHANGELOG.md for version 3.1.0
  packages/css/CHANGELOG.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check
