Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

Scaffold new Page component
  packages-proprietary/tokens/src/components/ams/page.tokens.json
  packages/css/src/components/index.scss
  packages/css/src/components/page/README.md
  packages/css/src/components/page/page.scss
  packages/react/src/Page/Page.test.tsx
  packages/react/src/Page/Page.tsx
  packages/react/src/Page/README.md
  packages/react/src/Page/index.ts
  packages/react/src/index.ts
  storybook/src/components/Page/Page.docs.mdx
  storybook/src/components/Page/Page.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Shorten placeholder in Search Field examples
  storybook/src/components/Overlap/Overlap.stories.tsx
  storybook/src/components/SearchField/SearchField.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Display Page Header and Footer examples fullscreen
  storybook/src/components/Header/PageHeader.stories.tsx
  storybook/src/components/PageFooter/PageFooter.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add block padding around mega menu in Header
  packages-proprietary/tokens/src/components/ams/page-header.tokens.json
  packages/css/src/components/page-header/page-header.scss
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Remove padding from mega menu Grid in Page Header examples
  storybook/src/components/Header/PageHeader.stories.tsx
  storybook/src/pages/amsterdam/common/AppHeader.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Move design choices out of guidelines in docs
  packages/css/src/components/page-header/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Tweak guidelines and use curly quotes
  packages/css/src/components/page-header/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Explain how to use a Grid in the collapsible menu
  packages/css/src/components/page-header/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Copy selected features from Screen to Page
  packages/css/src/components/page/README.md
  packages/css/src/components/page/page.scss
  proprietary/tokens/src/components/ams/page.tokens.json
  storybook/src/components/Page/Page.docs.mdx
  storybook/src/components/Page/Page.stories.tsx
  storybook/src/styles/docs.css
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

Replace Screen with Page in Storybook and docs
  packages/css/src/components/grid/README.md
  packages/css/src/components/image-slider/README.md
  packages/css/src/components/page-footer/README.md
  packages/css/src/components/skip-link/README.md
  packages/css/src/components/spotlight/README.md
  packages/react/src/PageHeader/README.md
  storybook/config/preview.tsx
  storybook/src/components/Breakout/Breakout.stories.tsx
  storybook/src/pages/amsterdam/HomePage/HomePage.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Apply background colour to entire screen
  packages/css/src/components/page/page.scss
Due: prettier --check, stylelint --allow-empty-input

Update component names in docs
  storybook/src/components/Page/Page.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(deps): Update dependencies, resoving a moderate security issue in Vite
  package.json
  packages-proprietary/react-icons/package.json
  packages/css/package.json
  packages/react/package.json
  pnpm-lock.yaml
  storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore(deps): Update dependencies, resoving a moderate security issue in Vite (#1983)
  package.json
  packages-proprietary/react-icons/package.json
  packages/css/package.json
  packages/react/package.json
  pnpm-lock.yaml
  storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Deploying to gh-pages from @ Amsterdam/design-system@d058177f82e051b99b8b02c32c82ba0ab2b88857 🚀
  demo-develop/d058177f82e051b99b8b02c32c82ba0ab2b88857.txt
  demo-develop/ecc87a091b356aaffaa8d0a11f1e7014c4f48f41.txt
  demo-develop/project.json
  demo-develop/sb-manager/globals-runtime.js
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(dev-deps): Update rollup-plugin-node-externals to v8.0.0
  packages/react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore(dev-deps): Update rollup-plugin-node-externals to v8.0.0 (#1984)
  packages/react/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

Fix tests for Card Image
  packages/react/src/Card/CardImage.test.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Revert "Apply background colour to entire screen"
  packages/css/src/components/page/page.scss
Due: prettier --check, stylelint --allow-empty-input

Use subcomponents of Card in examples
  storybook/src/components/Column/Column.stories.tsx
  storybook/src/pages/amsterdam/HomePage/HomeNews.tsx
  storybook/src/pages/amsterdam/HomePage/HomeTopTasks.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Update documentation
  packages/css/src/components/card/README.md
  storybook/src/components/Card/Card.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Sort import
  packages/react/src/index.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add example of standalone link in an article
  storybook/src/components/StandaloneLink/StandaloneLink.docs.mdx
  storybook/src/components/StandaloneLink/StandaloneLink.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Use StandaloneLink in our examples
  storybook/src/components/ActionGroup/ActionGroup.stories.tsx
  storybook/src/pages/amsterdam/HomePage/HomeSpotlight.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check
