Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

chore: Prevent unintended color scheme changes within story previews (#2498)
  storybook/config/preview.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Add example and controls for Step subcomponent
  storybook/src/components/ProgressList/ProgressList.docs.mdx
  storybook/src/components/ProgressList/ProgressListStep.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs: explain disabled stylelint rule
  packages/css/src/common/print.scss
Due: prettier --check, stylelint --allow-empty-input

chore: remove unused mixin import
  packages/css/src/components/paragraph/paragraph.scss
Due: prettier --check, stylelint --allow-empty-input

docs(print.scss): more general comment
  packages/css/src/common/print.scss
Due: prettier --check, stylelint --allow-empty-input

chore(stylelint): remove redundant error disable
  packages/css/src/common/print.scss
Due: prettier --check, stylelint --allow-empty-input

refactor: rename mixin more exactly
  packages/css/src/common/print.scss
  packages/css/src/components/alert/alert.scss
  packages/css/src/components/avatar/avatar.scss
  packages/css/src/components/badge/badge.scss
  packages/css/src/components/button/button.scss
  packages/css/src/components/call-to-action-link/call-to-action-link.scss
  packages/css/src/components/page-footer/page-footer.scss
  packages/css/src/components/page-header/page-header.scss
  packages/css/src/components/progress-list/progress-list.scss
  packages/css/src/components/search-field/search-field.scss
  packages/css/src/components/spotlight/spotlight.scss
Due: prettier --check, stylelint --allow-empty-input

Match file name with its export
  packages/css/src/common/print-exact.scss
  packages/css/src/components/alert/alert.scss
  packages/css/src/components/avatar/avatar.scss
  packages/css/src/components/badge/badge.scss
  packages/css/src/components/button/button.scss
  packages/css/src/components/call-to-action-link/call-to-action-link.scss
  packages/css/src/components/page-footer/page-footer.scss
  packages/css/src/components/page-header/page-header.scss
  packages/css/src/components/progress-list/progress-list.scss
  packages/css/src/components/search-field/search-field.scss
  packages/css/src/components/spotlight/spotlight.scss
Due: prettier --check, stylelint --allow-empty-input

fix(print): Make browsers print components exactly as designed (#2470)
  packages/css/src/common/print-exact.scss
  packages/css/src/components/alert/alert.scss
  packages/css/src/components/avatar/avatar.scss
  packages/css/src/components/badge/badge.scss
  packages/css/src/components/button/button.scss
  packages/css/src/components/call-to-action-link/call-to-action-link.scss
  packages/css/src/components/page-footer/page-footer.scss
  packages/css/src/components/page-header/page-header.scss
  packages/css/src/components/progress-list/progress-list.scss
  packages/css/src/components/search-field/search-field.scss
  packages/css/src/components/spotlight/spotlight.scss
Due: prettier --check, stylelint --allow-empty-input

Minimise ignore files
  .gitignore
  .prettierignore
  .stylelintignore
Due: none

FIx comment
  .gitignore
Due: none

Document body as the utility class that it is
  packages/css/src/components/body/README.md
  storybook/src/utils/Body/Body.docs.mdx
  storybook/src/utils/Body/Body.stories.tsx
  storybook/src/utils/Body/Body.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

build(deps): Storybook w/ peer deps to Vite 8
  package.json
  packages/react/package.json
  pnpm-lock.yaml
  storybook/config/main.ts
  storybook/package.json
Due: npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Remove component calls from plain Markdown file
  packages/css/src/components/aspect-ratio/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

chore(docs): Link from utility classes to design tokens consistently
  packages/css/src/components/aspect-ratio/README.md
  packages/css/src/components/gap/README.md
  packages/css/src/components/margin/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Remove list marker from single class name
  packages/css/src/components/body/README.md
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Simplify text string
  storybook/src/utils/Body/Body.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(react): Add formatting utilities and useRelativeTime hook
  packages/react/src/formatDate/formatDate.test.ts
  packages/react/src/formatDate/formatDate.ts
  packages/react/src/formatIban/formatIban.test.ts
  packages/react/src/formatIban/formatIban.ts
  packages/react/src/formatMoney/formatMoney.test.ts
  packages/react/src/formatMoney/formatMoney.ts
  packages/react/src/formatPhoneNumber/formatPhoneNumber.test.ts
  packages/react/src/formatPhoneNumber/formatPhoneNumber.ts
  packages/react/src/formatPostalCode/formatPostalCode.test.ts
  packages/react/src/formatPostalCode/formatPostalCode.ts
  packages/react/src/formatTime/formatTime.test.ts
  packages/react/src/formatTime/formatTime.ts
  packages/react/src/index.ts
  packages/react/src/useRelativeTime/useRelativeTime.test.ts
  packages/react/src/useRelativeTime/useRelativeTime.ts
  storybook/src/utils/FormatDate/FormatDate.docs.mdx
  storybook/src/utils/FormatDate/FormatDate.stories.tsx
  storybook/src/utils/FormatIban/FormatIban.docs.mdx
  storybook/src/utils/FormatIban/FormatIban.stories.tsx
  storybook/src/utils/FormatMoney/FormatMoney.docs.mdx
  storybook/src/utils/FormatMoney/FormatMoney.stories.tsx
  storybook/src/utils/FormatPhoneNumber/FormatPhoneNumber.docs.mdx
  storybook/src/utils/FormatPhoneNumber/FormatPhoneNumber.stories.tsx
  storybook/src/utils/FormatPostalCode/FormatPostalCode.docs.mdx
  storybook/src/utils/FormatPostalCode/FormatPostalCode.stories.tsx
  storybook/src/utils/FormatTime/FormatTime.docs.mdx
  storybook/src/utils/FormatTime/FormatTime.stories.tsx
  storybook/src/utils/UseRelativeTime/UseRelativeTime.docs.mdx
  storybook/src/utils/UseRelativeTime/UseRelativeTime.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

revert: absolute path in Storybook config
  storybook/config/main.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

Path conditions:
  composer validate: any of: composer.json
  npmPkgJsonLint --allowEmptyTargets: any of: package.json
  eslint --no-error-on-unmatched-pattern: any of: *.{md,js,json,jsx,mdx,ts,tsx}
  prettier --check: (any of: *.{md,js,json,jsx,mdx,ts,tsx}) or (any of: *.{css,scss})
  stylelint --allow-empty-input: any of: *.{css,scss}
