Repository Amsterdam/design-system: changes, and which lint-staged commands are due for each by the changed paths.
All: composer validate, npmPkgJsonLint --allowEmptyTargets, eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

.lintstagedrc.json:

{
  "composer.json": "composer validate",
  "package.json": "npmPkgJsonLint --allowEmptyTargets",
  "*.{md,js,json,jsx,mdx,ts,tsx}": ["eslint --no-error-on-unmatched-pattern", "prettier --check"],
  "*.{css,scss}": ["stylelint --allow-empty-input", "prettier --check"]
}

refactor(Skeleton): Reuse the line element for headings
  packages/css/src/components/skeleton/skeleton.scss
  packages/react/src/Skeleton/Skeleton.test.tsx
  packages/react/src/Skeleton/Skeleton.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

refactor(Skeleton): Compose from subcomponents instead of an appearance prop
  packages-proprietary/tokens/src/components/ams/skeleton.tokens.json
  packages/css/src/components/skeleton/skeleton.scss
  packages/react/src/Skeleton/Skeleton.test.tsx
  packages/react/src/Skeleton/Skeleton.tsx
  packages/react/src/Skeleton/SkeletonHeading.test.tsx
  packages/react/src/Skeleton/SkeletonHeading.tsx
  packages/react/src/Skeleton/SkeletonImage.test.tsx
  packages/react/src/Skeleton/SkeletonImage.tsx
  packages/react/src/Skeleton/SkeletonList.test.tsx
  packages/react/src/Skeleton/SkeletonList.tsx
  packages/react/src/Skeleton/SkeletonParagraph.test.tsx
  packages/react/src/Skeleton/SkeletonParagraph.tsx
  packages/react/src/Skeleton/SkeletonTable.test.tsx
  packages/react/src/Skeleton/SkeletonTable.tsx
  packages/react/src/Skeleton/index.ts
  storybook/src/components/Skeleton/Skeleton.docs.mdx
  storybook/src/components/Skeleton/Skeleton.stories.tsx
  storybook/src/components/Skeleton/Skeleton.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(Storybook): Keep object and array props inline in the Code Panel
  storybook/config/collapseInlineObjects.test.ts
  storybook/config/collapseInlineObjects.ts
  storybook/config/preview.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

refactor(Storybook): Move the Article Page render to its meta
  storybook/src/pages/public/ArticlePage/ArticlePage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Storybook): Only collapse object and array props, not other expressions
  storybook/config/collapseInlineObjects.test.ts
  storybook/config/collapseInlineObjects.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

refactor(Storybook): Share the Code Panel line-length budget
  storybook/config/collapseInlineObjects.ts
  storybook/config/preview.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Storybook): Only re-join Code Panel tags that carry an object or array prop
  storybook/config/collapseInlineObjects.test.ts
  storybook/config/collapseInlineObjects.ts
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Storybook): Tidy the Code Panel source for Page stories (#2750)
  storybook/config/collapseInlineObjects.test.ts
  storybook/config/collapseInlineObjects.ts
  storybook/config/preview.tsx
  storybook/src/pages/public/ArticlePage/ArticlePage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Skeleton): Add a loading-state component
  packages-proprietary/tokens/src/components/ams/skeleton.tokens.json
  packages/css/src/components/index.scss
  packages/css/src/components/skeleton/skeleton.scss
  packages/react/src/Skeleton/Skeleton.test.tsx
  packages/react/src/Skeleton/Skeleton.tsx
  packages/react/src/Skeleton/SkeletonHeading.test.tsx
  packages/react/src/Skeleton/SkeletonHeading.tsx
  packages/react/src/Skeleton/SkeletonImage.test.tsx
  packages/react/src/Skeleton/SkeletonImage.tsx
  packages/react/src/Skeleton/SkeletonList.test.tsx
  packages/react/src/Skeleton/SkeletonList.tsx
  packages/react/src/Skeleton/SkeletonParagraph.test.tsx
  packages/react/src/Skeleton/SkeletonParagraph.tsx
  packages/react/src/Skeleton/SkeletonTable.test.tsx
  packages/react/src/Skeleton/SkeletonTable.tsx
  packages/react/src/Skeleton/index.ts
  packages/react/src/index.ts
  storybook/src/components/Skeleton/Skeleton.docs.mdx
  storybook/src/components/Skeleton/Skeleton.stories.tsx
  storybook/src/components/Skeleton/Skeleton.test.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

feat(Storybook): Add a Loading Page template
  storybook/src/pages/public/LoadingPage/LoadingPage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Skeleton): Keep aria-hidden applied after the spread so it cannot be unset
  packages/react/src/Skeleton/Skeleton.test.tsx
  packages/react/src/Skeleton/Skeleton.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

docs(Introduction): Update the design system stat counts
  storybook/src/docs/introduction.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

fix(Storybook): Clear the pending Loading Page timeout before scheduling another
  storybook/src/pages/public/LoadingPage/LoadingPage.stories.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Skeleton): Animate the loading state
  packages-proprietary/tokens/src/components/ams/skeleton.tokens.json
  packages/css/src/components/skeleton/_animation.scss
  packages/css/src/components/skeleton/skeleton.scss
  storybook/src/components/Skeleton/Skeleton.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

refactor(Skeleton): Remove aria-hidden from the public props, since it is always set
  packages/react/src/Skeleton/Skeleton.test.tsx
  packages/react/src/Skeleton/Skeleton.tsx
Due: eslint --no-error-on-unmatched-pattern, prettier --check

feat(Skeleton): Remove the loading animation
  packages-proprietary/tokens/src/components/ams/skeleton.tokens.json
  packages/css/src/components/skeleton/_animation.scss
  packages/css/src/components/skeleton/skeleton.scss
  storybook/src/components/Skeleton/Skeleton.docs.mdx
Due: eslint --no-error-on-unmatched-pattern, prettier --check, stylelint --allow-empty-input

fix(Page Header): Give the logo crop margin so it doesn't rely on sub-pixel rounding
  packages/css/src/components/page-header/page-header.scss
Due: prettier --check, stylelint --allow-empty-input

fix(Page Header): Use the exact midpoint for the logo crop width
  packages/css/src/components/page-header/page-header.scss
Due: prettier --check, stylelint --allow-empty-input

Potential fix for pull request finding
  packages/css/src/components/page-header/page-header.scss
Due: prettier --check, stylelint --allow-empty-input

fix(Page Header): Crop the logo a bit wider to prevent cut-offs from sub-pixel rounding (#2752)
  packages/css/src/components/page-header/page-header.scss
Due: prettier --check, stylelint --allow-empty-input
